.title-container
  %h1 Music Publishing Agreement
  - if @auction.due_date.nil?
    made as of #{@auction.publishing_date.strftime("%B %e, %Y")} by and between the following "Parties":
  - else
    made as of #{@auction.due_date.strftime("%B %e, %Y")} by and between the following "Parties":

- if @auction.status == 'waiting_sign'
  .parts-container
    %table
      %tr
        %td
          #{@auction.licensor_legal_name}
          %br
          #{@auction.licensor_legal_address_line1}
          %br
          #{@auction.licensor_legal_address_line2}
          %br
          #{Country.find(@auction.licensor_legal_address_country).name}
          %br
          +#{@auction.licensor_calling_code}#{@auction.licensor_phone_number}
          %br
          #{@auction.licensor_contact_email}
        %td.separator
          and
        %td
          #{@auction.max_bid.auction_bidder.profile.licensor_legal_name}
          %br
          #{@auction.max_bid.auction_bidder.profile.licensor_legal_address_line1}
          %br
          #{@auction.max_bid.auction_bidder.profile.licensor_legal_address_line2}
          %br
          #{Country.find(@auction.max_bid.auction_bidder.profile.licensor_legal_address_country).name}
          %br
          +#{@auction.max_bid.auction_bidder.profile.licensor_calling_code}#{@auction.max_bid.auction_bidder.profile.licensor_phone_number}
          %br
          #{@auction.max_bid.auction_bidder.profile.licensor_contact_email}
      %tr
        %td.footer
          "Writer"
        %td
        %td.footer
          "Publisher"

%table.pdf-contract
  %tr
    %td.left-column
      Type of Agreement
    %td.right-column
      %p Exclusive Music Publishing Agreement.
  %tr
    %td.left-column
      Name of the Writer/Composer
    %td.right-column
      - if @auction.same_recording_and_publisher
        %p #{@auction.recording_artist_name}, hereinafter "the Writer".
      - else
        %p #{@auction.songwriter_name}, hereinafter "the Writer".
  %tr
    %td.left-column
      Compositions/Assignment/Rights
    %td.right-column
      %p Subject to the terms and conditions set out in this Agreement, the Writer hereby assigns to the Publisher for the duration of the Rights Period - as defined below - and all extensions and renewals thereof throughout the Territory to hold absolutely solely and exclusively the entire copyright and all similar rights of whatsoever nature and all right, title and interest of the Writer in and to the musical work(s) listed below, hereinafter the Compositions<sup>1</sup>.  The Compositions shall include all titles, words, lyrics, music, libretti and musical scores and all interpolations, collections, compilations, arrangements, adaptations, editions and translations written, composed, owned and/or controlled in whole or in part by Writer.
      %table.table
        - @auction.auction_songs.each_with_index do |song, index|
          %tr
            %td
              = index + 1
            %td
              %strong Title:
              = song.name
              %br
              %strong Writer(s):
              = song.writer
              %br
              %strong % Controlled:
              = "#{'%.2f' % song.publishing_rights}%"

      %p For each individual Composition, Writer shall deliver to Publisher a legible lyric sheet and lead sheet and/or digital recording within seven (7) days of receiving notice from TUNETEAMS that Publisher has paid the Advance.
      %p The Writer assigns to the Publisher - with full title guarantee - all rights to reproduction, publication, performance, broadcasting<sup>2</sup>, digital distribution, diffusion, synchronization, adaptation, translation, loan to the public and other use of exploitation now or hereafter known.
      %p The rights hereby assigned are subject to the rights vested in the local copyright society or any society that replaces it or any foreign equivalent by virtue of the Writer's membership thereof.
      %p If the Publisher exploits the work(s) in a country where in respect of one or more forms of exploitation no copyright collection societies are active, the publisher shall pay the Writer his/her &lsquo;Writer's share&rsquo; of the income directly to the Writer.
      %p The Publisher is entitled - during the Rights Period - to grant non-exclusive licenses to third parties in respect of the exploitation of the Compositions or any of them by way of mechanical<sup>3</sup> reproduction and/or synchronisation<sup>4</sup>. Furthermore, Publisher shall be entitled to make adaptations, arrangements, additions or alterations to any Composition.
      %p If necessary, the copyright in the work(s) shall be secured in the Writer's name by the Publisher in the United States as well as in any other country where formalities need to be fulfilled in order to obtain copyright protection. The costs shall be equally split between both parties.
  %tr
    %td.left-column
      Territory
    %td.right-column
      %p
        = @auction.countries.map{|country| country.name.inspect}.join(", ").gsub("\"", "")
  %tr
    %td.left-column
      Term, Rights Period
    %td.right-column
      %p The period commencing on the date hereof and continuing in the case of each Composition to which this Agreement applies, for a period of #{if @auction.publishing_term.is_i? then @auction.publishing_term.to_s + " years" else "FULL COPYRIGHT PERIOD UNDER LOCAL LAW" end} or until the date of expiry of full period of copyright therein in each country of the Territory including all and any renewals or extensions to each such period of copyright and whether created or conferred by law or international arrangement or convention.
      %p Publisher shall use its best endeavours to exploit and administer every Composition delivered to Publisher. However, if in the case of any Composition, Publisher has not within 2 (two) years after commencement of the Rights Period either released a recording of it or granted a commercial mechanical or synchronisation license in any part of the Territory for it then (subject to an additional 90 day written notice and cure requirement period) as the sole remedy, all rights in the Composition in question only shall revert to Writer after the notice and cure period or, if a sub-publishing agreement has been entered into for a country in the Territory, once any sub-publishing agreement for that country has expired.

  %tr
    %td.left-column
      Name & Likeness
    %td.right-column
      %p Publisher shall have the right to use and authorise others to use the Writer's name(s) (including professional names), approved likeness(es), approved logos and approved biographical materials in publicity for the Writer, Publisher and/or the Compositions and otherwise in the course of Publisher's business.
  %tr
    %td.left-column
      Royalties
    %td.right-column
      %p Sheet Music<sup>5</sup>/Print: <strong>10% (ten percent)</strong> of Receipts<sup>6</sup>
      %p All other forms of income (Mechanicals, Performance & Broadcast, Synchronisation, Covers<sup>7</sup> etc): <strong>#{required_advance_or_royalty_rate(@auction, 'publishing')} </strong> of Receipts
      %p For the avoidance of doubt, Publisher shall be entitled to collect <strong>50% (fifty percent)</strong> of total public performance<sup>8</sup> fees and <strong>100% (one hundred percent)</strong> of all other fees and royalties resulting from the use and/or exploitation of the Compositions in the Territory arising during the Rights Period.
  %tr
    %td.left-column
      Accounting
    %td.right-column
      %p The Publisher shall keep proper books and records of account in respect of exploitation of the Compositions and shall make up statements of account showing the royalties due to the Writer in respect of each Composition at half yearly intervals ending on 30 June and 31 December in each year until the Publisher shall cease to derive income from such Composition. The Publisher shall forward such statements and (subject to recoupment of the Advance) make payment of the amounts shown due to the Writer within 90 days of 30 June and 31 December each year.
      %p Not more than once in any year and subject to reasonable notice, the Writer may appoint a chartered accountant to inspect the relevant parts of Publisher's books and records in order to verify the accounts. Any audit shall be at the usual place of business of the Publisher during normal business hours and shall be at the sole expense of the Writer.
  %tr
    %td.left-column
      Advance
    %td.right-column
      %p Publisher shall pay Writer an advance of <strong>#{competitive_term(@auction, 'publishing')}</strong>, which shall be non-returnable but fully recoupable from all fees and royalties payable to the Writer under this Agreement. Publisher shall pay the advance to tuneteams within 7 (seven) days of both Parties signing this Agreement via electronic signature on TUNETEAMS. TUNETEAMS will instruct its payment partner (e.g. Payoneer) to pay Writer the Advance minus tuneteams' commission within 2 (two) business days after the Publisher has confirmed delivery of all relevant materials and information in respect of the Compositions as set out above in the paragraph Compositions/Assignment/Rights. FOR THE AVOIDANCE OF DOUBT, WITH REGARD TO THE PAYMENT OF THE ADVANCE, TUNETEAMS FULFILS THE ROLE OF "ESCROW AGENT".
  %tr
    %td.left-column
      Warranties
    %td.right-column
      %p The Writer warrants and represents that he/she has the right to grant the rights assigned under this Agreement free of encumbrances and that its share of the Compositions shall be original and not infringe the rights of any third party nor be obscene or defamatory. The Writer further warrants and represents there is no claim or other legal action pending or threatened in respect of the Compositions.
      %p The Writer indemnifies the Publisher against any loss (including legal fees) that the Publisher may suffer resulting from any claim against the Publisher inconsistent with any representation made by the Writer in this Agreement. Until any such claim has been finally adjudicated or settled or withdrawn, the Publisher, at its sole discretion, shall have the right to withhold a reasonable proportion of any and all monies becoming payable to the Writer hereunder until the final adjudication or settlement or withdrawal of such claim.
  %tr
    %td.left-column
      Termination
    %td.right-column
      %p If Publisher shall be in default in performing any of its material obligations, including but not limited to its obligation to make timely payments to Writer, and such default shall not have been cured within fifteen (15) days after written notice from Writer has been received by Publisher, then the Writer may, in addition to its rights and remedies at law or otherwise, at its option, terminate the Rights Period by giving written notice thereof to Publisher.
      %ol{type: "a"}
        %li A termination under this section shall not relieve Publisher of its obligations to pay royalties or render payments as and when required hereunder and, shall not give the Publisher right to a refund of any Advance on royalties paid under this Agreement.
        %li Publisher shall have the right to cure any such default, up to but not after, the date written notice of termination has been given.
      %p Furthermore the Rights Period shall terminate if the Publisher shall enter into liquidation or if a receiver is appointed to take over all or a substantial part of the Publisher's assets and is in control thereof for 15 days or more.
      %p If the Writer defaults in the performance of any material provisions of this Agreement, and such default (where it is capable of remedy) continues for a period of 30 days after the receipt by the Writer of notice in writing from the Publisher alleging such default, then the Publisher shall have the right to terminate the Rights Period by notice in writing to the Writer.
  %tr
    %td.left-column
      Law
    %td.right-column
      #{@auction.country.name}
  %tr
    %td.left-column
      Place of Court
    %td.right-column
      #{@auction.place_of_court}
  %tr
    %td.left-column
      Miscellaneous
    %td.right-column
      %p
        This Heads of Agreement shall be <strong>binding until signature</strong> of the relevant long form, which might be provided by Publisher at any time. All other terms shall be as per Publisher's standard Agreement, which shall be negotiated between the parties in good faith. No modification shall be deemed to be valid unless agreed in writing. If any part of this Agreement shall be determined to be invalid or unenforceable, the remainder shall remain in full force and effect. Publisher confirms that it has advised Writer to take and that Writer has taken independent expert legal advice on the terms and conditions of this Agreement. Neither party may assign its rights and obligations under this Agreement to third parties, with the exception that Publisher shall be entitled to assign its rights to subsidiary companies or companies sharing the same corporate parent.
.page-break
%h4 DEFINITIONS MUSIC PUBLISHING AGREEMENT
%br
%table.pdf-contract
  %tr
    %td.left-column
      1. Full Title Guarantee
    %td.right-column
      %p The Writer is fully entitled to license the title to the Publisher and has obtained agreement to do so from any and all co-writers, if applicable.
  %tr
    %td.left-column
      2. Composition
    %td.right-column
      %p shall mean all musical and literary works (including arrangement of works) written, in whole or in part, by the Writer that are subject to the agreement.
  %tr
    %td.left-column
      3. Broadcast
    %td.right-column
      shall mean distribution of audio and/or audiovisual content embodying a Composition to a dispersed audience via an electronic mass communications medium.
  %tr
    %td.left-column
      4. Mechanical
    %td.right-column
      %p shall mean the right to reproduce and distribute one or more Compositions on physical carriers (CD, vinyl, etc.) or through permanent digital downloads, interactive streaming and other digital configurations supporting various business models.
  %tr
    %td.left-column
      5. Synchronisation
    %td.right-column
      %p shall mean the synchronisation of a Composition, mostly embodied in a song, with moving images, such as but not limited to, promotional videos, feature films, TV, advertisements, and games.
  %tr
    %td.left-column
      6. Sheet music
    %td.right-column
      %p shall mean a handwritten or printed form of music notation that uses modern musical symbols.
  %tr
    %td.left-column
      7. Receipts
    %td.right-column
      %p shall mean all royalties and fees actually received by or   credited to the Publisher against a previously received advance in the country where the Publisher is located which are directly and identifiably attributable by title to the exploitation of each Composition after deduction of, but not limited to,  society commissions, fees to arrangers adaptors and translators, VAT and fees to agents, sub-publishers and licensees, the latter not exceeding 20% (twenty percent) of receipts at source.
  %tr
    %td.left-column
      8. Cover
    %td.right-column
      %p shall mean any recording of a Composition by any other person than the Writer or a person whose records are produced by the Writer.
  %tr
    %td.left-column
      9. Public Performance
    %td.right-column
      %p shall mean performance of recorded music or audiovisual content embodying one or more Compositions in public, including - but not limited to - radio and television.
