.title-container
  %h1 License Agreement For Recording Rights
  - if @auction.status == 'waiting_sign'
    - if @auction.due_date.nil?
      made as of #{@auction.publishing_date.strftime("%B %e, %Y")} by and between the following "Parties":
    - else
      made as of #{@auction.due_date.strftime("%B %e, %Y")} by and between the following "Parties":
- if @auction.status == 'waiting_sign'
  .parts-container
    %table
      %tr
        %td
          #{@auction.licensor_legal_name}
          %br
          #{@auction.licensor_legal_address_line1}
          %br
          #{@auction.licensor_legal_address_line2}
          %br
          #{Country.find(@auction.licensor_legal_address_country).name}
          %br
          +#{@auction.licensor_calling_code}#{@auction.licensor_phone_number}
          %br
          #{@auction.licensor_contact_email}
        %td.separator
          and
        %td
          #{@auction.max_bid.auction_bidder.profile.licensor_legal_name}
          %br
          #{@auction.max_bid.auction_bidder.profile.licensor_legal_address_line1}
          %br
          #{@auction.max_bid.auction_bidder.profile.licensor_legal_address_line2}
          %br
          #{Country.find(@auction.max_bid.auction_bidder.profile.licensor_legal_address_country).name}
          %br
          +#{@auction.max_bid.auction_bidder.profile.licensor_calling_code}#{@auction.max_bid.auction_bidder.profile.licensor_phone_number}
          %br
          #{@auction.max_bid.auction_bidder.profile.licensor_contact_email}
      %tr
        %td.footer
          "Licensor"
        %td
        %td.footer
          "Licensee"


%table.pdf-contract
  %tr
    %td.left-column
      Type of Agreement
    %td.right-column
      %p Exclusive Master License Agreement.
  %tr
    %td.left-column
      Name of the Project/Artist
    %td.right-column
      %p #{@auction.recording_artist_name}, hereinafter "the Artist".
  %tr
    %td.left-column
      Product Commitment
    %td.right-column
      %p #{@auction.auction_songs.count} (#{@auction.auction_songs.count.to_words}) tracks, either fully edited equalized and leadered mastertapes OR high quality digital formats (FLAC, WAV) by file transfer or other secure electronic means (incl. mixes,  extended versions, radio edits, a capella, artwork, any video-clips, consents and clearances), hereinafter the <strong>"Master(s)"</strong>. Licensor shall provide Licensee with all masters and label copies <sup>8</sup> (See Exhibit A) within seven (7) days of receiving notice from TUNETEAMS that Licensee has paid the Advance.
      %p Title(s) of the tracks are as follows:
      %ol
        - @auction.auction_songs.each do |song|
          %li= song.name
      %p If Licensor has delivered between one (1) and three (3) tracks, Licensor shall be considered to have licensed a Single<sup>17</sup>.
      %p If Licensor has delivered between four (4) and nine (9) tracks, Licensor shall be considered to have licensed an EP <sup>5</sup>.
      %p If Licensor has delivered more than nine (9) tracks, Licensor shall be considered to have licensed an Album<sup>1</sup>.
      %p In case Licensor has either licensed a Single or an EP to Licensee,  and in the event Licensor wishes to add one or more of the Masters licensed to Licensee to an album-product ('Album'), Licensor grants Licensee one (1) exclusive option to license the Album under the terms and conditions set out in this Agreement. See for further details the section 'Album Option'.
  %tr
    %td.left-column
      Rights
    %td.right-column
      %p The exclusive unlimited right in the Territory to manufacture records and audio-visual devices by any method(s); to store recordings in data banks and to distribute the same by telephone line, cable, transmitter, satellite, internet, online or any other manner or form of communication; to broadcast, perform publicly and to permit public performances and broadcasts and digital and/or other online and/or Internet and/or electronic transmissions and/or communications to the public and making available of all and any recordings; repackage, sell, rent, lend, transfer, license, edit, remix, deal in, exploit, couple, recouple, delete or otherwise dispose of all and any such recordings (as well as duplicates and derivatives of the same) and all and any records and audio-visual devices derived therefrom;
      %p All such rights may be exercised at such times and places, in any and all media and manner and under any trademarks, trade names or labels as shall be determined and/or designated by Licensee in its sole and absolute discretion save as specifically provided to the contrary herein.
      %p Licensee shall be entitled to collect any and all income arising from the exercise of any and all of the rights granted to Licensee herein, including but not limited to the collection of all Public Performance & Broadcast (PP&B) income.
      %p For the avoidance of doubt, the Licensor shall be entitled to exploit the Masters (whether together encompassing a Single, EP<sup>5</sup> or Album) in the form of the bundle as delivered by Licensor as listed above or on an individual basis. Licensee shall not be entitled to create its own bundles of tracks (Singles, EP's or Albums) for exploitation by combining the Masters with other tracks by the Artist not licensed to Licensee under the terms of this Agreement.
  %tr
    %td.left-column
      Territory
    %td.right-column
      %p
        = @auction.countries.map{|country| country.name.inspect}.join(", ").gsub("\"", "")
  %tr
    %td.left-column
      Exclusive Exploitation Period
    %td.right-column
      %p #{@auction.recording_term} (#{@auction.recording_term.to_i.to_words}) years from initial release of the last contractual Master to be commercially released hereunder plus 6 (six) months non-exclusive sell-off period for physical product (e.g. CD's, vinyl, etc.) only. In case Licensee does not commercially release a particular Master in the Territory within 6 (six) months after delivery, all exploitation rights to the Master will automatically revert to Licensor, unless release of a Master is delayed or becomes impossible or impracticable by virtue of a force majeure event.  In case of a force majeure event, Licensee may, by written notice to Licensor suspend its release obligation for the duration of such delay, impossibility or impracticability (as the case may be) and upon such notice being served, time shall cease to 'run'. If any period of suspension exceeds 3 (three) months, Licensor may, at any time thereafter during such period of suspension, request a reversion of rights by written notice to Licensee.
  %tr
    %td.left-column
      Re-recording restriction
    %td.right-column
      %p Licensor will not at any time before the end of the Exclusive Exploitation Period perform any Restricted Composition<sup>15</sup> for any party except Licensee for the purpose of making (i) records, or (ii) recordings which are intended for or may be disseminated by means of any type of digital distribution which may hereafter be used in the music industry in any country of the Territory.
  %tr
    %td.left-column
      Royalties (to be paid to Licensor)
    %td.right-column
      %p All formats (physical and digital): <strong> #{required_advance_or_royalty_rate(@auction, 'recording')}</strong>
      %p The aforementioned royalty rate is also applicable to in-house compilation records (digital and physical), however please note the percentage will be applied on a Pro Rata Titulis basis<sup>13</sup>.
  %tr
    %td.left-column
      Reduced Royalties
    %td.right-column
      %p Any reduction of the aforementioned royalty rate for particular formats and/or certain forms of exploitation will be subject to good faith negotiations and agreement between the parties.
  %tr
    %td.left-column
      Royalty Base
    %td.right-column
      %p <u>Physical sales</u>: PPD<sup>12</sup> of 100% of records sold, paid and not returned.
      %p <u>Digital sales</u>: Licensee's Net Receipts<sup>10</sup> from digital retailers/distributors/licensees/etc. less Value-Added Tax (VAT) (if applicable).
      %p No royalties for free goods<sup>6</sup>, converted discounts, rebates, overstock<sup>11</sup>, cut-outs<sup>3</sup>, deletion sales<sup>4</sup>, bonuses or similar reductions in reasonable numbers.
  %tr
    %td.left-column
      3rd Party Licenses<sup>18</sup>
    %td.right-column
      %p Subject to good faith negotiation and prior agreement reached between the parties;
  %tr
    %td.left-column
      Synchronisations
    %td.right-column
      %p Subject to good faith negotiation and prior agreement reached between the parties;
  %tr
    %td.left-column
      Public Performance and Broadcast<sup>14</sup> income
    %td.right-column
      %p 50/50 Net Receipts split;
  %tr
    %td.left-column
      Return Reserves<sup>16</sup>
    %td.right-column
      %p For physical units only to be liquidated in following accounting period and shall not exceed 20% of the total units of such records sold to Licensee's customers in the Territory.
  %tr
    %td.left-column
      Accounting / Tax
    %td.right-column
      %p Licensee shall provide Licensor with royalty statement on a quarterly basis (30 April, 30 June, 30 September and 31 December), within 90 days. Licensor shall have a customary audit right. Each party hereto shall be solely and entirely responsible for its obligations with regard to tax and insurance in connection with its revenues derived under this Agreement.
  %tr
    %td.left-column
      Mechanicals
    %td.right-column
      %p Licensee will arrange for payment of all Mechanical Royalties<sup>9</sup> which become due to the owners of musical and literary works underlying the Masters released in the Territory under this agreement.
  %tr
    %td.left-column
      Videos
    %td.right-column
      %p Licensee shall be permitted to use and commercially exploit existing promotional video-clips provided by Licensor to Licensee on a gratis basis. Production of one or more <u>new</u> promotional video-clips will be subject to good faith negotiation and agreement between the parties.
  %tr
    %td.left-column
      Remixes
    %td.right-column
      %p Licensee shall be permitted to produce remixes, subject to Licensor's prior approval, and 50 % of the costs of such remixes shall be recoupable from all royalties (excl. Mechanical Royalties and Advances) payable to Licensor hereunder. Licensor shall be entitled to use and exploit such remixes in its own territories, subject to payment of a reasonable contribution to Licensee to be negotiated between the parties in good faith.
  %tr
    %td.left-column
      Artwork & Photos & Biographical material
    %td.right-column
      %p Will be supplied by Licensor to Licensee on a gratis basis together with the delivery of the Masters.
  %tr
    %td.left-column
      Samples
    %td.right-column
      %p Licensor will, to the extent that any recording contains any samples and/or extracts, secure requisite licenses and clearances covering the Territory and furnish Licensee with copies of these documents.
  %tr
    %td.left-column
      Name & Likeness
    %td.right-column
      %p Licensor warrants and represents that it has the right to use and license to others the use of Name & Likeness of the Artist. Licensor hereby grants to Licensee the irrevocable right and license to use and publish and permit others to use and publish the Artist's Name & Likeness, photographs and biographical materials for the purpose of exploiting the Masters.
  %tr
    %td.left-column
      Promotion
    %td.right-column
      %p The Artist shall, within reasonable scope and subject to other prior professional commitments, be available for promotional appearances in the Territory free of charge. Agreed travel expenses, agreed reasonable per diems, and agreed accommodation costs shall be borne by Licensee. Expenses for eventual promotional activities in the Territory (travel, hotel, showcase expenses) need to be mutually agreed between the parties, and Licensor will be obliged to seek Licensee's written upfront approval for any and all costs to be borne by Licensee.
  %tr
    %td.left-column
      Advance on Royalties
    %td.right-column
      %p <strong>#{competitive_term(@auction, 'recording')}</strong> to be paid by Licensee to Licensor. Licensee shall pay the advance to TUNETEAMS within 7 (seven) days of both Parties siging this Agreement via electronic signature on TUNETEAMS. TUNETEAMS will instruct its payment partner (e.g. Payoneer) to pay Licensor the Advance minus tuneteams' commission within 2 (two) business days after the Licensee has confirmed delivery and acceptance of the Masters. For the avoidance of doubt, all advances are inclusive of recording costs and any and all other similar third party costs including mastering costs. All advances shall be non-returnable but fully recoupable against royalties and other sums payable to Licensor in connection with the exploitation of the Masters under this agreement. FOR THE AVOIDANCE OF DOUBT, WITH REGARD TO THE PAYMENT OF THE ADVANCE, TUNETEAMS FULFILS THE ROLE OF "ESCROW AGENT".
      %p In case Licensor has been granted an option to license an Album and it has decided to exercise this option in accordance with the terms and conditions of this Agreement, Licensee shall be obliged to pay Licensor an additional advance. See the section "Album Option" for more details.
  %tr
    %td.left-column
      Album Option
    %td.right-column
      %p The following section is only relevant if the original Product Commitment under this Agreement is either a Single or an EP<sup>5</sup>.
      %p In the event Licensor wishes to add one or more of the Masters licensed to Licensee to an album product ('Album') during the first twelve (12) months after release of the Master(s) in the Territory, Licensor shall be under the obligation to inform Licensee in writing. Subsequently, Licensor shall grant Licensee one (1) exclusive option to license the Album under the terms and conditions set out in this agreement. Licensee is obliged to exercise the option within ten (10) working days after receipt of Licensor's written notice. In case Licensee does not exercise the aforesaid option within the designated period, Licensor shall be free to license the Album to a third party in the Territory; however, such a license shall be limited to an Album-Only<sup>2</sup> license with no rights to use the Masters on an individual basis in any form of exploitation whatsoever.
      %p In case Licensee fails to respond to Licensor within the designated period, Licensee is deemed not to have exercised the option.
      %p For the avoidance of doubt, in the event Licensor wishes to add one or more of the Masters licensed to Licensee to an Album <strong><u>after</u></strong> the first twelve (12) months after release of the Master(s) in the Territory (but during the Exclusive Exploitation Period), Licensor shall be under the obligation to inform Licensee in writing. Subsequently, Licensor shall grant Licensee one (1) exclusive option to license the Album under the terms and conditions set out in this agreement. Licensee is obliged to exercise the option within ten (10) working days after receipt of Licensor's notice. In case Licensee does not exercise the aforesaid option within the designated period, Licensor shall <strong><u>not</u></strong> be free to license the Album to a third party in the Territory until after the end of the Exploitation Period as set out in this Agreement.
      %p In case Licensee fails to respond to Licensor within the designated period, Licensee is deemed not to have exercised the option.
      %p In case Licensee has exercised the option on the Album, Licensee shall be obliged to pay the following additional advance ('Option Advance') to Licensor:
      %ul
        %li
          In case Licensee has licensed a <strong>Single</strong>:
          %br
          The Option Advance will be computed by the number of incremental tracks Licensee will receive for the Album, multiplied by fifty percent (50%) multiplied by the Original Advance.
          %br
          <u>Example:</u> <strong>$1,000</strong> original advance for 2 tracks.
          %br
          Licensee will receive 8 additional tracks.
          %br
          Option Advance: 8 * 50% = 4 x $1,000 = <strong>$4,000</strong>
          %br
          Total recoupable advance: <strong>$5,000</strong>
        %li
          In case Licensee has licensed an <strong>EP</strong>:
          %br
          The Option Advance will be computed dividing the Original Advance by the amount of tracks of the original license multiplied by the number of incremental tracks Licensee will receive for the Album.
          %br
          <u>Example:</u> <strong>$3,000</strong> original advance for 4 tracks
          %br
          Licensee will receive 6 additional tracks
          %br
          Option Advance: $3,000/4 = $750 x 6 = <strong>$4,500</strong>
          %br
          Total recoupable advance: <strong>$7,500</strong>
      %p The Option Advance shall be paid by Licensee directly to Licensor within 7 days after delivery and acceptance of the Album. For the avoidance of doubt, all advances are inclusive of recording costs and any and all other similar third party costs including mastering costs. All advances shall be non-returnable but fully recoupable against royalties and other sums payable to Licensor in connection with the exploitation of the Masters under this Agreement.
  %tr
    %td.left-column
      Warranties
    %td.right-column
      %p The Parties warrant that they are respectively entitled to enter into and fully perform this agreement and that no rights of third parties will be infringed. Licensor shall be responsible for all payments to artists, musicians, producers, etc. Both Parties shall fully indemnify one another against any losses incurred as a result of any case of breach of any warranty hereunder.
  %tr
    %td.left-column
      Termination
    %td.right-column
      %p If Licensee shall be in default in performing any of its material obligations, including but not limited to its obligation to make timely payments to Licensor, and such default shall not have been cured within fifteen (15) days after written notice from Licensor has been received by Licensee, then Licensor may, in addition to its rights and remedies at law or otherwise, at its option, terminate the Exclusive Exploitation Period by giving written notice thereof to Licensee.
      %ol{type: "a"}
        %li A termination under this section shall not relieve Licensee of its obligations to pay royalties or render payments as and when required hereunder and, shall not give the Licensee the right to a refund of any Advance on royalties paid under this Heads of Agreement.
        %li Licensee shall have the right to cure any such default, up to but not after, the date written notice of termination has been given.
  %tr
    %td.left-column
      Inducement Letter
    %td.right-column
      %p Licensor shall provide Licensee with an inducement letter<sup>7</sup> duly signed by Artist in a form accepted and approved by Licensee at Licensee's request.
  %tr
    %td.left-column
      Law
    %td.right-column
      #{@auction.country.name}
  %tr
    %td.left-column
      Place of Court
    %td.right-column
      #{@auction.place_of_court}
  %tr
    %td.left-column
      Miscellaneous
    %td.right-column
      %p
        This Heads of Agreement shall be <strong>binding until signature</strong> of the relevant long form, which might be provided by Licensee at any time. All other terms shall be as per Licensee's standard agreement, which shall be negotiated between the parties in good faith. No modification shall be deemed to be valid unless agreed in writing. If any part of this agreement shall be determined to be invalid or unenforceable, the remainder shall remain in full force and effect. Neither party shall be entitled to terminate this agreement, recover damages or seek any other remedy by reason of any breach by the other party of its material obligations hereunder, unless the other party has failed to remedy such breach (if capable of remedy) within thirty (30) days following receipt of notice thereof. Licensee confirms that it has advised Licensor to take and that Licensor has taken independent expert legal advice on the terms and conditions of this Agreement. Neither party may assign its rights and obligations under this Agreement to third parties, with the exception that Licensee shall be entitled to assign its rights to subsidiary companies or companies sharing the same corporate parent.
.page-break
%h4 DEFINITIONS LICENSE AGREEMENT FOR RECORDING RIGHTS
%br
%table.pdf-contract
  %tr
    %td.left-column
      1. Album
    %td.right-column
      %p means one (1) or more CD records, or the equivalent thereof in any other physical or digital configuration, containing not less than ten (10) tracks per record sold in a single package or digital bundle.
  %tr
    %td.left-column
      2. Album Only
    %td.right-column
      %p Exploitation of the Master(s) as physical albums and digital album bundles only. Licensor shall not be able to exploit the Masters in any other way, configuration or form besides the album bundle as delivered by Licensor, including but not limited to licensing the Masters for compilations, synch deals, single-track download sales, and/or the availability of the Masters on audio and video streaming services in any other way, configuration or form besides the album bundle.
  %tr
    %td.left-column
      3. Cut-out/deleted record
    %td.right-column
      %p shall mean a record that is or will be deleted from Licensee's catalogue and therefore no longer be available for sale to its customers.
  %tr
    %td.left-column
      4. Deletion sale
    %td.right-column
      %p shall mean sale of a cut-out/deleted record by Licensee to its customers for a very reduced price, usually a below cost price.
  %tr
    %td.left-column
      5. EP
    %td.right-column
      %p means one (1) or more CD records, or the equivalent thereof in any other physical or digital configuration, containing between four (4) and nine (9) tracks sold in a single package or digital bundle.
  %tr
    %td.left-column
      6. Free Goods/Bonus Records
    %td.right-column
      %p shall mean physical Records sold or distributed in reasonable numbers for promotional purposes, or distributed as "free", "no charge" or "bonus" goods (whether or not intended for resale, and whether invoiced as a discount in the price charged by Licensee to its customers or as a record shipped for no charge), or distributed free of charge or at below cost to radio, cable or other broadcasting stations, or distributed free of charge or at below cost for use on means of transportation and facilities to promote or stimulate the sale of records.
  %tr
    %td.left-column
      7. Inducement Letter
    %td.right-column
      %p shall mean a letter signed by the Artist in favour of Licensee acknowledging that he/she/they has read and understood the main Agreement and in which the Artist ensures Licensee delivery of the Masters in case Licensor fails to do.
  %tr
    %td.left-column
      8. Label Copies
    %td.right-column
      %p Information to be provided by Licensor to Licensee. See Exhibit A below.
  %tr
    %td.left-column
      9. Mechanical Royalties
    %td.right-column
      %p shall mean royalties payable to any party for the right to reproduce compositions on records (or Masters) and to distribute those records (or Masters).
  %tr
    %td.left-column
      10. Net Receipts
    %td.right-column
      %p Applicable gross receipts less all direct expenses, costs, liabilities, taxes and other payments (excluding overhead costs) actually incurred by Licensee in connection with the use or exploitation in question.
  %tr
    %td.left-column
      11. Overstock
    %td.right-column
      %p shall mean excess physical stock of records stored available in Licensee's warehouse.
  %tr
    %td.left-column
      12. PPD
    %td.right-column
      %p shall mean the applicable published price to dealers of records in each format in the respective price category as so published from time-to-time by Licensee or the respective distributor.
  %tr
    %td.left-column
      13. Pro Rata Titulis Base
    %td.right-column
      %p shall mean the following: if a Master is exploited as part of a 'multi artist' compilation record, the Artist will receive a royalty which is adjusted in proportion to the total amount of tracks on the compilation record times the relevant PPD.
      %p Example: total amount of tracks on the compilation is 10 tracks and 1 track is by the Artist, the Artist will receive its contractual royalty rate calculated over 1/10th of the PPD
  %tr
    %td.left-column
      14. Public Performance and Broadcast
    %td.right-column
      %p shall mean the use of sound and audiovisual recordings through public performances such as broadcast on radio, television, cable or any other forms of transmission of a song. It also includes all performances in public places such as hotels, restaurants, shops, concerts etc. Public Performance & Broadcast Rights are also called Neighbouring Rights.
  %tr
    %td.left-column
      15. Restricted Composition
    %td.right-column
      %p means a composition recorded by the Artist and which is embodied on one or more of the Master(s) and which, in any part of the Territory and during the Exclusive Exploitation Period is either (a) contained on a commercially released record or (b) commercially exploited by means of digital distribution.
  %tr
    %td.left-column
      16. Return reserves
    %td.right-column
      %p shall mean a reasonable reserve provision in Licensee's financial administration with regard to physical records  that are being returned by customers to Licensee, each such reserve to be liquidated by no later than the date on which Licensee is obliged to render a statement in respect of the first quarterly accounting period following the quarterly accounting period in respect of which the reserve is first taken.
  %tr
    %td.left-column
      17. Single
    %td.right-column
      %p means a single CD record, or the equivalent thereof in any other physical or digital configuration, consisting of no more than three (3) tracks, sold in a single package or digital bundle.
  %tr
    %td.left-column
      18. 3rd Party Licenses
    %td.right-column
      %p All licenses to 3rd (third) parties that are NOT digital licenses, compilation licenses, or synchronisation licenses.

.page-break
.title-container
  %strong Exhibit A: Standard Label Copy Form

%p Selection #:
%p BARCODE:
%p Artist:
%p Title:
%p First Release:
%p Imprint Label:
%p Local Label:
%p Distribution Rights:
%p (P)-Line: (P) 20
%p (C)-Line: (C) 20
%br
DISC: [amount of discs and total running time]
%br
%br
%table.table.table-bordered{style: "width: 80%"}
  %tr
    %td{style: "width: 20px"}
    %td{style: "width: 250px; text-align: center"} Title of Track
    %td{style: "width: 100px; text-align: center"} Length
    %td{style: "width: 100px; text-align: center"} ISRC code
  %tr
    %td{style: "text-align: center"} 1
    %td
    %td
    %td
  %tr
    %td{style: "text-align: center"} 2
    %td
    %td
    %td
  %tr
    %td{style: "text-align: center"} 3
    %td
    %td
    %td
  %tr
    %td{style: "text-align: center"} 4
    %td
    %td
    %td
  %tr
    %td{style: "text-align: center"} 5
    %td
    %td
    %td
  %tr
    %td{style: "text-align: center"} 6
    %td
    %td
    %td
  %tr
    %td{style: "text-align: center"} 7
    %td
    %td
    %td
  %tr
    %td{style: "text-align: center"} 8
    %td
    %td
    %td
  %tr
    %td{style: "text-align: center"} 9
    %td
    %td
    %td
  %tr
    %td{style: "text-align: center"} 10
    %td
    %td
    %td

%br
DETAILED INFORMATION FOR EACH INDIVIDUAL TRACK AS SET OUT BELOW
%br
%br
%ol
  %li [title of track, length and ISRC code]
  %ul
    %li (Composer... - Lyricist...)
    %li Published By:
    %li Performer:
    %li Lead Vocal
    %li Guitar:
    %li Bass:
    %li Drums:
    %li Clavinet:
    %li Baritone Guitar:
    %li Background Vocal:
    %li Produced by:
    %li Recorded by:
    %li Mixed by:
    %li Studio Assistance:
    %li (P) 20:
    %li Rec Period - 20:
    %li Recorded at:
    %li Rights Owner:

  %br
  %li [title of track, length and ISRC code]
  %ul
    %li (Composer... - Lyricist...)
    %li Published By:
    %li Performer:
    %li Lead Vocal
    %li Guitar:
    %li Bass:
    %li Drums:
    %li Organ:
    %li Background Vocal:
    %li Recorded by:
    %li Mixed by:
    %li Studio Assistance:
    %li (P) 20:
    %li Rec Period - 20:
    %li Recorded at:
    %li Rights owner:
