.title-container
  %h1 Sub-Publishing Agreement
  - if @auction.due_date.nil?
    made as of #{@auction.publishing_date.strftime("%B %e, %Y")} by and between the following "Parties":
  - else
    made as of #{@auction.due_date.strftime("%B %e, %Y")} by and between the following "Parties":

- if @auction.status == 'waiting_sign'
  .parts-container
    %table
      %tr
        %td
          #{@auction.licensor_legal_name}
          %br
          #{@auction.licensor_legal_address_line1}
          %br
          #{@auction.licensor_legal_address_line2}
          %br
          #{Country.find(@auction.licensor_legal_address_country).name}
          %br
          #{@auction.licensor_phone_number}
          %br
          #{@auction.licensor_contact_email}
        %td.separator
          and
        %td
          #{@auction.max_bid.auction_bidder.profile.licensor_legal_name}
          %br
          #{@auction.max_bid.auction_bidder.profile.licensor_legal_address_line1}
          %br
          #{@auction.max_bid.auction_bidder.profile.licensor_legal_address_line2}
          %br
          #{Country.find(@auction.max_bid.auction_bidder.profile.licensor_legal_address_country).name}
          %br
          #{@auction.max_bid.auction_bidder.profile.licensor_phone_number}
          %br
          #{@auction.max_bid.auction_bidder.profile.licensor_contact_email}
      %tr
        %td.footer
          "Publisher"
        %td
        %td.footer
          "Sub-Publisher"

%table.pdf-contract
  %tr
    %td.left-column
      Type of Agreement
    %td.right-column
      %p Exclusive Sub-Publishing Agreement.
  %tr
    %td.left-column
      Compositions, Assignment, Rights
    %td.right-column
      %p the Sub-Publisher desires to obtain certain rights in the following musical compositions (hereinafter the "Composition(s)"<sup>1</sup>), for the Rights Period and the Territory set out in the relevant paragraphs below.
      %table.table
        - @auction.auction_songs.each_with_index do |song, index|
          %tr
            %td
              = index + 1
            %td
              %strong Title:
              = song.name
              %br
              %strong Writer(s):
              = song.writer
              %br
              %strong Publisher(s)
              = song.publisher
              %br
              %strong % Controlled:
              = "#{'%.2f' % song.publishing_rights}%"

      %p For each individual Composition, Publisher shall deliver to Sub-Publisher a legible lyric sheet and lead sheet and/or digital recording within seven (7) days of receiving notice from TUNETEAMS that Sub-Publisher has paid the Advance.
      %p The Publisher hereby grants to the Sub-Publisher, for the licensed Territory only, all rights to reproduction, publication, public performance, broadcasting<sup>2</sup>, digital distribution, diffusion, synchronization<sup>3</sup>, adaptation, translation, loan to the public and other use of exploitation now or hereafter known of the Compositions, except only as limited in this Agreement.
      %p The foregoing assignment is made subject to the following terms and conditions:
      %ol{type: "a"}
        %li The Publisher reserves all rights in and to all copyrights of the Composition(s)  and all the rights of any and every nature thereunder existing, for all the countries of the world outside the licensed Territory.
        %li The Publisher reserves the exclusive right to license worldwide uses of (any of) the Composition(s) as a title for Motion Pictures<sup>4</sup>.
        %li The rights hereby assigned are subject to the rights vested in the local copyright society or any society that replaces it or any foreign equivalent by virtue of the membership of the writer<sup>5</sup> and composer thereof.
        %li The Sub-Publisher shall have the right to issue non-exclusive worldwide licenses for the synchronization of the Composition(s) with sound motion pictures, if such motion pictures are produced and originate in the Territory.  The Publisher reserves unto itself the exclusive right to grant licenses for the entire world for the synchronization of the Composition(s) with sound motion pictures, if such sound motion pictures are produced and originate outside of the Territory, and the Sub-Publisher shall not be entitled to share in any world-wide fees received by Publisher in respect of any such worldwide licenses.

      %p The Sub-Publisher may reprint the Composition(s) in any folio, and in such event, the Sub-Publisher shall pay the Publisher the relevant royalty percentage set-out below.
      %p The Sub-Publisher shall have the right to arrange and adapt the Composition(s), and to translate the lyrics of the Composition(s) into languages of the Territory, or have a new title and lyrics written therefore, and said arrangements, adaptations, translations and new title and lyrics shall be the property of the Publisher, subject to the rights of the Sub-Publisher hereunder. Further the Sub-Publisher shall have the right to arrange and exploit local covers<sup>6</sup>.
      %p Any and all costs involved shall solely be borne by the Sub-Publisher.
  %tr
    %td.left-column
      Territory
    %td.right-column
      %p
        = @auction.countries.map{|country| country.name.inspect}.join(", ").gsub("\"", "")
  %tr
    %td.left-column
      Term, Rights Period
    %td.right-column
      %p The period commencing on the date hereof and continuing in the case of each Composition to which this Agreement applies, for a period of #{@auction.publishing_term} (#{@auction.publishing_term.to_i.to_words} years).

      %p Sub-Publisher shall use its best endeavours to exploit and administer every Composition delivered to Sub-Publisher. However, if in the case of any Composition Sub-Publisher has not within 2 years after commencement of the Rights Period either released a recording of it or granted a commercial mechanical or synchronisation license in any part of the Territory then (subject to an additional 90-day written notice and cure requirement period) as your sole remedy, all rights in the Composition in question only shall revert to Publisher.
  %tr
    %td.left-column
      Name & Likeness
    %td.right-column
      %p Sub-Publisher shall have the right to use and authorise others to use the writer and composer's name(s) (including professional names), approved likeness(es), approved logos and approved biographical materials in publicity for the Sub-Publisher, and/or the Compositions and otherwise in the course of Sub-Publisher's business.
  %tr
    %td.left-column
      Royalties
    %td.right-column
      %p The Sub-Publisher will pay the Publisher the following royalties;
      %ol
        %li
          Sheet Music/Print/Re-Print: <strong>10% (ten percent)</strong> of Receipts<sup>7</sup>
        %li
          All other forms of income including but not limited to Mechanicals<sup>8</sup>, Performance & Broadcast, Synchronisation): <strong>#{required_advance_or_royalty_rate(@auction, 'publishing')}</strong> of Receipts except for income from Local Covers on which the Sub-Publisher will pay the Publisher <strong>75% (twenty-five percent).</strong>
  %tr
    %td.left-column
      Accounting
    %td.right-column
      %p The Sub-Publisher shall keep proper books and records of account in respect of exploitation of the Compositions and shall make up statements of account showing the royalties due to the Publisher in respect of each Composition at half yearly intervals ending on 30 June and 31 December in each year until the Publisher shall cease to derive income from such Composition. The Sub-Publisher shall forward such statements and (subject to recoupment of the Advance) make payment of the amounts shown due to the Publisher within 90 days of 30 June and 31 December each year.
      %p No more than once in any year and subject to reasonable notice, the Publisher may appoint a chartered accountant to inspect the relevant parts of Sub-Publisher's books and records in order to verify the accounts. Any audit shall be at the usual place of business of the Sub-Publisher during normal business hours and shall be at the sole expense of the Publisher.
  %tr
    %td.left-column
      Advance
    %td.right-column
      %p Sub-Publisher shall pay Publisher an advance of <strong>#{competitive_term(@auction, 'publishing')}</strong>, which shall be non-returnable but fully recoupable from all fees and royalties payable to the Publisher under this Agreement. Sub-Publisher shall pay the advance to TUNETEAMS within 7 (seven) days of both Parties signing this Agreement via electronic signature on TUNETEAMS. TUNETEAMS will instruct its payment partner (e.g. Payoneer) to pay Publisher the Advance minus tuneteams' commission within 2 (two) business days after the Sub-Publisher has confirmed acceptable delivery of all relevant materials and information in respect of the Compositions as set out above in the paragraph Compositions/Assignment/Rights. FOR THE AVOIDANCE OF DOUBT, WITH REGARD TO THE PAYMENT OF THE ADVANCE, TUNETEAMS FULFILS THE ROLE OF "ESCROW AGENT".
  %tr
    %td.left-column
      Warranties
    %td.right-column
      %p The Publisher warrants and represents that it has the right to grant the rights assigned under this Agreement free of encumbrances and that the Compositions shall be original and not infringe the rights of any third party nor be obscene or defamatory. The Publisher further warrants and represents there is no claim or other legal action pending or threatened in respect of the Compositions.
      %p The Publisher indemnifies the Sub-Publisher against any loss (including legal fees) that the Sub-Publisher may suffer resulting from any claim against the Sub-Publisher inconsistent with any representation made by the Publisher in this Agreement. Until any such claim has been finally adjudicated or settled or withdrawn the Sub-Publisher, at its sole discretion, shall have the right to withhold a reasonable proportion of any and all monies becoming payable to the Publisher hereunder until the final adjudication or settlement or withdrawal of such claim.
  %tr
    %td.left-column
      Termination
    %td.right-column
      %p If Sub-Publisher shall be in default in performing any of its material obligations, including but not limited to its obligation to make timely payments to Publisher, and such default shall not have been cured within fifteen (15) days after written notice from Publisher has been received by Sub-Publisher, then the Publisher may, in addition to its rights and remedies at law or otherwise, at its option, terminate the Rights Period by giving written notice thereof to Sub-Publisher.
      %ol{type: "a"}
        %li A termination under this section shall not relieve Sub-Publisher of its obligations to pay royalties or render payments as and when required hereunder and, shall not give the Sub-Publisher right to a refund of any Advance on royalties paid under this Agreement.
        %li Sub-Publisher shall have the right to cure any such default, up to but not after, the date written notice of termination has been given.
      %p Furthermore the Rights Period shall terminate if the Sub-Publisher shall enter into liquidation or if a receiver is appointed to take over all or a substantial part of the Sub-Publisher's assets and is in control thereof for 15 days or more.
      %p If the Publisher defaults in the performance of any material provisions of this Agreement and such default (where it is capable of remedy) continues for a period of 30 days after the receipt by the Publisher of notice in writing from the Sub-Publisher alleging such default, then the Sub-Publisher shall have the right to terminate the Rights Period by notice in writing to the Publisher.
  %tr
    %td.left-column
      Applicable Law
    %td.right-column
      #{@auction.country.name}
  %tr
    %td.left-column
      Place of Court
    %td.right-column
      #{@auction.place_of_court}
  %tr
    %td.left-column
      Miscellaneous
    %td.right-column
      %p
        This Heads of Agreement shall be <strong>binding until signature</strong> of the relevant long form, which might be provided by Publisher at any time. All other terms shall be as per Publisher's standard Agreement, which shall be negotiated between the parties in good faith. No modification shall be deemed to be valid unless agreed in writing. If any part of this Agreement shall be determined to be invalid or unenforceable, the remainder shall remain in full force and effect. Neither party may assign its rights and obligations under this Agreement to third parties, with the exception that both Publisher and Sub-Publisher shall be entitled to assign its rights to subsidiary companies or companies sharing the same corporate parent.
.page-break
%h4 DEFINITIONS SUB-PUBLISHING AGREEMENT
%br
%table.pdf-contract
  %tr
    %td.left-column
      1. Composition
    %td.right-column
      %p shall mean all musical and literary works (including arrangement of works) written, in whole or in part, by the Writer that are subject to the agreement.
  %tr
    %td.left-column
      2. Broadcast
    %td.right-column
      shall mean distribution of audio and/or audiovisual content embodying a Composition to a dispersed audience via an electronic mass communications medium.
  %tr
    %td.left-column
      3. Synchronisation
    %td.right-column
      %p shall mean the synchronisation of a Composition, mostly embodied in a song, with moving images, such as but not limited to, promotional videos, feature films, TV, advertisements, games.
  %tr
    %td.left-column
      4. Motion Picture
    %td.right-column
      %p feature film or movie.
  %tr
    %td.left-column
      5. Writer
    %td.right-column
      %p the composer or lyricist of a particular musical work.
  %tr
    %td.left-column
      6. Local Cover
    %td.right-column
      %p shall mean any recording of a Composition by any other person than the Writer or a person whose records are produced by the Writer.
  %tr
    %td.left-column
      7. Receipts
    %td.right-column
      %p shall mean all royalties and fees actually received by or credited to the Sub-Publisher against a previously received advance which are directly and identifiably attributable by title to the exploitation of each Composition in the Territory only.
  %tr
    %td.left-column
      8. Mechanical
    %td.right-column
      %p shall mean the right to reproduce and distribute one or more Compositions on physical carriers (CD, vinyl, etc.) or through permanent digital downloads, interactive streaming and other digital configurations supporting various business models.
  %tr
    %td.left-column
      6. Public Performance
    %td.right-column
      %p shall mean performance of recorded music or audiovisual content embodying one or more Compositions in public, including - but not limited to - radio and television.
