:css
  body {
    font-size: 12px;
    font-family: "Open Sans" !important;
  }

- if @auction.auction_type == "recording_rights"
  = render :partial => 'licenses/recording_rights', :formats => [:html]
- elsif @auction.auction_type == "publishing_rights"
  = render :partial => 'licenses/publishing_rights', :formats => [:html]
- elsif @auction.auction_type == "sub_publishing_rights"
  = render :partial => 'licenses/sub_publishing_rights', :formats => [:html]
- elsif @auction.auction_type == 'recording_publishing_rights' && @auction.publishing_agreement_type == 'publishing'
  = render :partial => 'licenses/recording_rights', :formats => [:html]
  .page-break
  = render :partial => 'licenses/publishing_rights', :formats => [:html]
- elsif @auction.auction_type == 'recording_publishing_rights' && @auction.publishing_agreement_type == 'sub_publishing'
  = render :partial => 'licenses/recording_rights', :formats => [:html]
  .page-break
  = render :partial => 'licenses/sub_publishing_rights', :formats => [:html]
