.messages
  .inbox
    .container
      .title-container
        %h2 Dashboard
      -# {{profilePermalink}}
      -# {{$state.current.name}}
      .select-container
        %select{"ng-model" => "userInfo.current_profile.permalink", "ng-change" => "switchProfile(userInfo.current_profile.permalink)", "ng-options" => "item.permalink as item.name for item in userInfo.profiles"}
        -# %option{:value => ""} I'm a
      .row
        .col-md-3.sidebar
          %ul.nav
            %li{"ng-class" => "{active: $state.current.name == 'profiles-dashboard'}"}
              %a{"ui-sref" => "profiles-dashboard", "ng-class" => "{active: $state.current.name == 'profiles-dashboard'}"}
                Profile
            %li
              %a.parent{"ng-href" => "#"}
                Auctions
              %ul.nav.nav-second-level
                %li
                  %a{"ui-sref" => "auctions-management-participating", "ng-class" => "{active: $state.current.name == 'auctions-management-participating'}"}
                    I'm Participating
                %li
                  %a{"ui-sref" => "auctions-management-owner", "ng-class" => "{active: $state.current.name == 'auctions-management-owner' || $state.current.name == 'auctions-management-single'}"}
                    My Auctions
            %li
              %a{"ng-href" => "/dashboard/{{profilePermalink}}/messages", "ng-class" => "{active: viewState.current == 'messages-inbox'}"}
                Messages
                %span.badge{"ng-show" => "userInfo.messages_count"} {{userInfo.messages_count}}
            %li
              %a.parent{"ng-href" => "#"}
                Notifications
              %ul.nav.nav-second-level
                %li
                  %a{"ng-href" => "/dashboard/{{profilePermalink}}/notifications", "ng-class" => "{active: viewState.current == 'notifications'}"}
                    Connections
                    %span.badge{"ng-show" => "userInfo.connections_count > 0"} {{userInfo.connections_count}}
                %li
                  %a{"ng-href" => "/dashboard/{{profilePermalink}}/bidders", "ng-class" => "{active: viewState.current == 'bidders-notifications'}"}
                    Bidders
                    %span.badge{"ng-show" => "userInfo.bidders_count > 0"} {{userInfo.bidders_count}}
            %li
              %a.parent{"ng-href" => "#"}
                Settings
              %ul.nav.nav-second-level
                %li
                  %a{"ui-sref"=>"account-management", "ng-class" => "{active: viewState.current == 'account-management'}"}
                    Account
                %li
                  %a{"ui-sref"=>"payout-management", "ng-class" => "{active: viewState.current == 'payout-management'}"}
                    Payouts
                %li
                  %a{"ui-sref"=>"notification-management", "ng-class" => "{active: viewState.current == 'notification-management'}"}
                    Notifications
                %li
                  %a{"ui-sref"=>"password-management", "ng-class" => "{active: viewState.current == 'password-management'}"}
                    Password
        .col-md-9
          %div{"ui-view" => ""}
