.invitations
  .inbox
    .container
      %h2 Invitations
      .row
        .col-md-3
          .list-group
            %a.list-group-item{"ng-href" => "/admin/invitations/requests", "ng-class" => "{active: viewState.current == 'admin-invitations-requests'}"}
              / %span.badge 4
              Requests
            %a.list-group-item{"ng-href" => "/admin/invitations/personal", "ng-class" => "{active: viewState.current == 'admin-invitations-personal'}"}
              / %span.badge 2
              Personal
        .col-md-9
          %div{"ui-view" => ""}
