.invitations
  .inbox
    .container
      %h2 Mailing
      .row
        .col-md-3
          .list-group
            %a.list-group-item{"ng-href" => "/admin/mailing/campaigns", "ng-class" => "{active: viewState.current == 'admin-mailing-campaigns'}"}
              / %span.badge 4
              Campaigns
            / %a.list-group-item{"ng-href" => "/admin/invitations/personal", "ng-class" => "{active: viewState.current == 'admin-invitations-personal'}"}
            /   / %span.badge 2
            /   Personal
        .col-md-9
          .well{"ui-view" => ""}