.invitations
  .inbox
    .container
      %h2 Reports
      .row
        .col-md-3
          .list-group
            %a.list-group-item{"ng-href" => "/admin/reports/dashboard", "ng-class" => "{active: viewState.current == 'admin-reports-dashboard'}"}
              Dashboard
            / %a.list-group-item{"ng-href" => "/admin/invitations/personal", "ng-class" => "{active: viewState.current == 'admin-invitations-personal'}"}
            /   / %span.badge 2
            /   Personal
        .col-md-9
          .well{"ui-view" => ""}