%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
  = "Hello #{@profile_name}:"

%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
  Congratulations. You have successfully created a tuneteams profile with the music industry role of #{@profile_industry_role}. Your country is #{@profile_country}, and your profile’s URL is as follows:

%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
  %a{href: @url}=@url

%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
  If you have not already done so, we recommend that you enter the musical genres you work with, the types of deals you are looking for, and what countries you are looking to develop your business in. Entering this information will help potential partners to find you. Just use the blue “Edit” buttons on your profile page or email help@tuneteams.com for more help.
