%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
  Hi, To verify that you own #{@user.email} and complete your tuneteams email address change, click this link.
  %a{href: @url} #{@url}
