%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
  = "Hello,"
  %br
  %br
  You recently initiated a password reset for your tuneteams account. To complete the process, click the button below or copy the following link into your browser’s address bar:
  %a{href: @url, target: "_blank"}= @url
  %br
%center
  %table
    %tr
      %td{align: "center"}
        %a{href: "#{@url}", style: "color: #FFF;padding: 12px 30px;background-color:#00B3F3;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;text-decoration: none;display:block;width:200px;text-align:center;margin-top:20px;margin-bottom:20px;border-radius:3px;font-size:16px;"} Reset my password
%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
  This link will expire in 24 hours after this email was sent.
%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
  If you remembered your password, just ignore this email. If you did not make this request, it is likely that another user entered your email address by mistake and that your account is still secure. If you ever believe an unauthorized person has accessed your account, you can reset your password at https://tuneteams.com/dashboard/management/password
