.auctions
  .agreement
    .container
      .hellosign-frame-container
        #hellosign-frame
      .responses
        .signed{"ng-show" => "documentSigned"}
          Thank you for signing the contract for {{auction.name}}. You will receive an email with next steps when both parties have signed the contract. This should take no longer than a week.
        .error{"ng-show" => "hasHellosignError"}
          {{errorMessage}}
