.auctions
  .index
    .container
      #top-index-filter
        .row
          .col-md-2
            .divided.country.first{"ng-click" => "showDropdownFilter('country')"}
              .filter-badge{"ng-show" => "filter.country_ids.length > 0"}
                {{filter.country_ids.length}}
              Country
            .filter-content.first{"ng-show" => "showCountryFilter == true"}
              %select.form-control{chosen: "", multiple: "", "ng-model" => "filter.country_ids", "ng-options" => "item.id as item.name for item in countriesList", "data-placeholder" => "Select the countries you want to filter.", name: "countries"}
              .bottom-bar
                %a{"ng-href" => "#", "ng-click" => "showCountryFilter = false"} close
                &nbsp;
                %button.btn.btn-primary{"ng-click" => "showCountryFilter = false; getResults(false)"} OK
          .col-md-2
            .divided.genre{"ng-click" => "showDropdownFilter('genre')"}
              .filter-badge{"ng-show" => "filter.genre_ids.length > 0"}
                {{filter.genre_ids.length}}
              Genre
            .filter-content{"ng-show" => "showGenreFilter == true"}
              %select.form-control{chosen: "", multiple: "", "ng-model" => "filter.genre_ids", "ng-options" => "item.id as item.name for item in genresList", "data-placeholder" => "Select the genres you want to filter.", name: "genres"}
              .bottom-bar
                %a{"ng-href" => "#", "ng-click" => "showGenreFilter = false"} close
                &nbsp;
                %button.btn.btn-primary{"ng-click" => "showGenreFilter = false; getResults(false)"} OK
          .col-md-2
            .divided.type.last{"ng-click" => "showDropdownFilter('type')"}
              .filter-badge{"ng-show" => "filter.auctionType.length > 0"}
                {{filter.auctionType.length}}
              Type
            .filter-content{"ng-show" => "showTypeFilter == true"}
              .form-group{"ng-class" => ""}
                %div{"ng-repeat" => "auctionType in filter.auctionTypes"}
                  %label.checkbox-inline
                    %input{name: "auctionType", "checklist-model" => "filter.auctionType", "checklist-value" => "auctionType.id", type: "checkbox"} {{auctionType.text}}
                  %br
              .bottom-bar
                %a{"ng-href" => "#", "ng-click" => "showTypeFilter = false"} close
                &nbsp;
                %button.btn.btn-primary{"ng-click" => "showTypeFilter = false; getResults(false)"} OK
          .col-md-6.search
            .search-input-container
              %img.search-icon{:alt => "Search", :src => "/assets/icons/search.png"}
              %input.form-control{type: "text", placeholder: "Name...", "ng-model" => "filter.name"}
        #clear-filters-container
          %a{"ng-click" => "clearFilters()", "ng-href" => "#"} Clear filters
      .row
        .col-md-12.left-pane
          .auctions-no-results{"ng-show" => "auctions.length == 0"}
            There are no results related with your options selected or query.
          .auctions-list-container{"ng-show" => "auctions.length > 0"}
            %a.action-item{"ng-repeat" => "auction in auctions", href: "/auctions/{{auction._source.permalink}}", "ng-style" => "{'background-image': 'url(' + auction._source.default_illustration.medium + ')'}"}
              .details-container
                .name
                  {{auction._source.name}}
                .countries.truncate
                  %span{"ng-repeat" => "country in auction._source.countries"} {{country.name}}{{$last ? '' : ' · '}}
                .genres.truncate
                  %span{"ng-repeat" => "genre in auction._source.genres"} {{genre.name}}{{$last ? '' : ' | '}}
          .load-more-container{"ng-click" => "getResults(true)", "ng-class" => "nextPageDisabledClass()"}
            More
