.auctions
  .new
    .container
      .title
        %h2 Create a new auction
      %loading-character{text:"Loading", size: "medium", "ng-show" => "isLoading"}
      .doesnt-confirmed-email{"ng-hide" => "emailConfirmed || isLoading"}
        You cannot create an auction because your email address is not verified. Please enter your current email in your
        %a{"ng-href" => "/dashboard/management/account"} account
        and then check your email inbox for instructions.
      .doesnt-have-profile{"ng-hide" => "userHasProfile || isLoading"}
        In order to create an Auction you have to configure a profile, you can do it&nbsp;
        %a{"ng-href" => "/profile/create"}>here
        \.
        %br
        If you already have a profile, reload this page.
      .profile-configuration-container{"ng-show" => "emailConfirmed && userHasProfile && !isLoading"}
        .step-tutorial-container.panel.panel-default
          .panel-body
            .steps-list-container
              %ol
                %li.step{"ng-class" => "{active: slide == 'auctionDescription'}"}
                  .part.back
                  .part.middle
                    .content
                      %span.title
                        %span.number 1
                      Main details
                  .part.point{"ng-class" => "{continue: slide == 'auctionType'}"}
                %li.step{"ng-class" => "{active: slide == 'auctionType'}"}
                  .part.back
                  .part.middle
                    .content
                      %span.title
                        %span.number 2
                      Type
                  .part.point{"ng-class" => "{continue: slide == 'legal'}"}
                %li.step{"ng-class" => "{active: slide == 'legal'}"}
                  .part.back
                  .part.middle
                    .content
                      %span.title
                        %span.number 3
                      Legal
                  .part.point
            %form{role: "form", name: "newAuctionForm"}
              .steps-form{"ng-show" => "slide == 'auctionDescription'"}
                .form-group{"ng-class" => "{'has-error': newAuctionForm.auctionName.$error.required && showErrorFields}"}
                  %label.control-label.required{for: "auction-name"} Name
                  %img{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.auctionName}}", "data-placement" =>"bottom-left"}
                  %input#auction-name.form-control{placeholder: "Name your auction", "ng-model" => "auction.name", type: "text", name: "auctionName", required: ""}
                  %span.help-block{"ng-show" => "newAuctionForm.auctionName.$error.required && showErrorFields"} Enter a name
                .form-group
                  %label.control-label{for: "description"} Description
                  %textarea#description.form-control{placeholder: "Describe your auction. (100 characters minimum)", "ng-model" => "auction.description", "ng-trim" => "false",  maxlength: "2000"}
                  %span.help-block{"ng-show" => "{{newAuctionForm.description.$error.required}}"} Enter a description
                .form-group
                  %label.control-label{for: "genres"} Genres
                  %select.form-control{chosen: "", multiple: "", "ng-model" => "auction.genre_ids", "ng-options" => "item.id as item.name for item in genresList", "data-placeholder" => "Please select the genre(s) of the music on auction from the pull-down menu.", name: "genres"}
                .form-group
                  %label.control-label{for: "countries"} License Territory
                  %select.form-control{chosen: "", multiple: "", "ng-model" => "auction.country_ids", "ng-options" => "item.id as item.name for item in countriesList", "data-placeholder" => "Choose your countries", name: "countries"}
              .steps-form{"ng-show" => "slide == 'auctionType'"}
                .form-group{"ng-class" => "{'has-error': newAuctionForm.auctionType.$error.required && showErrorFields}"}
                  .section-title
                    Auction Type
                    %img{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.auctionType}}", "data-placement" =>"bottom-left"}
                  .auction-type-radio-container
                    .radio-container{"ng-class" => "{'selected': auction.auction_type == 'recording_rights'}"}
                      %label
                        %input{:name => "auctionType", "ng-model" => "auction.auction_type", :type => "radio", :value => "recording_rights", "ng-required" => "slide == 'auctionType' && !auction.auction_type"}
                        %img{:src => "/assets/icons/auctions/recording_rights_option.png"}
                        .text
                          Recording Rights
                    .radio-container{"ng-class" => "{'selected': auction.auction_type == 'publishing_rights'}"}
                      %label
                        %input{:name => "auctionType", "ng-model" => "auction.auction_type", :type => "radio", :value => "publishing_rights", "ng-required" => "slide == 'auctionType' && !auction.auction_type"}
                        %img{:src => "/assets/icons/auctions/publishing_rights_option.png"}
                        .text
                          Publishing Rights
                    .radio-container{"ng-class" => "{'selected': auction.auction_type == 'sub_publishing_rights'}"}
                      %label
                        %input#fb3{:name => "auctionType", "ng-model" => "auction.auction_type", :type => "radio", :value => "sub_publishing_rights", "ng-required" => "slide == 'auctionType' && !auction.auction_type"}
                        %img{:src => "/assets/icons/auctions/sub_publishing_rights_option.png"}
                        .text
                          Sub Publishing Rights
                    .radio-container{"ng-class" => "{'selected': auction.auction_type == 'recording_publishing_rights'}"}
                      %label
                        %input#fb3{:name => "auctionType", "ng-model" => "auction.auction_type", :type => "radio", :value => "recording_publishing_rights", "ng-required" => "slide == 'auctionType' && !auction.auction_type"}
                        %img{:src => "/assets/icons/auctions/recording_publishing_rights_option.png"}
                          .text
                            Recording & Publishing
                            %br
                            Rights
                    %span.help-block{"ng-show" => "newAuctionForm.auctionType.$error.required && showErrorFields"} Select an Auction Type
                .form-group{"ng-class" => "{'has-error': newAuctionForm.publishingAgreementType.$error.required && showErrorFields}", "ng-show" => "auction.auction_type != undefined && auction.auction_type == 'recording_publishing_rights'"}
                  .section-title
                    Publishing Agreement Type
                    %img{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.publishingAgreementType}}", "data-placement" =>"bottom-left"}
                  .competitive-term-radio-container
                    .radio-container{"ng-class" => "{'selected': auction.publishing_agreement_type == 'publishing'}"}
                      %label
                        %input#advance-option{:name => "publishingAgreementType", "ng-model" => "auction.publishing_agreement_type", :type => "radio", :value => "publishing", "ng-required" => "slide == 'auctionType' && auction.auction_type == 'recording_publishing_rights'"}
                        %img{:src => "/assets/icons/auctions/publishing_rights_option.png"}
                        .text
                          Publishing
                    .radio-container{"ng-class" => "{'selected': auction.publishing_agreement_type == 'sub_publishing'}"}
                      %label
                        %input#royalty_rate.option{:name => "publishingAgreementType", "ng-model" => "auction.publishing_agreement_type", :type => "radio", :value => "sub_publishing", "ng-required" => "slide == 'auctionType' && auction.auction_type == 'recording_publishing_rights'"}
                        %img{:src => "/assets/icons/auctions/sub_publishing_rights_option.png"}
                        .text
                          Sub-Publishing
                  %span.help-block{"ng-show" => "newAuctionForm.publishingAgreementType.$error.required && showErrorFields"} Select a Publishing Agreement Type
                .form-group{"ng-class" => "{'has-error': newAuctionForm.competitiveTerm.$error.required && showErrorFields}", "ng-show" => "auction.auction_type != 'recording_publishing_rights' && auction.auction_type != undefined"}
                  .section-title
                    Competitive Term
                    %img{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.competitiveTerm}}", "data-placement" =>"bottom-left"}
                  .competitive-term-radio-container
                    .radio-container{"ng-class" => "{'selected': auction.competitive_term == 'advance'}"}
                      %label
                        %input#advance-option{:name => "competitiveTerm", "ng-model" => "auction.competitive_term", :type => "radio", :value => "advance", "ng-required" => "slide == 'auctionType' && auction.auction_type != 'recording_publishing_rights'"}
                        %img{:src => "/assets/icons/auctions/advance_option.png"}
                        .text
                          Advance
                          %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.advanceOption}}", "data-placement" =>"bottom-left"}
                    .radio-container{"ng-class" => "{'selected': auction.competitive_term == 'royalty_rate'}"}
                      %label
                        %input#royalty_rate.option{:name => "competitiveTerm", "ng-model" => "auction.competitive_term", :type => "radio", :value => "royalty_rate", "ng-required" => "slide == 'auctionType' && auction.auction_type != 'recording_publishing_rights'"}
                        %img{:src => "/assets/icons/auctions/royalty_rate_option.png"}
                        .text
                          Royalty Rate
                          %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.royaltyRateOption}}", "data-placement" =>"bottom-left"}
                  %span.help-block{"ng-show" => "newAuctionForm.competitiveTerm.$error.required && showErrorFields"} Select a Competitive Term
                .form-group{"ng-class" => "{'has-error': (newAuctionForm.recordingArtistName.$error.required || newAuctionForm.songwriterName.$error.required) && showErrorFields}", "ng-show" => "(auction.competitive_term != undefined || auction.publishing_agreement_type != undefined)"}
                  .recording-artist-container{"ng-hide" => "auction.auction_type == 'publishing_rights' || auction.auction_type == 'sub_publishing_rights'"}
                    %input.form-control#recording-artist-name{"ng-model" => "auction.recording_artist_name", :type => "text", placeholder: "Artist, Band or Compilation Name", name: "recordingArtistName", "ng-required" => "slide == 'auctionType' && (auction.auction_type == 'recording_rights' || auction.auction_type == 'recording_publishing_rights')"}
                    %span.help-block{"ng-show" => "newAuctionForm.recordingArtistName.$error.required && showErrorFields"} Enter a recording artist name
                  .songwriter-name-container{"ng-hide" => "auction.auction_type == 'recording_rights' || (auction.auction_type == 'recording_publishing_rights' && auction.same_recording_and_publisher)"}
                    %input.form-control#songwriter-name{"ng-model" => "auction.songwriter_name", :type => "text", placeholder: "Songwriter Name(s)", name: "songwriterName", "ng-required" => "songWriterRequired()"}
                    %span.help-block{"ng-show" => "newAuctionForm.songwriterName.$error.required && showErrorFields"} Enter a songwriter name
                  .checkbox{"ng-show" => "auction.auction_type == 'recording_publishing_rights'"}
                    %label
                      %input{type: "checkbox", "ng-model"=>"auction.same_recording_and_publisher"} Songwriter(s) and Recording Artist are the same
                .row
                  .col-md-6
                    .reserve-on-competitive-term-container
                      .reserve-on-competitive-term-container{"ng-show" => "auction.competitive_term != undefined && auction.auction_type != 'recording_publishing_rights'"}
                        .form-group{"ng-class" => "{'has-error': (newAuctionForm.reserveOnCompetitiveTerm.$error.minimumReserve || newAuctionForm.reserveOnCompetitiveTerm.$error.maximumReserve) && showErrorFields}"}
                          %label.control-label{for: "reserve-on-competitive-term"} Reserve on Competitive Term
                          %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.reserveOnCompetitiveTermRecording}}", "data-placement" =>"bottom-left"}
                          .input-group{"ng-class" => "{'is_number': auction.competitive_term == 'advance', 'is_percentage': auction.competitive_term == 'royalty_rate'}"}
                            %span#basic-addon3.input-group-addon{"ng-show" => "auction.competitive_term == 'advance'"} USD$
                            %input#reserve-on-competitive-term.form-control{placeholder: "0.00", autocomplete: "off", "ng-model" => "auction.reserve_on_competitive_term", "aria-describedby"=>"basic-addon3", "reserve-amount" => "", name: "reserveOnCompetitiveTerm", "ng-required" => "slide == 'auctionType' && auction.auction_type != 'recording_publishing_rights'"}
                            %span#basic-addon3.input-group-addon{"ng-show" => "auction.competitive_term == 'royalty_rate'"} %
                          %span.help-block{"ng-show" => "newAuctionForm.reserveOnCompetitiveTerm.$error.minimumReserve && showErrorFields"} The minimum advance payment for a tuneteams auction is USD$250
                          %span.help-block{"ng-show" => "newAuctionForm.reserveOnCompetitiveTerm.$error.maximumReserve && showErrorFields"} Maximum percentage is 99.99%
                      .reserve-on-competitive-term-container_recording_publishing{"ng-show" => "auction.auction_type == 'recording_publishing_rights' && auction.publishing_agreement_type != undefined"}
                        .form-group{"ng-class" => "{'has-error': (newAuctionForm.reserveOnCompetitiveTermForRecording.$error.minimumReserve || newAuctionForm.reserveOnCompetitiveTermForRecording.$error.required) && showErrorFields}"}
                          %label.control-label{for: "reserve-on-competitive-term-for-recording"} Reserve on Competitive Term for Recording
                          %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.reserveOnCompetitiveTermRecording}}", "data-placement" =>"bottom-left"}
                          .input-group{style: "width:125px"}
                            %span#basic-addon3.input-group-addon USD$
                            %input#reserve-on-competitive-term-for-recording.form-control{placeholder: "0.00", "ng-model" => "auction.reserve_on_competitive_term", "aria-describedby"=>"basic-addon3", "reserve-amount" => "", name: "reserveOnCompetitiveTermForRecording", "ng-required" => "slide == 'auctionType' && auction.auction_type == 'recording_publishing_rights'"}
                          %span.help-block{"ng-show" => "newAuctionForm.reserveOnCompetitiveTermForRecording.$error.minimumReserve && showErrorFields"} The minimum advance payment for a tuneteams auction is USD$250.
                          %span.help-block{"ng-show" => "newAuctionForm.reserveOnCompetitiveTermForRecording.$error.required && showErrorFields"} Required field
                        .form-group{"ng-class" => "{'has-error': (newAuctionForm.reserveOnCompetitiveTermForPublishing.$error.minimumReserve || newAuctionForm.reserveOnCompetitiveTermForPublishing.$error.required) && showErrorFields}"}
                          %label.control-label{for: "reserve-on-competitive-term-for-publishing"} Reserve on Competitive Term for Publishing
                          .input-group{style: "width:125px"}
                            %span#basic-addon3.input-group-addon USD$
                            %input#reserve-on-competitive-term-for-publishing.form-control{placeholder: "0.00", autocomplete: "off", "ng-model" => "auction.reserve_on_competitive_term_publishing", "aria-describedby"=>"basic-addon3", "reserve-amount" => "", name: "reserveOnCompetitiveTermForPublishing", "ng-required" => "slide == 'auctionType' && auction.auction_type == 'recording_publishing_rights'", "ng-if" => "auction.auction_type == 'recording_publishing_rights'"}
                          %span.help-block{"ng-show" => "newAuctionForm.reserveOnCompetitiveTermForPublishing.$error.minimumReserve && showErrorFields"} The minimum advance payment for a tuneteams auction is USD$250.
                          %span.help-block{"ng-show" => "newAuctionForm.reserveOnCompetitiveTermForPublishing.$error.required && showErrorFields"} Required field
                    .required-advance-or-royalty-rate-container
                      .required-advance-or-royalty-rate-general-container{"ng-show" => "auction.competitive_term != undefined && auction.auction_type != 'recording_publishing_rights'"}
                        .form-group{"ng-class" => "{'has-error': (newAuctionForm.requiredAdvanceOrRoyaltyRate.$error.minimumAdvance || newAuctionForm.requiredAdvanceOrRoyaltyRate.$error.maximumAdvance || newAuctionForm.requiredAdvanceOrRoyaltyRate.$error.minimumAdvanceZero) && showErrorFields}"}
                          %label.control-label{for: "required-advance-or-royalty-rate"} Required Advance or Royalty Rate (non-Competitive Term)
                          %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.requiredAdvancedOrRoyaltyRate}}", "data-placement" =>"bottom-left"}
                          .input-group{"ng-class" => "{'is_percentage': auction.competitive_term == 'advance', 'is_number': auction.competitive_term == 'royalty_rate'}"}
                            %span#basic-addon3.input-group-addon{"ng-show" => "auction.competitive_term == 'royalty_rate'"} USD$
                            %input#required-advance-or-royalty-rate.form-control{placeholder: "0.00", autocomplete: "off", "ng-model" => "auction.required_advance_or_royalty_rate", "aria-describedby"=>"basic-addon3", "advance-amount" => "", name: "requiredAdvanceOrRoyaltyRate", "ng-required" => "slide == 'auctionType' && auction.auction_type != 'recording_publishing_rights'"}
                            %span#basic-addon3.input-group-addon{"ng-show" => "auction.competitive_term == 'advance'"} %
                          %span.help-block{"ng-show" => "newAuctionForm.requiredAdvanceOrRoyaltyRate.$error.minimumAdvanceZero && showErrorFields"}  Percentage is greater than 0
                          %span.help-block{"ng-show" => "newAuctionForm.requiredAdvanceOrRoyaltyRate.$error.minimumAdvance && showErrorFields"} The minimum advance payment for a tuneteams auction is USD$250.
                          %span.help-block{"ng-show" => "newAuctionForm.requiredAdvanceOrRoyaltyRate.$error.maximumAdvance && showErrorFields"} Maximum percentage is 99.99%
                      .required-advance-or-royalty-rate-container-recording-container{"ng-show" => "auction.auction_type == 'recording_publishing_rights' && auction.publishing_agreement_type != undefined"}
                        .form-group{"ng-class" => "{'has-error': (newAuctionForm.requiredAdvanceOrRoyaltyRateForRecording.$error.maximumAdvance || newAuctionForm.requiredAdvanceOrRoyaltyRateForRecording.$error.minimumAdvanceZero || newAuctionForm.requiredAdvanceOrRoyaltyRateForRecording.$error.required) && showErrorFields}"}
                          %label.control-label{for: "required-advance-or-royalty-rate-recording"} Required Advance or Royalty Rate (non-Competitive Term) for Recording
                          %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.requiredAdvancedOrRoyaltyRate}}", "data-placement" =>"bottom-left"}
                          .input-group{style: "width:89px"}
                            %input#required-advance-or-royalty-rate-recording.form-control{placeholder: "0.00", autocomplete: "off", "ng-model" => "auction.required_advance_or_royalty_rate", "aria-describedby"=>"basic-addon3", name: "requiredAdvanceOrRoyaltyRateForRecording", "advance-amount" => "", "ng-required" => "slide == 'auctionType' && auction.auction_type == 'recording_publishing_rights'"}
                            %span#basic-addon3.input-group-addon %
                          %span.help-block{"ng-show" => "newAuctionForm.requiredAdvanceOrRoyaltyRateForRecording.$error.minimumAdvanceZero && showErrorFields"}  Percentage is greater than 0
                          %span.help-block{"ng-show" => "newAuctionForm.requiredAdvanceOrRoyaltyRateForRecording.$error.maximumAdvance && showErrorFields"} Maximum percentage is 99.99%
                          %span.help-block{"ng-show" => "newAuctionForm.requiredAdvanceOrRoyaltyRateForRecording.$error.required && showErrorFields"} Required field
                      .required-advance-or-royalty-rate-container-publishing-container{"ng-show" => "auction.auction_type == 'recording_publishing_rights' && auction.publishing_agreement_type != undefined"}
                        .form-group{"ng-class" => "{'has-error': (newAuctionForm.requiredAdvanceOrRoyaltyRateForPublishing.$error.maximumAdvance || newAuctionForm.requiredAdvanceOrRoyaltyRateForPublishing.$error.minimumAdvanceZero || newAuctionForm.requiredAdvanceOrRoyaltyRateForPublishing.$error.required) && showErrorFields}"}
                          %label.control-label{for: "required-advance-or-royalty-rate-publishing"} Required Advance or Royalty Rate (non-Competitive Term) for Publishing
                          .input-group{style: "width:89px"}
                            %input#required-advance-or-royalty-rate-publishing.form-control{placeholder: "0.00", autocomplete: "off", "ng-model" => "auction.required_advance_or_royalty_rate_publishing", "aria-describedby"=>"basic-addon3", name: "requiredAdvanceOrRoyaltyRateForPublishing", "advance-amount" => "", "ng-required" => "slide == 'auctionType' && auction.auction_type == 'recording_publishing_rights'", "ng-if" => "auction.auction_type == 'recording_publishing_rights'"}
                            %span#basic-addon3.input-group-addon %
                          %span.help-block{"ng-show" => "newAuctionForm.requiredAdvanceOrRoyaltyRateForPublishing.$error.minimumAdvanceZero && showErrorFields"}  Percentage is greater than 0
                          %span.help-block{"ng-show" => "newAuctionForm.requiredAdvanceOrRoyaltyRateForPublishing.$error.maximumAdvance && showErrorFields"} Maximum percentage is 99.99%
                          %span.help-block{"ng-show" => "newAuctionForm.requiredAdvanceOrRoyaltyRateForPublishing.$error.required && showErrorFields"} Required field
                  .col-md-6
                    .show-private-info-switch-container{"ng-show" => "auction.competitive_term != undefined || auction.publishing_agreement_type != undefined"}
                      %toggle-switch.switch-small{"model" => "auction.show_private_info", "on-label" => "public", "off-label" => "private"}
                      %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.showPrivateInfo}}", "data-placement" =>"bottom-left"}
                .form-group{"ng-class" => "{'has-error': newAuctionForm.auctionLength.$error.required && showErrorFields}", "ng-show" => "auction.competitive_term != undefined || auction.publishing_agreement_type != undefined"}
                  %label.control-label.required{for: "auction-length"} Auction Length
                  %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.auctionLength}}", "data-placement" =>"bottom-left"}
                  %select#auction-length.form-control{"ng-model" => "auction.auction_length", name: "auctionLength", "ng-required" => "slide == 'auctionType'"}
                    %option{value: "7"} 7 days
                    %option{value: "14"} 14 days
                    %option{value: "30"} 30 days
                  %span.help-block{"ng-show" => "newAuctionForm.auctionLength.$error.required && showErrorFields"} Select a length
                .form-group.recording-term-container{"ng-class" => "{'has-error': newAuctionForm.term.$error.required && showErrorFields}", "ng-show" => "(auction.competitive_term != undefined || auction.publishing_agreement_type != undefined) && auction.auction_type != 'sub_publishing_rights'"}
                  %label.control-label.required{for: "term"} {{ auction.auction_type == 'publishing_rights' ? 'Publishing' : 'Recording'}} Term
                  %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.term}}", "data-placement" =>"bottom-left"}
                  .slider-container{"ng-show" => "auction.auction_type != 'publishing_rights'"}
                    %input#recording-term{"ng-model" => "auction.recording_term", :options => "options", :slider => "", :type => "text"}
                  %select.form-control{"ng-model" => "auction.publishing_term", "ng-show" => "auction.auction_type == 'publishing_rights'"}
                    %option{value: "10"} 10 years
                    %option{value: "full_copyright_period_under_local_law"} Full copyright period under local law
                .form-group.publishing-term-container{"ng-class" => "{'has-error': newAuctionForm.term.$error.required && showErrorFields}", "ng-show" => "(auction.auction_type == 'recording_publishing_rights' && auction.publishing_agreement_type != undefined) || (auction.auction_type == 'sub_publishing_rights' && auction.competitive_term != undefined)"}
                  %label.control-label.required{for: "term"} Publishing Term
                  %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.term}}", "data-placement" =>"bottom-left"}
                  .slider-container{"ng-show" => "auction.publishing_agreement_type == 'sub_publishing' || auction.auction_type == 'sub_publishing_rights'"}
                    %input#publishing-term{"ng-model" => "auction.publishing_term", :options => "options", :slider => "", :type => "text"}
                  %select.form-control{"ng-model" => "auction.publishing_term", "ng-show" => "auction.publishing_agreement_type == 'publishing'"}
                    %option{value: "10"} 10 years
                    %option{value: "full_copyright_period_under_local_law"} Full copyright period under local law
              .steps-form{"ng-show" => "slide == 'legal'"}
                .form-horizontal{"ng-show" => "!auction.recording_publishing_different_info"}
                  .form-group{"ng-show" => "auction.auction_type == 'recording_publishing_rights'"}
                    .col-sm-3
                    .col-sm-6
                      .checkbox
                        %label
                          %input{type: "checkbox", "ng-model"=>"auction.recording_publishing_different_info"} Publishing Rights owner has different information
                        %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.publishingRightsOwnerHasDifferentInformation}}", "data-placement" =>"bottom-left"}
                  .form-group
                    %label.col-sm-3.control-label{for: "licensor-name"} Licensor's Legal Name
                    %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.legalName}}", "data-placement" =>"bottom-left"}
                    .col-sm-6
                      %input#licensor-name.form-control{placeholder: "Licensor Name", "ng-model" => "auction.licensor_legal_name", type: "text"}
                  .form-group
                    %label.col-sm-3.control-label{for: "licensor-legal-address-line1"} Legal Address
                    .col-sm-6
                      %input#licensor-legal-address-line1.form-control{placeholder: "Street Address or P.O. Box, Suite #, etc.", "ng-model" => "auction.licensor_legal_address_line1", type: "text"}
                      %input#licensor-legal-address-line2.form-control{placeholder: "City, State, Postal Code", "ng-model" => "auction.licensor_legal_address_line2", type: "text"}
                      %select#licensor-legal-address-country.form-control{chosen: "", "ng-model" => "auction.licensor_legal_address_country", "ng-options" => "item.id as item.name for item in countriesListSimple", "data-placeholder" => "Select a country"}
                        %option{:value => ""}
                  .form-group
                    %label.col-sm-3.control-label{for: "licensor-signer-name"} Signer's Name for Licensor
                    %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.signersName}}", "data-placement" =>"bottom-left"}
                    .col-sm-6
                      %input#licensor-signer-name.form-control{placeholder: "Full Name", "ng-model" => "auction.licensor_signer_name", type: "text"}
                  .form-group
                    %label.col-sm-3.control-label{for: "licensor-phone-number"} Cell Phone Number
                    .col-sm-6.phone-number-calling-code-container
                      .calling-code-selector-container
                        %select#phone-number-calling-code.form-control{chosen: "", "ng-model" => "auction.licensor_calling_code", "ng-options" => "item.calling_code as item.name for item in countriesListSimple", "data-placeholder" => "Select a country"}
                          %option{:value => ""}
                      .phone-number-container
                        .input-group{style: "width:180px"}
                          %span#basic-addon3.input-group-addon +{{auction.licensor_calling_code}}
                          %input#licensor-phone-number.form-control{placeholder: "Cell Phone number. No dashes, spaces or parentheses", "ng-model" => "auction.licensor_phone_number", "aria-describedby"=>"basic-addon3", type: "text", "only-digits" => ""}
                  .form-group
                    %label.col-sm-3.control-label{for: "licensor-contact-email"} Contact Email
                    .col-sm-6
                      %input#licensor-contact-email.form-control{placeholder: "Contact Email", "ng-model" => "auction.licensor_contact_email", type: "text", disabled: ""}
                  .form-group{"ng-class" => "{'has-error': (newAuctionForm.applicableLawForLicense.$error.required) && showErrorFields}"}
                    %label.col-sm-3.control-label{for: "applicable-law-for-license"} Applicable Law for License
                    %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.applicableLaw}}", "data-placement" =>"bottom-left"}
                    .col-sm-6
                      %select#applicable-law-for-license.form-control{chosen: "", "ng-model" => "auction.applicable_law_for_license", name: "applicableLawForLicense", "ng-required" => "slide == 'legal'", "ng-options" => "item.id as item.name for item in countriesListSimple", "data-placeholder" => "Select a country"}
                        %option{:value => ""}
                    %span.help-block{"ng-show" => "newAuctionForm.applicableLawForLicense.$error.required && showErrorFields"} Applicable Law for License
                  .form-group
                    %label.col-sm-3.control-label{for: "place-of-court"} Place of Court
                    %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.placeOfCourt}}", "data-placement" =>"bottom-left"}
                    .col-sm-6
                      %input#place-of-court.form-control{placeholder: "Place of court", "ng-model" => "auction.place_of_court", type: "text"}
                %div.publishing-recording-legal-container{"ng-show" => "auction.recording_publishing_different_info"}
                  %table
                    %tr
                      %th
                        Recording
                      %th
                        Publishing
                    %tr
                      %td{style: "width: 370px"}
                        .form-group
                          %label.control-label{for: "licensor-name"} Licensor's Legal Name
                          %input#licensor-name.form-control{placeholder: "Licensor Name", "ng-model" => "auction.licensor_legal_name", type: "text", tabindex: 1}

                      %td{style: "width: 370px"}
                        .form-group
                          %label.control-label{for: "publisher-name-publishing"} Publisher Legal Name
                          %input#publisher-name-publishing.form-control{placeholder: "Publisher Name", "ng-model" => "auction.publisher_legal_name", type: "text", tabindex: 9}
                    %tr
                      %td
                        .form-group
                          %label.control-label{for: "licensor-legal-address-line1"} Legal Address
                          %input#licensor-legal-address-line1.form-control{placeholder: "Street Address or P.O. Box, Suite #, etc.", "ng-model" => "auction.licensor_legal_address_line1", type: "text", tabindex: 2}
                          %input#licensor-legal-address-line2.form-control{placeholder: "City, State, Postal Code", "ng-model" => "auction.licensor_legal_address_line2", type: "text", tabindex: 3}
                          %select#licensor-legal-address-country.form-control{chosen: "", "ng-model" => "auction.licensor_legal_address_country", "ng-options" => "item.id as item.name for item in countriesListSimple", "data-placeholder" => "Select a country", tabindex: 4}
                            %option{:value => ""}
                      %td
                        .form-group
                          %label.control-label{for: "publisher-legal-address-line1-publishing"} Legal Address
                          %input#publisher-legal-address-line1-publishing.form-control{placeholder: "Street Address or P.O. Box, Suite #, etc.", "ng-model" => "auction.publisher_legal_address_line1", type: "text", tabindex: 10}
                          %input#publisher-legal-address-line2-publishing.form-control{placeholder: "City, State, Postal Code", "ng-model" => "auction.publisher_legal_address_line2", type: "text", tabindex: 11}
                          %select#publisher-legal-address-country.form-control{chosen: "", "ng-model" => "auction.publisher_legal_address_country", "ng-options" => "item.id as item.name for item in countriesListSimple", "data-placeholder" => "Select a country", tabindex: 12}
                            %option{:value => ""}
                    %tr
                      %td
                        .form-group
                          %label.control-label{for: "licensor-signer-name"} Signer's Name for Licensor
                          %input#licensor-signer-name.form-control{placeholder: "Full Name", "ng-model" => "auction.licensor_signer_name", type: "text", tabindex: 5}
                      %td
                        .form-group
                          %label.control-label{for: "licensor-signer-name-publishing"} Signer's Name for Publisher
                          %input#licensor-signer-name-publishing.form-control{placeholder: "Full Name", "ng-model" => "auction.publisher_signer_name", type: "text", tabindex: 13}
                    %tr
                      %td
                        .form-group
                          %label.control-label{for: "licensor-phone-number"} Cell Phone Number
                          .phone-number-calling-code-container
                            .calling-code-selector-container
                              %select#phone-number-calling-code.form-control{chosen: "", "ng-model" => "auction.licensor_calling_code", "ng-options" => "item.calling_code as item.name for item in countriesListSimple", "data-placeholder" => "Select a country", tabindex: 6}
                                %option{:value => ""}
                            .phone-number-container
                              .input-group{style: "width:180px"}
                                %span#basic-addon3.input-group-addon +{{auction.licensor_calling_code}}
                                %input#licensor-phone-number.form-control{placeholder: "Cell Phone number", "ng-model" => "auction.licensor_phone_number", "aria-describedby"=>"basic-addon3", autocomplete: "off", tabindex: 7, style: "width:140px", "only-digits" => ""}
                      %td
                        .form-group
                          %label.control-label{for: "publisher-phone-number"} Cell Phone Number
                          .phone-number-calling-code-container
                            .calling-code-selector-container
                              %select#phone-number-calling-code.form-control{chosen: "", "ng-model" => "auction.publisher_calling_code", "ng-options" => "item.calling_code as item.name for item in countriesListSimple", "data-placeholder" => "Select a country", tabindex: 14}
                                %option{:value => ""}
                            .phone-number-container
                              .input-group{style: "width:180px"}
                                %span#basic-addon3.input-group-addon +{{auction.publisher_calling_code}}
                                %input#licensor-phone-number.form-control{placeholder: "Cell Phone number", "ng-model" => "auction.publisher_phone_number", "aria-describedby"=>"basic-addon3", autocomplete: "off", tabindex: 15, style: "width:140px", "only-digits" => ""}
                    %tr
                      %td
                        .form-group
                          %label.control-label{for: "licensor-contact-email"} Contact Email
                          %input#licensor-contact-email.form-control{placeholder: "Contact Email", "ng-model" => "auction.licensor_contact_email", type: "text", tabindex: 8, disabled: ""}
                      %td
                        .form-group
                          %label.control-label{for: "publisher-contact-email-publishing"} Contact Email
                          %br
                          %input#publisher-contact-email-publishing.form-control{placeholder: "Contact Email", "ng-model" => "auction.publisher_contact_email", type: "text", tabindex: 16, style: "width:360px;display:inline-block"}
                          %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.auctionManagerSecondSigner}}", "data-placement" =>"bottom-left", style: "display:inline-block"}
                  .form-horizontal
                    .form-group{"ng-show" => "auction.auction_type == 'recording_publishing_rights'"}
                      .col-sm-3
                      .col-sm-6
                        .checkbox
                          %label
                            %input{type: "checkbox", "ng-model"=>"auction.recording_publishing_different_info"} Publishing Rights owner has different information
                          %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.publishingRightsOwnerHasDifferentInformation}}", "data-placement" =>"bottom-left"}
                    .form-group
                      %label.col-sm-3.control-label{for: "applicable-law-for-license"} Applicable Law for License
                      %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.applicableLaw}}", "data-placement" =>"bottom-left"}
                      .col-sm-6
                        %select#applicable-law-for-license.form-control{chosen: "", "ng-model" => "auction.applicable_law_for_license", "ng-options" => "item.id as item.name for item in countriesListSimple", "data-placeholder" => "Select a country", tabindex: 17}
                          %option{:value => ""}
                    .form-group
                      %label.col-sm-3.control-label{for: "place-of-court"} Place of Court
                      %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.placeOfCourt}}", "data-placement" =>"bottom-left"}
                      .col-sm-6
                        %input#place-of-court.form-control{placeholder: "Place of court", "ng-model" => "auction.place_of_court", type: "text", tabindex: 18}
          .panel-footer{style: "text-align:right"}
            %button.ladda-button{"ng-click" => "submit(newAuctionForm)", "ng-show" => "slide == 'auctionDescription'", "data-style" => "contract", "ladda-button" => "laddaLoading", "data-size" => "s", "data-color"=>"blue"}
              %span.ladda-label Next
            %button.ladda-button{"ng-click" => "updateAuction(newAuctionForm)", "ng-show" => "slide == 'auctionType'", "data-style" => "contract", "ladda-button" => "laddaLoading", "data-size" => "s", "data-color"=>"blue"}
              %span.ladda-label Next
            %button.ladda-button{"ng-click" => "goToEditAuctionPage()", "ng-show" => "slide == 'legal'", tabindex: 19, "data-style" => "contract", "ladda-button" => "laddaLoading", "data-size" => "s", "data-color"=>"blue"}
              %span.ladda-label Preview
