/ %iframe{src: "https://sandbox.bluesnap.com/jsp/buynow.jsp?contractId=2256813&overridePrice=2.00&bCur=USD&opp=6e627634d98deae864fc7544ff753482", width: "100%", frameborder: "0", scrolling: "no", height: "1050px"}
.auctions
	.payment
		.container
			.payment-form-container{"ng-hide" => "paymentSuccesful"}
				%h1 Payment
				.row
					.col-md-4.stripe-form-container
						%form{"stripe-form" => "handleStripe", name: "myForm"}
							.card-number-container
								%input.form-control{"ng-model" => "number", "payments-type-model" => "type", :type => "text", "payments-format" => "card", placeholder: "Card number"}
								.credit-cards-icons
									%img{src: "/assets/icons/credit-cards/all.png"}
							.expiry-cvc-container
								%label.expiry-date-label Expiration date
								%input.form-control.expiry-date{"ng-model" => "expiry", "payments-format" => "expiry", :type => "text", placeholder: "MM/YYYY"}
								%label.cvc-label Security code
								%input.form-control.cvc{"ng-model" => "cvc", "payments-type-model" => "type", :type => "text", placeholder: "CVC"}
								.cvc-icon-container
									%img{src: "/assets/icons/credit-cards/cvc_icon.png"}
							%button.btn.btn-primary.btn-large.pay{:type => "submit", "ng-disabled" => "processingOrder"} {{processingOrder ? 'Processing, please wait': 'Pay'}}
					.col-md-4.order-details-container
						%h3 Order details
						%p
							{{auction.name}} sold by
							%a{href: "{{'/' + auction.profile_owner.permalink}}"} {{auction.profile_owner.name}}
						%p
							%strong Genres:
							%span{"ng-repeat" => "genre in auction.genres"} {{genre.name}}{{$last ? '' : ', '}}
						%p
							%strong Territory:
							%span{"ng-repeat" => "country in auction.countries"} {{country.name}}{{$last ? '' : ', '}}
						.total-calculation-container
							.sub-total-container
								.title
									Sub Total
								.amount
									{{auction.total.sub_total | number:0}}
							.fee-container
								.title
									Transaction fee
								.amount
									{{auction.total.fee.credit_card | number:0}}
							.total-container
								.title
									Total
								.amount
									.span.currency USD$
									{{auction.total.sub_total + auction.total.fee.credit_card | number:0}}
					.col-md-4.songs-list-container
						%h3 Songs list
						%table.table.table-striped
							%tr{"ng-repeat" => "song in auction.auction_songs"}
								%td {{song.name}}
			.payment-succesful{"ng-show" => "paymentSuccesful"}
				%h3 Thank you for your payment. Please check your email for your receipt and next steps.

