.auctions
  .second-chance
    .container
      %loading-character{text:"Loading", size: "medium", "ng-show" => "isLoading"}
      %div{"ng-hide" => "isLoading"}
        .invitation-message{"ng-hide" => "second_chance.accepted || !second_chance.valid || second_chance.previously_accepted || second_chance.declined"}
          You were invited to a second chance to win the auction <strong>{{auction.name}}</strong> for an amount of {{auction.competitive_term == 'advance' ? 'US$' + (second_chance.amount | number:'2') : (second_chance.amount | number:'2') + '%'}}  
          %br
          %br
          %button.btn.btn-default.btn-lg{"ng-click" => "decline()"} Decline
          %button.btn.btn-primary.btn-lg{"ng-click" => "accept()"} Accept
        .accepted-message{"ng-show" => "second_chance.accepted"}
          Congratulations! You and the auction's owner now need to sign the contract. You will receive an email soon with the next steps.
        .declined-message{"ng-show" => "second_chance.declined"}
          Thanks for your participation in this auction.
        .was-accepted{"ng-show" => "second_chance.previously_accepted"}
          Seems like you already accepted this Second Chance Offer. Please check your e-mail for the next steps.
        .invalid-message{"ng-show" => "!second_chance.valid"}
          We are sorry, seems like this Second Chance Offer has expired or is invalid.
