.auctions
  .show
    .container
      %loading-character{text:"Loading", size: "medium", "ng-show" => "isLoading"}

      .row{"ng-hide" => "isLoading || !noLongerAvailable()"}
        .no-longer-available
          %h1
            This auction is no longer available.
      .row{"ng-hide" => "isLoading || noLongerAvailable()"}
        .col-md-4.left-pane{style: "position:relative"}
          .illustration-container
            .progress.progress-striped.active#upload-progress{"ng-show" => "uploadProgress > 0"}
              .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "{{uploadProgress}}", role: "progressbar", style: "width: {{uploadProgress}}%"}
                {{ uploadProgress < 98 ? 'Uploading ' + uploadProgress + '%' : 'Processing image, please wait'}}
            .illustration{"ng-style" => "{'background-image': getCoverPicture()}", "ng-class" => "{empty: auction.illustration.illustration.large.url == null}", "ng-if" => "auction.name"}
              .buttons-container
                .file-upload.btn.btn-primary.btn-xs#upload-customized-illustration-button{"ng-show" => "auction.is_owner && auction.status.raw == 'draft'"}
                  Change illustration
                  %input{"ng-file-select" => "onChangeIllustrationSelect($files)", type: "file"}
          .bids-info{"ng-if" => "auction.id", :sticky => ""}
            .content{"ng-show" => "(auction.can_bid || auction.is_owner) && (auction.status.raw == 'approved' || auction.status.code == 1)"}
              %table
                %tr
                  %td
                    .title
                      .amount{"ng-hide" => "auction.auction_type == 'recording_publishing_rights'"}
                        {{auction.bids.current.recording | number:auction.competitive_term == 'advance' ? '0':'2'}}
                      .amount{"ng-show" => "auction.auction_type == 'recording_publishing_rights'"}
                        {{auction.bids.current.recording + auction.bids.current.publishing | number:0}}
                    .sub-title
                      .symbol{"ng-hide" => "auction.auction_type == 'recording_publishing_rights'"}
                        {{auction.competitive_term == 'advance' ? 'USD$':'%'}}
                      .symbol{"ng-show" => "auction.auction_type == 'recording_publishing_rights'"}
                        USD$
                  %td
                    .title {{auction.bids.total}}
                    .sub-title
                      %ng-pluralize{:count => "auction.bids.total", :when => "{'0': 'bids', 'one': 'bid', 'other': 'bids'}"}
                  %td
                    .title
                      %a.higher-avatar-container{"ng-href" => "/{{auction.bids.higher.permalink}}"}
                        .avatar{"ng-style" => "{'background-image': 'url(' + auction.bids.higher.avatar.thumb + ')'}"}
                    .sub-title
                      %a{"ng-href" => "/{{auction.bids.higher.permalink}}"} {{auction.bids.higher.name}}
                %tr.bottom
                  %td {{auction.status.raw == 'ended' ? 'Final bid' : 'current bid'}}
                  %td Total bids
                  %td {{auction.status.raw == 'ended' ? 'Winner' : 'Highest bidder'}}
            .place-bid-container
              .request-invitation-container{"ng-show" => "(auction.bidder_status == 'guest' || auction.bidder_status == 'pending' || auction.bidder_status == 'rejected') && !auction.is_owner && (auction.status.raw == 'approved')"}
                / "ng-show" => "(auction.bidder_status == 'guest' || auction.bidder_status == 'pending' || auction.bidder_status == 'rejected') && !auction.is_owner && (auction.status.raw == 'approved' || auction.status.raw == 'ended')"
                .button-container
                  %a.btn.btn-primary.btn-lg{"ng-show" => "auction.bidder_status == 'guest'", "ng-href" => "#", "ng-click"=>"showRequestApprovalToBidModal()"} Request Approval to Bid
                  %a.btn.btn-primary.btn-lg{"ng-show" => "auction.bidder_status == 'pending' || auction.bidder_status == 'rejected'", "ng-href" => "#"} Pending
                .watchlist-container
                  %a.btn.btn-default.btn-lg.star{href: "#", "ng-click" => "watchlist()"}
                    %i.fa{"ng-class" => "{'fa-star-o': !auction.is_watching, 'fa-star': auction.is_watching}", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{auction.is_watching ? tooltip.isWatching:tooltip.isNotWatching}}", "data-placement" =>"bottom-left"}
              .is-the-owner{"ng-hide" => "!auction.is_owner || auction.status.raw != 'approved'"}
                %a.btn.btn-primary{href: "/pdfs/licenses/{{auction.id}}.pdf", target: "_blank"}
                  %span.glyphicon.glyphicon-erase{"aria-hidden"=>"true"}
                  %span.glyphicon-class Review Full License
                %a#share{"ng-href" => "#", "ng-click" => "showEmbedAuctionModal()"}
                  %i.fa.fa-share-square-o
              .is-not-owner{"ng-show" => "!auction.is_owner && auction.bidder_status == 'accepted' && auction.status.raw == 'approved'"}
                .button-container
                  %a.btn.btn-primary.btn-lg{"ng-href" => "#", "ng-click"=>"showPlaceBidModal()"} Place Bid
                .review-full-license-container{"data-type"=>"info", "data-title" => "{{tooltip.reviewFullContract}}", "data-placement" =>"bottom-left"}
                  %a.btn.btn-default.btn-lg.license{href: "/pdfs/licenses/{{auction.id}}.pdf", target: "_blank", "bs-tooltip" => ""}
                    %i.fa.fa-file-text-o{"bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.reviewFullLicense}}", "data-placement" =>"bottom-left"}
              .is-ended{"ng-show" => "auction.status.code == 1 || auction.status.code == 100"}
                .button-container
                  %a.btn.btn-default.btn-lg.ended-btn{"ng-show" => "auction.status.raw == 'ended'", "ng-href" => "#"} Ended
                  %a.btn.btn-default.btn-lg.ended-no-bids-btn{"ng-show" => "auction.status.raw == 'ended_no_bids'", "ng-href" => "#"} Ended no bids
                  %a.btn.btn-default.btn-lg.ended-no-bids-btn{"ng-show" => "auction.status.raw == 'ended_reserve_not_met'", "ng-href" => "#"} {{auction.is_owner ? 'Ended Reserve Not Met' : 'Ended'}}
                .watchlist-container
                  %a.btn.btn-default.btn-lg.star{href: "#", "ng-click" => "watchlist()"}
                    %i.fa{"ng-class" => "{'fa-star-o': !auction.is_watching, 'fa-star': auction.is_watching}", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{auction.is_watching ? tooltip.isWatching:tooltip.isNotWatching}}", "data-placement" =>"bottom-left"}
                %a.btn.btn-default.btn-lg.license{href: "/pdfs/licenses/{{auction.id}}.pdf", target: "_blank", "bs-tooltip" => ""}
                  %i.fa.fa-file-text-o{"bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.reviewFullLicense}}", "data-placement" =>"bottom-left"}
          .also-available-in{"ng-show" => "auction.related_countries.length > 0"}
            .title
              Also available for:
            %a.related_country.label.label-default{"ng-repeat" => "related_country in auction.related_countries|orderBy:'country_name':false", href: "/auctions/{{related_country.permalink}}"} {{related_country.country_name}}


        ////////// RIGHT PANE ////////////
        .col-md-8.right-pane
          .validations-container.alert.alert-danger{role: "alert", "ng-show" => "auction.need_outbid && auction.can_bid && !auction.is_owner && auction.status.raw == 'approved'"}
            Someone bid more than you, you need to bid more to keep your paricipation in this auction.
            %a{"ng-href" => "#", "ng-click"=>"showPlaceBidModal()"} Bid now
          .validations-container.alert.alert-warning{role: "alert", "ng-show" => "auction.is_owner && auction.status.raw == 'published'"}
            Your auction was published and is in now in the approval process. You will receive an email when your auction has been approved.
          .tabs-container{:role => "tabpanel", "ng-show" => "auction.can_bid || auction.is_owner"}
            / Nav tabs
            %ul.nav.nav-tabs{:role => "tablist", "ng-show" => "auction.status.raw != 'draft'"}
              %li{"ng-class" => "{'active': tabs.activeTab == 0}", :role => "presentation"}
                %a{"aria-controls" => "details", "data-toggle" => "tab", :href => "#", "ng-click" => "tabs.activeTab = 0", :role => "tab"} Details
              %li{"ng-class" => "{'active': tabs.activeTab == 1}", :role => "presentation"}
                %a{"aria-controls" => "bids", "data-toggle" => "tab", :href => "#", "ng-click" => "tabs.activeTab = 1", :role => "tab"} Bids
          .auction-tab-details-container{"ng-show" => "tabs.activeTab == 0"}
            .validations-container.alert{"ng-class" => "{'alert-warning': canPublish(), 'alert-info': !canPublish()}", role: "warning", "ng-show" => "auction.is_owner && auction.status.raw == 'draft'"}
              .validation-messages{"ng-hide" => "!canPublish()"}
                %h4 In order to make your auction public, you should complete the following requirements:
                %ul
                  %li{"ng-repeat"=>"validation in auction.validations"}
                    {{validation}}
                %br
              .publishing-buttons-container{"ng-hide" => "publishingLoading"}
                %button.btn.btn-primary{"ng-click" => "publish()", "ng-disabled" => "canPublish()"} Publish
                .checkbox{style: "display: inline-block; margin-left: 10px;"}
                  %label
                    %input{type: "checkbox", "ng-model"=>"agree_terms_and_conditions", "ng-disabled" => "canPublish()"} I agree to the <a href="http://support.tuneteams.com/hc/en-us/articles/206250667-Terms-of-Use-Agreement" target= "_blank">Terms & Conditions</a>
              .publishing-loading-container{"ng-show" => "publishingLoading"}
                %img{src: "/assets/spinner.gif"}
                Publishing your auction. This could take a minute or two.
            %h1.title
              .auction-name-container{"ng-hide" => "isEditingName"}
                {{auction.name}}
                %a.edit-widget-button.btn.btn-primary.btn-xs#edit-name-button{href: "#", "ng-click" => "isEditingName = true", "ng-hide" => "isEditingName || !auction.is_owner || auction.status.raw != 'draft'", "ng-show" => "(auction.is_admin && auction.status.raw == 'published')", title: "Edit auction name"} Edit
              .auction-name-edit-container{"ng-show" => "isEditingName == true"}
                %input.form-control.input-lg{placeholder: "Auction name", "ng-model" => "auction.name"}
                %button.btn.btn-primary{"ng-click" => "updateName();", "ng-disabled" => "false"} Ok
            by
            %a{href: "{{'/' + auction.profile_owner.permalink}}"} {{auction.profile_owner.name}}
            .description
              .auction-description-container{"ng-hide" => "isEditingDescription"}
                .text{"ng-cloak" => "", "ng-class" => "{true: 'none', false: descriptionTextHight}[auction.is_owner || auction.is_admin]"}
                  {{auction.description}}
                .see-more{"ng-click" => "descriptionTextHight = 'more'", "ng-show" => "descriptionTextHight == 'less' && !(auction.is_owner || auction.is_admin)"}
                  See More
                .see-less{"ng-click" => "descriptionTextHight = 'less'", "ng-show" => "descriptionTextHight == 'more' && !(auction.is_owner || auction.is_admin)"}
                  See Less
                %a.edit-widget-button.btn.btn-primary.btn-xs#edit-description-button{href: "#", "ng-click" => "isEditingDescription = true", "ng-hide" => "isEditingDescription || !auction.is_owner || auction.status.raw != 'draft'", "ng-show" => "(auction.is_admin && auction.status.raw == 'published')", title: "Edit auction description"} Edit
              .auction-description-edit-container{"ng-show" => "isEditingDescription == true"}
                %textarea.form-control.input-lg{placeholder: "Auction description", "ng-model" => "auction.description"}
                %button.btn.btn-primary{"ng-click" => "updateDescription();", "ng-disabled" => "false"} Ok
            .sections-container
              .about-this-bid
                .title
                  About this Auction
                  %a.edit-widget-button.btn.btn-primary.btn-xs#edit-territory-button{href: "#", "ng-click" => "isEditingDetails = true", "ng-hide" => "isEditingDetails || !auction.is_owner || auction.status.raw != 'draft'", title: "Edit the main details of your auction"} Edit
                .details
                  .auction-main-details-container{"ng-hide" => "isEditingDetails"}
                    .auction-main-details
                      .time-remaining-container{"ng-show" => "auction.status.raw == 'approved'"}
                        / {{auction.status.raw}}
                        Time remaining:
                        / {{auction.due_date.stamp}}
                        %timer#time-remaining{"end-time" => "lol", interval: 1000, language: "en", "finish-callback" => "timeFinished()", autostart:"false"} {{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.
                      %br
                      %p
                        %strong Rights:
                        {{auction.auction_type_name}}
                        %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.rights}}", "data-placement" =>"bottom-left"}
                      %p
                        %strong Competitive Term:
                        {{auction.auction_type == 'recording_publishing_rights' ? 'Advance' : auction.competitive_term_name}}
                        %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.competitiveTerm}}", "data-placement" =>"bottom-left"}
                      %div{"ng-show" => "auction.competitive_term == 'advance'"}
                        .reserve{"ng-show" => "auction.is_owner || auction.is_admin"}
                          .detail-title
                            %strong Reserve:
                          .private-data
                            {{auction.reserve_on_competitive_term | currency:"USD$":0}}
                            %i.fa.fa-lock{"bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.infoIsHidden}}", "data-placement" =>"bottom-left"}
                          .public-data{"ng-hide" => "auction.show_private_info || auction.is_owner || auction.is_admin || auction.bidder_status == 'accepted'"}
                            Viewable to Approved Bidders Only
                          %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.reserve}}", "data-placement" =>"bottom-left"}
                          .reserve_not_met{{"ng-show" => "!auction.reserve_was_met"}}
                            Reserve not met
                          .reserve_met{{"ng-show" => "auction.reserve_was_met"}}
                            Reserve was met

                        %p
                          .detail-title
                            %strong Required:
                          .private-data{"ng-show" => "auction.show_private_info || auction.is_owner || auction.is_admin || auction.bidder_status == 'accepted'"}
                            {{auction.required_advance_or_royalty_rate}}% Royalty
                            %i.fa.fa-lock{"ng-show" => "!auction.show_private_info", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.infoIsPrivate}}", "data-placement" =>"bottom-left"}
                          .public-data{"ng-hide" => "auction.show_private_info || auction.is_owner || auction.is_admin || auction.bidder_status == 'accepted'"}
                            Viewable to Approved Bidders Only
                          %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.required}}", "data-placement" =>"bottom-left"}
                      %div{"ng-show" => "auction.competitive_term == 'royalty_rate'"}
                        .reserve{"ng-show" => "auction.is_owner || auction.is_admin"}
                          .detail-title
                            %strong Reserve:
                          .private-data
                            {{auction.reserve_on_competitive_term}}% Royalty
                            %i.fa.fa-lock{"bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.infoIsHidden}}", "data-placement" =>"bottom-left"}
                          .public-data{"ng-hide" => "auction.show_private_info || auction.is_owner || auction.is_admin || auction.bidder_status == 'accepted'"}
                            Viewable to Approved Bidders Only
                          %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.reserve}}", "data-placement" =>"bottom-left"}
                        %p
                          .detail-title
                            %strong Required:
                          .private-data{"ng-show" => "auction.show_private_info || auction.is_owner || auction.is_admin || auction.bidder_status == 'accepted'"}
                            {{auction.required_advance_or_royalty_rate | currency:"USD$":0}}
                            %i.fa.fa-lock{"ng-show" => "!auction.show_private_info", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.infoIsPrivate}}", "data-placement" =>"bottom-left"}
                          .public-data{"ng-hide" => "auction.show_private_info || auction.is_owner || auction.is_admin || auction.bidder_status == 'accepted'"}
                            Viewable to Approved Bidders Only
                          %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.required}}", "data-placement" =>"bottom-left"}
                      %div{"ng-show" => "auction.auction_type == 'recording_publishing_rights'"}
                        .reserve{"ng-show" => "auction.is_owner || auction.is_admin"}
                          .detail-title
                            %strong Reserve:
                          .private-data
                            {{auction.reserve_on_competitive_term | currency:"USD$":0}} for Recording, {{auction.reserve_on_competitive_term_publishing | currency:"USD$":0}} for publishing
                            %i.fa.fa-lock{"bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.infoIsHidden}}", "data-placement" =>"bottom-left"}
                          .public-data{"ng-hide" => "auction.show_private_info || auction.is_owner || auction.is_admin || auction.bidder_status == 'accepted'"}
                            Viewable to Approved Bidders Only
                          %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.reserve}}", "data-placement" =>"bottom-left"}
                        %p
                          .detail-title
                            %strong Required:
                          .private-data{"ng-show" => "auction.show_private_info || auction.is_owner || auction.is_admin || auction.bidder_status == 'accepted'"}
                            {{auction.required_advance_or_royalty_rate}}% for Recording, {{auction.required_advance_or_royalty_rate_publishing}}% for Publishing
                            %i.fa.fa-lock{"ng-show" => "!auction.show_private_info", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.infoIsPrivate}}", "data-placement" =>"bottom-left"}
                          .public-data{"ng-hide" => "auction.show_private_info || auction.is_owner || auction.is_admin || auction.bidder_status == 'accepted'"}
                            Viewable to Approved Bidders Only
                          %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.required}}", "data-placement" =>"bottom-left"}
                      %div
                        %div{"ng-show" => "auction.recording_term == 'full_copyright_period_under_local_law' && (auction.auction_type == 'recording_publishing_rights' || auction.auction_type == 'recording_rights')"}
                          %p
                            .detail-title
                              %strong Recording Length:
                            .private-data{"ng-show" => "auction.show_private_info || auction.is_owner || auction.is_admin || auction.bidder_status == 'accepted'"}
                              Full Copyright Period Under Local Law
                              %i.fa.fa-lock{"ng-show" => "!auction.show_private_info", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.infoIsPrivate}}", "data-placement" =>"bottom-left"}
                            .public-data{"ng-hide" => "auction.show_private_info || auction.is_owner || auction.is_admin || auction.bidder_status == 'accepted'"}
                              Viewable to Approved Bidders Only
                            %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.recordingLength}}", "data-placement" =>"bottom-left"}
                        %div{"ng-show" => "auction.recording_term != 'full_copyright_period_under_local_law' && (auction.auction_type == 'recording_publishing_rights' || auction.auction_type == 'recording_rights')"}
                          %p
                            .detail-title
                              %strong Recording Length:
                            .private-data{"ng-show" => "auction.show_private_info || auction.is_owner || auction.is_admin || auction.bidder_status == 'accepted'"}
                              {{auction.recording_term}} years
                              %i.fa.fa-lock{"ng-show" => "!auction.show_private_info", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.infoIsPrivate}}", "data-placement" =>"bottom-left"}
                            .public-data{"ng-hide" => "auction.show_private_info || auction.is_owner || auction.is_admin || auction.bidder_status == 'accepted'"}
                              Viewable to Approved Bidders Only
                            %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.recordingLength}}", "data-placement" =>"bottom-left"}
                        %div{"ng-show" => "auction.publishing_term == 'full_copyright_period_under_local_law' && (auction.auction_type == 'recording_publishing_rights' || auction.auction_type == 'publishing_rights' || auction.auction_type == 'sub_publishing_rights')"}
                          %p
                            .detail-title
                              %strong Publishing Length:
                            .private-data{"ng-show" => "auction.show_private_info || auction.is_owner || auction.is_admin || auction.bidder_status == 'accepted'"}
                              Full Copyright Period Under Local Law
                              %i.fa.fa-lock{"ng-show" => "!auction.show_private_info", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.infoIsPrivate}}", "data-placement" =>"bottom-left"}
                            .public-data{"ng-hide" => "auction.show_private_info || auction.is_owner || auction.is_admin || auction.bidder_status == 'accepted'"}
                              Viewable to Approved Bidders Only
                            %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.publishingLength}}", "data-placement" =>"bottom-left"}
                        %div{"ng-show" => "auction.publishing_term != 'full_copyright_period_under_local_law' && (auction.auction_type == 'recording_publishing_rights' || auction.auction_type == 'publishing_rights' || auction.auction_type == 'sub_publishing_rights')"}
                          %p
                            .detail-title
                              %strong Publishing Length:
                            .private-data{"ng-show" => "auction.show_private_info || auction.is_owner || auction.is_admin || auction.bidder_status == 'accepted'"}
                              {{auction.publishing_term}} years
                              %i.fa.fa-lock{"ng-show" => "!auction.show_private_info", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.infoIsPrivate}}", "data-placement" =>"bottom-left"}
                            .public-data{"ng-hide" => "auction.show_private_info || auction.is_owner || auction.is_admin || auction.bidder_status == 'accepted'"}
                              Viewable to Approved Bidders Only
                            %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.publishingLength}}", "data-placement" =>"bottom-left"}
                  .edit-auction-main-details-container{"ng-show" => "isEditingDetails"}
                    // INIT AUCTION MAIN DETAILS EDITING
                    %form{role: "form", name: "auctionForm"}
                      .form-group{"ng-class" => "{'has-error': auctionForm.auctionType.$error.required && showErrorFields}"}
                        %label.control-label.required{for: "auction-type"} Auction Type
                        %select#competitive-term.form-control{"ng-model" => "auction.auction_type", name: "auctionType", "ng-required" => true}
                          %option{value: "recording_rights"} Recording Rights
                          %option{value: "publishing_rights"} Publishing Rights
                          %option{value: "sub_publishing_rights"} Sub Publishing Rights
                          %option{value: "recording_publishing_rights"} Recording & Publishing Rights
                        %span.help-block{"ng-show" => "auctionForm.auctionType.$error.required && showErrorFields"} Select an Auction Type
                      .form-group{"ng-class" => "{'has-error': auctionForm.publishingAgreementType.$error.required && showErrorFields}", "ng-show" => "auction.auction_type != undefined && auction.auction_type == 'recording_publishing_rights'"}
                        %label.control-label.required{for: "publishing-agreement-type"} Publishing Agreement Type
                        %img{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.publishingAgreementType}}", "data-placement" =>"bottom-left"}
                        %select#publishing-agreement-type.form-control{"ng-model" => "auction.publishing_agreement_type", name: "publishingAgreementType", "ng-required" => "slide == 'auctionType' && auction.auction_type == 'recording_publishing_rights'"}
                          %option{value: "publishing"} Publishing Agreement
                          %option{value: "sub_publishing"} Sub-Publishing Agreement
                        %span.help-block{"ng-show" => "auctionForm.publishingAgreementType.$error.required && showErrorFields"} Select a Publishing Agreement Type
                      .form-group{"ng-class" => "{'has-error': auctionForm.competitiveTerm.$error.required && showErrorFields}", "ng-show" => "auction.auction_type != 'recording_publishing_rights' && auction.auction_type != undefined"}
                        %label.control-label.required{for: "competitive-term"} Competitive Term
                        %img{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.competitiveTerm}}", "data-placement" =>"bottom-left"}
                        %select#competitive-term.form-control{"ng-model" => "auction.competitive_term", name: "competitiveTerm", "ng-required" => "slide == 'auctionType' && auction.auction_type != 'recording_publishing_rights'"}
                          %option{value: "advance"} Advance
                          %option{value: "royalty_rate"} Royalty rate
                        %span.help-block{"ng-show" => "auctionForm.competitiveTerm.$error.required && showErrorFields"} Select a Competitive Term
                      .row
                        .col-md-6
                          .reserve-on-competitive-term-container
                            .reserve-on-competitive-term-container{"ng-show" => "auction.competitive_term != undefined && auction.auction_type != 'recording_publishing_rights'"}
                              .form-group{"ng-class" => "{'has-error': (auctionForm.reserveOnCompetitiveTerm.$error.minimumReserve || auctionForm.reserveOnCompetitiveTerm.$error.maximumReserve || auctionForm.reserveOnCompetitiveTerm.$error.minimumReserveZero)}"}
                                %label.control-label{for: "reserve-on-competitive-term"} Reserve on Competitive Term
                                .input-group{"ng-class" => "{'is_number': auction.competitive_term == 'advance', 'is_percentage': auction.competitive_term == 'royalty_rate'}"}
                                  %span#basic-addon3.input-group-addon{"ng-show" => "auction.competitive_term == 'advance'"} USD$
                                  %input#reserve-on-competitive-term.form-control{placeholder: "0.00", "ng-model" => "auction.reserve_on_competitive_term", "aria-describedby"=>"basic-addon3", "reserve-amount" => "", name: "reserveOnCompetitiveTerm", "competitive-term" => "{{auction.competitive_term}}"}
                                  %span#basic-addon3.input-group-addon{"ng-show" => "auction.competitive_term == 'royalty_rate'"} %

                                %span.help-block{"ng-show" => "auctionForm.reserveOnCompetitiveTerm.$error.minimumReserveZero"}  Percentage is greater than 0
                                %span.help-block{"ng-show" => "auctionForm.reserveOnCompetitiveTerm.$error.minimumReserve"} Minimum amount is US$ 250
                                %span.help-block{"ng-show" => "auctionForm.reserveOnCompetitiveTerm.$error.maximumReserve"} Maximum percentage is 99.99%
                            .reserve-on-competitive-term-container_recording_publishing{"ng-show" => "auction.auction_type == 'recording_publishing_rights'"}
                              .form-group{"ng-class" => "{'has-error': (auctionForm.reserveOnCompetitiveTermForRecording.$error.minimumReserve)}"}
                                %label.control-label{for: "reserve-on-competitive-term-for-recording"}Reserve on Competitive Term for Recording
                                .input-group{style: "width:125px"}
                                  %span#basic-addon3.input-group-addon USD$
                                  %input#reserve-on-competitive-term-for-recording.form-control{placeholder: "0.00", "ng-model" => "auction.reserve_on_competitive_term", "reserve-amount" => "", name: "reserveOnCompetitiveTermForRecording", "aria-describedby"=>"basic-addon3"}
                                %span.help-block{"ng-show" => "auctionForm.reserveOnCompetitiveTermForRecording.$error.minimumReserve"} Minimum amount is US$250
                              .form-group{"ng-class" => "{'has-error': (auctionForm.reserveOnCompetitiveTermForPublishing.$error.minimumReserve)}"}
                                %label.control-label{for: "reserve-on-competitive-term-for-publishing"} Reserve on Competitive Term for Publishing
                                .input-group{style: "width:125px"}
                                  %span#basic-addon3.input-group-addon USD$
                                  %input#advance-amount.form-control{placeholder: "0.00", "ng-model" => "auction.reserve_on_competitive_term_publishing", "reserve-amount" => "", name: "reserveOnCompetitiveTermForPublishing", "aria-describedby"=>"basic-addon3", "ng-if" => "auction.auction_type == 'recording_publishing_rights'"}
                                %span.help-block{"ng-show" => "auctionForm.reserveOnCompetitiveTermForPublishing.$error.minimumReserve"} Minimum amount is US$250
                          .required-advance-or-royalty-rate-container
                            .required-advance-or-royalty-rate-general-container{"ng-show" => "auction.competitive_term != undefined && auction.auction_type != 'recording_publishing_rights'"}
                              .form-group{"ng-class" => "{'has-error': (auctionForm.requiredAdvanceOrRoyaltyRate.$error.minimumAdvance || auctionForm.requiredAdvanceOrRoyaltyRate.$error.maximumAdvance)}"}
                                %label.control-label{for: "required-advance-or-royalty-rate"} Required Advance or Royalty Rate (non-Competitive Term)
                                .input-group{"ng-class" => "{'is_percentage': auction.competitive_term == 'advance', 'is_number': auction.competitive_term == 'royalty_rate'}"}
                                  %span#basic-addon3.input-group-addon{"ng-show" => "auction.competitive_term == 'royalty_rate'"} USD$
                                  %input#required-advance-or-royalty-rate.form-control{placeholder: "0.00", name: "requiredAdvanceOrRoyaltyRate", "ng-model" => "auction.required_advance_or_royalty_rate", "aria-describedby"=>"basic-addon3", "advance-amount" => ""}
                                  %span#basic-addon3.input-group-addon{"ng-show" => "auction.competitive_term == 'advance'"} %
                                %span.help-block{"ng-show" => "auctionForm.requiredAdvanceOrRoyaltyRate.$error.minimumAdvance"} Minimum amount is US$ 250
                                %span.help-block{"ng-show" => "auctionForm.requiredAdvanceOrRoyaltyRate.$error.maximumAdvance"} Maximum percentage is 99.99%
                            .required-advance-or-royalty-rate-container-recording-container{"ng-show" => "auction.auction_type == 'recording_publishing_rights'"}
                              .form-group{"ng-class" => "{'has-error': (auctionForm.requiredAdvanceOrRoyaltyRateForRecording.$error.maximumAdvance || auctionForm.requiredAdvanceOrRoyaltyRateForRecording.$error.minimumAdvanceZero)}"}
                                %label.control-label{for: "required-advance-or-royalty-rate-recording"} Required  Advance or Royalty Rate (non-Competitive Term) for Recording
                                .input-group{style: "width:89px"}
                                  %input#required-advance-or-royalty-rate-recording.form-control{placeholder: "0.00", "ng-model" => "auction.required_advance_or_royalty_rate", "aria-describedby"=>"basic-addon3", name: "requiredAdvanceOrRoyaltyRateForRecording", "advance-amount" => ""}
                                  %span#basic-addon3.input-group-addon %
                                %span.help-block{"ng-show" => "auctionForm.requiredAdvanceOrRoyaltyRateForRecording.$error.minimumAdvanceZero"}  Percentage is greater than 0
                                %span.help-block{"ng-show" => "auctionForm.requiredAdvanceOrRoyaltyRateForRecording.$error.maximumAdvance"} Maximum percentage is 99.99%
                            .required-advance-or-royalty-rate-container-publishing-container{"ng-show" => "auction.auction_type == 'recording_publishing_rights'"}
                              .form-group{"ng-class" => "{'has-error': (auctionForm.requiredAdvanceOrRoyaltyRateForPublishing.$error.maximumAdvance || auctionForm.requiredAdvanceOrRoyaltyRateForPublishing.$error.minimumAdvanceZero)}"}
                                %label.control-label{for: "required-advance-or-royalty-rate-publishing"} Required Advance or Royalty Rate (non-Competitive Term) for Publishing
                                .input-group{style: "width:89px"}
                                  %input#required-advance-or-royalty-rate-publishing.form-control{placeholder: "0.00", "ng-model" => "auction.required_advance_or_royalty_rate_publishing", "aria-describedby"=>"basic-addon3", name: "requiredAdvanceOrRoyaltyRateForPublishing", "advance-amount" => "", "ng-if" => "auction.auction_type == 'recording_publishing_rights'"}
                                  %span#basic-addon3.input-group-addon %
                                %span.help-block{"ng-show" => "auctionForm.requiredAdvanceOrRoyaltyRateForPublishing.$error.minimumAdvanceZero"}  Percentage is greater than 0
                                %span.help-block{"ng-show" => "auctionForm.requiredAdvanceOrRoyaltyRateForPublishing.$error.maximumAdvance"} Maximum percentage is 99.99%
                        .col-md-6
                          .show-private-info-switch-container
                            %toggle-switch.switch-small{"model" => "auction.show_private_info", "on-label" => "public", "off-label" => "private"}
                            %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.showPrivateInfo}}", "data-placement" =>"bottom-left"}
                      .form-group{"ng-class" => "{'has-error': auctionForm.auctionLength.$error.required && showErrorFields}"}
                        %label.control-label.required{for: "auction-length"} Auction Length
                        %img{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.auctionLength}}", "data-placement" =>"bottom-left"}
                        %select#auction-length.form-control{"ng-model" => "auction.auction_length", name: "auctionLength", "ng-required" => "slide == 'auctionType'"}
                          %option{value: "7"} 7 days
                          %option{value: "14"} 14 days
                          %option{value: "30"} 30 days
                        %span.help-block{"ng-show" => "auctionForm.auctionLength.$error.required && showErrorFields"} Select a length
                      / .form-group.recording-term-container{"ng-class" => "{'has-error': auctionForm.term.$error.required && showErrorFields}", "ng-show" => "auction.auction_type != undefined"}
                      /   %label.control-label.required{for: "term"} Recording Term
                      /   %img{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.term}}", "data-placement" =>"bottom-left"}
                      /   .slider-container{"ng-show" => "auction.auction_type != 'publishing_rights'", "ng-if" => "auction.name"}
                      /     %input#recording-term{"ng-model" => "auction.recording_term", :options => "options", :slider => "", :type => "text"}
                      .form-group.recording-term-container{"ng-class" => "{'has-error': newAuctionForm.term.$error.required && showErrorFields}", "ng-show" => "(auction.competitive_term != undefined || auction.publishing_agreement_type != undefined) && auction.auction_type != 'sub_publishing_rights'"}
                        %label.control-label.required{for: "term"} {{ auction.auction_type == 'publishing_rights' ? 'Publishing' : 'Recording'}} Term
                        %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.term}}", "data-placement" =>"bottom-left"}
                        .slider-container{"ng-show" => "auction.auction_type != 'publishing_rights'"}
                          %input#recording-term{"ng-model" => "auction.recording_term", :options => "options", :slider => "", :type => "text", "ng-if" => "auction.id"}
                        %select.form-control{"ng-model" => "auction.publishing_term", "ng-show" => "auction.auction_type == 'publishing_rights'"}
                          %option{value: "10"} 10 years
                          %option{value: "full_copyright_period_under_local_law"} Full copyright period under local law
                      .form-group.publishing-term-container{"ng-class" => "{'has-error': newAuctionForm.term.$error.required && showErrorFields}", "ng-show" => "(auction.auction_type == 'recording_publishing_rights' && auction.publishing_agreement_type != undefined) || auction.auction_type == 'sub_publishing_rights' && auction.auction_type != undefined"}
                        %label.control-label.required{for: "term"} Publishing Term
                        %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.term}}", "data-placement" =>"bottom-left"}
                        .slider-container{"ng-show" => "auction.publishing_agreement_type == 'sub_publishing' || auction.auction_type == 'sub_publishing_rights'"}
                          %input#publishing-term{"ng-model" => "auction.publishing_term", :options => "options", :slider => "", :type => "text", "ng-if" => "auction.id"}
                        %select.form-control{"ng-model" => "auction.publishing_term", "ng-show" => "auction.publishing_agreement_type == 'publishing'"}
                          %option{value: "10"} 10 years
                          %option{value: "full_copyright_period_under_local_law"} Full copyright period under local law
                      %button.btn.btn-primary{"ng-click" => "updateMainDetails(auctionForm)", "ng-disabled" => "false"} Ok
              .row
                .territory.col-md-6
                  .title
                    territory
                    %a.edit-widget-button.btn.btn-primary.btn-xs#edit-territory-button{href: "#", "ng-click" => "isEditingTerritory = true", "ng-hide" => "isEditingTerritory || !auction.is_owner || auction.status.raw != 'draft'", title: "Edit the countries of your music rights"} Edit
                  .details
                    .countries-container{"ng-hide" => "isEditingTerritory"}
                      %span.label.label-default{"ng-repeat"=>"country in auction.countries"} {{country.name}}
                    .edit-countries-container{"ng-show" => "isEditingTerritory"}
                      %select.form-control{chosen: "", multiple: "", "ng-model" => "auction.country_ids", "ng-options" => "item.id as item.name for item in countriesList", "data-placeholder" => "Choose your countries"}
                      %button.btn.btn-primary{"ng-click" => "updateTerritory();", "ng-disabled" => "false"} Ok
                .genres.col-md-6
                  .title
                    Genres
                    %a.edit-widget-button.btn.btn-primary.btn-xs#edit-genres-button{href: "#", "ng-click" => "isEditingGenre = true", "ng-hide" => "isEditingGenre || !auction.is_owner || auction.status.raw != 'draft'", title: "Edit the countries of your music rights"} Edit
                  .details
                    .genres-container{"ng-hide" => "isEditingGenre"}
                      %span.label.label-default{"ng-repeat"=>"genre in auction.genres"} {{genre.name}}
                    .edit-genres-container{"ng-show" => "isEditingGenre"}
                      %select.form-control{chosen: "", multiple: "", "ng-model" => "auction.genre_ids", "ng-options" => "item.id as item.name for item in genresList", "data-placeholder" => "Please select the genres you work with from the pull-down menu.", required: ""}
                      %button.btn.btn-primary{"ng-click" => "updateGenre();", "ng-disabled" => "false"} Ok
              .songs-and-rights
                .title
                  Songs and Rights
                  %a.edit-widget-button.btn.btn-primary.btn-xs#edit-songs-button{href: "#", "ng-click" => "isEditingSongs = true", "ng-hide" => "isEditingSongs || !auction.is_owner || auction.status.raw != 'draft'", title: "Add or edit "} {{editSongsButtonText()}}
                .details
                  .songs-container{"ng-hide" => "isEditingSongs"}
                    .song{"ng-repeat"=>"song in auction.auction_songs track by $index"}
                      .controls-container
                        .loading-song-container{"ng-show" => "loaded == 0 && loadedId == song.id"}
                          %img{src:"/assets/spinner-loading-song.gif"}
                          Loading
                        .control-button.start-play{"add-song" => "song", "music-player" => "play", "ng-hide" => "(isPlaying && currentPlaying.id == song.id) || (currentPlaying.id == song.id && loaded == 0) || (currentPlaying.id == song.id && isPlaying && loaded > 0)"}
                        .control-button.pause{"pause-music" => "", "ng-show" => "(isPlaying && currentPlaying.id == song.id && loaded > 0)"}
                      .details-container
                        .name{"ng-class" => "{'recording-rights': auction.auction_type == 'recording_rights'}"}
                          {{song.name}}
                        .writers{"ng-show" => "auction.auction_type != 'recording_rights'"}
                          <strong>Writer(s): </strong>
                          {{song.writer}}
                        .publisher-container{"ng-show" => "auction.auction_type == 'sub_publishing_rights' || auction.publishing_agreement_type == 'sub_publishing'"}
                          <strong>Publisher(s): </strong>
                          {{song.publisher}}
                        .percentange-controlled{"ng-hide" => "auction.auction_type == 'recording_rights'"}
                          <strong>% Controlled: </strong>
                          {{song.publishing_rights}}
                        %sound-manager
                        .seek-container{"ng-show" => "currentPlaying.id == song.id"}
                          .progress-container
                            .seek-base{"seek-track" => ""}
                              .seek-progress{"ng-style" => "{width : ( progress + '%' ) }"}
                              .seek-load{"ng-style" => "{width : ( loaded + '%' ) }"}
                          .time-container
                            {{ currentPostion }} / {{ currentDuration }}
                  .edit-songs-container{"ng-show" => "isEditingSongs"}
                    %button.btn.btn-default.btn-sm{"ng-click" => "addSong()", "ng-disabled" => "uploadSongProgress > 0"} Add Song
                    &nbsp;
                    %a{"ng-href" => "#", "ng-click" => "isEditingSongs = false", "ng-show" => "auction.auction_songs.length == 0"} Cancel
                    %form{name: "auctionSongsForm", :novalidate => ""}
                      .song{"ng-repeat"=>"song in auction.auction_songs"}
                        %ng-form{name:"userFieldForm"}
                          .name
                            .title
                              Song Name
                            .info
                              .form-group{"ng-class" => "{ 'has-error' : userFieldForm.songName.$error.required && showEditingSongsErrors}"}
                                %input#song-name.form-control{placeholder: "Song name", "ng-model" => "song.name", type: "text", "ng-blur" => "updateSongs(song)", name: "songName", tabindex: $index, required: ""}
                                %span.help-block{"ng-show" => "userFieldForm.songName.$error.required && showEditingSongsErrors"} Enter a song name
                            .delete
                              .buttons-container
                                %button.btn.btn-danger.btn-xs{"ng-click" => "removeSong($index)", "ng-disabled" => "uploadSongProgress > 0"} remove
                          .writer{"ng-show" => "auction.auction_type != 'recording_rights'"}
                            .title
                              Writer(s)
                            .info
                              .form-group{"ng-class" => "{ 'has-error' : userFieldForm.writerName.$error.required && showEditingSongsErrors}"}
                                %input#song-writer.form-control{placeholder: "Writer name. If there are more than one, separate names with commas.", "ng-model" => "song.writer", type: "text", "ng-blur" => "updateSongs(song)", tabindex: 2, name: "writerName", "ng-required" => "auction.auction_type != 'recording_rights'"}
                                %span.help-block{"ng-show" => "userFieldForm.writerName.$error.required && showEditingSongsErrors"} Enter a writer name
                          .publisher{"ng-show" => "auction.auction_type == 'sub_publishing_rights' || auction.publishing_agreement_type == 'sub_publishing'"}
                            .title
                              Publisher(s)
                            .info
                              %input#song-publisher.form-control{placeholder: "Publisher name. If there are more than one, separate names with commas.", "ng-model" => "song.publisher", tabindex: 3, type: "text", "ng-blur" => "updateSongs(song)"}
                          .percentage{"ng-hide" => "auction.auction_type == 'recording_rights'"}
                            .title.percentage
                              Percentage controlled
                            .info
                              .form-group{"ng-class" => "{ 'has-error' : (userFieldForm.percentageControlled.$error.required || !userFieldForm.percentageControlled.$valid) && showEditingSongsErrors}"}
                                %input#publishing-rights.form-control{placeholder: "Percentage controlled", "ng-model" => "song.publishing_rights", type: "number", "ng-blur" => "updateSongs(song)", tabindex: 4, name: "percentageControlled", min: "1", max: "100", "is-number"=>"", "ng-required" => "auction.auction_type == 'publishing_rights' || (auction.auction_type == 'recording_publishing_rights')"}
                                %span.help-block{"ng-show" => "userFieldForm.percentageControlled.$error.required && showEditingSongsErrors"} Enter a value
                                %span.help-block{"ng-show" => "!userFieldForm.percentageControlled.$valid && showEditingSongsErrors"} You must enter a value greater than 0% (zero percent)
                          .upload
                            .title
                            .info
                              .file-upload.btn.btn-primary.btn-xs#upload-customized-illustration-button{"ng-hide" => "uploadSongProgress > 0", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.uploadSample}}", "data-placement" =>"bottom-left"}
                                upload sample
                                %input{"ng-file-select" => "onChangeAudioSelect($files, song)", type: "file"}
                              .progress.progress-striped.active#upload-progress{"ng-show" => "uploadSongProgress > 0 && currentUploadingSong == song"}
                                .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "{{uploadSongProgress}}", role: "progressbar", style: "width: {{uploadSongProgress}}%"}
                                  {{ uploadSongProgress < 98 ? 'Uploading ' + uploadSongProgress + '%' : 'Processing, please wait'}}
                              %div{"ng-show" => "lastUploadedSong == song.id"} Upload done

                    %button.btn.btn-primary{"ng-click" => "closeUpdateSongs(auctionSongsForm);", "ng-disabled" => "uploadSongProgress > 0", "ng-hide" => "auction.auction_songs.length == 0"} Ok
              .social-networks-container
                .title
                  Social stats
                  %a.edit-widget-button.btn.btn-primary.btn-xs#edit-territory-button{href: "#", "ng-click" => "isEditingSocialNetwork = true", "ng-hide" => "isEditingSocialNetwork || !auction.is_owner", "ng-show" => "auction.is_admin", title: "Edit social networks"} Edit
                .details.social-metrics{"ng-hide" => "isEditingSocialNetwork == true"}
                  .row
                    .col-md-6.metrics-content{"ng-show" => "auction.spotify_monthly_listeners"}
                      %h3
                        {{auction.spotify_monthly_listeners | number:0}}
                      .icon
                        %img{width: "20px", src: "/assets/social-media/spotify-logo.png"}
                      .text
                        Spotify monthly listeners
                    .col-md-6.metrics-content{"ng-show" => "auction.spotify_total_plays"}
                      %h3
                        {{auction.spotify_total_plays | number:0}}
                      .icon
                        %img{width: "20px", src: "/assets/social-media/spotify-logo.png"}
                      .text
                        Spotify total plays
                      %i.fa.fa-info-circle{"bs-tooltip" => "", "data-type"=>"info", "data-title" => "Based on most popular song(s)", "data-placement" =>"bottom-left"}
                    .col-md-6.metrics-content{"ng-show" => "auction.soundcloud_profile"}
                      %h3
                        {{soundcloudProfile.playback_counts | number:0}}
                      .icon
                        %img{width: "20px", src: "/assets/social-media/soundcloud-logo.png"}
                      .text
                        SoundCloud total plays
                      %i.fa.fa-info-circle{"bs-tooltip" => "", "data-type"=>"info", "data-title" => "Based on {{soundcloudProfile.track_count}} song(s)", "data-placement" =>"bottom-left"}
                    .col-md-6.metrics-content{{"ng-show" => "facebookFeed.fans.likes"}}
                      %h3
                        {{facebookFeed.fans.likes | number:0}}
                      .icon
                        %img{width: "20px", src: "/assets/social-media/facebook-logo.png"}
                      .text
                        Facebook fans
                    .col-md-6.metrics-content{{"ng-show" => "twitterTimeline.followers_count"}}
                      %h3
                        {{twitterTimeline.followers_count | number:0}}
                      .icon
                        %img{width: "20px", src: "/assets/social-media/twitter-logo.png"}
                      .text
                        Twitter followers
                    .col-md-6.metrics-content{"ng-style" => "{'height':'0'}"}
                      %img{width: "0", height: "0", src: "/assets/blank.gif"}
                    .col-md-6.metrics-content{"ng-show" => "youTubeTotalPlays"}
                      %h3
                        {{youTubeTotalPlays | number:0}}
                      .icon
                        %img{width: "20px", src: "/assets/social-media/youtube-logo.png"}
                      .text
                        Youtube video views
                    .col-md-6.metrics-content{"ng-show" => "instagramTotalFollowers"}
                      %h3
                        {{instagramTotalFollowers | number:0}}
                      .icon
                        %img{width: "20px", src: "/assets/social-media/instagram-logo.png"}
                      .text
                        Instagram followers

                  .detailed-charts-container{"ng-show" => "showDetailedInfo"}
                    %h3
                      Detailed info
                    .row{"ng-show" => "NBSSoundCloudChartData"}
                      .col-sm-2
                        .title-container
                          .text-title SoundCloud
                      .col-sm-10
                        .chart-container
                          %div.social-chart.soundcloud-chart{:chart => "NBSSoundCloudChartData", "google-chart" => "", "ng-style" => "{'padding':'0','width':'100%'}"}
                    .row{"ng-show" => "NBSFacebookChartData"}
                      .col-sm-2
                        .title-container
                          Facebook
                      .col-sm-10
                        .chart-container
                          %div.social-chart.facebook-chart{:chart => "NBSFacebookChartData", "google-chart" => "", "ng-style" => "{'padding':'0','width':'100%'}"}
                    .row{"ng-show" => "NBSTwitterChartData"}
                      .col-sm-2
                        .title-container
                          Twitter
                      .col-sm-10
                        .chart-container
                          %div.social-chart.twitter-chart{:chart => "NBSTwitterChartData", "google-chart" => "", "ng-style" => "{'padding':'0','width':'100%'}"}
                    .row{"ng-show" => "NBSYouTubeChartData"}
                      .col-sm-2
                        .title-container
                          YouTube
                      .col-sm-10
                        .chart-container
                          %div.social-chart.youtube-chart{:chart => "NBSYouTubeChartData", "google-chart" => "", "ng-style" => "{'padding':'0','width':'100%'}"}
                    .row{"ng-show" => "NBSInstagramChartData"}
                      .col-sm-2
                        .title-container
                          Instagram
                      .col-sm-10
                        .chart-container
                          %div.social-chart.instagram-chart{:chart => "NBSInstagramChartData", "google-chart" => "", "ng-style" => "{'padding':'0','width':'100%'}"}
                  .row{"ng-show" => "auction.nbs_artist_id"}
                    .col-sm-12
                      %a#show-detailed-info{"ng-click" => "showDetailedInfo = !showDetailedInfo; generateCharts()", "ng-href" => "#"} {{ showDetailedInfo ? 'Hide' : 'Show'}} charts
                .details{"ng-show" => "isEditingSocialNetwork == true"}
                  .edit-social-networks.details
                    %form.form-horizontal{name: "auctionSocialNetwork", :novalidate => ""}
                      .form-group
                        %label.col-sm-3.control-label{for: "facebook-page"} Facebook Page
                        .col-sm-6{"ng-class" => "{'has-error': auctionSocialNetwork.facebookPage.$error.pattern}"}
                          %input#facebook-page.form-control{placeholder: "Facebook page url", "ng-model" => "auction.facebook_page", type: "text", "ng-pattern" => '/^http:\/\/(?:www\.)?facebook.com\/(?:[^\s\/?]+)?$|^https:\/\/(?:www\.)?facebook.com\/(?:[^\s\/?]+)?$/', name: "facebookPage", "ng-required" => false}
                          %span.help-block{"ng-show"=>"auctionSocialNetwork.facebookPage.$error.pattern"} Not a valid Facebook page url!. Please use the format https://www.facebook.com/yourFacebookPage
                      .form-group
                        %label.col-sm-3.control-label{for: "twitter-username"} Twitter
                        .col-sm-6{"ng-class" => "{'has-error': auctionSocialNetwork.twitterUsername.$error.pattern}"}
                          %input#twitter-username.form-control{placeholder: "Twitter username", "ng-model" => "auction.twitter_username", type: "text", "ng-pattern" => '/^@(?:[^\s?]+)?$/', name: "twitterUsername", "ng-required" => false}
                          %span.help-block{"ng-show"=>"auctionSocialNetwork.twitterUsername.$error.pattern"} Not a valid Twitter username!. Please use the format @yourUserName
                      .form-group
                        %label.col-sm-3.control-label{for: "soundcloud-profile"} SoundCloud profile url
                        .col-sm-6{"ng-class" => "{'has-error': auctionSocialNetwork.soundcloudProfile.$error.pattern}"}
                          %input#soundcloud-profile.form-control{placeholder: "SoundCloud profile url", "ng-model" => "auction.soundcloud_profile", type: "text", "ng-pattern" => '/^https:\/\/(?:www\.)?soundcloud.com\/(?:[^\s\/?]+)?$/', name: "soundcloudProfile", "ng-required" => false}
                          %span.help-block{"ng-show"=>"auctionSocialNetwork.soundcloudProfile.$error.pattern"} Not a valid SoundCloud profile!. Please use the format https://www.soundcloud.com/yourUserName
                      .form-group
                        %label.col-sm-3.control-label{for: "youtube-channel"} YouTube channel url
                        .col-sm-6{"ng-class" => "{'has-error': auctionSocialNetwork.youtubeChannel.$error.pattern}"}
                          %input#youtube-channel.form-control{placeholder: "YouYube channel url", "ng-model" => "auction.youtube_channel", type: "text", "ng-pattern" => '/^https:\/\/(?:www\.)?youtube.com\/user\/(?:[^\s\/?]+)?$|^https:\/\/(?:www\.)?youtube.com\/channel\/(?:[^\s\/?]+)?$/', name: "youtubeChannel", "ng-required" => false}
                          %span.help-block{"ng-show"=>"auctionSocialNetwork.youtubeChannel.$error.pattern"} Not a valid YouTube Channel!. Please use the format https://www.youtube.com/user/XXXXXX or https://www.youtube.com/channel/XXXXXX
                      .admin-social-info{"ng-show" => "auction.is_admin"}
                        .form-group
                          %label.col-sm-3.control-label{for: "spotify-monthly-listeners"} Spotify Monthly Listeners
                          .col-sm-6{"ng-class" => "{'has-error': auctionSocialNetwork.spotifyMonthlyListeners.$error.pattern}"}
                            %input#spotify-monthly-listeners.form-control{placeholder: "Spotify monthly listeners", "ng-model" => "auction.spotify_monthly_listeners", type: "number", name: "spotifyMonthlyListeners", "is-number"=>"", "ng-required" => false}
                        .form-group
                          %label.col-sm-3.control-label{for: "spotify-total-plays"} Spotify Total Plays
                          .col-sm-6{"ng-class" => "{'has-error': auctionSocialNetwork.spotifyTotalPlays.$error.pattern}"}
                            %input#spotify-total-plays.form-control{placeholder: "Spotify total plays", "ng-model" => "auction.spotify_total_plays", type: "number", name: "spotifyTotalPlays", "is-number"=>"", "ng-required" => false}
                        .form-group
                          %label.col-sm-3.control-label{for: "next-big-sound-artist-name"} Next Big Sound artist name
                          .col-sm-6
                            .nbs-artist-name-container{"ng-hide" => "!auction.nbs_artist_name || editNbsArtist"}
                              {{auction.nbs_artist_name}}
                              %a{"ng-click" => "editNbsArtist = true", "ng-href" => "#"} change
                              %a{"ng-click" => "selectedNBSArtistId = null; selectedNBSArtistName = null", "ng-href" => "#"} remove
                            %angucomplete-alt#search-people{"input-class" => "form-control form-control-small", minlength: "2", pause: "100", "placeholder" => "Search for an artist to add...", "search-fields" => "name", "selected-object" => "selectedNBSArtist", "title-field" => "name", "match-class" => "search-highlight", "clear-selected" => true, "remote-url"=>"/api/v1/auctions/next_big_sound_search_artist?q=", "ng-show" => "!auction.nbs_artist_id || editNbsArtist"}
                            .nbs-artist-selected{"ng-style"=>"{'display':'none'}"}
                              {{selectedNBSArtistId = selectedNBSArtist.originalObject.id}}
                              {{selectedNBSArtistName = selectedNBSArtist.originalObject.name}}
                      %button.btn.btn-primary{"ng-click" => "updateSocialNetworks();", "ng-disabled" => "!auctionSocialNetwork.$valid", tabindex: 20} Ok
              .videos
                %youtube-videos{"youtube-videos" => "auction.videos", "widget-id" => "{{auction.id}}", "title" => "Videos", "show-edit-option" => "auction.is_owner", "help-text" => "'List your videos'", "api-controller" => "auction_videos", "ng-hide" => "auction.videos.length == 0 && !auction.is_owner"}
              .legal{"ng-show" => "auction.is_owner || auction.is_admin"}
                .title
                  Legal information
                  %a.edit-widget-button.btn.btn-primary.btn-xs#edit-signers-button{href: "#", "ng-click" => "isEditingLegalInformation = true", "ng-hide" => "isEditingLegalInformation || auction.status.raw != 'draft'", title: "Edit legal information"} Edit
                .details
                  .legal-information-container{"ng-hide" => "isEditingLegalInformation || auction.recording_publishing_different_info == true"}
                    %strong Licensor's Legal Name:
                    {{auction.licensor_legal_name}}
                    %br
                    %strong Legal Address:
                    {{auction.licensor_legal_address_line1}} - {{auction.licensor_legal_address_line2}}, {{auction.licensor_legal_address_country_name}}
                    %br
                    %strong Phone Number:
                    +{{auction.licensor_calling_code}}{{auction.licensor_phone_number}}
                    %button.btn.btn-xs.btn-default{"ng-click" => "sendVerificationCodeLicensor()", "ng-hide" => "showEnterLicensorVerificationCode || auction.licensor_phone_number_verified"} Text Me
                    .enter-licensor-verification-code-container{"ng-show" => "showEnterLicensorVerificationCode"}
                      %input.form-control{placeholder: "Enter verification code", "ng-model" => "auction.licensor_verification_code"}
                      %button.btn.btn-xs.btn-default{"ng-click" => "verifyLicensorPhone()"} Verify
                    .verified-icon{"ng-show" => "auction.licensor_phone_number_verified"}
                    %br
                    %strong Signer's Name for Licensor:
                    {{auction.signers[0].name}}
                    %br
                    %strong Contact Email:
                    {{auction.signers[0].email}}
                    %br
                    %strong Applicable Law for License:
                    {{auction.applicable_law_for_license_name}}
                    %br
                    %strong Place of Court:
                    {{auction.place_of_court}}
                  .legal-information-container.publishing-recording-legal-container{"ng-hide" => "isEditingLegalInformation || auction.recording_publishing_different_info == false"}
                    %table
                      %tr
                        %th Recording
                        %th Publisher
                      %tr
                        %td
                          %strong Licensor's Legal Name:
                          {{auction.licensor_legal_name}}
                        %td
                          %strong Publisher's Legal Name:
                          {{auction.publisher_legal_name}}
                      %tr
                        %td
                          %strong Legal Address:
                          {{auction.licensor_legal_address_line1}} - {{auction.licensor_legal_address_line2}}, {{auction.licensor_legal_address_country_name}}
                        %td
                          %strong Legal Address:
                          {{auction.publisher_legal_address_line1}} - {{auction.publisher_legal_address_line2}}, {{auction.publisher_legal_address_country_name}}
                      %tr
                        %td
                          %strong Phone Number:
                          +{{auction.licensor_calling_code}}{{auction.licensor_phone_number}}
                          %button.btn.btn-xs.btn-default{"ng-click" => "sendVerificationCodeLicensor()", "ng-hide" => "showEnterLicensorVerificationCode || auction.licensor_phone_number_verified"} Text Me
                          .enter-licensor-verification-code-container{"ng-show" => "showEnterLicensorVerificationCode"}
                            %input.form-control{placeholder: "Enter verification code", "ng-model" => "auction.licensor_verification_code"}
                            %button.btn.btn-xs.btn-default{"ng-click" => "verifyLicensorPhone()"} Verify
                          .verified-icon{"ng-show" => "auction.licensor_phone_number_verified"}
                        %td
                          %strong Phone Number:
                          +{{auction.publisher_calling_code}}{{auction.publisher_phone_number}}
                      %tr
                        %td
                          %strong Signer's Name:
                          {{auction.licensor_signer_name}}
                        %td
                          %strong Signer's Name:
                          {{auction.publisher_signer_name}}
                      %tr
                        %td
                          %strong Contact Email:
                          {{auction.licensor_contact_email}}
                        %td
                          %strong Contact Email:
                          {{auction.publisher_contact_email}}
                          .verified-icon{"ng-show" => "auction.publisher_contact_email_confirmed"}
                          %br
                          %a{"ng-click" => "sendSecondSignerValidationEmail(auction.publisher_contact_email)", "ng-href" => "#", "ng-hide" => "auction.publisher_contact_email_confirmed"} Validate email
                    %br
                    %strong Applicable Law for License:
                    {{auction.applicable_law_for_license_name}}
                    %br
                    %strong Place of Court:
                    {{auction.place_of_court}}
                  .edit-legal-information-container{"ng-show" => "isEditingLegalInformation && auction.recording_publishing_different_info == false"}
                    .form-horizontal
                      .form-group
                        %label.col-sm-3.control-label{for: "licensor-name"} Licensor's Legal Name
                        .col-sm-6
                          %input#licensor-name.form-control{placeholder: "Licensor Name", "ng-model" => "auction.licensor_legal_name", type: "text"}
                      .form-group
                        %label.col-sm-3.control-label{for: "licensor-legal-address-line1"} Legal Address
                        .col-sm-6
                          %input#licensor-legal-address-line1.form-control{placeholder: "Street Address or P.O. Box, Suite #, etc.", "ng-model" => "auction.licensor_legal_address_line1", type: "text"}
                          %input#licensor-legal-address-line2.form-control{placeholder: "City, State, Postal Code", "ng-model" => "auction.licensor_legal_address_line2", type: "text"}
                          %select#licensor-legal-address-country.form-control{chosen: "", "ng-model" => "auction.licensor_legal_address_country", "ng-options" => "item.id as item.name for item in countriesListSimple", "data-placeholder" => "Select a country"}
                            %option{:value => ""}
                      .form-group
                        %label.col-sm-3.control-label{for: "licensor-signer-name"} Signer's Name for Licensor
                        .col-sm-6
                          %input#licensor-signer-name.form-control{placeholder: "Full Name", "ng-model" => "auction.licensor_signer_name", type: "text"}
                      .form-group
                        %label.col-sm-3.control-label{for: "licensor-phone-number"} Phone Number
                        .col-sm-6.phone-number-calling-code-container
                          .calling-code-selector-container
                            %select#phone-number-calling-code.form-control{chosen: "", "ng-model" => "auction.licensor_calling_code", "ng-options" => "item.calling_code as item.name for item in countriesListSimple", "data-placeholder" => "Select a country"}
                              %option{:value => ""}
                          .phone-number-container
                            .input-group{style: "width:180px"}
                              %span#basic-addon3.input-group-addon +{{auction.licensor_calling_code}}
                              %input#licensor-phone-number.form-control{placeholder: "Phone number", "ng-model" => "auction.licensor_phone_number", "aria-describedby"=>"basic-addon3", autocomplete: "off", "only-digits" => ""}
                      .form-group
                        %label.col-sm-3.control-label{for: "licensor-contact-email"} Contact Email
                        .col-sm-6
                          %input#licensor-contact-email.form-control{placeholder: "Contact Email", "ng-model" => "auction.licensor_contact_email", type: "text", disabled: ""}
                      .form-group
                        .col-sm-3
                        .col-sm-6
                          .checkbox{"ng-show" => "auction.auction_type == 'recording_publishing_rights'"}
                            %label
                              %input{type: "checkbox", "ng-model"=>"auction.recording_publishing_different_info"} Publishing Rights owner has different information
                      .form-group
                        %label.col-sm-3.control-label{for: "applicable-law-for-license"} Applicable Law for License
                        %img{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.applicableLaw}}", "data-placement" =>"bottom-left"}
                        .col-sm-6
                          %select#applicable-law-for-license.form-control{chosen: "", "ng-model" => "auction.applicable_law_for_license", "ng-options" => "item.id as item.name for item in countriesListSimple", "data-placeholder" => "Select a country"}
                            %option{:value => ""}
                      .form-group
                        %label.col-sm-3.control-label{for: "place-of-court"} Place of Court
                        %img{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.placeOfCourt}}", "data-placement" =>"bottom-left"}
                        .col-sm-6
                          %input#place-of-court.form-control{placeholder: "Place of court", "ng-model" => "auction.place_of_court", type: "text"}
                    %button.btn.btn-primary{"ng-click" => "updateLegalInformation();", "ng-disabled" => "false"} Ok
                  .edit-legal-information-container
                    .publishing-recording-legal-container{"ng-show" => "auction.recording_publishing_different_info == true && isEditingLegalInformation"}
                      %table
                        %tr
                          %th
                            Recording
                          %th
                            Publishing
                        %tr
                          %td{style: "width: 370px"}
                            .form-group
                              %label.control-label{for: "licensor-name"} Licensor's Legal Name
                              %input#licensor-name.form-control{placeholder: "Licensor's Legal Name", "ng-model" => "auction.licensor_legal_name", type: "text", tabindex: 1}
                          %td{style: "width: 370px"}
                            .form-group
                              %label.control-label{for: "publisher-name"} Publisher Legal Name
                              %input#publisher-name.form-control{placeholder: "Publisher's Legal Name", "ng-model" => "auction.publisher_legal_name", type: "text", tabindex: 9}
                        %tr
                          %td
                            .form-group
                              %label.control-label{for: "licensor-legal-address-line1"} Legal Address
                              %input#licensor-legal-address-line1.form-control{placeholder: "Street address, P.O. box, company name, c/o", "ng-model" => "auction.licensor_legal_address_line1", type: "text", tabindex: 2}
                              %input#licensor-legal-address-line2.form-control{placeholder: "Apartment, suite, unit, building, floor, etc.", "ng-model" => "auction.licensor_legal_address_line2", type: "text", tabindex: 3}
                              %select#licensor-legal-address-country.form-control{chosen: "", "ng-model" => "auction.licensor_legal_address_country", "ng-options" => "item.id as item.name for item in countriesListSimple", "data-placeholder" => "Select a country", tabindex: 4}
                                %option{:value => ""}
                          %td
                            .form-group
                              %label.control-label{for: "publisher-legal-address-line1"} Legal Address
                              %input#publisher-legal-address-line1.form-control{placeholder: "Street address, P.O. box, company name, c/o", "ng-model" => "auction.publisher_legal_address_line1", type: "text", tabindex: 10}
                              %input#publisher-legal-address-line2.form-control{placeholder: "Apartment, suite, unit, building, floor, etc.", "ng-model" => "auction.publisher_legal_address_line2", type: "text", tabindex: 11}
                              %select#licensor-legal-address-country.form-control{chosen: "", "ng-model" => "auction.publisher_legal_address_country", "ng-options" => "item.id as item.name for item in countriesListSimple", "data-placeholder" => "Select a country", tabindex: 12}
                                %option{:value => ""}
                        %tr
                          %td
                            .form-group
                              %label.control-label{for: "licensor-signer-name"} Signer's Name
                              %input#licensor-signer-name.form-control{placeholder: "Full Name", "ng-model" => "auction.licensor_signer_name", type: "text", tabindex: 5}
                          %td
                            .form-group
                              %label.control-label{for: "publisher-signer-name"} Signer's Name
                              %input#publisher-signer-name.form-control{placeholder: "Full Name", "ng-model" => "auction.publisher_signer_name", type: "text", tabindex: 13}
                        %tr
                          %td
                            .form-group
                              %label.control-label{for: "licensor-phone-number"} Phone Number
                              .phone-number-calling-code-container
                                .calling-code-selector-container
                                  %select#phone-number-calling-code.form-control{chosen: "", "ng-model" => "auction.licensor_calling_code", "ng-options" => "item.calling_code as item.name for item in countriesListSimple", "data-placeholder" => "Select a country", tabindex: 6}
                                    %option{:value => ""}
                                .phone-number-container
                                  .input-group{style: "width:170px"}
                                    %span#basic-addon3.input-group-addon +{{auction.licensor_calling_code}}
                                    %input#licensor-phone-number.form-control{placeholder: "Phone number", "ng-model" => "auction.licensor_phone_number", type: "text", autocomplete: "off", tabindex: 7}
                          %td
                            .form-group
                              %label.control-label{for: "publisher-phone-number"} Phone Number
                              .phone-number-calling-code-container
                                .calling-code-selector-container
                                  %select#phone-number-calling-code.form-control{chosen: "", "ng-model" => "auction.publisher_calling_code", "ng-options" => "item.calling_code as item.name for item in countriesListSimple", "data-placeholder" => "Select a country", tabindex: 14}
                                    %option{:value => ""}
                                .phone-number-container
                                  .input-group{style: "width:170px"}
                                    %span#basic-addon3.input-group-addon +{{auction.publisher_calling_code}}
                                    %input#publisher-phone-number.form-control{placeholder: "Phone number", "ng-model" => "auction.publisher_phone_number", type: "text", autocomplete: "off", "only-digits" => "", tabindex: 15}
                        %tr
                          %td
                            .form-group
                              %label.control-label{for: "licensor-contact-email"} Contact Email
                              %input#licensor-contact-email.form-control{placeholder: "Contact Email", "ng-model" => "auction.licensor_contact_email", type: "text", disabled: "", tabindex: 8}
                          %td
                            .form-group
                              %label.control-label{for: "publisher-contact-email"} Contact Email
                              %input#publisher-contact-email.form-control{placeholder: "Contact Email", "ng-model" => "auction.publisher_contact_email", type: "text", tabindex: 16}
                      .form-horizontal
                        .form-group{"ng-show" => "auction.auction_type == 'recording_publishing_rights'"}
                          .col-sm-3
                          .col-sm-6
                            .checkbox
                              %label
                                %input{type: "checkbox", "ng-model"=>"auction.recording_publishing_different_info"} Publishing Rights owner has different information
                        .form-group
                          %label.col-sm-3.control-label{for: "applicable-law-for-license"} Applicable Law for License
                          %img{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.term}}", "data-placement" =>"bottom-left"}
                          .col-sm-6
                            %select#applicable-law-for-license.form-control{chosen: "", "ng-model" => "auction.applicable_law_for_license", "ng-options" => "item.id as item.name for item in countriesListSimple", "data-placeholder" => "Select a country", tabindex: 17}
                              %option{:value => ""}
                        .form-group
                          %label.col-sm-3.control-label{for: "place-of-court"} Place of Court
                          %img{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.term}}", "data-placement" =>"bottom-left"}
                          .col-sm-6
                            %input#place-of-court.form-control{placeholder: "Place of court", "ng-model" => "auction.place_of_court", type: "text", tabindex: 18}
                        %button.btn.btn-primary{"ng-click" => "updateLegalInformation();", "ng-disabled" => "false", tabindex: 19} Ok
              .row{"ng-hide" => "isEditingSocialNetwork == true || (auction.facebook_page == null && auction.twitter_username == null)"}
                .facebook{"ng-hide" => "!auction.facebook_page", "ng-class" => "{true: 'col-md-12', false: 'col-md-6'}[auction.twitter_username == null || auction.twitter_username == '']"}
                  .title
                    Facebook Feed
                    %a{href: "{{auction.facebook_page}}", target: "_blank"}
                      %i.fa.fa-external-link
                  .details
                    .facebook-feed-container
                      .post-container{"ng-repeat" => "post in facebookFeed.posts"}
                        .post{"ng-bind-html" => "post.message | linky", "ng-class" => "{'no-picture': !post.picture}"}
                        .image-container{"ng-show" => "post.picture"}
                          %a{"ng-href" => "{{post.link}}", target: "_blank"}
                            %img{width: "100%", src: "{{post.picture}}"}
                .twitter{"ng-hide" => "!auction.twitter_username", "ng-class" => "{true: 'col-md-12', false: 'col-md-6'}[auction.facebook_page == null || auction.facebook_page == '']"}
                  .title
                    Most recent tweets
                    %a{href: "https://www.twitter.com/{{auction.twitter_username.replace('@','')}}", target: "_blank"}
                      %i.fa.fa-external-link
                  .details
                    .facebook-feed-container
                      .post-container{"ng-repeat" => "tweet in twitterTimeline.timeline"}
                        -# {{post.message}}
                        .post{"ng-bind-html" => "tweet.text | linky", "ng-class" => "{'no-picture': !tweet.entities.media[0].media_url_https}"}
                        .image-container{"ng-show" => "tweet.entities.media[0].media_url_https"}
                          %a{"ng-href" => "{{tweet.entities.urls[0].url}}", target: "_blank"}
                            %img{width: "100%", src: "{{tweet.entities.media[0].media_url_https}}"}

          .auction-tab-bids-container{"ng-show" => "tabs.activeTab == 1"}
            Only the auction owner and approved bidders can see the 'Bids' Tab and its information.
            .buttons-container{"ng-show" => "auction.is_owner && auction.bids.bidders.length > 0"}
              %button.btn.btn-primary{"ng-show" => "auction.status.code == 1 && auction.second_chance_sent == false", "ng-really-message" =>"Are you sure you wanna restart this auction?", "ng-really-click" => "restart()"} Restart
              %button.btn.btn-primary{"ng-click" => "showSendSecondOfferModal()", "ng-hide" => "auction.second_chance_sent"} Second chance offer
            .empty-bids{"ng-show" => "auction.bids.bidders.length == 0"}
              This auction doesn't have any bids at the moment.
            .auction-bids-container
              .bid{"ng-repeat" => "bidder in auction.bids.bidders"}
                .avatar-container
                  .avatar{"ng-style" => "{'background-image': 'url(' + bidder.profile.default_avatar.small + ')'}"}
                .details-container{"ng-hide" => "auction.auction_type == 'recording_publishing_rights'"}
                  <a href="/{{bidder.profile.permalink}}"><strong>{{bidder.profile.name}}</strong></a> bid <strong>{{getBidAmount(bidder.amount)}}</strong> about {{bidder.bid_time_ago_in_words}} ago
                .details-container{"ng-show" => "auction.auction_type == 'recording_publishing_rights'"}
                  <a href="/{{bidder.profile.permalink}}"><strong>{{bidder.profile.name}}</strong></a> bid <strong>{{getBidAmount(bidder.amount)}}</strong> for recording rights and <strong>{{getBidAmount(bidder.amount_publishing)}}</strong> for publishing rights about {{bidder.bid_time_ago_in_words}} ago
                .actions-container{"ng-show" => "auction.is_owner"}
                  %button.btn.btn-sm.cancel-offer{"ng-show" => "bidder.second_offer_sent && !bidder.second_offer_status == 'accepted'", "ng-click" => "cancelSecondChanceOffer()"} Cancel second chance offer
                  %span.label.label-success.second-chance-offer-accepted{"ng-show" => "bidder.second_offer_status == 'accepted'"} Second chance offer accepted
                .reserve_met{"ng-show" => "bidder.reserve_met && auction.bids.bidders.length > 1"}
                  %span.label.label-success Reserve met
                  %i.fa{"ng-class" => "{'fa-info-circle': !auction.is_watching, 'fa-star': auction.is_watching}", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "Automated bidding has increased the bids until the Reserve Bid amount was met.", "data-placement" =>"bottom-left"}
      .explore-more-auctions-container{"ng-hide" => "isLoading"}
        .title
          Explore more Auctions
        .list-container
          %a.action-item{"ng-repeat" => "auction in related_auctions", href: "/auctions/{{auction.permalink}}", "ng-style" => "{'background-image': 'url(' + auction.default_illustration.medium + ')'}"}
            .details-container
              .name
                {{auction.name}}
        %a.load-more-container{"ng-href" => "/auctions"} More
