.account-management.well
  .account-settings-container
    %form{role: "form", name: "accountSettingsForm"}
      .form-group.required{"ng-class" => "{'has-error': accountSettings.errors.email[0]}"}
        %label.control-label.required{for: "email"} Email
        %input#email.form-control{placeholder: "Email", "ng-model" => "accountSettings.email", type: "email", required: ""}
        %span.help-block{"ng-show" => "accountSettings.errors.email[0]"} {{ accountSettings.errors.email[0] }}
      .form-group
        %button.btn.btn-primary{"ng-click" => "save()", "ng-disabled" => "accountSettingsForm.$invalid"} Save changes
