.account-management.well
  .notification-settings-container
    %form{role: "form", name: "notificationSettingsForm"}
      .form-group{"ng-class" => "{'has-error': accountSettings.errors.notification_mailing[0]}"}
        %label.checkbox-inline
          %input{name: "searchType", "ng-model" => "accountSettings.notification_messages_or_invitations", type: "checkbox"} Send me email notifications when I receive tuneteams messages or invitations to connect.
        %br
        %label.checkbox-inline
          %input{name: "searchType", "ng-model" => "accountSettings.notification_mailing", type: "checkbox"} Subscribe me to the tuneteams newsletter.
        %br
        %label.checkbox-inline
          %input{name: "searchType", "ng-model" => "accountSettings.notification_surveys", type: "checkbox"} Include me in user surveys.
      Auctions
      %br
      %br
      .form-group{"ng-class" => "{'has-error': accountSettings.errors.notification_mailing[0]}"}
        %label.checkbox-inline
          %input{name: "searchType", "ng-model" => "accountSettings.notification_auction_approval", type: "checkbox"} Receive auction approval emails
        %br
        %label.checkbox-inline
          %input{name: "searchType", "ng-model" => "accountSettings.notification_auction_restart", type: "checkbox"} Receive auction re-start emails
        %br
        %br
      .form-group
        %button.btn.btn-primary{"ng-click" => "save()", "ng-disabled" => "notificationSettingsForm.$invalid"} Save changes
