.account-management.well
  .password-settings-container
    %form{role: "form", name: "passwordSettingsForm"}
      / .form-group.required
      /   %label.control-label.required{for: "current-password"} Current Password
      /   %input#current-password.form-control{placeholder: "", "ng-model" => "accountSettings.current_password", type: "password"}
      /   %span.help-block{"ng-show" => "{{accountSettings.errors.current_password != ''}}"} {{ accountSettings.errors.current_password }}
      .form-group.required{"ng-class" => "{'has-error': accountSettings.errors.new_password}"}
        %label.control-label.required{for: "new-password"} New Password
        %input#new-password.form-control{placeholder: "", "ng-model" => "accountSettings.new_password", type: "password", required: ""}
        %span.help-block{"ng-show" => "accountSettings.errors.new_password"} {{ accountSettings.errors.new_password }}
      .form-group.required{"ng-class" => "{'has-error': accountSettings.errors.confirm_new_password}"}
        %label.control-label.required{for: "confirm-new-password"} Confirm New Password
        %input#confirm-new-password.form-control{placeholder: "", "ng-model" => "accountSettings.confirm_new_password", type: "password", required: ""}
        %span.help-block{"ng-show" => "accountSettings.errors.confirm_new_password"} {{ accountSettings.errors.confirm_new_password }}
      .form-group
        %button.btn.btn-primary{"ng-click" => "save()", "ng-disabled" => "passwordSettingsForm.$invalid"} Save changes
