.account-management.well
  %loading-character{text:"Loading", size: "small", "ng-show" => "isLoading"}
  .payout-settings-container{"ng-if" => "payoneerSettings.details", "ng-hide" => "isLoading"}
    %img#payoneer-logo{src: "/assets/partnerships/payoneer.png"}
    %div.status{"ng-show" => "payoneerSettings.details.status == 'approved' || payoneerSettings.details.status == 'declined'"}
      %div{"ng-show" => "payoneerSettings.details.status == 'approved'"} Your Payoneer application was approved and you can start receiving payments.
      %div{"ng-show" => "payoneerSettings.details.status == 'declined'"} Your Payoneer application was declined. Please write to help@tuneteams.com if you need more information.
    %div.reviewing-application{"ng-show" => "showApplicationReceived && payoneerSettings.details.status == 'payment_method_requested'"}
      Your application was received and Payoneer is reviewing your details. You will be notified with the status of the request.
    %div.invite-to-join{"ng-hide" => "showApplicationReceived && (payoneerSettings.details.status != 'link_generated')"}
      %p tuneteams has partnered with Payoneer, a leading provider of global payment solutions, to provide you with great ways to get paid.
      %p What does Payoneer Offer You? (If you select Payoneer card option in the registration process)
      %ul
        %li <strong>Fast</strong> – Receive your funds within 2 hours
        %li <strong>Low Cost</strong> – Avoid excessive international wire fees
        %li <strong>Flexible</strong> – Withdraw your funds to your Local Bank Account, at ATMs or spend online & in-store
        %li <strong>Localized</strong> – Benefit from solutions tailored to your country, language and currency

      %p Sign-up now and start receiving money to your account. It only takes 2 minutes and is free to get started:
      %a.btn.btn-primary{"ng-href" => "{{payoneerSettings.signup_url}}"} Create my Payoneer account
