.well
  %loading-character{text:"Loading", size: "small", "ng-show" => "isLoading"}
  .notifications-bidder-container{"ng-hide" => "isLoading"}
    .notification-empty{"ng-show" => "bidders.length == 0"}
      You do not have any bidding request at the moment
    .bidder{"ng-show" => "bidders.length > 0", "ng-repeat" => "bidder in bidders", "ng-show" => "bidder.status == 'pending'"}
      .avatar-container
        %a{"ng-href" => "/{{bidder.permalink}}"}
          .avatar{"ng-style"=>"{'background-image': 'url(' + bidder.profile.avatar.small + ')'}"}
      .bidder-container
        .requester
          %a{"ng-href" => "/{{bidder.requester_profile.permalink}}"}
            {{bidder.requester_profile.name}}
          is interested in bidding on auction <strong>{{bidder.auction.name}}</strong>
        .buttons-container
          %div{"ng-show" => "bidder.status == 'pending'"}
            %button.btn.btn-primary.btn-sm{"ng-click" => "updateStatus(bidder, 'accepted', $index)"} Accept
            %button.btn.btn-default.btn-sm{"ng-click" => "updateStatus(bidder, 'rejected', $index)"} Reject
          %div{"ng-show" => "bidder.status == 'accepted'"}
            %span.label.label-success {{bidder.status}}
