.dashboard
  .management-participating
    .well
      %loading-character{text:"Loading", size: "small", "ng-show" => "isLoading"}
      %div{"ng-hide" => "isLoading"}
        %div{"ng-show" => "auctions.length == 0 && $storage.filterAuctionNameParticipating == ''"}
          You are not bidding on any auctions at the moment. Check out what is available on the&nbsp;
          %a{"ng-href" => "/auctions"}>auctions home page
          \.
        .table-container{"ng-hide" => "auctions.length == 0 && $storage.filterAuctionNameParticipating == ''"}
          .form-group
            %label.col-sm-1.control-label{for: "name-filter"} Filter
            .col-sm-4
              %input#name-filter.form-control{name: "name-filter", type: "text", "ng-model" =>"tempFilterAuctionNameParticipating", "ng-keyup" => "setFilter($event)", placeholder: "Filter by name"}
          %br
          %br
          %br
          %table.table
            %tr
              %th{style: "width: 40%"}
                %a{:href => "#", "ng-click" => "setSorting('name', $storage.sortDirectionParticipating)"}
                  Name
                  %span.fa.fa-caret-down{"ng-show" => "$storage.sortTypeParticipating == 'name' && $storage.sortDirectionParticipating == 'DESC'"}
                  %span.fa.fa-caret-up{"ng-show" => "$storage.sortTypeParticipating == 'name' && $storage.sortDirectionParticipating == 'ASC'"}
              %th{style: "width: 30%"} Type
              %th{style: "width: 20%"}
            %tr{"dir-paginate" => "auction in auctions | itemsPerPage: pagination.itemsPerPage", "total-items"=>"totalAuctions", "pagination-id" => "auction.id", "current-page" => "pagination.current"}
              %td
                %a{"ng-href" => "/auctions/{{auction.permalink}}"} {{auction.name}}
              %td
                {{auction.auction_type_name}}
              %td
                %button.btn.btn-default{"ng-click" => "materialReceived(auction)", "ng-show" => "auction.status.raw == 'paid'"}
                  I've received the materials
          %dir-pagination-controls{"pagination-id" => "auction.id", "template-url"=>"/assets/dirPagination.tpl.html", "on-page-change"=>"pageChanged(newPageNumber)"}
-# .well
-#   %loading-character{text:"Loading", size: "small", "ng-show" => "isLoading"}
-#   %div{"ng-hide" => "isLoading"}
-#     %div{"ng-hide" => "auctions.length > 0"}
-#       You are not bidding on any auctions at the moment. Check out what is available on the&nbsp;
-#       %a{"ng-href" => "/auctions"}>auctions home page
-#       \.
-#     %table.table{"ng-show" => "auctions.length > 0"}
-#       %tr
-#         %th{style: "width: 40%"} Name
-#         %th{style: "width: 30%"} Type
-#         %th{style: "width: 30%"}
-#         / %th{style: "width: 10%"}
-#       %tr{"ng-repeat" => "auction in auctions"}
-#         %td
-#           %a{"ng-href" => "/auctions/{{auction.permalink}}", target: "_blank"} {{auction.name}}
-#         %td
-#           {{auction.auction_type_name}}
-#         %td
-#           %button.btn.btn-default{"ng-click" => "materialReceived(auction)", "ng-show" => "auction.status.raw == 'paid'"}
-#             I've received the materials
-#         / %td
-#         /   %span.label{"ng-class" => "{'label-default': auction.bid_status == 'open', 'label-success': auction.bid_status == 'buyed', 'label-warning': auction.bid_status == 'outbid'}"} {{auction.bid_status}}
