.dashboard
  .management-ownership
    %div
      %button.btn.btn-primary{"ng-click" => "$state.go('auctions-new')"} Create an Auction
      %br
      %br
      .well
        %loading-character{text:"Loading", size: "small", "ng-show" => "isLoading"}
        %div{"ng-hide" => "isLoading"}
          %div{"ng-show" => "auctions.length == 0 && $storage.filterAuctionNameOwner == ''"}
            You are not auctioning any recording licenses or publishing agreements.
            %a{"ng-href" => "/auctions/new"} Start now
          .table-container{"ng-hide" => "auctions.length == 0 && $storage.filterAuctionNameOwner == ''"}
            .form-group
              %label.col-sm-1.control-label{for: "name-filter"} Filter
              .col-sm-4
                %input#name-filter.form-control{name: "name-filter", type: "text", "ng-model" =>"tempFilterAuctionNameOwner", "ng-keyup" => "setFilter($event)", placeholder: "Filter by name"}
            %br
            %br
            %br
            %table.table
              %tr
                %th{style: "width: 40%"}
                  %a{:href => "#", "ng-click" => "setSorting('name', $storage.sortDirectionOwner)"}
                    Name
                    %span.fa.fa-caret-down{"ng-show" => "$storage.sortTypeOwner == 'name' && $storage.sortDirectionOwner == 'DESC'"}
                    %span.fa.fa-caret-up{"ng-show" => "$storage.sortTypeOwner == 'name' && $storage.sortDirectionOwner == 'ASC'"}
                %th{style: "width: 30%"}
                  %a{:href => "#", "ng-click" => "setSorting('auction_type', $storage.sortDirectionOwner)"}
                    Type
                    %span.fa.fa-caret-down{"ng-show" => "$storage.sortTypeOwner == 'auction_type' && $storage.sortDirectionOwner == 'DESC'"}
                    %span.fa.fa-caret-up{"ng-show" => "$storage.sortTypeOwner == 'auction_type' && $storage.sortDirectionOwner == 'ASC'"}
                %th{style: "width: 20%"} Status
                %th{style: "width: 10%"}
              %tr{"dir-paginate" => "auction in auctions | itemsPerPage: pagination.itemsPerPage", "total-items"=>"totalAuctions", "pagination-id" => "auction.id", "current-page" => "pagination.current"}
                %td
                  %a{"ng-href" => "/auctions/{{auction.permalink}}"} {{auction.name}}
                %td
                  {{auction.auction_type_name}}
                %td
                  %span.label{"ng-class" => "{'label-default': auction.status.raw == 'draft' || auction.status.raw == 'cancelled' || auction.status.raw == 'ended_no_bids' || auction.status.raw == 'rejected', 'label-info': auction.status.raw == 'published', 'label-success': auction.status.raw == 'approved' || auction.status.raw == 'paid' || auction.status.raw == 'materials_received' || auction.status.raw == 'payout_made', 'label-warning': auction.status.raw == 'waiting_sign' || auction.status.raw == 'waiting_payment'}"} {{auction.status.name}}
                %td
                  .btn-group{"ng-hide" => "(auction.status.raw == 'active')"}
                    %button.btn.btn-default{:type => "button"}
                      %span.fa.fa-cog{"aria-hidden" => "true"}
                    %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", "bs-dropdown" =>"options(auction)", :type => "button", placement: "bottom-right"}
                      %span.caret
            %dir-pagination-controls{"pagination-id" => "auction.id", "template-url"=>"/assets/dirPagination.tpl.html", "on-page-change"=>"pageChanged(newPageNumber)"}
