.messages-body
  %ul.nav.nav-pills
    %li{"ng-class" => "{active: currentStatus == 'inbox'}"}
      %a{:href => "#", "ng-click" => "getMessages('inbox')"}
        Inbox
        / %span.badge 42
    %li{"ng-class" => "{active: currentStatus == 'sent'}"}
      %a{:href => "#", "ng-click" => "getMessages('sent')"}
        Sent
    %li{"ng-class" => "{active: currentStatus == 'archived'}"}
      %a{:href => "#", "ng-click" => "getMessages('archived')"}
        Archived
        / %span.badge 3
  .well
    %loading-character{text:"Loading", size: "small", "ng-show" => "isLoading"}
    .messages-container{"ng-hide" => "isLoading"}
      .message-empty{"ng-show" => "messages.length == 0"}
        %span{"ng-show" => "currentStatus == 'inbox'"} You do not have any messages at the moment
        %span{"ng-show" => "currentStatus == 'sent'"} You did not sent any messages at the moment
        %span{"ng-show" => "currentStatus == 'archived'"} You did not archived any messages at the moment
      .message{"ng-repeat" => "message in messages"}
        .avatar-container
          .avatar{"ng-style" => "{'background-image': 'url({{currentStatus == 'sent'? message.recipient_avatar.small : message.avatar.small}})'}"}
        .message-container
          .sender
            %h4 {{message.sender.name}}
            .name
              .sender{"ng-show" => "currentStatus == 'inbox' || currentStatus == 'archived'"}
                %strong {{message.sender_name}}
              .recipient{"ng-show" => "currentStatus == 'sent'"}
                To:
                %strong {{message.recipient_name}}
            .subject
              %a{href: "/dashboard/{{currentProfilePermalink}}/messages/{{message.message_id}}"} {{message.subject}}
            .body
              %img{src: "/assets/icons/reply.png", "ng-show" => "message.last_message_replied && (currentStatus == 'inbox' || currentStatus == 'archived')"}
              {{message.last_message.body}}
          .buttons-container
            %div{}
              %button.btn.btn-default.btn-sm{"ng-click" => "archive(message.message_id, $index)", "ng-show" => "currentStatus == 'inbox'"} Archive
              %button.btn.btn-danger.btn-sm{"ng-click" => "delete(message.message_id, $index)", "ng-show" => "currentStatus == 'archived'"} Delete
            / %div{"ng-show" => "notification.status == 'accepted'"}
            /   %span.label.label-success {{notification.status}}
