.messages-body
  .well
    .messages-container
      .message-show
        %h3 {{message.subject}}
        %form#reply-form{name: "replyForm"}
          %textarea.form-control{rows: 3, placeholder: "Reply", "ng-model" => "replyMessage.body"}
          .buttons-container
            %button.btn.btn-default.btn-sm{"ng-click" => "back()"} Back
            %button.btn.btn-primary.btn-sm{"ng-disabled" => "replyMessage.body == '' || replyMessage.body == undefined", "ng-click" => "reply()"} Send
      .conversations-container
        .conversation
          %ul
            %li{"ng-repeat" => "conversation in message.conversations | orderBy:'-created_at'"}
              .message-container
                .user-avatar-container.left
                  .user-avatar{:style => "background-image:url({{conversation.avatar.small}})"}
                  / .minutes-ago
                  /   10 min
                .arrow.left{:style => "margin-right: -4px"}
                .bubble
                  .user-name
                    {{conversation.sender.name}}
                  .message
                    .angular-with-newlines{"ng-bind-html"=>"conversation.body | linky:'_blank'"}