.well
  %loading-character{text:"Loading", size: "small", "ng-show" => "isLoading"}
  .notifications-container{"ng-hide" => "isLoading"}
    .notification-empty{"ng-show" => "notifications.length == 0"}
      You do not have any notifications at the moment
    .notification{"ng-show" => "notifications.length > 0", "ng-repeat" => "notification in notifications", "ng-show" => "notification.status == 'pending'"}
      .avatar-container
        %a{"ng-href" => "/{{notification.profile.permalink}}"}
          .avatar{"ng-style"=>"{'background-image': 'url(' + notification.avatar.small + ')'}"}
      .notification-container
        .requester
          %a{"ng-href" => "/{{notification.profile.permalink}}"}
            %h4 {{notification.profile.name}}
          .profile-description
            {{notification.profile.industry_role_profile.name}}
          .message
            {{notification.message}}
          / .date
          /   April 4
        .buttons-container
          %div{"ng-show" => "notification.status == 'pending'"}
            %button.btn.btn-primary.btn-sm{"ng-click" => "updateStatus(notification, 'accepted', $index)"} Accept
            %button.btn.btn-default.btn-sm{"ng-click" => "updateStatus(notification, 'ignored', $index)"} Ignore
          %div{"ng-show" => "notification.status == 'accepted'"}
            %span.label.label-success {{notification.status}}
    / .notification
    /   .avatar-container
    /     .avatar{style: "background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/_shahedk/128.jpg);"}
    /   .notification-container
    /     .requester
    /       %h4 Carlos camelas
    /       .profile-description
    /         Profile description
    /       .date
    /         April 4
    /     .buttons-container
    /       %button.btn.btn-primary.btn-sm Accept
    /       %button.btn.btn-default.btn-sm Ignore
