.dashboard
  .management-profiles
    %button.btn.btn-primary.add-new-profile-button{"ng-hide" => "userRoleTitle == 'user' && profiles.length > 1",  "ng-click" => "$state.go('profile-create')"} Add New Profile
    .well
      %loading-character{text:"Loading", size: "small", "ng-show" => "isLoading"}
      %div{"ng-hide" => "isLoading"}
        %div{"ng-hide" => "profiles.length > 0"}
          You don't have any profile configured yet.
        .table-container{"ng-show" => "profiles.length > 0"}
          -# %br
          -# %br
          %table.table
            %tr
              %th{style: "width: 40%"} Name
              %th{style: "width: 30%"} Type
              %th{style: "width: 20%"}
              -# %th{style: "width: 10%"}
            %tr{"ng-repeat" => "profile in profiles"}
              %td
                %a{"ng-href" => "/{{profile.permalink}}"} {{profile.name}}
              %td
                {{profile.industry_role}}
              %td
                {{profile.is_default ? 'Current' : '' }}
