.events-landing
  .midem
    .col-md-6.left-pane
      %img.title{src: "/assets/landing/midem/title1.png"}
      %br
      %a{"ng-click" => "showHomeVideoModal()", "ng-href" => "#"}
        %img.play-button{src: "/assets/landing/midem/play-button-blue-300x300.png"}
      %p What is tuneteams networking? Watch the video.
      %img.main-image#heads_and_records{src: "/assets/landing/midem/heads_and_records.png"}
      %br
      %request-invitation{size: "btn", "ng-hide" => "authorized()", id: "request-invitation-midem-landing"}
      %h2 Create a free profile and search for music professionals by country, industry role, genres and deal types.
    .col-md-6.right-pane
      %img.title{src: "/assets/landing/midem/title2.png"}
      %br
      %a{"ng-click" => "showAuctionVideoModal()", "ng-href" => "#"}
        %img.play-button{src: "/assets/landing/midem/play-button-white-300x300.png"}
      %p What is tuneteams licensing? Watch the video.
      %img.main-image#auctions{src: "/assets/landing/midem/auctions.png"}
      %br
      %a.btn.btn-default{"ng-href" => "/auctions"} Click here to start
      %h2 Offer recording, publishing and sub-publishing rights for license and bid on them in an auctions format.
