%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
  - if @party_from == 'auction_manager'
    Hi, tuneteams user #{@user_name} added you as a second contract signer for tuneteams auction #{@auction.name}. To confirm your email address, click this link.
  - elsif @party_from == 'bidder'
    Hi, tuneteams user #{@user_name} added you as a second contract signer for tuneteams auction #{@auction.name} just in case he wins the auction. To confirm your email address, click this link.
  %br
  %a{href: @url} #{@url}
