<div>______________</div>
<div><b>C&eacute;sar Guti&eacute;rrez</b></div>
<div>CTO</div>
<div><br></div>

<div style="font-size: 11px">
<div><img style="width: 100px;margin-bottom:4px" src="http://tuneteams.com/assets/logo-header.png"/></div>
<div>t: +1 (917) 615 5525</div>
<div>e: <a href="mailto:cesar@tuneteams.com">cesar@tuneteams.com</a></div>
<div>s: <a href="skype:om.cesar.gutierrez?chat">om.cesar.gutierrez</a></div>
<div style="margin-top: 5px;">
  <a href="http://tuneteams.com">tuneteams.com</a>&nbsp;|
  <a href="http://www.facebook.com/pages/tuneteamscom/620249401394600">Facebook</a>&nbsp;|
  <a href="https://twitter.com/tuneteams">Twitter</a>
</div>
</div>