<table width="600" height="90" bgcolor="2f2f2f" align="center" style="">
  <tr valign="top" align="left">
    <td style="color: #ffffff; font-size:25px; font-family:'Helvetica Neue',helvetica,arial,sans-serif; padding-left: 25px;">
      <a href="#"><img style="margin-top: 16px;" src="https://d1nn1xe9py2udg.cloudfront.net/0000_images/logo-504.png" /></a>
    </td>
    <td align="right" style="padding:22px 20px;">
    </td>
  </tr>
</table>

<!-- BEGIN CONTENT  -->
<table width="600" align="center" cellpadding="30" cellspacing="0"><tr><td bgcolor="ffffff" style="border-left: 1px solid #e1e1e1; border-right: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1;">


    <!-- WRITTEN MESSAGE -->
    <table width="100%"><tr><td width="400" valign="top" style="padding-right:15px;">

            <p style="color:#384047;font-size:18px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;margin: 10px 0 9px;line-height:140%;font-weight:bold">
        Cesar, your first English class is free
      </p>

      <center>
        <p>
          <a href="#"><img src="https://s3.amazonaws.com/verbling-static/emails/ticket_sideways.jpg" style="border: 0;"></a>
        </p>
      </center>
      
      <p style="color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;">
        We couldn't help but notice you've never taken a English class on Verbling, and we want to change that.
      </p>

      <p style="color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;">
        We've dropped one <b>free</b> ticket inyour account that will allow you to join any one of our live language classes. You don't have to do anything to claim this ticket - it's already sitting in your account. You can see <a style="color: #498dcc" href="#">all upcoming classes</a> or <a style="color: #498dcc" href="#">meetour great teachers</a>.
      </p>

      <p style="color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;">
        We're confident that Verbling is the best way to learn a language, so we hope you'll give usa try! This ticket will <b>expire in 1 week</b>, though, so don't wait too long!
      </p>

      <center>
        <table>
          <tr><td align="center">
            <a href="#" style="color: #6D0C;padding: 12px 30px;background-color:#e8c553;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;text-decoration: none;display:block;width:200px;text-align:center;margin-top:20px;margin-bottom:20px;border-radius:3px;font-size:16px;">Claim your free ticket</a>
          </td></tr>
        </table>
      </center>

      <p style="color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 10px 0 0 0;line-height:140%;">
        Happy learning!
      </p>
      <img src="https://d1nn1xe9py2udg.cloudfront.net/0000_images/from-verbling2.png" style="margin-top:10px;" />

     </td></tr></table>

<!-- END CONTENT  -->
</td></tr></table>

<!-- FOOTER -->
<table width="600" align="center">
  <tr><td height="5"></td></tr>
  <tr>
    <td align="left" valign="top" style="color:#717171;font-size:13px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;">
      <a href="#" style="color:#717171;text-decoration:none">Unsubscribe</a>
    </td>
    <td align="right" valign="top" style="color:#717171;font-size:13px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;">
      Verbling, 665 3rd St, Ste 521, San Francisco CA 94107<br /><br />
      <p style="margin-top:-5px;display:inline-block">Follow our latest updates!</p>
      <a href="#" style="padding: 0 4px 0 10px"><img src="https://d1nn1xe9py2udg.cloudfront.net/0000_images/email-fb.png" /></a>
      <a href="#"><img src="https://d1nn1xe9py2udg.cloudfront.net/0000_images/email-twitter.png" /></a>
    </td>
  </tr>
</table><img width="1px" height="1px" alt="" src="http://email.m.verbling.com/o/Yz1jaWVrMiZkPTE0OSZpPTIwMTQwNjA1MDAwNDUzLjExODI1LjYwOT=
g3JTQwbS52ZXJibGluZy5jb20maD02ZDZiNmNjN2ZlNzgwZDc0NDUyZTk2ZGVhN2NjNWQ0MyZyP=
WNlc2d1dHklNDBnbWFpbC5jb20mdD10dXRvcmluZw">