%script{:src => "//s3.amazonaws.com/cdn.hellofax.com/js/embedded.js", :type => "text/javascript"}
:javascript
  HelloSign.init("8211dc126c389ed9a257b6a6f7a85c5c");
  HelloSign.open({
      url: "https://www.hellosign.com/editor/embeddedSign?signature_id=4d3388db28263db0801acc685314e419&token=83153235938a81ee1d49fd7143f2aaea",
      allowCancel: true,
      messageListener: function(eventData) {
          alert("HelloSign event received");
      }    
  });