%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
	Good news. Your auction #{@auction.name} has been approved. To see your live auction page, click on the following <a href="#{ENV['HOST_NAME']}/auctions/#{@auction.permalink}" target="_blank">link</a>.
	%br
	You can use tuneteams' auction promo widget to promote your auction on your website or blog. To learn how, click the button below:
%center
	%table
		%tr
			%td{align: "center"}
				%a{href: "https://www.youtube.com/watch?v=BBKtcSYEQxo", style: "color: #FFF;padding: 12px 30px;background-color:#00B3F3;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;text-decoration: none;display:block;width:200px;text-align:center;margin-top:20px;margin-bottom:20px;border-radius:3px;font-size:16px;"} Watch Video
