%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
	This is your final warning. You only have <strong>twenty-four hours left</strong> to electronically sign the contract for auction <a href="#{@auction_url}" target="_blank">#{@auction.name}</a>. Please click on the button below to review and sign the contract. If you do not electronically sign the contract by #{@due_date} New York Time, the auction can be cancelled and the other party will no longer be required to license the content.
	%br
%center
	%table
		%tr
			%td{align: "center"}
				%a{href: "#{@contract_url}", style: "color: #FFF;padding: 12px 30px;background-color:#00B3F3;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;text-decoration: none;display:block;width:200px;text-align:center;margin-top:20px;margin-bottom:20px;border-radius:3px;font-size:16px;"} Review and sign contract