%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
	Hi tuneteams admin: Bad news. #{@signers_not_signed} has not signed the contract for <a href="#{@auction_url}" target="_blank">#{@auction.name}</a> by the deadline. Please contact them to find out what is wrong.
	%br
