%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
	We’re sorry. Your auction #{@auction.name} has not been approved. For more information on our Moderation Policy, see this <a href="#{ENV['HOST_NAME']}/moderation" target="_blank">link</a>. To get more information on this decision, please write to: <a href="mailto:moderation@tuneteams.com" target="_blank">moderation@tuneteams.com</a>  and include your auction name in the email.
