%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
	Hi tuneteams admin: Bad news. Auction manager of auction #{@auction.name} has not sent the materials. Please contact them to find out what is wrong.
	%br
