%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
  Hi #{@winner_profile_name}, Thank you for your payment. This email is your receipt. #{@auction_manager_profile_name} should now send you all the materials required by the contract. Once you receive the materials, please follow <a href="#{@url}">this link</a> and push the "materials received" button to let us know that we can release the Advance payment to #{@auction_manager_profile_name}.
  
%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
  Order Details for #{@auction.name} auction:
%table{style: "color:#888888;font-size:14px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;line-height:150%; width: 100%"}
  %tr 
    %td{style: "width: 70%; font-weight: bold; border-bottom: 1px solid #E1E1E1; border-top: 1px solid #E1E1E1"} Sub Total
    %td{style: "width: 30%; text-align: right; border-bottom: 1px solid #E1E1E1; border-top: 1px solid #E1E1E1"} USD$ #{@sub_total}
  %tr
    %td{style: "width: 70%; font-weight: bold; border-bottom: 1px solid #E1E1E1"} Transaction fee
    %td{style: "width: 30%; text-align: right; border-bottom: 1px solid #E1E1E1"} USD$ #{@transaction_fee}
  %tr
    %td{style: "width: 70%; font-weight: bold; border-bottom: 1px solid #E1E1E1"} <strong>Total</strong>
    %td{style: "width: 30%; text-align: right; font-weight: bold; border-bottom: 1px solid #E1E1E1"} USD$ #{@total}
%br
%br
%br
%center
  %table
    %tr
      %td{align: "center"}
        %a{href: "#{@url}", style: "color: #FFF;padding: 12px 30px;background-color:#00B3F3;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;text-decoration: none;display:block;width:200px;text-align:center;margin-top:20px;margin-bottom:20px;border-radius:3px;font-size:16px;"} Auction Management