%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
  Dear #{@auction.profile.name}. We’re sorry. We are not able to accept your recent auction submission #{@auction.name}. If you have any questions, please write to auctions@tuneteams.com.
