%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
  We’re sorry. Auction #{@auction.name} has ended without any bids. The auction will now restart and run for another #{@auction.auction_length.to_s} days. If you do not want the auction to re-start, click on the link below.
%center
  %table
    %tr
      %td{align: "center"}
        %a{href: "#{@cancel_restart_url}", style: "color: #FFF;padding: 12px 30px;background-color:#00B3F3;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;text-decoration: none;display:block;width:200px;text-align:center;margin-top:20px;margin-bottom:20px;border-radius:3px;font-size:16px;"} Cancel re-start