.container.static-pages.about-us
  .title-container
    %h1 About Us

  At tuneteams, our mission is to create online tools for the music industry that keep getting better and better and to help music companies build global businesses. We will evolve tuneteams from an online music industry search tool and directory for finding companies and partners around the world; to a global online music industry network for connecting and communicating with these companies; and onto an online marketplace for music rights and music-related professional services. You can help us make this evolution happen by:
  
  %br
  %br

  %ol
    %li
      If your company already has a profile on tuneteams, claiming it and keeping the information updated.
    %li
      If you are a music industry professional and you or your company does not have a profile on tuneteams, requesting an invite to make a profile.
    %li
      Telling your music industry partners about tuneteams.
    %li
      %a{href: "mailto:hi@tuneteams.com"} Writing to us
      and telling us what tuneteams does well and what we can improve (including letting us know about any company’s or individual’s information that you see on tuneteams that is not correct).

  %br
  .video-container
    %iframe{width:"853", height:"480", src:"//www.youtube.com/embed/u-t9efpayzU?rel=0", frameborder:"0", allowfullscreen: ""}