.container.static-pages
  .title-container
    %h1 FAQs

  %p
    tuneteams Frequently Asked Questions

  %ol
    %li
      %a{href:"#what-is-tuneteams"} What is tuneteams?
    %li
      %a{href:"#why-is-tuneteams-invite-only"} Why is tuneteams invite-only?
    %li
      %a{href:"#my-company-already-has-a-page-on-tuneteams-but-we-did-not-create-it"} My company already has a page on tuneteams, but we did not create it. Why is that?
    %li
      %a{href:"#why-can-i-only-have-two-profiles-per-account"} Why can I only have 2 profiles per account?
    %li
      %a{href:"#how-do-i-manage-connections-and-settings-for-my-different-profiles"} How do I manage connections and settings for my different profiles?
    %li
      %a{href:"#how-do-i-set-up-my-second-profile"} How do I set up my second profile?
    %li
      %a{href:"#how-do-i-use-advanced-search"} How do I use advanced search?
    %li
      %a{href:"#how-do-i-connect-with-and-send-messages-to-other-tuneteams-users"} How do I connect with and send messages to other tuneteams users?
    %li
      %a{href:"#how-do-i-import-spotify-or-soundcloud-embed-players-into-my-profile"} How do I import Spotify or Soundcloud embed players into my profile?
    %li
      %a{href:"#how-do-i-import-youtube-embed-players-into-my-profile"} How do I import YouTube embed players into my profile?
    %li
      %a{href:"#how-do-i-create-a-discography-with-hyperlinks"} How do I create a discography with hyperlinks?

  %h3
    %a#what-is-tuneteams
      1. What is tuneteams?
  %p
    tuneteams is an online professional network for the music industry. tuneteams helps music industry professionals find and connect with new partners around the world. Any internet user can search tuneteams’ user profiles and look at them, but you need an invitation to create your own profile(s). You can search tuneteams’ user profiles by person and company names, country, musical genres and job types (i.e. artist management, record label, songwriter, etc.). So you can search, for example, for a music publisher in Brazil who works with country music!

  %h3
    %a#why-is-tuneteams-invite-only
      2. Why is tuneteams invite-only? 
  %p
    Why do I have to receive an invite in order to create a profile on tuneteams? There are two main reasons that we made tuneteams invite-only to start. First, being able to manage the number of new users signing up means that we can make certain our technical infrastructure can support the amount of people using tuneteams. Second, our goal is that tuneteams becomes a community that both the most experienced and accomplished music industry professionals and also new music industry members feel comfortable using. That is a difficult goal, but we believe tuneteams needs both experienced and new music industry professionals to be a useful and successful community. In order to accomplish this goal, we want to balance the number of new tuneteams members with different levels of music industry experience. In the future, we might remove the invite-only requirement.

  %h3
    %a#my-company-already-has-a-page-on-tuneteams-but-we-did-not-create-it
      3. My company already has a page on tuneteams, but we did not create it. Why is that?
  %p
    Address books and phone directories are not useful without names and phone numbers inside, and the same is true for an online professional network. Therefore, we preloaded the tuneteams beta service with public information on leading music companies that we found on their web pages and other internet resources. If you find your company’s profile on tuneteams, the profile will indicate whether it has been created by your company or tuneteams. And if tuneteams created the profile, there are clear instructions for how you can take over your own profile’s management. We will be very happy if you do so!

  %h3
    %a#why-can-i-only-have-two-profiles-per-account
      4. Why can I only have 2 profiles per account?
  %p
    At tuneteams, we know that some people are recording artists and songwriters, and some companies are artist management and label services companies. The list goes on. Therefore, we have let everyone create two different profiles per account. If you need more profiles, you can request another tuneteams account invitation with a different email. More profiles require more storage and other technical resources, so tuneteams needs to manage the growth in new profiles. We will continue to listen to our users and to evaluate the right numbers of profiles per account.

  %h3
    %a#how-do-i-manage-connections-and-settings-for-my-different-profiles
      5. How do I manage connections and settings for my different profiles?
  %p
    tuneteams allows two profiles per account. Each profile can have its own connections and its own settings (for example, the setting for who can see your connections list). To manage the connections or settings for a profile, you must first make sure that the profile is active. It is easy to tell which of your two profiles is active. When you are logged-in, the photo for the active profile will show in the upper right hand corner. To change the active profile, first click on the profile photo in the upper right hand corner and then, under “Profile,” click on the name of the profile that you want to be active. Clicking on the profile name will also take you to that profile’s page. When you are logged-in, at the top and middle of the profile’s cover photo are two buttons that let you switch between the profile and the profile’s settings page. Also, any connections that you request while a profile is active will be requested for that profile only. To request a connection for your other profile, make that profile active first.

  %h3
    %a#how-do-i-set-up-my-second-profile
      6. How do I set up my second profile?
  %p
    Click on your profile photo in the upper right hand corner of any page and a pop-up window will appear. In the left column of the pop-up window under "PROFILE," you will see a blue button that says, “Add new profile.” Double-click on this button, and follow the same steps that you used to set up your first profile.

  %h3
    %a#how-do-i-use-advanced-search
      7. How do I use advanced search?
  %p
    One of tuneteams’ company missions is to help its users find the right new partners around the world. Advanced search is a great tool for helping you find the type of people and companies you are looking for. In addition to searching by the names of company and people, advanced search offers four different variables that you can search by:
    %ul
      %li The <strong>genre(s)</strong> of music that the person or company works with (e.g. rock, pop);
      %li The <strong>country</strong> where a person or company is located (e.g. Sweden, India, Japan);
      %li The person or company’s <strong>Industry Role</strong> (e.g. Recording Artist, Record Label Company, Record Label Executive).
      %li What <strong>deal type(s)</strong> people or companies are interested in.
    For example, if you want to find a music publisher in Brazil who works with polka music and is interested in Artists To Sign; tuneteams advanced search can help you quickly find out if there is a company in the tuneteams database that fits these criteria. In summary, there are two main ways to use tuneteams search:
    %br
    %br
    %ol
      %li Just start typing a name, genre, country, or industry role into the search entry field. Top search results will be listed below the entry field, OR click on “see more results for . . .” at the end of the list to see all the matching results for your search.
      %li Click on the blue "advanced search" link just below the right hand side of the search entry field that appears at the top of any page. Check the boxes next to the variables that you want to use (i.e. Genre, Country, Deal Type and/or Industry Role), and pull-down menus will appear. To select Deal Type, you must first select Industry Role.  Select the value you want for each variable from the pull-down menus and click "Search."

  %h3
    %a#how-do-i-connect-with-and-send-messages-to-other-tuneteams-users
      8. How do I connect with and send messages to other tuneteams users?
  %p
    To send a message to another tuneteams user, that user must first accept you as a connection. To ask another tuneteams user to make you a connection, push the blue "Connect" button below the right side of the user’s profile cover photo (the big photo at the top of the profile) and follow the instructions to send a connection request message. The blue “Connect” button on their profile will turn grey and say "Pending" for as long as the other user has not yet accepted your connection request. Once the user has approved you as a connection, the “Pending” button will turn blue again and say "Send Message." Now to send a message to this user, all you have to do is press "Send Message" and a messaging window will pop-up. Just type-in your subject and message and press "Send!".

  %h3
    %a#how-do-i-import-spotify-or-soundcloud-embed-players-into-my-profile
      9. How do I import Spotify or Soundcloud embed players into my profile?
  %p
    Most profile types have a section for embedded Spotify or Soundcloud players. For example, on an Artist Manager profile, this section is "Some Music We Have Supported." On a Concert Venue's profile, this section is called "Favourite Concerts."
    %ul
      %li To import a Spotify or Soundcloud embed player into these sections, first click on the blue "Edit" button to the right of the section's title, and then click the blue "[Add Music]" link in the upper left-hand corner of the section. A white input box will appear.
      %li Next open Spotify or Soundcloud. For Soundcloud, go to the song’s page and copy the URL in your browser’s address bar. It should look like “https://soundcloud.com/artistname/song-name.” For Spotify, right-click on the title of the song or album you want to embed. A pull down menu will appear. Select "Copy Spotify URI."
      %li Go back to tuneteams in your browser, put the cursor in the white input box and paste. A Spotify URI or Soundcloud http link should be pasted into the white input box.
      %li Now just press the blue "Ok" button in the bottom left of the music section. Your Spotify or Soundcloud embed player should now magically appear. You can add more Spotify or Soundcloud embed players to the music section by repeating this process.

  %h3
    %a#how-do-i-import-youtube-embed-players-into-my-profile
      10. How do I import YouTube embed players into my profile?
  %p
    Most profile types have a section for embedded YouTube players. For example, on a Recording Artist profile, this section is "Some Videos We Made." On a Concert Promoter's profile, this section is called "Performances We're Proud To Have Brought To Town."
    %ul
      %li To import a YouTube embed player into these sections, first click on the blue "Add" button to the right of the section’s title, and then click the blue "[Add video]" link in the upper left hand corner of the section. A white input box will appear.
      %li Next open YouTube in a different browser window and find the video you want to embed.
      %li Copy your video’s YouTube page URL from your browser’s address bar (do not use YouTube’s “share” button for a short URL), and paste it into the white input box that appeared in your tuneteams video section.
      %li Finally, press the blue “Ok” button in the bottom left of the video section. Your YouTube embedded player should magically appear. You can add more YouTube embed players to the video section by repeating this process.

  %h3
    %a#how-do-i-create-a-discography-with-hyperlinks
      11. How do I create a discography with hyperlinks?
  %p
    Instead of embedding Spotify and YouTube players in your profile, it is also possible to create hyperlinks to YouTube video pages and Spotify album pages. This is useful if you want to provide links to many videos, albums or songs. Not every profile type has this type of section. Only Recording Artist, Producer, Songwriter, Record Label Company and Music Publishing Company profiles have this type of section. For Recording Artist, Producer and Songwriter profiles, for example, this section is called "Our Full Discography." For Record Label and Music Publishing Companies, it is called "Highlights from Our Catalogue."
    %ul
      %li To add a hyperlinked song, album, or video to these sections; first click the blue “Edit” button to the right of the section title.
      %li Next click the blue "[Add Music]" link that just appeared in the upper right-hand corner of the section. Two white input bars will appear that say "Song, Video, or Album Title” and "Youtube or Spotify HTTP Link." In the first bar, you always write the name of the song, video or album or whatever you want the hyperlinked text that will go in this section to say.
      %li To hyperlink the text to a Spotify song or album; open Spotify, right-click on the song or album title in Spotify, and select "Copy HTTP Link" from the pull-down menu. Please note that this is a different selection than what is needed to embed a Spotify player.
      %li To link the text to a YouTube video, open the video’s page in YouTube and copy the YouTube page address in your browser’s address bar.
      %li Next go back to tuneteams, place the cursor in the input bar that says "Youtube or Spotify HTTP Link" and paste. The Spotify or YouTube HTTP link will appear in the input bar.
      %li Finally, push the blue "Ok" button in the bottom left corner of the section. Your hyperlink should now appear in the section! You can add more hyperlinked song, album and video titles to the section by repeating the above process.