.container.static-pages.privacy-policy
  .title-container
    %h1 Privacy Policy

  %p
    This Privacy Policy explains how tuneteams, Inc. (“tuneteams,”, “we,” or “us) collects, uses, discloses, and protects information that applies to the Service, and your choices about the collection and use of your information.
  %p
    Click on the links below to jump to each section:

  %ol
    %li
      %a{href:"#how-we-collect-and-use-information"} How We Collect and Use Information
    %li
      %a{href:"#sharing-of-your-information"} Sharing of Your Information
    %li
      %a{href:"#how-we-store-and-protect-your-information"} How We Store and Protect Your Information
    %li
      %a{href:"#your-choices-about-your-information"} Your Choices about Your Information
    %li
      %a{href:"#childrens-privacy"} Children’s Privacy
    %li
      %a{href:"#links-to-other-websites-and-services"} Links to Other Websites and Services
    %li
      %a{href:"#how-to-contact-us"} How to Contact Us
    %li
      %a{href:"#changes-to-our-privacy-policy"} Changes to Our Privacy Policy

  %h3
    %a{id: "how-we-collect-and-use-information"}
      1. HOW WE COLLECT AND USE INFORMATION

  %p
    Capitalized terms that are not defined in this Privacy Policy have the meaning given them in our
    %a{href: "/terms-of-use-agreement"} Terms of Use
    \.
  %p
    We collect the following types of information about you:

  %p.indent-medium
    %strong Information you provide us directly:
    We ask for certain information such as your name, company name, business associates, business achievements, role in the music industry, genre(s) of music, country and e-mail address when you register for a tuneteams account, customize your profile or if you correspond with us. We may also retain any messages you send through the Service, and may collect information you provide in User Content you post to the Service. We use this information to operate, maintain, and provide to you the features and functionality of the Service.
  %p.indent-medium
    %strong Analytics information.
    We may directly collect analytics data, or use third-party analytics tools, to help us measure traffic and usage trends for the Service. These tools collect information sent by your browser or mobile device, including the pages you visit and other information that assists us in improving the Service. We collect and use this analytics information in aggregate form such that it cannot reasonably be manipulated to identify any particular individual User.
  %p.indent-medium
    %strong Cookies information:
    When you visit the Service, we may send one or more cookies — a small text file containing a string of alphanumeric characters — to your computer that uniquely identifies your browser and lets us help you log in faster and enhance your navigation through the site. A cookie may also convey information to us about how you use the Service (e.g., the pages you view, the links you click and other actions you take on the Service), and allow us or our business partners to track your usage of the Service over time. We use cookies only for internal purposes (i.e., we do not track over time and across websites). A persistent cookie remains on your hard drive after you close your browser. Persistent cookies may be used by your browser on subsequent visits to the site. Persistent cookies can be removed by following your web browser’s directions. A session cookie is temporary and disappears after you close your browser. You can reset your web browser to refuse all cookies or to indicate when a cookie is being sent. However, some features of the Service may not function properly if the ability to accept cookies is disabled.
  %p.indent-medium
    %strong Log file information:
    Log file information is automatically reported by your browser or mobile device each time you access the Service. When you use our Service, our servers automatically record certain log file information. These server logs may include anonymous information such as your web request, Internet Protocol (“IP”) address, browser type, referring / exit pages and URLs, number of clicks and how you interact with links on the Service, domain names, landing pages, pages viewed, and other such information.
  %p.indent-medium
    %strong Clear gifs/web beacons information:
    When you use the Service, we may employ clear gifs (also known as web beacons) which are used to anonymously track the online usage patterns of our Users. In addition, we may also use clear gifs in HTML-based emails sent to our users to track which emails are opened and which links are clicked by recipients. The information is allows for more accurate reporting and improvement of the Service.
  %p.indent-medium
    %strong Device identifiers:
    When you access the Service by or through a mobile device (including but not limited to smart-phones or tablets), we may access, collect, monitor and/or remotely store one or more “device identifiers,” such as a universally unique identifier (“UUID”). Device identifiers are small data files or similar data structures stored on or associated with your mobile device, which uniquely identify your mobile device. A device identifier may be data stored in connection with the device hardware, data stored in connection with the device’s operating system or other software, or data sent to the device by tuneteams. A device identifier may convey information to us about how you browse and use the Service. A device identifier may remain persistently on your device, to help you log in faster and enhance your navigation through the Service. Some features of the Service may not function properly if use or availability of device identifiers is impaired or disabled.
  %p.indent-medium
    %strong Location data:
    When you access the Service, we may access, collect, monitor and/or remotely store “location data,” which may include GPS coordinates (e.g. latitude and/or longitude), WiFi or similar information regarding the location of your device. Location data may convey to us information about how you browse and use the Service. Some features of the Service, particularly location-based services, may not function properly if use or availability of location data is impaired or disabled.
  %p.indent-medium
    %strong Commercial and marketing communications:
    We use the information we collect or receive to communicate directly with you. We may send you emails containing newsletters, promotions, surveys and special offers. If you do not want to receive such email messages, you will be given the option to opt out or change your preferences. We also use your information to send you Service-related emails (e.g., account verification, changes/updates to features of the Service, technical and security notices). You may not opt out of Service-related e-mails. You will also be able to be “found” on tuneteams based on information that you provide.
  %p.indent-medium
    %strong How we use information collected through technology:
    We use or may use cookies, log file, device identifiers, location data and clear gifs information to: (a) remember information so that you will not have to re-enter it during your visit or the next time you visit the site; (b) provide custom, personalized content and information; (c) to provide and monitor the effectiveness of our Service; (d) monitor aggregate metrics such as total number of visitors, traffic, and demographic patterns; (e) diagnose or fix technology problems; (f) help you efficiently access your information after you sign in; and (g) to provide advertising to your browser or device. 

  %h3
    %a#sharing-of-your-information
      2. SHARING OF YOUR INFORMATION

  %p
    We will not rent or sell your information to third parties outside tuneteams and its group companies (including any parent, subsidiaries and affiliates) without your consent, except as noted below:

  %p.indent-medium
    %strong Who we may share your information with:
    We may share your information with third-party business partners for the purpose of providing the Service to you. Those business partners will be given limited access to your information as is reasonably necessary to deliver the Service, and we will require that such third parties comply with this Privacy Policy.
  %p.indent-medium
    %strong Who you may choose to share your User Content with:
    Any information or content that you voluntarily disclose for posting to the Service, such as User Content, becomes available to the public, as controlled by any applicable privacy settings. To change your privacy settings on the Service, please change your Account settings. Subject to your profile and privacy settings, any User Content that you make public is searchable by other Users. If you remove information that you posted to the Service, copies may remain viewable in cached and archived pages of the Service, or if other Users have copied or saved that information.
  %p.indent-medium
    %strong What happens in the event of a change of control:
    We may buy or sell/divest/transfer the company (including any shares in the company), or any combination of its products, services, assets and/or businesses. Your information such as customer names and email addresses, User Content and other user information related to the Service may be among the items sold or otherwise transferred in these types of transactions. We may also sell, assign or otherwise transfer such information in the course of corporate divestitures, mergers, acquisitions, bankruptcies, dissolutions, reorganizations, liquidations, similar transactions or proceedings involving all or a portion of the company.
  %p.indent-medium
    %strong Instances where we are required to share your information:
    We will disclose your information where required to do so by law or subpoena or if we reasonably believe that such action is necessary to (a) comply with the law and the reasonable requests of law enforcement; (b) to enforce our
    %a{href: "/terms-of-use-agreement"} Terms of Use
    or to protect the security or integrity of our Service; and/or (c) to exercise or protect the rights, property, or personal safety of tuneteams, our Users or others.
  %p.indent-medium
    %strong Sharing certain service type information we collect about you:
    We may share certain service type information, including information obtained through tools such as cookies, log files, device identifiers, location data and clear gifs (such as anonymous usage data, referring/exit pages and URLs, platform types, number of clicks, etc.): (i) with our third-party business partners for the purposes described in the section above on “How We Collect and Use Information.” We may also aggregate or otherwise strip data of all personally identifying characteristics and may share that aggregated, anonymized data with third parties.
  %p
    %strong Ads on tuneteams:
    We may also share certain information such as your location, browser and cookie data and other data relating to your use of our Service with our business partners to deliver advertisements (“ads”) that may be of interest to you. We may allow third-party ad servers or ad networks to serve advertisements on the Service. These third-party ad servers or ad networks use technology to send, directly to your browser or mobile device, the ads and ad links that appear on the Service, and will automatically receive your IP address when they do so. They may also use other technologies (such as cookies, JavaScript, device identifiers, location data, and clear gifs, see above) to compile information about your browser’s or device’s visits and usage patterns on the Service, and to measure the effectiveness of their ads and to personalize the advertising content. We do not sell, rent, or share the information we collect directly from you or about you from third parties with these third-party ad servers or ad networks for such parties’ own marketing purposes. 
  %p
    This Privacy Policy does not apply to, and we cannot control the activities of, third-party advertisers. Please consult the respective privacy policies of such advertisers or contact such advertisers for more information.

  %h3
    %a#how-we-store-and-protect-your-information
      3. HOW WE STORE AND PROTECT YOUR INFORMATION

  %p
    %strong Storage and Processing:
    Your information collected through the Service may be stored and processed in the United States or any other country in which tuneteams or its subsidiaries, affiliates or service providers maintain facilities. We may transfer information that we collect about you, including personal information, to affiliated entities, or to other third parties across borders and from your country or jurisdiction to other countries or jurisdictions around the world. If you are located in the European Union or other regions with laws governing data collection and use that may differ from U.S. law, please note that we may transfer information, including personal information, to a country and jurisdiction that does not have the same data protection laws as your jurisdiction, and you consent to the transfer of information to the U.S. or any other country in which tuneteams or its parent, subsidiaries, affiliates or service providers maintain facilities and the use and disclosure of information about you as described in this Privacy Policy.
  %p
    %strong Keeping your information safe:
    We care about the security of your information, and uses commercially reasonable safeguards to preserve the integrity and security of all information collected through the Service. To protect your privacy and security, we take reasonable steps (such as requesting a unique password) to verify your identity before granting you access to your account. You are responsible for maintaining the secrecy of your unique password and account information, and for controlling access to your email communications from tuneteams, at all times. However, we cannot ensure or warrant the security of any information you transmit to us or guarantee that information on the Service may not be accessed, disclosed, altered, or destroyed. Your privacy settings may also be affected by changes to the functionality of third party sites and services that you add to the Service, such as social networks. We are not responsible for the functionality or security measures of any third party.
  %p
    %strong Compromise of information:
    In the event that any information under our control is compromised as a result of a breach of security, we will take reasonable steps to investigate the situation and where appropriate, notify those individuals whose information may have been compromised and take other steps, in accordance with any applicable laws and regulations.

  %h3
    %a#your-choices-about-your-information
      4. YOUR CHOICES ABOUT YOUR INFORMATION

  %p
    %strong You control your account information and settings:
    You may update your account information and email-communication preferences at any time by logging into your account and changing your settings. You can also stop receiving promotional email communications from us by clicking on the “unsubscribe link” provided in such communications. We make every effort to promptly process all unsubscribe requests. As noted above, you may not opt out of Service-related communications (e.g., account verification, changes/updates to features of the Service, technical and security notices). If you have any questions about reviewing or modifying your account information, you can contact us directly at 
    %a{href: "mailto:privacy@tuneteams.com"} privacy@tuneteams.com
    \.
  %p
    %strong Opting out of collection of your information for Tracking / Advertising:
    As discussed above, we track website usage information through the use of cookies for analytic and internal purposes only. Because we do not collect this information to track you across websites over time, your selection of the “Do Not Track” option provided by your browser will not have any effect on our collection of cookie information for analytics or internal purposes. The only way to opt-out of the collection of cookie information or other tracking technology is to actively manage the settings on your browser or mobile device to delete and disable cookies and other tracking/recording tools. (To learn more about cookies, clear gifs/web beacons and related technologies, you may wish to visit http://www.allaboutcookies.org ). Please refer to your mobile device or browser’s technical information for instructions on how to delete and disable cookies, and other tracking/recording tools. Depending on your type of device, it may not be possible to delete or disable tracking mechanisms on your mobile device. Note that disabling cookies and/or other tracking tools prevents tuneteams or its business partners from tracking your browser’s activities in relation to the Service, and for use in targeted advertising activities by third parties. However, doing so may disable many of the features available through the Service. If you have any questions about opting out of the collection of cookies and other tracking/recording tools, you can contact us directly at
    %a{href: "mailto:privacy@tuneteams.com"} privacy@tuneteams.com
    \.

  %p
    %strong How long we keep your User Content:
    Following termination or deactivation of your User account, we may retain your profile information and User Content for a commercially reasonable time for backup, archival, or audit purposes. 

  %h3
    %a#childrens-privacy
      5. CHILDREN’S PRIVACY

  %p
    We do not knowingly collect or solicit any information from anyone under the age of 13 or knowingly allow such persons to register as Users. The Service and its content are not directed at children under the age of 13. In the event that we learn that we have collected personal information from a child under age 13 without verification of parental consent, we will delete that information as quickly as possible. If you believe that we might have any information from or about a child under 13, please contact us at
    %a{href: "mailto:privacy@tuneteams.com"} privacy@tuneteams.com
    \.


  %h3
    %a#links-to-other-websites-and-services
      6. LINKS TO OTHER WEB SITES AND SERVICES

  %p
    We are not responsible for the practices employed by websites or services linked to or from the Service, including the information or content contained therein. Please remember that when you use a link to go from the Service to another website, our Privacy Policy does not apply to third-party websites or services. Your browsing and interaction on any third-party website or service, including those that have a link or advertisement on our website, are subject to that third party’s own rules and policies. In addition, you agree that we are not responsible for and we do not have any control over any third-parties that you authorize to access your User Content. If you are using a third-party website or service (like Facebook) and you allow such a third-party access to your User Content you do so at your own risk. This Privacy Policy does not apply to information we collect by other means (including offline) or from other sources other than through the Service. 

  %h3
    %a#how-to-contact-us
      7. HOW TO CONTACT US
  %p
    If you have any questions about this Privacy Policy or the Service, please contact us at 
    %a{href: "mailto:privacy@tuneteams.com"} privacy@tuneteams.com
    \.


  %h3
    %a#changes-to-our-privacy-policy
      8. CHANGES TO OUR PRIVACY POLICY

  %p We may modify or update this Privacy Policy from time to time to reflect the changes in our business and practices, and so you should review this page periodically. When we change the policy in a material manner we will let you know and update the ‘last modified’ date at the bottom of this page. 

  %br
  %p
    This privacy policy was last modified on June 26, 2014.