%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
  We're sorry. Bidder #{@bidder_profile_name} has not accepted your second chance offer. Click on the button below to make a second chance offer to another bidder (if applicable) or to re-start the auction.
  %br
%center
  %table
    %tr
      %td{align: "center"}
        %a{href: "#{@auction_url}", style: "color: #FFF;padding: 12px 30px;background-color:#00B3F3;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;text-decoration: none;display:block;width:200px;text-align:center;margin-top:20px;margin-bottom:20px;border-radius:3px;font-size:16px;"} Go to Bids Tab
