%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
  Dear #{@bidder_profile_name}: Good News. #{@auction.profile.name} is offering you the opportunity to win the auction <strong>#{@auction.name}</strong> for your last bid amount of <strong>#{@auction.competitive_term == 'advance' ? ('USD$' + '%.2f' % @max_amount) : ('%.2f' % @max_amount + '%')}</strong>. If you still want to win this auction, click the button below.
  %br
%center
  %table
    %tr
      %td{align: "center"}
        %a{href: "#{@offer_url}", style: "color: #FFF;padding: 12px 30px;background-color:#00B3F3;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;text-decoration: none;display:block;width:200px;text-align:center;margin-top:20px;margin-bottom:20px;border-radius:3px;font-size:16px;"} Accept Offer
