%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
  Congratulations. The contract for #{@auction.name} has now been electronically signed by both parties, and the signed contract is attached to this email. We have sent an email to #{@licensee_name} with instructions for how to make the Advance payment now. After #{@licensee_name} makes the Advance payment, you will be notified to send him the materials required by the contract. 