%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
	<a href="#{@bidder_profile_permalink}" target="_blank">#{@bidder_profile_name}</a> is now the highest bidder on auction <a href="#{@auction_url}" target="_blank">#{@auction_name}</a> with a bid of US$#{'%.2f' % @amount}. You can submit higher bids on this auction until #{@due_date}.
	%br
%center
	%table
		%tr
			%td{align: "center"}
				%a{href: "#{@auction_url}", style: "color: #FFF;padding: 12px 30px;background-color:#00B3F3;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;text-decoration: none;display:block;width:200px;text-align:center;margin-top:20px;margin-bottom:20px;border-radius:3px;font-size:16px;"} Bid more
