%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
	Congratulations. The contract for <a href="#{@auction_url}" target="_blank">#{@auction.name}</a> has now been electronically signed by both parties, and the signed contract is attached to this email. The next step is for you to make the advance payment. Please click on the button below to pay the Advance. tuneteams will hold the Advance payment in escrow until you confirm that you have received all the materials required by the contract. Please note that you have <strong>7 (seven) days</strong> to make the Advance Payment. If tuneteams has not received the Advance payment by #{@due_date} New York Time, the contract can be cancelled.
	%br
%center
	%table
		%tr
			%td{align: "center"}
				%a{href: "#{@payment_url}", style: "color: #FFF;padding: 12px 30px;background-color:#00B3F3;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;text-decoration: none;display:block;width:200px;text-align:center;margin-top:20px;margin-bottom:20px;border-radius:3px;font-size:16px;"} Pay Advance