%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
  Hi, <a href="#{@bidder_profile_url}" target="_blank">#{@bidder_profile_name}</a> has requested approval to bid on auction <a href="#{@auction_url}" target="_blank">#{@auction_name}</a>. The legal party entering into the contract would be #{@legal_party_name}. Please click on the button below to approve or reject this request.
  %br
%center
  %table
    %tr
      %td{align: "center"}
        %a{href: "#{@url}", style: "color: #FFF;padding: 12px 30px;background-color:#00B3F3;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;text-decoration: none;display:block;width:200px;text-align:center;margin-top:20px;margin-bottom:20px;border-radius:3px;font-size:16px;"} Review Request