%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
  We're sorry. You have not been approved as a bidder for auction <a href="#{@auction_url}" target="_blank">#{@auction_name}</a>. This decision has been made by the Auction Manager.
  %br
