%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
  We're sorry. Auction #{@auction.name} has ended, and your Reserve Bid amount was not met. If you think one of the bids was high enough, you can offer the bidder a second chance to win the auction using the second chance button under the 'Bids' tab. Alternatively, you can re-start the auction. Please click the button below to choose whether to re-start or make a second chance offer.
  %br
%center
  %table
    %tr
      %td{align: "center"}
        %a{href: "#{@auction_url}", style: "color: #FFF;padding: 12px 30px;background-color:#00B3F3;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;text-decoration: none;display:block;width:200px;text-align:center;margin-top:20px;margin-bottom:20px;border-radius:3px;font-size:16px;"} Go to Bids Tab
