%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
  We're sorry. Auction #{@auction.name} has ended and the Reserve Bid amount was not met.
  %br
