%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
	Congratulations. Auction <a href="#{@auction_url}" target="_blank">#{@auction.name}</a> has ended successfully. <a href="#{@winner_profile_url}" target="_blank">#{@winner_profile_name}</a> is the winner with a bid of #{@auction.competitive_term == 'advance' ? ('USD$' + '%.2f' % @amount) : ('%.2f' % @amount + '%')}. You should now click the button below to review and electronically sign the contract. Please remember that if you do not electronically sign the contract within 7 (seven) days, the auction can be cancelled, and #{@winner_profile_name} will no longer be required to license the content.
	%br
%center
	%table
		%tr
			%td{align: "center"}
				%a{href: "#{@contract_url}", style: "color: #FFF;padding: 12px 30px;background-color:#00B3F3;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;text-decoration: none;display:block;width:200px;text-align:center;margin-top:20px;margin-bottom:20px;border-radius:3px;font-size:16px;"} Review and sign contract
