check process sidekiq
  with pidfile /var/www/tuneteams/shared/tmp/pids/sidekiq.pid
  start program = "/bin/bash -l -c 'cd /var/www/tuneteams/current; RBENV_ROOT=~/.rbenv RBENV_VERSION=2.1.7 ~/.rbenv/bin/rbenv exec bundle exec sidekiq --index 0 --pidfile /var/www/tuneteams/shared/tmp/pids/sidekiq.pid --environment <%= node['env'] %> --logfile /var/www/tuneteams/shared/log/sidekiq.log --config /var/www/tuneteams/shared/config/sidekiq.yml --daemon'" as uid deployer as gid deployer
  stop program = "/bin/su - chief -c 'cd /var/www/tuneteams/current; RBENV_ROOT=~/.rbenv RBENV_VERSION=2.1.7 ~/.rbenv/bin/rbenv exec bundle exec sidekiqctl stop /var/www/tuneteams/shared/tmp/pids/sidekiq.pid 10'"
  if totalmem is greater than 512 MB for 3 cycles then restart
  if 3 restarts within 5 cycles then timeout
