.container
  %h2 Auctions Administration
  %ul.nav.nav-pills
    %li{"ng-class" => "{active: $storage.currentStatus == 'rejected'}"}
      %a{:href => "#", "ng-click" => "getAuctions('rejected', 1)"}
        Rejected
        %span.badge{"ng-show" => "counter.rejected"} {{counter.rejected}}
    %li{"ng-class" => "{active: $storage.currentStatus == 'ended_no_bids'}"}
      %a{:href => "#", "ng-click" => "getAuctions('ended_no_bids', 1)"}
        Ended no bids
        %span.badge{"ng-show" => "counter.ended_no_bids"} {{counter.ended_no_bids}}
    %li{"ng-class" => "{active: $storage.currentStatus == 'draft'}"}
      %a{:href => "#", "ng-click" => "getAuctions('draft', 1)"}
        Draft
        %span.badge{"ng-show" => "counter.draft"} {{counter.draft}}
    %li{"ng-class" => "{active: $storage.currentStatus == 'published'}"}
      %a{:href => "#", "ng-click" => "getAuctions('published', 1)"}
        Published
        %span.badge{"ng-show" => "counter.published"} {{counter.published}}
    %li{"ng-class" => "{active: $storage.currentStatus == 'approved'}"}
      %a{:href => "#", "ng-click" => "getAuctions('approved', 1)"}
        Approved
        %span.badge{"ng-show" => "counter.approved"} {{counter.approved}}
    %li{"ng-class" => "{active: $storage.currentStatus == 'waiting_sign'}"}
      %a{:href => "#", "ng-click" => "getAuctions('waiting_sign', 1)"}
        Waiting Sign
        %span.badge{"ng-show" => "counter.waiting_sign"} {{counter.waiting_sign}}
    %li{"ng-class" => "{active: $storage.currentStatus == 'waiting_payment'}"}
      %a{:href => "#", "ng-click" => "getAuctions('waiting_payment', 1)"}
        Waiting Payment
        %span.badge{"ng-show" => "counter.waiting_payment"} {{counter.waiting_payment}}
    %li{"ng-class" => "{active: $storage.currentStatus == 'paid'}"}
      %a{:href => "#", "ng-click" => "getAuctions('paid', 1)"}
        Paid
        %span.badge{"ng-show" => "counter.paid"} {{counter.paid}}
    %li{"ng-class" => "{active: $storage.currentStatus == 'materials_received'}"}
      %a{:href => "#", "ng-click" => "getAuctions('materials_received', 1)"}
        Materials Received
        %span.badge{"ng-show" => "counter.materials_received"} {{counter.materials_received}}
    %li{"ng-class" => "{active: $storage.currentStatus == 'payout_made'}"}
      %a{:href => "#", "ng-click" => "getAuctions('payout_made', 1)"}
        Payout Done
        %span.badge{"ng-show" => "counter.payout_made"} {{counter.payout_made}}

  %br

  %table.table
    %tr
      %th{style: "width: 50%"}
        %a{:href => "#", "ng-click" => "setSorting('name', $storage.sortDirection)"}
          Name
          %span.fa.fa-caret-down{"ng-show" => "$storage.sortType == 'name' && $storage.sortDirection == 'DESC'"}
          %span.fa.fa-caret-up{"ng-show" => "$storage.sortType == 'name' && $storage.sortDirection == 'ASC'"}
      %th{style: "width: 20%"}
        %a{:href => "#", "ng-click" => "setSorting('auction_type', $storage.sortDirection)"}
          Type
          %span.fa.fa-caret-down{"ng-show" => "$storage.sortType == 'auction_type' && $storage.sortDirection == 'DESC'"}
          %span.fa.fa-caret-up{"ng-show" => "$storage.sortType == 'auction_type' && $storage.sortDirection == 'ASC'"}
      %th{style: "width: 5%"} Notes
      %th{style: "width: 10%"}
        %a{"ng-show" => "$storage.currentStatus == 'published'", :href => "#", "ng-click" => "setSorting('publishing_date', $storage.sortDirection)"}
          Published Date
          %span.fa.fa-caret-down{"ng-show" => "$storage.sortType == 'publishing_date' && $storage.sortDirection == 'DESC'"}
          %span.fa.fa-caret-up{"ng-show" => "$storage.sortType == 'publishing_date' && $storage.sortDirection == 'ASC'"}
        %a{"ng-show" => "$storage.currentStatus == 'draft' || $storage.currentStatus == 'rejected' || $storage.currentStatus == 'ended_no_bids'", :href => "#", "ng-click" => "setSorting('created_at', $storage.sortDirection)"}
          Created At
          %span.fa.fa-caret-down{"ng-show" => "$storage.sortType == 'created_at' && $storage.sortDirection == 'DESC'"}
          %span.fa.fa-caret-up{"ng-show" => "$storage.sortType == 'created_at' && $storage.sortDirection == 'ASC'"}
      %th{"ng-show" => "$storage.currentStatus == 'published' || $storage.currentStatus == 'paid' || $storage.currentStatus == 'draft'", style: "width: 15%"} Action
    %tr{"dir-paginate" => "auction in auctions | itemsPerPage: 10", "total-items"=>"totalAuctions", "pagination-id" => "auction.id", "current-page" => "pagination.current"}
      %td
        %a{"ng-href" => "/auctions/{{auction.permalink}}", target: "_blank"} {{auction.name}}
      %td
        {{auction.auction_type_name}}
      %td
        %button.btn.btn-default{"ng-click" => "showNotesModal(auction)"} Notes
      %td{"ng-show" => "$storage.currentStatus == 'draft' || $storage.currentStatus == 'rejected' || $storage.currentStatus == 'ended_no_bids'"}
        {{auction.created_at | date:'shortDate'}}
      %td{"ng-show" => "$storage.currentStatus == 'published'"}
        {{auction.published_date | date:'shortDate'}}
      %td{"ng-show" => "$storage.currentStatus == 'published' || $storage.currentStatus == 'draft'"}
        %button.btn.btn-primary{"ng-really-message" =>"Are you sure?", "ng-really-click" => "approve(auction, $index)", "ng-show" => "$storage.currentStatus == 'published'"} Approve
        %button.btn.btn-default{"ng-really-message" =>"Are you sure?", "ng-really-click" => "reject(auction, $index)", "ng-show" => "$storage.currentStatus == 'published'"} Reject
        %button.btn.btn-default{"ng-really-message" =>"Are you sure?", "ng-really-click" => "return_to_draft(auction, $index)", "ng-show" => "$storage.currentStatus == 'published'"} Draft
        %button.btn.btn-danger{"ng-really-message" =>"Are you sure?, this action can not be undone", "ng-really-click" => "delete(auction, $index)", "ng-show" => "$storage.currentStatus == 'draft'"} Delete
      %td{"ng-show" => "$storage.currentStatus == 'materials_received'"}
        %button.btn.btn-default{"ng-click" => "showPayoutModal(auction, $index)"} Payout
  %dir-pagination-controls{"pagination-id" => "auction.id", "template-url"=>"/assets/dirPagination.tpl.html", "on-page-change"=>"pageChanged($storage.currentStatus, newPageNumber)"}
