.arrange
  .container
    #auctions-sortable-container.list-container
      .header
        Auctions
      .search-container
        %angucomplete-alt#search-people{"input-class" => "form-control form-control-small", minlength: "1", pause: "100", "placeholder" => "Search for auction to add...", "search-fields" => "_source.name", "description-field"=>"_source.permalink", "selected-object" => "selectedMember", "title-field" => "_source.name", "match-class" => "search-highlight", "clear-selected" => true, "image-field"=>"_source.default_illustration.small", "remote-url"=>"/api/v1/auctions/search?type=simple&q=", "remote-url-data-field"=>"results"}
        .auction-selected
          {{auctionSelected = selectedMember.originalObject}}
      .sortable-row{"as-sortable" => "auctionSortableOptions", "ng-model" => "auctions"}
        %div{"as-sortable-item" => "", "ng-repeat" => "auction in auctions"}
          %div{"as-sortable-item-handle" => ""}
            .auction
              .order {{$index + 1}}
              .illustration-container
                .illustration{"ng-style" => "{'background-image': 'url(' + auction.default_illustration.small + ')'}"}
              .details
                {{auction.name}}
              .delete
                %button.close{"ng-click" => "deleteAuction(auction, $index)", type: "button"} &#215;
    #profiles-sortable-container.list-container
      .header
        Profiles
      .search-container
        %angucomplete-alt#search-header{"input-class" => "form-control form-control-small search-field", minlength: "1", pause: "100", "placeholder" => "Search for profile to add...", "search-fields" => "_source.name", "description-field"=>"_source.industry_role_profile.name", "image-field"=>"_source.default_avatar.small", "selected-object" => "selectedProfileMember", "title-field" => "_source.name", "match-class" => "search-highlight", "clear-selected" => true, "remote-url"=>"/api/v1/profiles/search?type=simple&q=", "remote-url-data-field"=>"results"}
        .auction-selected
          {{profileSelected = selectedProfileMember.originalObject}}
      .sortable-row{"as-sortable" => "profileSortableOptions", "ng-model" => "profiles"}
        %div{"as-sortable-item" => "", "ng-repeat" => "profile in profiles"}
          %div{"as-sortable-item-handle" => ""}
            .auction
              .order {{$index + 1}}
              .illustration-container
                .illustration{"ng-style" => "{'background-image': 'url(' + profile.default_avatar.small + ')'}"}
              .details
                {{profile.name}}
              .delete
                %button.close{"ng-click" => "deleteProfile(profile, $index)", type: "button"} &#215;
