.container
  %table.table
    %tr
      %th Profile
      %th Email
      %th Action
    %tr{"ng-repeat" => "claim in claims"}
      %td {{claim.profile.name}}
      %td {{claim.email}}
      %td
        %button.btn.btn-primary{"ng-click" => "assign(claim, $index)"} Assign
        %button.btn.btn-default{"ng-really-message" =>"Are you sure?", "ng-really-click" => "reject(claim, $index)"} Reject