%button.btn.btn-primary{"ng-click" => "showSendPersonalInvitationModal()"} Add New
.invitation-container
  .well
    %table.table
      %tr
        %th{style: "width: 30%"} Email
        %th{style: "width: 70%"} Invitation link
      %tr{"ng-repeat" => "invitation in invitations | filter:{category:'personal'}"}
        %td {{invitation.email}}
        %td{"ng-init" =>"link = hostName + '/signup?source=invitation' + '%26token=' + invitation.token + '%26email=' + invitation.email"}
          %a{"ng-href" => "{{'mailto:' + invitation.email + '?body=' + link}}", target: "_blank" }
            {{hostName + '/signup?source=invitation' + '&token=' + invitation.token + '&email=' + invitation.email}}