.messages-body
  %ul.nav.nav-pills
    %li{"ng-class" => "{active: currentStatus == 'pending'}"}
      %a{:href => "#", "ng-click" => "getInvitations('pending')"}
        Pending
        / %span.badge 42
    %li{"ng-class" => "{active: currentStatus == 'invited'}"}
      %a{:href => "#", "ng-click" => "getInvitations('invited')"}
        Invited
    %li{"ng-class" => "{active: currentStatus == 'ignored'}"}
      %a{:href => "#", "ng-click" => "getInvitations('ignored')"}
        Ignored
        / %span.badge 3
  .invitation-container
    .well
      %table.table
        %tr
          %th{style: "width: 35%"} Email
          %th{style: "width: 15%"} City
          %th{style: "width: 5%"} Country
          %th{style: "width: 25%"} Job Tipe
          %th{style: "width: 20%", "ng-show" => "currentStatus == 'pending'"} Action
        %tr{"ng-repeat" => "invitation in invitations | filter:{category:'request'}"}
          %td {{invitation.email}}
          %td {{invitation.city}}
          %td {{invitation.country}}
          %td {{invitation.industry_role}}
          %td{"ng-show" => "currentStatus == 'pending'"}
            %button.btn.btn-primary{"ng-click" => "invite(invitation, $index)"} Invite
            %button.btn.btn-default{"ng-really-message" =>"Are you sure?", "ng-really-click" => "ignore(invitation, $index)"} Ignore