%a.btn.btn-primary{"ng-href" => "#", "ng-click" => "showNewCampaignModal()"} New
.message{"ng-repeat" => "mailingCampaign in mailingCampaigns"}
  .name
    %a{"ng-href" => "/admin/mailing/campaigns/{{mailingCampaign.id}}"} {{mailingCampaign.name}}