%h2 {{mailingCampaign.name}}
%strong Subject:
%input.form-control{"ng-model" => "mailingCampaign.subject", type: "text", placeholder: "Subject"}
%strong Test Emails:
%input.form-control{"ng-model" => "mailingCampaign.test_emails", type: "text", placeholder: "Test emails separated by comma"}
%button.btn.btn-default{"ng-click" => "saveDraft('send_test')"} Send test
%wysiwyg{"enable-bootstrap-title" => "false", "ng-model" => "mailingCampaign.body", "textarea-class" => "form-control", "textarea-height" => "180px", "textarea-id" => "mailing-campaign-body", "textarea-menu" => "{{customMenu}}", "textarea-required" => ""}
%button.btn.btn-default{"ng-click" => "saveDraft('save_draft')"} Save draft
%button.btn.btn-primary{"ng-really-message" =>"Are you sure?", "ng-really-click" => "saveDraft('send')", "ng-disabled" => "mailingCampaign.status == 'sent'"} Send