.admin.profile
  .container
    .row.header
      .col-md-6
        %h2 Profiles Administration
      .col-md-6
        %button#download-profiles.ladda-button{"ng-click" => "exportCsv()", "data-style" => "contract", "ladda-button" => "laddaLoading", "data-size" => "s", "data-color"=>"gray"}
          %span.ladda-label Download
    .table-container
      %table.table
        %tr
          %th
            %a{:href => "#", "ng-click" => "setSorting('name', $storage.sortDirection)"}
              Name
              %span.fa.fa-caret-down{"ng-show" => "$storage.sortType == 'name' && $storage.sortDirection == 'DESC'"}
              %span.fa.fa-caret-up{"ng-show" => "$storage.sortType == 'name' && $storage.sortDirection == 'ASC'"}
          %th
            %a{:href => "#", "ng-click" => "setSorting('rating', $storage.sortDirection)"}
              Rating
              %span.fa.fa-caret-down{"ng-show" => "$storage.sortType == 'rating' && $storage.sortDirection == 'DESC'"}
              %span.fa.fa-caret-up{"ng-show" => "$storage.sortType == 'rating' && $storage.sortDirection == 'ASC'"}
          %th Action
        %tr{"dir-paginate" => "profile in profiles | itemsPerPage: 10", "total-items"=>"totalProfiles", "pagination-id" => "profile.id", "current-page" => "pagination.current"}
          %td
            %a{"ng-href" => "/{{profile.permalink}}", target: "_blank"}
              {{profile.name}}
            %br
            {{profile.industry_role}}
          %td
            %select.form-control{"ng-model" => "profile.rating", "ng-change" => "updateRating(profile)"}
              %option{value: "10"} 10
              %option{value: "9"} 9
              %option{value: "8"} 8
              %option{value: "7"} 7
              %option{value: "6"} 6
              %option{value: "5"} 5
              %option{value: "4"} 4
              %option{value: "3"} 3
              %option{value: "2"} 2
              %option{value: "1"} 1
          %td
            %button.btn.btn-danger{"ng-really-message" =>"Are you sure?, this action can not be undone", "ng-really-click" => "delete(profile, $index)"} Delete
      %dir-pagination-controls{"pagination-id" => "profile.id", "template-url"=>"/assets/dirPagination.tpl.html", "on-page-change"=>"pageChanged(newPageNumber)"}
