%table.table
  %tr
    %th Industry Role
    %th Number with owner
    %th Number without owner
  %tr{"ng-repeat" => "profilePerIndustry in profilesPerIndustry"}
    %td {{profilePerIndustry.industry_role_profile_name}}
    %td {{profilePerIndustry.count_with_owner}}
    %td {{profilePerIndustry.count_without_owner}}