upstream unicorn {
  server unix:/tmp/unicorn.<%= node['app'] %>.sock fail_timeout=0;
}

server {
  listen         80;
  server_name    staging.tuneteams.com;
  return         301 https://$server_name$request_uri;
}

server {
  listen 443;
  ssl on;
  server_name staging.tuneteams.com;

  ssl_certificate /etc/ssl/certs/tuneteams.crt;
  ssl_certificate_key /etc/ssl/certs/tuneteams.key;
  root /var/www/<%= node['app'] %>/current/public;

  # BLOG CONFIGURATION
  location /blog/ {
    root /var/www/<%= node['app'] %>/current/public;
    index index.php;

    if (!-e $request_filename) {
      rewrite ^(.*)$ /blog/index.php?q=$1 last;
      break;
    }

    location ~ /blog/.+\.(jpg|jpeg|gif|css|png|js|ico|xml)$ {
      root /var/www/<%= node['app'] %>/current/public;
    }

    include fastcgi_params;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_param SCRIPT_NAME $fastcgi_script_name;
    fastcgi_pass unix:/var/run/php5-fpm.sock;
  }

  try_files $uri/index.html $uri @unicorn;
  location @unicorn {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto https;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_pass http://unicorn;
  }

  error_page 500 502 503 504 /500.html;
  client_max_body_size 4G;
  keepalive_timeout 10;
}
