%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
  We are sorry. We have not been able to approve your recent request to claim a tuneteams profile. If you have questions or concerns about this decision, please contact
  %a{href:"mailto:help@tuneteams.com"} help@tuneteams.com