.auctions
  .embed
    - if not @expired
      %a.link.auction-embed-link{href: "#{ENV['HOST_NAME']}/auctions/#{@auction.permalink}", target: "_blank"}
        .auction-container{style: "background-image: url(#{@auction.default_illustration[:large]})"}
          .logo-container
            .logo
          .details
            .name
              = @auction.name
            .countries.truncate
              - @auction.countries.each do |country|
                %span= country.name
            .genres.truncate
              - @auction.genres.each do |genre|
                %span= genre.name
    - if @expired
      .no-longer-available
        %img{src: "/assets/logo-header.png"}
        %br
        We are sorry. This auction is not longer available.
        You can check for more music licensing
        %a.auction-embed-link{href: "#{ENV['HOST_NAME']}/auctions", target: "_blank"} here
