.modal{role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"ng-click" => "$hide()", :type => "button"} ×
        %h4.modal-title.ng-binding Payout
      .modal-body
        %table.table
          %tr
            %td
              Winning amount
            %td{style: "text-align: right"}
              {{winningAmount | number}}
          %tr
            %td
              tuneteams commision (7%)
            %td{style: "text-align: right"}
              {{commision | number}}
          %tr
            %td
              %strong
                Amount to pay
            %td{style: "text-align: right"}
              %strong
                USD$ {{amountToPay | number}}
      .modal-footer
        %button.btn.btn-default{"ng-click" => "$hide()", type: "button"} Cancel
        %button.btn.btn-primary{"ng-click" => "makePayout()", type: "button"} Payout