.modal{role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-body
        %p 
          Please be informed that after creating an auction, tuneteams will review the auction before the auction is made public. This review process may take up to two (2) business days. If tuneteams decide that an auction will NOT be made public, you will be informed.
        %label.checkbox-inline
          %input{name: "dontShowAgain", "ng-click" => "dontShowNewAuctionModalAgain()", type: "checkbox", } Do not show again
      .modal-footer
        %button.btn.btn-primary{"ng-click" => "hideNewAuctionModal()", type: "button"} I understand