.modal{role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"ng-click" => "$hide()", :type => "button"} ×
        %h4.modal-title.ng-binding Embed
      .modal-body
        Copy this code in your HTML code to share this auction:
        %input#new-name.form-control{placeholder: "Auction Name", "ng-model" => "embedCode"}
        %br
        %b Preview
        .preview
          .frame{"ng-bind-html" => "embedCode"}
          %iframe{:frameborder => "no", :height => "400", :scrolling => "no", "ng-src" => "{{trustSrc(hostName + '/embed/auctions/' + auction.permalink)}}", :width => "400"}
        -# %form{name: "copyAuctionForm"}
        -#   .form-group
        -#     %label.control-label{for: "description"} Enter the name of the new auction:
        -#     %input#new-name.form-control{placeholder: "Auction Name", "ng-model" => "auction.copyName", required: ""}
        -#   .form-group
        -#     %label.control-label{for: "countries"} License Territory:
        -#     %select#countries.form-control{chosen: "", multiple: "", "ng-model" => "auction.country_ids", "ng-options" => "item.id as item.name for item in countriesList", "data-placeholder" => "Choose your countries", name: "countries", required: ""}
      -# .modal-footer
      -#   %button.btn.btn-default{"ng-click" => "$hide()", type: "button"} Cancel
      -#   %button.btn.btn-primary{"ng-click" => "saveAuctionCopy()", type: "button", "ng-disabled" => "copyAuctionForm.$invalid"} Save
