.modal{role: "dialog", tabindex: "-1"}
  .modal-dialog.main-video-modal{style: "margin-top: 70px;"}
    .modal-content
      .modal-body
        %youtube-video{"video-url"=>"tuneteamsAuctionsVideo", "player-vars"=>"playerVars", "player-width"=>"'100%'", "player-height"=>"'480px'"}
