.modal{role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"ng-click" => "$hide()", :type => "button"} ×
        %h4.modal-title.ng-binding Notes
      .modal-body
        %wysiwyg{"enable-bootstrap-title" => "false", "ng-model" => "auction.notes", "textarea-class" => "form-control", "textarea-height" => "180px", "textarea-id" => "description2", "textarea-menu" => "{{[['bold', 'italic', 'underline', 'strikethrough']]}}", "textarea-name" => "description2", "textarea-required" => ""}
      .modal-footer
        %button.btn.btn-default{"ng-click" => "$hide()", type: "button"} Cancel
        %button.btn.btn-primary{"ng-click" => "saveNotes()", type: "button"} Save