.modal.change-profile-avatar{role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"ng-click" => "$hide()", type: "button"} &#215;
        %h4.modal-title Change Profile Avatar
      .modal-body
        .default-avatar-option-container
          %button.return-default-cover-button.btn.btn-primary.btn-xs{"ng-click" => "setCoverType('default')"} Use default avatar
        .upload-cover-option-container{:style => "background-image: url({{profile.cover.cover.medium.url ? profile.cover.cover.medium.url : ''}});", "ng-class" => "{empty: profile.cover.cover.large.url == null}"}
          .buttons-container
            .file-upload.btn.btn-primary.btn-xs#upload-customized-cover-button{"ng-show" => "profile.is_owner"}
              Upload my own cover
              %input{"ng-file-select" => "onChangeCoverSelect($files)", type: "file"}
            %button#use-last-cover-uploaded-button.btn.btn-primary.btn-xs{"ng-click" => "setCoverType('customized')", "ng-show" => "profile.cover.cover.large.url && profile.cover_type == 'default'"} Use last cover uploaded
        .progress.progress-striped.active#upload-progress{"ng-show" => "uploadProgress > 0"}
          .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "{{uploadProgress}}", role: "progressbar", style: "width: {{uploadProgress}}%"}
            {{ uploadProgress < 98 ? 'Uploading ' + uploadProgress + '%' : 'Processing image, please wait'}}