.modal{role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"ng-click" => "$hide()", type: "button"} &#215;
        %h4.modal-title Claim this profile
      .modal-body
        %form{name: "claimRequestForm"}
          %p Please enter your name and company email. We may contact you or your company before sending you an invitation to join tuneteams.
          .form-group{"ng-class" => "{'has-error': newClaimProfile.errors.name[0]}"}
            %input.form-control{"ng-model" => "newClaimProfile.name", type: "text", placeholder: "Name", required: ""}
          .form-group{"ng-class" => "{'has-error': newClaimProfile.errors.email}"}
            %input.form-control{"ng-model" => "newClaimProfile.email", type: "email", placeholder: "Email address", required: ""}
            %span.help-block{"ng-show" => "newClaimProfile.errors.email"} {{ newClaimProfile.errors.email }}
      .modal-footer
        %button.btn.btn-default{"ng-click" => "$hide()", type: "button"} Cancel
        %button.btn.btn-primary{"ng-click" => "claimProfile()", type: "button", "ng-disabled" => "claimRequestForm.$invalid"} Claim
