.modal{role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      / .modal-header{"ng-show" => "title"}
      /   %button.close{"ng-click" => "$hide()", type: "button"} &#215;
      /   %h4.modal-title{"ng-bind-html" => "title"}
      .modal-body
        %h4 Connect with {{profile.name}}
        %form{name: "connectionRequestForm"}
          %textarea.form-control{"ng-model" => "newConnectionRequest.invitation_message", rows: 4, required: ""}
      .modal-footer
        %button.btn.btn-default{"ng-click" => "$hide()", type: "button"} Cancel
        %button.btn.btn-primary{"ng-click" => "connectionRequest()", type: "button", "ng-disabled" => "connectionRequestForm.$invalid"} Send Invitation
