.modal{role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-body
        %form{role: "form", name: "editProfileDetailsHeaderForm"}
          .form-group{"ng-class" => "{'has-error': newProfile.errors.country_id[0]}"}
            %select.form-control{"ng-model" => "profileDetailsHeader.country_id", required: "", "ng-options" => "item.id as item.name for item in countriesList"}
          .form-group
            %label.control-label.required{for: "genres"} Genres
            %select.form-control{chosen: "", multiple: "", "ng-model" => "profile.genres_ids", "ng-options" => "item.id as item.name for item in genresList", "data-placeholder" => "Select or search many genres as you can", required: ""}
          .form-group
            %label{for: "web-page"} Web page
            %input#web-page.form-control{placeholder: "Url", "ng-model" => "profileDetailsHeader.web_page", type: "url"}
            %span.help-block{"ng-show" => "!!editProfileDetailsHeaderForm.$error.url"} Enter a valid url: http://example.com
      .modal-footer
        %button.btn.btn-default{"ng-click" => "$hide()", type: "button"} Cancel
        %button.btn.btn-primary{"ng-click" => "saveProfileDetailsHeader()", type: "button", "ng-disabled" => "editProfileDetailsHeaderForm.$invalid"} Save changes