.modal{role: "dialog", tabindex: "-1"}
  .modal-dialog.main-video-modal{style: "margin-top: 70px;"}
    .modal-content
      .modal-body
        / %iframe#home-video-player{:frameborder => "0", :height => "480", :src => "http://www.youtube.com/embed/mwuPTI8AT7M?rel=0", :width => "853"}
        %youtube-video{"video-url"=>"tuneteamsProfileVideo", "player-vars"=>"playerVars", "player-width"=>"'100%'", "player-height"=>"'480px'"}
