.modal{role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-body
        %h4 Request an invitation
        %p At the moment you need an invitation in order to create a tuneteams account. If you would like to request an invitation, just enter your email address below and then choose your music industry job type from the pull-down menu.
        %form{name: "invitationRequestForm"}
          .form-group{"ng-class" => "{'has-error': newInvitation.errors}"}
            %input.form-control{"ng-model" => "newInvitation.email", type: "email", placeholder: "Email address", autofocus: "", required: ""}
            %span.help-block{"ng-show" => "{{newInvitation.errors.email[0] != ''}}"} {{ newInvitation.errors.email[0] }}
          .form-group
            %select.form-control{"ng-model" => "newInvitation.industry_role_profile_id", "ng-options" => "item.id as item.name group by item.industry_role.name for item in industryRoleProfiles", :required => ""}
              %option{:value => ""} Job type
      .modal-footer
        %button.btn.btn-default{"ng-click" => "$hide()", type: "button"} Cancel
        %button.btn.btn-primary{"ng-click" => "sendInvitationRequest()", type: "button", "ng-disabled" => "invitationRequestForm.$invalid"} Request