.modal{role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"ng-click" => "$hide()", :type => "button"} ×
        %h4.modal-title.ng-binding Generate a personal invitation
      .modal-body
        %form{name: "invitationPersonalForm"}
          .form-group{"ng-class" => "{'has-error': newInvitation.errors}"}
            %input.form-control{"ng-model" => "newInvitation.email", type: "email", placeholder: "Email address", autofocus: "", required: ""}
            %span.help-block{"ng-show" => "{{newInvitation.errors.email[0] != ''}}"} {{ newInvitation.errors.email[0] }}
      .modal-footer
        %button.btn.btn-default{"ng-click" => "$hide()", type: "button"} Cancel
        %button.btn.btn-primary{"ng-click" => "sendPersonalInvitation()", type: "button", "ng-disabled" => "invitationPersonalForm.$invalid"} Create