.modal{role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"ng-click" => "$hide()", :type => "button"} ×
        %h4.modal-title.ng-binding New Campaign
      .modal-body
        %form{name: "invitationPersonalForm"}
          .form-group{"ng-class" => "{'has-error': newCampaign.errors}"}
            %input.form-control{"ng-model" => "newCampaign.name", type: "text", placeholder: "Campaign Name", autofocus: "", required: ""}
            %span.help-block{"ng-show" => "{{newCampaign.errors.name[0] != ''}}"} {{ newCampaign.errors.name[0] }}
      .modal-footer
        %button.btn.btn-default{"ng-click" => "$hide()", type: "button"} Cancel
        %button.btn.btn-primary{"ng-click" => "saveNewCampaign()", type: "button", "ng-disabled" => "invitationPersonalForm.$invalid"} Create