.modal.place-bid{role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"ng-click" => "$hide()", type: "button"} &#215;
        %h4.modal-title Place your bid
      .modal-body
        .place-bid-container{"ng-hide" => "auction.confirmBidMessage"}
          .non-recording-publishing{"ng-show" => "auction.auction_type != 'recording_publishing_rights'"}
            .advance-amount{"ng-show" => "auction.competitive_term == 'advance'"}
              -# {{auction.bids.bidders.length}}
              .first_bid_amount{"ng-hide" => "auction.bids.bidders.length > 0"}
                -#   Last maximum bid was ${{auction.last_maximum_amount}}. Bid more than that to bid again
                Enter your bid amount. You may not know if the Reserve Bid amount has been met until after the auction has finished.
                .new-bid-amount-container
                  .input-group
                    %span#basic-addon2.input-group-addon USD$
                    %input#new-bid-amount.form-control{placeholder: "0.00", "ng-model" => "auction.bid", autocomplete: "off"}
              .maximum-bid-container{"ng-show" => "auction.bids.bidders.length > 0"}
                .text
                  Your first bid will be:
                .amount
                  <strong>{{'US$' + (auction.bids.current.recording + 25 | number:'2')}}</strong>
                %hr
                Please enter the maximum amount you are willing to bid. tuneteams will try to increase your bid until you are both the high bidder and the Reserve Bid amount has been met.
                %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.maximumBid}}", "data-placement" =>"bottom-left"}
                .maximum-bid-amount-container
                  .input-group
                    %span#basic-addon2.input-group-addon USD$
                    %input#maximum-bid-mount.form-control{placeholder: "0.00", "ng-model" => "auction.maximum_bid", autocomplete: "off"}
            .royalty-amount{"ng-show" => "auction.competitive_term == 'royalty_rate'"}
              .first_bid_amount{"ng-hide" => "auction.bids.bidders.length > 0"}
                Enter your bid amount. You may not know if the Reserve Bid amount has been met until after the auction has finished.
                .new-bid-amount-container
                  .input-group
                    %input#royalty-rate-amount.form-control{placeholder: "0.00", "ng-model" => "auction.bid", autocomplete: "off"}
                    %span#basic-addon2.input-group-addon %
              .maximum-bid-container{"ng-show" => "auction.bids.bidders.length > 0"}
                .text
                  Your first bid will be:
                .amount
                  <strong>{{(auction.bids.current.recording + 1 | number:'2') + '%'}}</strong>
                %hr
                Please enter the maximum amount you are willing to bid. tuneteams will try to increase your bid until you are both the high bidder and the Reserve Bid amount has been met.
                %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.maximumBid}}", "data-placement" =>"bottom-left"}
                .maximum-bid-amount-container
                  .input-group
                    %input#royalty-rate-amount.form-control{placeholder: "0.00", "ng-model" => "auction.maximum_bid", autocomplete: "off"}
                    %span#basic-addon2.input-group-addon %
          .recording-publishing{"ng-show" => "auction.auction_type == 'recording_publishing_rights'"}
            Bid USD${{(auction.bids.current.recording == 0 ? auction.reserve_on_competitive_term : auction.bids.current.recording) + auction.bids.increment_money}} or more to participate
            .new-bid-amount-container
              .input-group
                %span#basic-addon2.input-group-addon USD$
                %input#royalty-rate-amount.form-control{placeholder: "0.00", "ng-model" => "auction.bid", autocomplete: "off"}
            Bid USD${{(auction.bids.current.publishing == 0 ? auction.reserve_on_competitive_term_publishing : auction.bids.current.publishing) + auction.bids.increment_money}} or more to participate
            .new-bid-amount-container
              .input-group
                %span#basic-addon2.input-group-addon USD$
                %input#royalty-rate-amount.form-control{placeholder: "0.00", "ng-model" => "auction.bid_publishing", autocomplete: "off"}
          %br
          %label.checkbox-inline{"ng-hide" => "auction.bid_before"}
            %input{name: "readContract", "ng-model" => "auction.bidder_contract_read", type: "checkbox", } I have read the proposed contract for this auction and understand all the contract’s terms.
        .confirm-bid-container{"ng-show" => "auction.confirmBidMessage && auction.auction_type != 'recording_publishing_rights'"}
          .advance-amount{"ng-show" => "auction.competitive_term == 'advance'"}
            .first-bid{"ng-hide" => "auction.bids.bidders.length > 0"}
              You are placing a bid on auction {{auction.name}} for {{'US$' + (auction.bid | number:'2')}}. Please confirm or edit your bid.
            .maximum-bid{"ng-show" => "auction.bids.bidders.length > 0"}
              You are bidding {{'US$' + (auction.bids.current.recording + 25 | number:'2')}}, and the maximum amount you are willing to bid is {{'US$' + (auction.maximum_bid | number:'2')}}. Please confirm these amounts or edit them.
          .royalty-amount{"ng-show" => "auction.competitive_term == 'royalty_rate'"}
            .first-bid{"ng-hide" => "auction.bids.bidders.length > 0"}
              You are placing a bid on auction {{auction.name}} for {{auction.bid}}%. Please confirm or edit your bid.
            .maximum-bid{"ng-show" => "auction.bids.bidders.length > 0"}
              You are bidding {{(auction.bids.current.recording + 1 | number:'2') + '%'}}, and the maximum amount you are willing to bid is {{(auction.maximum_bid | number:'2') + '%'}}. Please confirm these amounts or edit them.

        .confirm-bid-container{"ng-show" => "auction.confirmBidMessage && auction.auction_type == 'recording_publishing_rights'"}
          You are placing a bid on auction {{auction.name}} for USD${{auction.bid}} for recording rights and a bid for USD${{auction.bid_publishing}} for publishing rights. Please confirm or edit your bid.
      .modal-footer
        .place-bid-buttons-container{"ng-hide" => "auction.confirmBidMessage"}
          %button.btn.btn-default{"ng-click" => "$hide()", type: "button"} Cancel
          %button.btn.btn-primary{"ng-click" => "auction.confirmBidMessage = true;", type: "button", "ng-disabled" => "!auction.bidder_contract_read && !auction.bid_before"} Place bid
        .confirm-bid-buttons-container{"ng-show" => "auction.confirmBidMessage"}
          %button.btn.btn-default{"ng-click" => "auction.confirmBidMessage = false", type: "button"} Edit
          %button.btn.btn-primary{"ng-click" => "placeBid()", type: "button", "ng-disabled" => "!auction.bidder_contract_read && !auction.bid_before"} Confirm
