.modal{role: "dialog", tabindex: "-1"}
  .modal-dialog{style: "margin: 60px auto;"}
    .modal-content
      .modal-header
        %button.close{"ng-click" => "$hide()", :type => "button"} ×
        %h4.modal-title.ng-binding {{profile.name}} connections
      .modal-body{style: "padding-bottom: 0"}
        .connections-loading{"ng-show" => "connectionsLoading"}
          %img{src: "/assets/loader_eq.gif"}
          %br
          Loading, please wait
        .connections-container
          .connection{"ng-repeat" => "connection in profile.connections"}
            %a{"ng-href" => "/{{connection.permalink}}", "ng-click" => "$hide()"}
              .avatar-container
                .avatar{style: "background-image: url({{connection.default_avatar.small}});"}
            %a{"ng-href" => "{{connection.permalink}}", "ng-click" => "$hide()"}
              .conection-details-container
                .details
                  %h4 {{connection.name}}
                  .name
                    {{connection.industry_role}}
                  .body
                    %span.country{"ng-cloak" => ""}
                      {{ connection.country + ' |' }} 
                    %span.genres{"ng-cloak" => "", "ng-repeat"=>"genre in connection.genres"}
                      {{ genre }}{{ $last ? '' : ', ' }}
            .send-message-button-container
              / %button.btn.btn-primary{type: "button", "ng-click" => "profile.currentConnectionMessage.id = connection.id", "ng-hide" => "profile.currentConnectionMessage.id == connection.id || !connection.can_send_message"} Send Message
              / Active connection button
              .btn-group{"ng-hide" => "(profile.currentConnectionMessage.id == connection.id || !connection.can_send_message) || connection.status == 'blocked'"}
                %button.btn.btn-primary{:type => "button", "ng-click" => "profile.currentConnectionMessage.id = connection.id"} Send Message
                %button.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", "bs-dropdown" =>"connectionsDropdownOptions", :type => "button", placement: "bottom-right"}
                  %span.caret
              / Blocked connection button
              .btn-group{"ng-hide" => "(profile.currentConnectionMessage.id == connection.id || !connection.can_send_message) || connection.status == 'active'"}
                %button.btn.btn-danger{:type => "button"} Blocked
                %button.btn.btn-danger.dropdown-toggle{"data-toggle" => "dropdown", "bs-dropdown" =>"connectionsDropdownOptionsBlocked", :type => "button", placement: "bottom-right"}
                  %span.caret

            .new-message-container{"ng-show" => "profile.currentConnectionMessage.id == connection.id"}
              %input.form-control{type: "text", placeholder: "Subject", "ng-model" => "profile.currentConnectionMessage.subject"}
              %textarea.form-control{placeholder: "Message", "ng-model" => "profile.currentConnectionMessage.body"}
              .buttons-container
                %button.btn.btn-default.btn-xs{"ng-click" => "profile.currentConnectionMessage = {}; profile.currentConnectionMessage.id = 0;", type: "button"} Cancel
                %button.btn.btn-primary.btn-xs{type: "button", "ng-click" => "sendMessageConnection(connection.profile_id)"} Send
      .modal-footer
        %button.btn.btn-default{"ng-click" => "$hide()", type: "button"} Close