.modal.request-approval-to-bid{role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"ng-click" => "$hide()", type: "button"} &#215;
        %h4.modal-title Request Approval to bid
      .modal-body
        .legal-information-container
          %form.form-horizontal{role: "form", name: "requestApprovalToBidForm"}
            .form-group{"ng-class" => "{'has-error': requestApprovalToBidForm.legalName.$error.required && showErrorFields}"}
              %label.col-sm-3.control-label{for: "legal-name"} Legal Name
              .col-sm-8
                %input#legal-name.form-control{placeholder: "Licensor Name", "ng-model" => "auction.current_bidder_profile.licensor_legal_name", type: "text", name: "legalName", required: ""}
                %span.help-block{"ng-show" => "requestApprovalToBidForm.legalName.$error.required && showErrorFields"} Enter your legal name
            .form-group{"ng-class" => "{'has-error': requestApprovalToBidForm.legalAddress.$error.required && showErrorFields}"}
              %label.col-sm-3.control-label{for: "licensor-legal-address-line1"} Legal Address
              .col-sm-8
                %input#licensor-legal-address-line1.form-control{placeholder: "Street Address or P.O. Box, Suite #, etc.", "ng-model" => "auction.current_bidder_profile.licensor_legal_address_line1", type: "text", name: "legalAddress", required: ""}
                %input#licensor-legal-address-line2.form-control{placeholder: "City, State, Postal Code", "ng-model" => "auction.current_bidder_profile.licensor_legal_address_line2", type: "text"}
                %select#licensor-legal-address-country.form-control{chosen: "", "ng-model" => "auction.current_bidder_profile.licensor_legal_address_country", "ng-options" => "item.id as item.name for item in countriesListSimple", "data-placeholder" => "Select a country", name: "legalAddressCountry", required: ""}
                  %option{:value => ""}
                %span.help-block{"ng-show" => "requestApprovalToBidForm.legalAddress.$error.required && showErrorFields"} Enter your legal address
                %span.help-block{"ng-show" => "requestApprovalToBidForm.legalAddressCountry.$error.required && showErrorFields"} Select your address country
            .form-group{"ng-class" => "{'has-error': requestApprovalToBidForm.signerName.$error.required && showErrorFields}"}
              %label.col-sm-3.control-label{for: "licensor-signer-name"} Signer's Name
              .col-sm-8
                %input#licensor-signer-name.form-control{placeholder: "Full Name", "ng-model" => "auction.current_bidder_profile.licensor_signer_name", type: "text", name: "signerName", required: ""}
                %span.help-block{"ng-show" => "requestApprovalToBidForm.signerName.$error.required && showErrorFields"} Enter a signer name
            / .form-group{"ng-class" => "{'has-error': (requestApprovalToBidForm.contactEmail.$error.required || requestApprovalToBidForm.contactEmail.$error.email) && showErrorFields}"}
            /   %label.col-sm-3.control-label{for: "licensor-contact-email"} Contact Email
            /   .col-sm-8
            /     %input#licensor-contact-email.form-control{placeholder: "Contact Email", "ng-model" => "auction.current_bidder_profile.licensor_contact_email", type: "email", name: "contactEmail", required: ""}
            /     %span.help-block{"ng-show" => "requestApprovalToBidForm.contactEmail.$error.required && showErrorFields"} Enter your contact email
            /     %span.help-block{"ng-show" => "requestApprovalToBidForm.contactEmail.$error.email && showErrorFields"} Enter a valid email
            .form-group{"ng-show" => "auction.current_bidder_profile.licensor_phone_number_verified"}
              %label.col-sm-3.control-label{for: "phone-number"} Phone Number
              .col-sm-8
                %input#phone-number.form-control{placeholder: "Phone number", "ng-model" => "auction.current_bidder_profile.phone_number_complete", type: "text", disabled: true}
                .verified-icon
                %a#change-link{"ng-click" => "auction.current_bidder_profile.licensor_phone_number_verified = false", "ng-href" => "#"} change it
            .form-group
              .col-sm-3
              .col-sm-8
                .checkbox{"ng-show" => "auction.auction_type == 'recording_publishing_rights'"}
                  %label
                    %input{type: "checkbox", "ng-model"=>"auction.current_bidder_profile.has_second_signer"} I have a second signer
                    %img.help-icon{src: "/assets/icons/help.png", "bs-tooltip" => "", "data-type"=>"info", "data-title" => "{{tooltip.iHaveAsecondSigner}}", "data-placement" =>"bottom-left"}
            .second-signer-container{"ng-show" => "auction.current_bidder_profile.has_second_signer"}
              .form-group{"ng-class" => "{'has-error': requestApprovalToBidForm.secondSignerName.$error.required && showErrorFields}"}
                %label.col-sm-3.control-label{for: "second-licensor-signer-name"} Second Signer's Name
                .col-sm-8
                  %input#licensor-signer-name.form-control{placeholder: "Full Name", "ng-model" => "auction.current_bidder_profile.second_licensor_signer_name", type: "text", name: "secondSignerName", "ng-required" => "auction.current_bidder_profile.has_second_signer"}
                  %span.help-block{"ng-show" => "requestApprovalToBidForm.secondSignerName.$error.required && showErrorFields"} Enter the second signer name
              .form-group{"ng-class" => "{'has-error': (requestApprovalToBidForm.secondContactEmail.$error.required || requestApprovalToBidForm.secondContactEmail.$error.email) && showErrorFields}"}
                %label.col-sm-3.control-label{for: "second-licensor-contact-email"} Second Signer's Contact Email
                .col-sm-8
                  %input#licensor-contact-email.form-control{placeholder: "Contact Email", "ng-model" => "auction.current_bidder_profile.second_licensor_contact_email", type: "email", name: "secondContactEmail", "ng-required" => "auction.current_bidder_profile.has_second_signer"}
                  %span.help-block{"ng-show" => "requestApprovalToBidForm.secondContactEmail.$error.required && showErrorFields"} Enter the second contact email
                  %span.help-block{"ng-show" => "requestApprovalToBidForm.secondContactEmail.$error.email && showErrorFields"} Enter a valid email
        .phone-verification-container{"ng-hide" => "auction.current_bidder_profile.licensor_phone_number_verified"}
          %p
            %strong We need to verify you're a human
          / verificationCodeSent
          .enter-phone-number-container{"ng-hide" => "verificationCodeSent"}
            %p Enter your phone number and we'll text you a verification code.
            .calling-code-selector-container
              %select#phone-number-calling-code.form-control{chosen: "", "ng-model" => "auction.current_bidder_profile.licensor_calling_code", "ng-options" => "item.calling_code as item.name for item in countriesListSimple", "data-placeholder" => "Select a country"}
                %option{:value => ""}
            .phone-number-container
              .input-group{style: "width:180px"}
                %span#basic-addon3.input-group-addon +{{auction.current_bidder_profile.licensor_calling_code}}
                %input#phone-number.form-control{placeholder: "Phone number", "ng-model" => "auction.current_bidder_profile.licensor_phone_number", "aria-describedby"=>"basic-addon3", autocomplete: "off", "only-digits" => ""}
            %a.btn.btn-default{"ng-click" => "sendVerificationCode()", "ng-href" => "#"} Text Me
          .enter-verification-code-container{"ng-show" => "verificationCodeSent"}
            %p
              Please enter the verification code we sent to your phone.
            %input#verification-code.form-control{placeholder: "Verification Code", "ng-model" => "auction.newBidderPhoneVerificationCode"}
            %a.btn.btn-default{"ng-click" => "verifyPhoneCode()", "ng-href" => "#"} Verify
      .modal-footer
        %button.btn.btn-default{"ng-click" => "$hide()", type: "button"} Cancel
        %button.btn.btn-primary{"ng-click" => "requestApprovalToBid(requestApprovalToBidForm)", type: "button", "ng-disabled" => "sendMessageForm.$invalid"} Request
