.modal{role: "dialog", tabindex: "-1"}
  .modal-dialog{style: "width: 300px"}
    .modal-content
      .modal-body
        Are you sure that you want to stop auction {{auction.name}}?
      .modal-footer
        %button.btn.btn-primary{"ng-click" => "$hide()", type: "button"} No
        %button.btn.btn-default{"ng-click" => "cancelRestartAuction()", type: "button"} Yes
