.modal{role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"ng-click" => "$hide()", :type => "button"} ×
        %h4.modal-title.ng-binding Second chance offer
      .modal-body
        Choose the bidder to whom you would like to make a second chance offer.
        %form{name: "secondOfferForm"}
          .form-group
            %label.control-label{for: "bidder"} Select a bidder:
            %select#bidder.form-control{"ng-model" => "auction.second_offer_bidder", "ng-options" => "item.id as (item.requester_profile.name + ' (' + (auction.competitive_term == 'advance' ? ('USD$' + (item.last_amount | number:'2')) : ((item.last_amount | number:'2') + '%')) + ')') for item in auction.bidders | orderBy:'last_amount':true", "data-placeholder" => "Choose a bidder", name: "bidder", required: ""}
      .modal-footer
        %button.btn.btn-default{"ng-click" => "$hide()", type: "button"} Cancel
        %button.btn.btn-primary{"ng-click" => "sendSecondChanceOffer()", type: "button", "ng-disabled" => "secondOfferForm.$invalid"} Send
