.modal{role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-body
        %h4 Send a message to {{profile.name}}
        %form{name: "sendMessageForm"}
          .form-group{"ng-class" => "{'has-error': newMessage.errors}"}
            %input.form-control{placeholder: "Subject", "ng-model" => "newMessage.subject", type: "text", autofocus: "", required: ""}
          .form-group{"ng-class" => "{'has-error': newMessage.errors}"}
            %textarea.form-control{rows: 4, placeholder: "Message body", "ng-model" => "newMessage.body", required: ""}
      .modal-footer
        %button.btn.btn-default{"ng-click" => "$hide()", type: "button"} Cancel
        %button.btn.btn-primary{"ng-click" => "sendMessage()", type: "button", "ng-disabled" => "sendMessageForm.$invalid"} Send Message