.popover.user-top-menu-container
  .arrow
  / %h3.popover-title{"ng-bind" => "title", "ng-show" => "title"}
  / .popover-content{"ng-bind" => "content"}
  .content
    .column
      .account-options
        %ul
          %li{"ng-class" => "{active: $state.current.name == 'profiles-dashboard'}"}
            %a{"ng-href" => "/dashboard/profiles"} My Dashboard
          %li{"ng-class" => "{active: viewState.current == 'messages-inbox'}"}
            %a{"ng-href" => "/dashboard/{{userInfo.current_profile.permalink}}/messages"}
              Messages
              &nbsp;
              %span.badge{"ng-show" => "userInfo.messages_count"} {{userInfo.messages_count}}
          %li{"ng-class" => "{active: viewState.current == 'notifications'}"}
            %a{"ng-href" => "/dashboard/{{userInfo.current_profile.permalink}}/notifications"}
              Connections
              &nbsp;
              %span.badge{"ng-show" => "userInfo.connections_count > 0"} {{userInfo.connections_count}}
          %li{"ng-class" => "{active: viewState.current == 'bidders-notifications'}"}
            %a{"ng-href" => "/dashboard/{{userInfo.current_profile.permalink}}/bidders"}
              Bidders
              &nbsp;
              %span.badge{"ng-show" => "userInfo.bidders_count > 0"} {{userInfo.bidders_count}}
          %li
            %a{"ng-click" => "logout()", "ng-href" => "#", target: "_self"} Logout
      %div{"data-access-level" => "{{accessLevels.admin}}", style: "margin-top: 10px"}
        %h4 Admin
        .account-options
          %ul
            %li
              %a{"ng-href" => "/admin/claims"} Claims
            %li
              %a{"ng-href" => "/admin/invitations/requests"} Invitations
            %li
              %a{"ng-href" => "/admin/profiles"} Profiles
            %li
              %a{"ng-href" => "/admin/reports/dashboard"} Reports
            %li
              %a{"ng-href" => "/admin/mailing/campaigns"} Mailing
            %li
              %a{"ng-href" => "/admin/billboard"} Billboard
            %li
              %a{"ng-href" => "/admin/auctions"} Auctions
