.modal#works-at-modal{role: "dialog", tabindex: "-1", style: "margin-top: 300px"}
  .modal-dialog
    .modal-content
      .modal-body
        Where do you work?
        %br
        .search-people-container{"ng-style"=>"{'display': 'inline-block', 'width': '290px', 'margin-right': '-8px'}"}
          %angucomplete-alt#search-people{"input-class" => "form-control form-control-small", minlength: "1", pause: "100", "placeholder" => "Search where do you work...", "search-fields" => "_source.name", "description-field"=>"_source.industry_role_profile.name", "image-field"=>"_source.default_avatar.small", "selected-object" => "selectedMember", "title-field" => "_source.name", "match-class" => "search-highlight", "clear-selected" => true, "remote-url"=>"/api/v1/profiles/search?type=simple&q=", "remote-url-data-field"=>"results"}
        .add-manualy-buttom-container{style: "display: inline-block; vertical-align: top"}
          &nbsp;&nbsp;or&nbsp;
          %a.btn.btn-default#add-manually{href: "#", "ng-click" => "profile.addingWorkAtManually = true"} Add manually
        / %br
        / %br
        .profile_id_selected{"ng-style"=>"{'display':'none'}"}
          {{profile.worksAtIdSelected = selectedMember.originalObject._id}}
        .work-at-add-manually-container{"ng-show" => "profile.profile_working_at.added_manually || profile.addingWorkAtManually"}
          .name
            %input{type: "text", placeholder: "Company Name", "ng-model" => "profile.profile_working_at.name"}
          .actions
            / %a.btn.btn-default.btn-xs{href: "#", "ng-really-message" =>"Do you want to cancel your changes?", "ng-really-click" => "addingManually = false"} Cancel
            %a.btn.btn-primary.btn-xs{href: "#", "ng-click" => "addWorkAtManually()"} Save
      .modal-footer
        %button.btn.btn-default{"ng-click" => "$hide()", type: "button"} Cancel