

/ .container
/   .row.low
/     .col-md-6.show-grid
/       %div{"ng-controller" => "AccordionDemoCtrl"}
/         %label.checkbox
/           %input{"ng-model" => "oneAtATime", type: "checkbox"}/
/           Open only one at a time
/         %accordion{"close-others" => "oneAtATime"}
/           %accordion-group{heading: "Static Header, initially expanded", "is-open" => "true"}
/             This content is straight in the template.
/           %accordion-group{heading: "{{group.title}}", "ng-repeat" => "group in groups"}
/             {{group.content}}
/           %accordion-group{heading: "Dynamic Body Content"}
/             %p The body of the accordion group grows to fit the contents
/             %button.btn.btn-default.btn-sm{"ng-click" => "addItem()"} Add Item
/             %div{"ng-repeat" => "item in items"} 
/               {{item}}
/           %accordion-group{"is-open" => "isopen"}
/             %accordion-heading
/               I can have markup, too!
/               %i.pull-right.glyphicon{"ng-class" => "{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"}
/             This is just some content to illustrate fancy headings.
/     .col-md-6
/       %p The <strong>accordion directive</strong> builds on top of the collapse directive to provide a list of items, with collapsible bodies that are collapsed or expanded by clicking on the item's header.
/       %p We can control whether expanding an item will cause the other items to close, using the <code>close-others</code> attribute on accordion.
/       %p The body of each accordion group is transcluded in to the body of the collapsible element.
                            