%p{style: "color:#384047;font-size:18px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;margin: 10px 0 9px;line-height:140%;font-weight:bold"}
  Welcome! We are very happy to invite you to join the tuneteams community.
/ %center
/   %p
/     %a{href: "#"}
/       %img{src: "https://s3.amazonaws.com/verbling-static/emails/ticket_sideways.jpg", style: "border: 0;"}
%p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 0 0 9px;line-height:150%;"}
  Please click the following button to start the registration process.
%center
  %table
    %tr
      %td{align: "center"}
        %a{href: "#", style: "color: #FFF;padding: 12px 30px;background-color:#00B3F3;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;text-decoration: none;display:block;width:200px;text-align:center;margin-top:20px;margin-bottom:20px;border-radius:3px;font-size:16px;"} Create my profile