$light-blue: #00A0DA; // Main light blue color used in tuneteams logo and primary buttons
$light-gray: #F1F1F1; // Used as a background in profiles and autions zones
$green: #4DCB56;
$font-main-color: #333;
$orange: #FF3E16;
$border-gray: #C2C2C2;

$font-stack:    'Karla', sans-serif;
$font-noto:    'Noto Sans', sans-serif;

// Font color
$white: #fff;
$grey: #777;

// Border radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin animation-delays($ani-size) {
 -webkit-animation-delay: $ani-size;
    -moz-animation-delay: $ani-size;
     -ms-animation-delay: $ani-size;
      -o-animation-delay: $ani-size;
         animation-delay: $ani-size;
}

@mixin transform($translate-size) {
  -webkit-transform: translate($translate-size, $translate-size);
     -moz-transform: translate($translate-size, $translate-size);
       -o-transform: translate($translate-size, $translate-size);
        transform: translate($translate-size, $translate-size);
}
