@import "variables";

.auctions {
  margin-top: 30px;
  .show {
    .left-pane {
      .illustration-container {
        width: 100%;
        height: 380px;
        .illustration {
          height: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          .buttons-container {
            position: absolute;
            left: 140px;
            top: 177px;
            display: none;
          }
          &:hover {

            .buttons-container {
              display: inline-block;
            }
          }
        }
      }

      .bids-info {
        background-color: #FFF;
        margin-top: 20px;
        table {
          width: 100%;
          border: 1px solid $light-gray;
          td {
            border: 1px solid $light-gray;
            text-align: center;
            .title {
              font-size: 26px;
              line-height: 26px;
              margin-top: 5px;
              .higher-avatar-container {
                display: inline-block;
                width: 60px;
                vertical-align: top;
                .avatar {
                  -webkit-border-radius: 13px;
                     -moz-border-radius: 13px;
                          border-radius: 13px;
                  background-position: 50% 50%;
                  background-repeat: no-repeat;
                  background-size: contain;
                  height: 26px;
                  width: 26px;
                  margin: 0 auto;
                  margin-bottom: 1px;
                }
              }
            }
            .sub-title {
              font-size: 11px;
              margin-bottom: 5px;
              a {
                color: $font-main-color;
              }
            }
          }
          tr {

          }
          tr.bottom {
            background-color: $light-gray;
            font-size: 12px;
            text-transform: uppercase;
            padding: 5px;
            text-align: center;
          }
        }
        .place-bid-container {
          display: inline-block;
          width: 100%;
          // background-color: #CCC;
          vertical-align: top;
          text-align: left;
          margin-top: 15px;
          .place-bid-button {
            width: 100%;
          }
          // .btn-lg {
          //   width: 100%;
          // }
          #share {
            font-size: 30px;
            display: inline-block;
            margin-left: 5px;
          }
          .is-the-owner {
            .btn {
              vertical-align: top;
            }
          }
          .is-not-owner {
            .button-container {
              width: 307px !important;
            }
          }
          .request-invitation-container, .is-not-owner, .is-ended {
            .button-container {
              width: 312px;
              display: inline-block;
              .btn {
                width: 100%;
              }
            }
            .watchlist-container, .review-full-license-container {
              display: inline-block;
              width: 44px;
              .btn.star {
                padding: 8px !important;
                margin-top: 1px;
                i {
                  font-size: 28px;
                }
              }
              .btn.license {
                padding: 10px 15px !important;
                margin-top: 1px;
                i {
                  font-size: 24px;
                }
              }
            }
          }
          .is-ended {
            .button-container {
              width: 260px;
              display: inline-block;
              .btn {
                width: 100%;
              }
            }
          }
        }
      }
      .also-available-in {
        margin-top: 30px;
        .title {
          font-weight: bold;
          margin-bottom: 8px;
        }
        .label {
          display: inline-block;
          margin-right: 5px;
          background-color: #FFF;
          border: 1px solid #808080;
          color: #333;
          padding-top: 5px;
          margin-top: 5px;
        }
      }
    }
    .right-pane {
      .tabs-container {
        ul.nav {
          margin-bottom: 25px;
          li {
            width: 50%;
            text-align: center;
            a:hover {
              cursor: pointer;
            }
          }
        }
      }
      h1 {
        margin-top: 5px !important;
        line-height: 36px !important;
      }
      .slider-container {
        margin-top: 12px;
      }
      .auction-tab-bids-container {
        .buttons-container {
          text-align: right;
        }

        .auction-bids-container {
          .bid {
            border-bottom: 1px solid #C2C2C2;
            padding-bottom: 10px;
            .avatar-container {
              display: inline-block;
              width: 60px;
              vertical-align: top;
              padding-top: 5px;
              .avatar {
                -webkit-border-radius: 25px;
                   -moz-border-radius: 25px;
                        border-radius: 25px;
                // background-color: #000;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;
                // border: 5px solid #FFF;
                height: 50px;
                width: 50px;
              }
            }
            .details-container {
              display: inline-block;
              width: 500px;
              margin-top: 18px;
            }
            .actions-container {
              .cancel-offer {

              }
              .second-chance-offer-accepted {
                // display: none;
                // &:first-child {
                //   display: block;
                // }
              }
            }
          }
        }
      }
    }
    .description {
      margin-top: 15px;
      .auction-description-container {
        .text {
          white-space: pre-line;
          margin-top: -25px;
          &.less {
            height: 180px;
            overflow: hidden;
          }
          &.more {
            height: auto;
          }
        }
      }
      .auction-description-edit-container {
        textarea {
          height: 150px;
        }
      }
      .see-more, .see-less {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        padding: 5px 0;
        border: 1px solid #CCC;
        cursor: pointer;
      }
    }
    .input-group {
      &.is_number {
        width: 125px;
      }
      &.is_percentage {
        width: 89px;
      }

    }
    .sections-container {
      .videos {
        ul {
          margin: 0;
          padding: 0;
          li {
            list-style-type: none;
          }
        }
        header {
          font-weight: bold;
          text-transform: uppercase;
          padding: 20px 0;
          a {
            text-transform: capitalize;
            margin-top: -5px;
          }
        }
        &.content {
          background-color: #f1f1f1;
          padding: 20px;
        }
        input {
          display: inline-block;
          width: 50%;
        }
        a {
          display: inline-block;

        }
        .video-container {
          height: 337px;
        }
        .thumbnails-container {
          cursor: pointer;
          ul {
            margin:0;
            padding:0;
            li {
              list-style-type: none;
              .thumbnail {
                background-color: #CCC;
                height: 101px;
              }
            }
          }
        }
      }
      .title {
        font-weight: bold;
        text-transform: uppercase;
        padding: 20px 0;
        a {
          text-transform: capitalize;
          margin-top: -5px;
        }
      }
      .details {
        background-color: #F1F1F1;
        padding: 20px;
        .countries-container, .genres-container {
          span {
            display: inline-block !important;
            margin-right: 3px;
            margin-bottom: 4px;
            padding: 0.5em 0.8em;
            font-size: 12px;
          }
        }
        &.social-metrics {
          text-align: center;
          .metrics-content {
            text-align: center;
            h3 {
              font-size: 40px;
              font-weight: bold;
            }
            .icon {
              width: 20px;
              display: inline-block;
            }
            .text {
              display: inline-block;
            }
          }
          .detailed-charts-container {
            text-align: center;
            h3 {
              padding: 20px 0;
              text-transform: uppercase;
              font-size: 18px;
              font-weight: bold;
            }
            .title-container {
              text-align: center;
              margin-top: 67px;
              font-weight: bold;
              padding-left: 40px;
            }
            .chart-container {
              width: 100% !important;
              .social-chart {
                width: 100% !important;
              }
            }
          }
          #show-detailed-info {
            display: block;
            padding: 20px 0px 10px 0;
          }
        }
        .songs-container {
          table {
            tr {
              th {
                text-align: center;
              }
              td {
                &.centered {
                  text-align: center;
                }
              }
            }
          }
          .song {
            &:nth-child(even) {
              background-color: #F9F9F9
            }
            margin-bottom: 5px;
            .controls-container {
              width: 65px;
              // background-color: #FFF;
              display: inline-block;
              vertical-align: top;
              .control-button {
                margin: 10px auto;
                // background-color: #000;
                width: 40px;
                height: 40px;
                background-image: url(/assets/sprites/main.png);
                background-repeat: no-repeat;
                background-size: 248%;
                &.pause {
                  background-position: 0 -42px;
                }
              }
              .loading-song-container {
                text-align: center;
                font-size: 9px;
                text-transform: uppercase;
                line-height: 24px;
              }
            }
            .details-container {
              // background-color: #000;
              width: 640px;
              vertical-align: top;
              display: inline-block;
              .name {
                font-size: 18px;
                &.recording-rights {
                  margin-top: 17px;
                }
              }
              .seek-container {
                .progress-container {
                  width: 89%;
                  display: inline-block;
                  .seek-base {
                    height: 10px;
                    width: 100%;
                    border: 1px solid #CCC;
                    margin-bottom: 10px;
                    background-color: #FFF;
                    position: relative;
                  }
                  .seek-load {
                    height: 8px;
                    width: 0;
                    background-color: rgba(236, 86, 58, 0.3);
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 100;
                  }
                  .seek-progress {
                    height: 8px;
                    width: 0;
                    background-color: #EC563A;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 101;
                  }
                }
                .time-container {
                  width: 10%;
                  display: inline-block;
                  font-size: 10px;
                  vertical-align: top;
                  line-height: 10px;
                }
              }
            }
          }
        }
        .edit-songs-container {
          .song {
            margin-top: 15px;
            border-bottom: 1px solid #DDD;
            margin-bottom: 15px;
            padding-bottom: 15px;
            &:last-child {
              border-bottom: 0 !important;
            }
            .title {
              width: 100px;
              // background-color: #000;
              padding: 0;
              display: inline-block;
              vertical-align: top;
              text-transform: none;
              font-size: 12px;
              margin-top: 10px;
              &.percentage {
                margin-top: 1px;
              }
            }
            .info {
              display: inline-block;
              width: 500px;
              vertical-align: top;
            }
            .delete {
              display: inline-block;
            }
          }
        }
        .auction-main-details-container {
          .auction-main-details {
            display: inline-block;
            width: 100%;
            .detail-title, .private-data, .public-data {
              display: inline-block;
            }
            i.fa-lock {
              cursor: help;
            }
          }
        }
        .edit-auction-main-details-container {
          .show-private-info-switch-container {
            margin-top: 45px !important;
          }
        }
        .publishing-recording-legal-container {
          // text-align: center;
          table {
            margin: 0 auto;
            tr {
              th {
                text-align: center;
                font-size: 14px;
                text-transform: uppercase;
                padding-bottom: 10px;
                &:first-child {
                  padding-right: 20px;
                }
                &:last-child {
                  padding-left: 20px;
                }
              }
              td {
                &:first-child {
                  border-right: 1px solid #C2C2C2;
                  padding-right: 20px;
                }
                &:last-child {
                  padding-left: 20px;
                }
              }
            }
          }
        }
        .legal-information-container {
          .verified-icon {
            display: inline-block;
            width: 15px;
            height: 15px;
            background-image: url(/assets/icons/verified.png);
            background-size: contain;
            margin-bottom: -2px;
          }
        }
        .edit-legal-information-container {
          .phone-number-calling-code-container {
            .calling-code-selector-container {
              width: 140px !important;
              display: inline-block;
              vertical-align: top;

            }
            #phone_number_calling_code_chosen {
              width: 140px !important;
            }
            #phone-number-calling-code {
              width: 140px !important;
            }
            .phone-number-container {
              display: inline-block;
              vertical-align: top;
              #licensor-phone-number {
                width: 130px;
              }
            }
          }
        }
        .facebook-feed-container {
          height: 400px;
          overflow: auto;
          .post-container {
            // margin-bottom: 10px;
            padding: 10px 0;
            border-bottom: 1px solid #c2c2c2;
            .post {
              display: inline-block;
              width: 75%;
              vertical-align: top;
              &.no-picture {
                width: 100%;
              }
            }
            .image-container {
              display: inline-block;
              width: 20%;
              vertical-align: top;
            }
          }
        }
      }
    }
    .explore-more-auctions-container {
      margin-top: 20px;
      .title {
        font-weight: bold;
        text-transform: uppercase;
        padding: 20px 0px;
      }
      .list-container {
        .action-item {
          display: inline-block;
          width: 272px;
          height: 272px;
          background-size: cover;
          background-repeat: none;
          margin-right: 15px;
          // border: 1px solid #000;
          // background-color: #CCC;
          position: relative;
          margin-bottom: -5px;
          &:last-child {
            margin-right: 0;
          }
          .details-container {
            background: rgba(0,0,0,0.6);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            color: #FFF;
            padding: 5px;
            -webkit-transition: max-height 0.7s;
                -moz-transition: max-height 0.7s;
                -ms-transition: max-height 0.7s;
                -o-transition: max-height 0.7s;
                transition: max-height 0.7s;
                max-height: 120px;
                overflow: hidden;
            .name {
              font-size: 22px;
              line-height: 22px;
              padding: 0 0 4px 0;
            }
            .current-bid {
              color: #B3B2B2;
              font-weight: 500;
              .currency {
                display: inline-block;
                font-size: 16px;
              }
              .amount {
                font-size: 28px;
                line-height: 28px;
                padding: 0 0 4px 0;
                display: inline-block;
              }
              .bids {
                display: inline-block;
                font-size: 16px;
              }
            }
            .truncate {
              width: 270px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
          &:hover {
            .details-container {
              // max-height: 282px;
              // height: 282px;
            }
          }
        }
      }
      .load-more-container {
        text-align: center !important;
        display: block;
        border: 1px solid #CCC;
        background-color: #FFF;
        padding: 10px 0;
        margin-top: 10px;
        text-transform: uppercase;
        // cursor: pointer;
        font-weight: bold;
        font-size: 11px;
        color: $font-main-color;
      }
    }

  }
  .new {
    .help-icon {
      width: 13px;
      margin-bottom: 2px;
    }
    .profile-configuration-container {
      text-align: center;
      margin: 0 auto;
      width: 80%;
      margin-top: 30px;
      .industry-role-parent-box {
        border: 5px solid #CCC;
        display: inline-block;
        height: 278px;
        overflow: hidden;
        position: relative;
        width: 278px;
        margin-right: 5px;
        margin-top: 5px;
        // cursor: pointer;
        .form-container {
          background-color: #FFF;
          height: 262px;
          left: 3px;
          padding: 0px 5px 5px 5px;
          position: absolute;
          top: 270px;
          text-align: left;
          width: 262px;
          z-index: -1;
          -webkit-transition: top 0.5s, bottom 0.5s;
          transition: top 0.5s, bottom 0.5s;
          input, select {
            margin-bottom: 5px;
          }
        }
      }
      .step-tutorial-container {
        .steps-list-container {
          height: 34px;
          margin-bottom: 15px;
          ol {
            list-style: none;
            margin: 0;
            padding: 0;
            li.step {
              display: inline;
              list-style-type: none;
              .part {
                height: 34px;
                float: left;
              }
              &.active {
                .back {
                  background-position: -18px -156px;
                }
                .middle {
                  background-color: #00B3F3;
                  .content {
                    color: #FFF;
                  }
                }
                .point {
                  background-position: 0 -316px !important;
                }
                &:last-child {
                  .point {
                    background-position: 0 -280px !important;
                  }
                }
              }

              .back {
                background-image: url(/assets/sprites/steps.png);
                background-repeat: no-repeat;
                background-size: auto;
              }
              .middle {
                background-color: #FFF;
                border-top: 1px solid #00B3F3;
                border-bottom: 1px solid #00B3F3;
                .content {
                  min-width: 120px;
                  margin: 7px 8px 0;
                  // color: #FFF;
                  font-weight: bold;

                }
              }
              .point {
                background-image: url(/assets/sprites/steps.png);
                background-repeat: no-repeat;
                background-size: auto;
                background-position: 0 -352px;
                width: 14px;
                &.continue {
                  background-position: 0 -244px;
                }
              }
              &:first-child {
                .back {
                  border-left: 1px solid #00B3F3;
                }
              }
              &:last-child {
                .point {
                  background-position: 0 -208px;
                }
              }
            }
          }
        }
        .steps-form {
          text-align: left;
          label {
            font-weight: normal;
          }
          .input-group {
            &.is_number {
              width: 125px;
            }
            &.is_percentage {
              width: 89px;
            }

          }
          .section-title {
            border: 1px solid #C2C2C2;
            text-align: center;
            padding: 7px 0;
            margin: 10px 0;
            font-weight: bold;
            img {
              margin-bottom: 2px;
              width: 13px;
            }
          }
          .auction-type-radio-container, .competitive-term-radio-container {
            .radio-container {
              width: 217px;
              height: 217px;
              background-color: $light-gray;
              display: inline-block;
              vertical-align: top;
              text-align: center;
              // text-transform: uppercase;
              font-size: 12px;
              label > input {
                display: none;
                + img {
                  cursor: pointer;
                  border: 2px solid transparent;
                  display: inline-block;
                  margin-top: 13px;
                  margin-bottom: 7px;
                }
                &:checked + img {
                  // border: 2px solid #000;
                }
                + .image-container {
                  background-color: #000;
                  width: 20px;
                  height: 20px;
                }

              }
              label {
                .text {
                  cursor: pointer;
                  text-transform: uppercase;
                }
              }
              &.selected {
                background-color: #C2C2C2;
                font-weight: bold !important;
                -webkit-transition: background-color 300ms linear;
                   -moz-transition: background-color 300ms linear;
                     -o-transition: background-color 300ms linear;
                    -ms-transition: background-color 300ms linear;
                        transition: background-color 300ms linear;
              }
            }
          }
          .slider-container {
            margin-top: 12px;
          }
          .competitive-term-radio-container {
            .radio-container {
              width: 438px;
              height: 217px;
            }
            // .radio-container {
            //   width: 438px;
            //   height: 217px;
            //   background-color: $light-gray;
            //   display: inline-block;
            //   vertical-align: top;
            //   label > input {
            //     display: none;
            //     + img {
            //       cursor: pointer;
            //       border: 2px solid transparent;
            //       display: inline-block;
            //     }
            //     &:checked + img {
            //       border: 2px solid #000;
            //     }
            //   }
            // }
          }
          .publishing-recording-legal-container {
            // text-align: center;
            table {
              margin: 0 auto;
              tr {
                th {
                  text-align: center;
                  font-size: 14px;
                  text-transform: uppercase;
                  padding-bottom: 10px;
                  &:first-child {
                    padding-right: 20px;
                  }
                  &:last-child {
                    padding-left: 20px;
                  }
                }
                td {
                  &:first-child {
                    border-right: 1px solid #C2C2C2;
                    padding-right: 20px;
                  }
                  &:last-child {
                    padding-left: 20px;
                  }
                }
              }
            }
          }
          .term-container {
            .control-label {
              margin-bottom: 20px;
            }
          }
          .phone-number-calling-code-container {
            .calling-code-selector-container {
              width: 140px !important;
              display: inline-block;
              vertical-align: top;

            }
            #phone_number_calling_code_chosen {
              width: 140px !important;
            }
            #phone-number-calling-code {
              width: 140px !important;
            }
            .phone-number-container {
              display: inline-block;
              vertical-align: top;
              #licensor-phone-number {
                width: 210px;
              }
            }
          }
        }

      }
    }
  }
  .index {
    .left-pane {
      .auctions-list-container {
        // background-color: #000;
        .action-item {
          display: inline-block;
          width: 282px;
          height: 282px;
          background-size: cover;
          background-repeat: none;
          // border: 1px solid #000;
          // background-color: #CCC;
          position: relative;
          margin-bottom: -5px;
          .details-container {
            background: rgba(0,0,0,0.6);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            color: #FFF;
            padding: 5px;
            -webkit-transition: max-height 0.7s;
                -moz-transition: max-height 0.7s;
                -ms-transition: max-height 0.7s;
                -o-transition: max-height 0.7s;
                transition: max-height 0.7s;
                max-height: 120px;
                overflow: hidden;
            .name {
              font-size: 22px;
              line-height: 22px;
              padding: 0 0 4px 0;
            }
            .current-bid {
              color: #B3B2B2;
              font-weight: 500;
              .currency {
                display: inline-block;
                font-size: 16px;
              }
              .amount {
                font-size: 28px;
                line-height: 28px;
                padding: 0 0 4px 0;
                display: inline-block;
              }
              .bids {
                display: inline-block;
                font-size: 16px;
              }
            }
            .truncate {
              width: 270px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
          &:hover {
            .details-container {
              // max-height: 282px;
              // height: 282px;
            }
          }
        }
      }
      .load-more-container {
        text-align: center;
        border: 1px solid #CCC;
        background-color: #FFF;
        padding: 10px 0;
        margin-top: 10px;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: bold;
        font-size: 11px;
      }
      .loading {
        text-align: center;
        font-size: 10px;
        text-transform: uppercase;
      }
    }
    .right-pane {
      .title {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 15px;
      }
      .content {
        background-color: $light-gray;
        padding: 20px;
        .auctions-list-container {
          // background-color: #000;
          a {
            color: $font-main-color;
          }
          .action-item {
            display: inline-block;
            .illustration-container {
              width: 70px;
              display: inline-block;
              margin-right: 8px;

              .illustration {
                width: 70px;
                height: 70px;
                background-size: cover;
                background-repeat: none;
              }
            }
            .details-container {
              width: 140px;
              display: inline-block;
              // background-color: #CCC;
              vertical-align: top;
              .name {
                font-weight: bold;
              }
              .bids {

              }
            }
          }
        }
      }
    }
  }
  .embed {
    height: 100%;
    .auction-container {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      .logo-container {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 170px;
        height: 35px;
        background: rgba(0,0,0,0.6);
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        // text-align: center;
        padding: 5px;
        .logo {
          // padding: 5px;
          background-image: url(/assets/logo.png);
          background-size: cover;
          // background-color: #000;
          width: 160px;
          height: 25px;
        }
      }
      .details {
        background: rgba(0,0,0,0.6);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: #FFF;
        padding: 5px;
        -webkit-transition: max-height 0.7s;
            -moz-transition: max-height 0.7s;
            -ms-transition: max-height 0.7s;
            -o-transition: max-height 0.7s;
            transition: max-height 0.7s;
            max-height: 120px;
            overflow: hidden;
        .name {
          font-size: 22px;
          line-height: 22px;
          padding: 0 0 4px 0;
        }
        .current-bid {
          color: #B3B2B2;
          font-weight: 500;
          .currency {
            display: inline-block;
            font-size: 16px;
          }
          .amount {
            font-size: 28px;
            line-height: 28px;
            padding: 0 0 4px 0;
            display: inline-block;
          }
          .bids {
            display: inline-block;
            font-size: 16px;
          }
        }
        .truncate {
          width: 270px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .no-longer-available {
      height: 100%;
      border: 1px solid #000;
      text-align: center;
      font-size: 20px;
      img {
        width: 160px;
        margin-top: 120px;
        margin-bottom: 15px;
      }
    }
  }
  .agreement {
    .hellosign-frame-container {
      text-align: center;
      #hellosign-frame {

      }
    }
    .responses {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }
  }
  .payment {
    .payment-form-container {
      h1 {
        margin-top: 0px;
        margin-bottom: 30px;
      }
      h3 {
        margin-top: 0;
      }
      .stripe-form-container {
        .card-number-container {
          position: relative;
          .credit-cards-icons {
            width: 125px;
            position: absolute;
            top: 5px;
            right: 10px;
          }
        }
        .expiry-cvc-container {
          .expiry-date-label {
            text-transform: uppercase;
            font-weight: normal;
            font-size: 10px;
            display: inline-block;
          }
          .expiry-date {
            width: 80px;
            display: inline-block;
            margin-right: 17px;
          }
          .cvc-label {
            text-transform: uppercase;
            font-weight: normal;
            font-size: 10px;
            display: inline-block;
          }
          .cvc {
            width: 50px;
            display: inline-block;
          }
          .cvc-icon-container {
            display: inline-block;
            img{
              width: 30px;
            }
          }
        }
        button.pay {
          width: 100%;
          text-transform: uppercase;
        }
      }
      .order-details-container {
        .total-calculation-container {
          .total-container, .fee-container, .sub-total-container {
            border-width: 1px 0 1px 0;
            border-style: solid;
            border-color: #C2C2C2;
            height: 32px;
            margin-top: 0px;
            .title {
              float: left;
              margin-top: 5px;
              // display: inline-block;
            }
            .amount {
              text-align: right;
              float: right;
              font-size: 20px;
              font-weight: bold;
            }
            .currency {
              display: inline-block;
              font-size: 14px;
              margin-right: -4px;
            }
          }
          .sub-total-container {
            margin-top: 12px;
            border-bottom: 0;
          }
          .fee-container {
            border-bottom: 0;
          }
          .sub-total-container, .fee-container {
            .amount {
              font-size: 18px;
              margin-top: 3px;
            }
          }
        }
      }
    }
    .payment-succesful {
      text-align: center;
    }
  }
  .second-chance {
    text-align: center;
    margin-top: 150px;
    font-size: 20px;
  }
}

.request-approval-to-bid {
  .legal-information-container {
    #phone-number {
      display: inline-block;
      width: 332px;
      vertical-align: top;
    }
    .verified-icon {
      display: inline-block;
      width: 25px;
      height: 25px;
      background-image: url(/assets/icons/verified.png);
      background-size: contain;
      margin-top: 5px;
    }
    #change-link {
      position: absolute;
      top: 6px;
      right: 60px;
    }
  }
  .phone-verification-container {
    border: 1px solid $border-gray;
    padding: 10px;
    .enter-phone-number-container {
      .calling-code-selector-container {
        width: 140px;
        display: inline-block;
        vertical-align: top;
      }
      .phone-number-container {
        display: inline-block;
        vertical-align: top;
      }
    }
    .enter-verification-code-container {
      #verification-code {
        width: 200px;
        display: inline-block;
      }
    }
  }
}
.place-bid {
  .place-bid-container {
    .maximum-bid-container {
      .text {
        text-align: center;
      }
      .amount {
        text-align: center;
        font-size: 24px;
      }
      .tooltip-info {
        width: 300px;
      }
    }
    .maximum-bid-amount-container {
      margin-top: 10px;
    }
  }
}
.radial-progress {
  $circle-size: 40px;
  $circle-background: $orange;
  $circle-color: $orange;
  $inset-size: 30px;
  $inset-color: $orange;
  $transition-length: 1s;
  $shadow: 6px 6px 10px rgba(0,0,0,0.2);
  $percentage-color: #97a71d;
  $percentage-font-size: 22px;
  $percentage-text-width: 57px;

  margin: 12px;
  width:  $circle-size;
  height: $circle-size;

  background-color: $circle-background;
  border-radius: 50%;
  .circle {
    .mask, .fill, .shadow {
      width:    $circle-size;
      height:   $circle-size;
      position: absolute;
      border-radius: 50%;
    }
    // .shadow {
    //   box-shadow: $shadow inset;
    // }
    .mask, .fill {
      -webkit-backface-visibility: hidden;
      transition: -webkit-transform $transition-length;
      transition: -ms-transform $transition-length;
      transition: transform $transition-length;
      border-radius: 50%;
    }
    .mask {
      clip: rect(0px, $circle-size, $circle-size, $circle-size/2);
      .fill {
        clip: rect(0px, $circle-size/2, $circle-size, 0px);
        background-color: $circle-color;
      }
    }
  }
  .inset {
    width:       $inset-size;
    height:      $inset-size;
    position:    absolute;
    margin-left: ($circle-size - $inset-size)/2;
    margin-top:  ($circle-size - $inset-size)/2;

    background-color: $inset-color;
    border-radius: 50%;
    // box-shadow: $shadow;
    cursor: pointer;
    .playing {
      width: 17px;
      height: 20px;
      background: url(/assets/icons/small-play.png);
      background-size: cover;
      margin-top: 5px;
      margin-left: 9px;
    }
    .percentage {
      height:   $percentage-font-size;
      width:    $percentage-text-width;
      overflow: hidden;

      position: absolute;
      top:      ($inset-size - $percentage-font-size) / 2;
      left:     ($inset-size - $percentage-text-width) / 2;

      line-height: 1;
      .numbers {
        margin-top: -$percentage-font-size;
        transition: width $transition-length;
        span {
          width:          $percentage-text-width;
          display:        inline-block;
          vertical-align: top;
          text-align:     center;
          font-weight:    800;
          font-size:      $percentage-font-size;
          font-family:    "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
          color:          $percentage-color;
        }
      }
    }
  }

  $increment: 180deg / 100;
  @for $i from 0 through 100 {
    &[data-progress="#{$i}"] {

      .circle {
        .mask.full, .fill {
          -webkit-transform: rotate($increment * $i);
          -ms-transform: rotate($increment * $i);
          transform: rotate($increment * $i);
        }
        .fill.fix {
          -webkit-transform: rotate($increment * $i * 2);
          -ms-transform: rotate($increment * $i * 2);
          transform: rotate($increment * $i * 2);
        }
      }
      @if $i > 0 and $i < 100 {
        background-color: $light-gray;
        .inset {
          background-color: $light-gray;
          .playing {
            background: url(/assets/icons/small-pause.png);
            background-size: cover;
          }
        }
      }
      .inset .percentage .numbers {
        width: $i * $percentage-text-width + $percentage-text-width;
      }
    }
  }
}

.arrange {
  margin-top: 40px;
  .as-sortable-item, .as-sortable-placeholder {
    min-height: 20px;
    margin: 1px 2px 5px 1px;
    // border-radius: 10px;
  }

  .as-sortable-item {
    border: solid 1px darkgrey;
    background-color: #ffffff;
    padding-top: 5px;
    padding-left: 5px;
  }

  .as-sortable-item-handle {
  }

  .as-sortable-placeholder {
    border: 1px dashed darkgrey;
    box-sizing: border-box;
    background-color: #dbdbdb;
  }

  .as-sortable-drag {
    opacity: .8;
  }

  .as-sortable-hidden {
  }
  .list-container {
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
    width: 400px;
    .header {
      background-color: #c2c2c2;
      padding: 15px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 5px;
      font-weight: bold;
    }
    .search-container {
      .search-more, .auction-selected {
        display: none;
      }
      .angucomplete-image {
        -webkit-border-radius: 0 !important;
           -moz-border-radius: 0 !important;
                border-radius: 0 !important;
      }
    }
  }
  .auction {
    position: relative;
    .order {
      display: inline-block;
      vertical-align: top;
      width: 40px;
      height: 40px;
      background-color: #c2c2c2;
      text-align: center;
      font-weight: bold;
      color: #FFF;
      font-size: 16px;
      padding-top: 8px;
    }
    .illustration-container {
      display: inline-block;
      .illustration {
        width: 40px;
        height: 40px;
        background-size: contain;
      }
    }
    .details {
      display: inline-block;
      vertical-align: top;
    }
    .delete {
      position: absolute;
      right: 10px;
      top: 7px;
    }
  }
}
