// font {
//   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
//   font-size: 14px;
//   line-height: 1.42857;
//   color: #333;
// }

// .pli-tbl-order-info {
//   border-bottom: 1px solid #E3E3E3 !important;
//   background-color: #F6F7F9;
//   margin-top: -20px !important;
//   .pli-tr-section-subheadline {
//     td {
//       text-align: left;
//       vertical-align: top;
//       padding: 2px 10px;
//     }
//     .pli-td-total, .pli-td-price {
//       text-align: right;
//     }
//   }
//   .pli-tr-order-info-row {
//     td {
//       padding: 10px;
//       border-top: 1px solid #E3E3E3;
//       vertical-align: top !important;
//     }
//     .pli-td-total, .pli-td-price {
//       text-align: right;
//     }
//   }
// }



// .pli-input-description {
//   font-size: 11px !important;
// }

// // pli-tbl-order-info

// #pli-tr-payment-method {
//   background-color: #E3E3E3;
// }

// .pli-tr-section-headline {
//   text-transform: uppercase;
//   td {
//     padding: 5px 0 !important;
//     background-color: #00B3F3 !important;
//     font {
//       color: #FFF !important;
//       padding: 10px !important;
//       font-size: 12px;
//     }

//   }
// }

// // .pli-tr-section-headline td, .pli-tbl-order-info .pli-tr-section-headline td {
// //   padding-left: 10px;
// // }

// .pli-tbl-order-info .pli-tr-section-subheadline, .pli-tbl-order-info .pli-tr-section-subheadline font {
//   background-color: #E3E3E3;
// }

// .pli-tbl-section, .pli-tbl-section tr, .pli-tbl-section td, .pli-tbl-order-info, .pli-tbl-order-info td, #pli-tbl-terms, #pli-tbl-terms td, .pli-tbl-step2-error, .pli-tbl-step2-error td, #pli-tbl-promos {
//   border-width: 0 !important;
//   padding: 0px;
//   margin: 0px;
// }

// .pli-tbl-section-fields {
//   background-color: #F6F7F9;
//   margin: 0px;
//   padding: 10px 0px;
//   td {
//     padding: 2px;
//   }
// }

// .pli-tbl-order-info, .pli-tbl-full-width, .pli-tbl-section, .pli-tbl-section-fields, .pli-tbl-submit, .pli-tbl-step2-error, #pli-tbl-shipping, #pli-tbl-login, #pli-tbl-promos, #promoTable {
//   width: 100% !important;
// }

// #languagesList {
//   padding-right: 20px;
// }

// .secure-logos-container {
//   // float: right;
//   text-align: center;
//   // width: 110px;
//   position: relative;
//   left: -20px;
//   top: 76px;
//   padding: 10px 10px 0px;
//   background-color: #EFEFEF;
// }

// // Bootstrap classes
// input[type="submit"] {
//   display: inline-block;
//   padding: 6px 12px;
//   margin-bottom: 0px;
//   font-size: 14px;
//   font-weight: 400;
//   line-height: 1.42857;
//   text-align: center;
//   white-space: nowrap;
//   vertical-align: middle;
//   cursor: pointer;
//   -moz-user-select: none;
//   background-image: none;
//   border: 1px solid transparent;
//   border-radius: 4px;
//   //tuneteams button style
//   background-color: #00B3F3 !important;
//   border-color: #00B3F3 !important;
//   color: #FFF;
// }

// input, select {
//   display: inline-block;
//   // width: 100%;
//   height: 34px;
//   padding: 6px 12px;
//   font-size: 14px !important;
//   line-height: 1.42857;
//   color: #555;
//   background-color: #FFF;
//   background-image: none;
//   border: 1px solid #CCC;
//   border-radius: 4px;
//   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
//   transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
// }

// input[name="zipCode"], input[name="firstName"], input[name="lastName"], input[name="email"], input[name="address1"], input[name="city"], input[name="zipCode"], select[name="country"], select[name="state"], select[name="paymentMethod"] {
//   width: 285px;
// }

// select[name="language"], select[name="currency"] {
//   margin-left: 10px;
// }

// // select[name="expirationMonth"], select[name="expirationYear"], select[name="cardCompany"], select[name="language"], select[name="currency"] {
// //   display: inline-block;
// // }
