.connections-loading {
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
}
.connections-container {
  height: 400px;
  overflow-y: auto;
  .connection {
    border-top: 1px solid #CCC;
    padding-bottom: 10px;
    padding-top: 10px;
    &:first-child {
      border: none;
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
    a {
      color: #333;
    }
    .avatar-container {
      display: inline-block;
      width: 60px;
      vertical-align: top;
      padding-top: 5px;
      .avatar {
        -webkit-border-radius: 25px;
           -moz-border-radius: 25px;
                border-radius: 25px;
        // background-color: #000;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        // border: 5px solid #FFF;
        height: 50px;
        width: 50px;
      }
    }
    .conection-details-container {
      display: inline-block;
      width: 60%;
      // background-color: #000;
      vertical-align: top;
      .details {
        display: inline-block;
        width: 80%;
        // background-color: #CCC;
        vertical-align: top;
        h4 {
          font-size: 16px;
          margin: 0;
        }
        .body {
          font-size: 11px;
          line-height: 12px;
        }
      }
    }
    .send-message-button-container {
      // background-color: #000;
      display: inline-block;
      vertical-align: top;
      padding-top: 15px;
      width: 150px;
      text-align: right;
      .dropdown-menu {
        text-align: left;
      }
    }
    .new-message-container {
      padding-left: 63px;
      padding-top: 10px;
      .buttons-container {
        text-align: right;
      }
    }
  }
}