.dashboard {
  .management-ownership, .management-participating {
    i.fa-filter {
      cursor: pointer;
      float: right;
      &.red {
        color: red !important;
      }
    }
  }
  .management-profiles {
    .add-new-profile-button {
      margin-bottom: 15px;
    }
  }
}
