@import "variables";

.events-landing {
  .midem {
    // height: 100%;
    .col-md-6 {
      text-align: center;
      .title {
        width: 60%;
        margin: 10px 0;
      }
      h2 {
        margin: 30px 0;
      }
    }
    .play-button {
      width: 100px;
      margin-bottom: 20px;
    }
    .main-image {
      margin: 30px 0 25px 0;
      width: 85%;
    }
  	.left-pane {
      background-color: $light-gray;
      color: #333;
  	}
    .right-pane {
      background-color: $light-blue;
      color: #FFF;
    }
    .btn-default {
      background-color: transparent;
      color: #FFF;
      border-color: #FFF;
      &:hover {
        // border-width: 2px;
      }
    }
  }
  @media(max-width:767px){
    .col-md-6 {
      .title {
        width: 90% !important;
      }
      h2 {
        margin: 30px 0 0 0 !important;
        padding-bottom: 30px;
        font-size: 24px;
      }
    }
    .main-image {
      width: 100% !important;
    }
  }
}