.sidebar {
  .badge {
    float: right;
  }
  ul {
    li {
      border-bottom: 1px solid #E7E7E7;
      border-right: 1px solid #E7E7E7;
      border-left: 1px solid #E7E7E7;
      &:first-child {
        border-top: 1px solid #E7E7E7;
      }
      a {
        &.active {
          background-color: #EEE;
        }
        &.parent {
          cursor: default;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
  .nav-second-level {
    li {
      border: 0;
      a {
        padding-left: 37px;
        &.active {
          background-color: #EEE;
        }
      }
    }
  }
}

.home {
  .auctions-list-container {
    // background-color: #000;
    .action-item {
      display: inline-block;
      width: 285px;
      height: 285px;
      background-size: cover;
      background-repeat: none;
      // border: 1px solid #000;
      // background-color: #CCC;
      position: relative;
      margin-bottom: -5px;
      .details-container {
        background: rgba(0,0,0,0.6);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: #FFF;
        padding: 5px;
        -webkit-transition: max-height 0.7s;
            -moz-transition: max-height 0.7s;
            -ms-transition: max-height 0.7s;
            -o-transition: max-height 0.7s;
            transition: max-height 0.7s;
            max-height: 120px;
            overflow: hidden;
        .name {
          font-size: 22px;
          line-height: 22px;
          padding: 0 0 4px 0;
        }
        .current-bid {
          color: #B3B2B2;
          font-weight: 500;
          .currency {
            display: inline-block;
            font-size: 16px;
          }
          .amount {
            font-size: 28px;
            line-height: 28px;
            padding: 0 0 4px 0;
            display: inline-block;
          }
          .bids {
            display: inline-block;
            font-size: 16px;
          }
        }
        .truncate {
          width: 270px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      &:hover {
        .details-container {
          // max-height: 282px;
          // height: 282px;
        }
      }
    }
  }

}
