@import "variables";

body {
  font-family: $font-stack;
  z-index: 1;
  margin: 0px;
  padding: 0px;
}
h1, h2, h3, h4, h5, h6, p, a {
  font-family: $font-stack;
}
.hero-slider-area {
  background: rgba(0, 0, 0, 0) url("/assets/landing/hero.jpg") no-repeat scroll 0 0 / cover ;
  padding: 40px 0;
  height: 100vh;
}
.menu {
  a {
    color: #fff;
    display: block;
    float: right;
    font-size: 15px;
    margin: 0 0 0 40px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}
.hero-slider {
  .logo {
    img {
      width: 162px;
    }
  }
  .cta {
    margin: 11% auto 0;
    padding: 20px 0;
    width: 60%;

    p {
      color: #999;
      font-size: 18px;
      margin: 10px auto 20px;
      text-align: center;
      width: 90%;
      line-height: 1.4;
    }

    h1 {
      color: #fff;
      font-family: $font-stack;
      font-weight: 400;
      margin: 20px auto 0;
      font-size: 32px;
      text-align: center;
      line-height: 1.1;
      text-decoration: none;
      width: 95%;
    }
  }
}
.scroll {
  padding-top: 40px;
  .fa-chevron-down {
    font-size: 20px;
    color: #FFF;
    padding-top: 50px;
  }
}
.button a, .footer .button {
  background: #00b3f3;
  @include border-radius (3px);
  color: #fff;
  cursor: pointer;
  font-family: $font-stack;
  font-size: 16px;
  text-transform: uppercase;
  margin: 10px auto;
  overflow: hidden;
  display: inline-block;
  padding: 0.8vw;
  text-align: center;
  width: 215px;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
.scroll {
  p {
    color: #999;
    margin: 10px 0;
  }
}
.single-dt {
  img {
    width: 200px;
    margin-bottom: 10px;
  }
  p {
    &:first-child {
      font-size: 16px;
      margin: 0 auto;
      width: 85%;
    }
  }
  p.arrow {
    right: -11px;
    top: 150px;
  }
}
.detaiss {
  padding: 0 50px;
}
.details-area {
  display: block;
  overflow: hidden;
  padding: 0 0 20px;
}
.callto-section {
  padding: 0 0 50px;
  &.auctions, &.how-it-works {
    padding-top: 20px;
  }
  &.how-it-works {
    padding-bottom: 20px;
  }
}
.col-callto {
  margin: 0 auto;
  width: 62%;
  h2 {
    color: #000;
    font-size: 26px;
  }
  p {
    font-size: 16px;
  }
}
.box-last {
  .desc {
    position: absolute;
    top: 50%;
    left: 50%;

    @include transform(-50%);

    font-weight: 400;
    margin: 0px;
    padding: 0px;
  }
}

.profiles {
  width: 100%;
  height: 500px;
}

.arrow {
  position: absolute;
  z-index: 1002;
  display: block;
  top: 50%;
  margin-top: -35px;
  width: 36px;
  height: 71px;
  outline: none;
  cursor: pointer;
  background: url(/assets/landing/blank.gif) no-repeat;
}

.box,
.box-last {
  width: 20%;
  height: 58%;
  float: left;
  display: block;
  background: #00b3f3;
  position: relative;
  margin: 0px;
  padding: 0px;
  background-size: cover;
}

.profiles {
  .box {
    img {
      display: none;
    }
  }
  .box-last {
    height: 58%;
  }
}

.box {
  img {
    width: 100%;
  }
  .desc {
    background: rgba(0,0,0,0.6);
    position: absolute;
    bottom: 0%;
    display: block;
    left: 0%;
    color: $white;
    padding: 5px;
    width: 100%;
    .name {
      font-size: 22px;
      line-height: 22px;
      padding: 0 0 4px 0;
    }
    .truncate {
      width: 270px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.box-last {
  background: #00b3f3;
  color: $white;

  .desc {
    position: relative;
    display: block;
    color: $white;
    text-align: center;

    a {
      color: $white;
    }
  }
}

.callto-section.two {
  padding-top: 8%;
}
.persion-det {
  padding: 5% 0;

  .single-per {
    margin: 0 auto;
    width: 78%;
    img {
      width: 80px;
    }

    p {
      font-size: 17px;
      color: #777;
      font-style: italic;
      padding-top: 15px;

      span {
        font-style: normal;
        color: #000;
        font-size: 16px;
      }
    }
  }
}
.footer-area {
  margin-top: 7%;
  background: #333;
  color: #fff;
  font-size: 16px;
  padding-top: 7%;

  .footer-area {
    padding-top: 0;
    width: 90%;
    margin: 0 auto;
  }
}
.bty {
  padding-bottom: 7%;
  h1 {
    font-size: 28px;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 20px;
  }
}
.col-sms-5 {
  float: left;
  width: 20%;
}
.single-menu {
  h1 {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0 10px 30%;
    text-transform: uppercase;
  }
  a {
    color: #ddd;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 1px;
    margin-left: 30%;
    text-decoration: none;
    text-transform: none;
    &:hover{
      color: #fff;
    }
  }
  img {
    margin: 0 auto;
    width: 45%;
  }
}
.copyright {
  width: 100%;
  text-transform: none;
  color: $grey;
  font-size: 14px;
  text-align: center;
  padding: 50px 0 15px;
}

.profile-carousel-container {
  position: relative;
  .profile-container {
    height: 500px;
    li {
      width: 100%;
      height: 500px;
      background-color: #CCC;
      #cover-header {
        height: 500px;
        width: 100%;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: none;
        .mini-profile-container {
          background-color: #FFF;
          margin: 0 auto;
          text-align: center;
          position: relative;
          width: 575px;
          .followers-bar {
            -webkit-border-radius: 5px;
               -moz-border-radius: 5px;
                    border-radius: 5px;
            background-color: #000;
            height: 64px;
            opacity: 0.6;
            position: absolute;
            top: 105px;
            width:100%;
            z-index: 0;
          }
          #avatar {
            -webkit-border-radius: 145px;
               -moz-border-radius: 145px;
                    border-radius: 145px;
            background-color: #EEE;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;
            border: 5px solid #FFF;
            height: 290px;
            left: 50%;
            margin-left: -145px;
            top: 50px;
            position: absolute;
            width: 290px;
            z-index: 1;
            &:hover {
              #upload-new-avatar-button {
                display: inline-block;
              }
            }
            #upload-new-avatar-button {
              bottom: -5px;
              display: none;
              left: 32px;
              position: absolute;
            }
          }
          .name-container {
            color: #FFF;
            font-size: 18px;
            width: 470px;
            position: absolute;
            top: 370px;
            left: 50%;
            margin-left: -235px;
            line-height: 20px;
            z-index: 1;
            // max-height: 50px;
            &.see_more {
              background-color: rgba(0,0,0,0.8);
              height: 300px;
              top: 0px;
              padding: 10px;
              // transition: top 0.2s, height 2s;
              // transform-origin: top;
              // transition: all 1s ease;
            }
            .SeeMoreProfileGenres {
              font-size: 13px;
              line-height: 0px;
              text-decoration: none;
            }
            .links-container {
              font-size: 14px;
              a {
                color: #FFF;
                text-decoration: none;
              }
            }
            .country, .genres {
              font-weight: bold;
              .not-collapsed {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .indicator-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    .indicator {
      position: relative;
      left: -50%;
      .ng-scope {
        font-size: 50px;
        line-height: 0;
      }
    }
  }
}
