@import "variables";

@media (max-width: 1150px) {
  .ng-scope {
    .slider {
      height: 400px;
    }
  }
  .main-video-modal {
    width: 895px !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {

  .nonDraggableImage {
    width: 100%;
  }
  .hero-slider-area {
    height: auto;
  }
  .hero-slider {
    .cta {
      width: 90%;
    }
  }
  .ng-scope {
    .slider {
      height: 400px;
    }
  }
  .single-dt {
    p:first-child {
      width: 100%;
    }
  }
  .detaiss {
    padding: 0;
  }
  .box,
  .box-last {
    width: 33.3333%;
    height: 314px;
  }
  .profiles {
    height: auto;
  }
  .profiles {
    .box-last {
      height: 314px;
    }
  }
  .profiles-area {
    display: block;
    overflow: hidden;
  }
  .col-callto {
    width: auto;
  }
  .ng-scope {
    .slider {
      height: 345px;
    }
  }
  .persion-det {
    .single-per {
      width: auto;
    }
  }
  .bty {
    h1 {
      width: 80%;
    }
  }
  .footer-area {
    .footer-area {
      width: auto;
    }
  }
  .main-video-modal {
    width: 895px !important;
  }
}


@media (max-width: 767px) {
  .footer-area {
    .footer-area {
      width: auto;
    }
  }
  .menu {
    a {
      margin: 0 0 0 10px;
    }
  }
  .bty {
    h1 {
      width: 100%;
      font-size: 24px;
    }
  }
  .persion-det {
    .single-per {
      width: auto;
    }
  }
  .single-dt {
    text-align: center;

    p:first-child {
      padding: 15px 0;
      width: 100%;
    }

    p.arrow {
      height: auto;
      margin: 0;
      position: initial;
      width: auto;
      -webkit-transform: rotate(90deg);
         -moz-transform: rotate(90deg);
           -o-transform: rotate(90deg);
            transform: rotate(90deg);
    }
  }
  .col-callto {
    width: auto;
  }
  .profiles-area {
    display: block;
    overflow: hidden;
  }
  .single-dt {
    p:first-child {
      width: 100%;
    }
  }

  .detaiss {
    padding: 0;
  }
  .hero-slider {
    .cta {
      width: 90%;

      h1 {
        font-size: 28px;
        width: 100%;
      }
    }
  }
  .hero-slider-area {
    height: auto;
  }
  .hero-slider {
    .button {
      a {
        background: #f19833;
      }
    }
  }
  .button a, .footer .button {
    display: block;
    padding: 12px 0;
    width: auto;
  }
  .col-sms-5 {
    min-height: 160px;
    width: 50%;
  }
  .box,
  .box-last {
    width: 33.333%;
    height: 150px;
  }
  .profiles {
    height: auto;
    .box-last {
      height: 150px;
      padding: 15% 0;
    }
  }
  .profiles {
    .box {
      margin-bottom: -5px;
      .name {
        font-size: 14px;
      }
      .countries, .genres {
        display: none;
      }
    }
  }
  .profiles {
    .box {
      img {
        display: block;
      }
    }
    .box:nth-child(1) {
      background: none;
    }
    .box:nth-child(2) {
      background: none;
    }
    .box:nth-child(3) {
      background: none;
    }
    .box:nth-child(4) {
      background: none;
    }
    .box:nth-child(5) {
      background: none;
    }

    .box:nth-child(6) {
      background: none;
    }

    .box:nth-child(7) {
      background: none;
    }

    .box:nth-child(8) {
      background: none;
    }
    .box:nth-child(9) {
      background: none;
    }
  }
  img.nonDraggableImage {
    left: -55% !important;
    width: 210%;
  }
  .ng-scope .slider {
    height: 437px;
  }
  .slider {
    .arrow.next {
        background-image: url("/assets/landing/right-arrow.png");
        background-size: 100% 100%;
        opacity: 1;
      &:hover {
          background-image: url("/assets/landing/right-arrow.png");
        }
    }
  }

  .slider {
    .arrow.prev {
      background-image: url("/assets/landing/left-arrow.png");
      background-size: 100% 100%;
      opacity: 1;
      &:hover {
        background-image: url("/assets/landing/left-arrow.png");
      }
    }
  }
  .profile-carousel-container {
    .mini-profile-container {
      width: 340px !important;
    }
  }
  .main-video-modal {
    width: 100% !important;
  }
}

@media (max-width: 479px) {
  .hero-slider {
    .scroll {
      .fa-chevron-down {
        padding-top: 10px;
      }
    }
  }
  .ng-scope .slider {
    height: 270px;
  }
  .box, .box-last {
    width: 50%;
  }
  .profiles {
    .box-last {
      padding: 21.6% 0;
    }
  }
  .col-sms-5 {
    float: none;
    text-align: center;
    width: auto;
  }
  .single-menu a, .single-menu h1 {
    margin-left: 0;
  }
  .main-video-modal {
    width: 100% !important;
  }
}
