.title-container {
  h1 {
    font-size: 22px;
  }
  text-align: center;
  margin-bottom: 15px;
}

.parts-container {
  text-align: center;
  width: 100%;
  // background-color: #CCC;
  margin-bottom: 15px;
  table {
    tr {
      td {
        padding: 8px;
        border: 1px solid #000;
        &.footer {
          font-weight: bold;
          text-align: center;
        }
        &.separator {
          text-align: center;
        }
      }
    }
    // background-color: #000;
    text-align: left;
    // width: 500px;
    margin: 0 auto;
  }
}

.pdf-contract {
  tr {
    td.left-column {
      font-weight: bold;
      width: 25%;
      vertical-align: top;
    }
    td.right-column {
      width: 75%;
      text-align: justify;
    }
  }
}
h4 {
  font-size: 16px;
}