@import "variables";
// CUSTOM STYLES
// --------------------------------------------
body {
  a {
    outline: 0 !important;
    &:hover {
      text-decoration: none !important;
    }
  }
  .modal-content {
    text-align: left;
  }
  .alert.top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
  }
  .modal-backdrop {
    opacity: 0.6 !important;
  }

  .form-group .control-label.required:after {
    content:"*";color:red;
  }

  .form-group {
    &.has-error {
      ul.chosen-choices {
        border: 1px solid #A94442 !important;
      }
    }
  }

  .form-control {
    outline: 0;
    border-color: #ECECEC;
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
    padding: 6px;
    border-radius: 2px;
    margin-bottom: 5px;
    font-size: 14px;
  }

  // Boostrap variations
  .btn-primary {
    background-color: #00B3F3 !important;
    border-color: #00B3F3 !important;
  }
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active,
  .btn-primary.active {
    background-color: #00a0da !important;
    border-color: #008dc0 !important;
  }
  .btn-primary.disabled:hover,
  .btn-primary.disabled:focus,
  .btn-primary.disabled:active,
  .btn-primary.disabled.active,
  .btn-primary[disabled]:hover,
  .btn-primary[disabled]:focus,
  .btn-primary[disabled]:active,
  .btn-primary[disabled].active,
  fieldset[disabled] .btn-primary:hover,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary:active,
  fieldset[disabled] .btn-primary.active {
    background-color: #00B3F3 !important;
    border-color: #00B3F3 !important;
  }

  .angular-with-newlines {
    white-space: pre-wrap;
  }

  .search-highlight {
    font-weight: bold;
    color: #b60027;
  }

  .tooltip {
    .tooltip-inner {
      text-align: left !important;
      font-weight: normal !important;
      text-transform: none;
    }
    ul {
      margin: 0;
      padding-left: 0;
    }
  }

  .loading-character {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    .loading-image {
      margin: 0 auto;
      &.small {
        background-image: url("/assets/gifs/character1-loading-100x100.gif");
        width: 100px;
        height: 100px;
      }
      &.medium {
        background-image: url("/assets/gifs/character1-loading-150x150.gif");
        width: 150px;
        height: 150px;
      }
      &.large {
        background-image: url("/assets/gifs/character1-loading-200x200.gif");
        width: 200px;
        height: 200px;
      }
      &.huge {
        background-image: url("/assets/gifs/character1-loading-300x300.gif");
        width: 300px;
        height: 300px;
      }
    }
    .text-container {
      width: 300px;
      margin: 5px auto 0 auto;
    }
  }

  .page-break { display:block; clear:both; page-break-after:always; }

  .select.dropdown-menu {
    z-index: 2000;
  }
}

// STICKY FOOTER
// --------------------------------------------
html, body {
    height: 100% !important;
}
.wrapper {
  min-height: 100% !important;
  height: auto !important;
  /* Negative indent footer by its height */
  margin: 0 auto -175px !important;
  /* Pad bottom by footer height */
  padding: 0 0 175px !important;
}
footer {
  // height: 180px; /* .push must be the same height as .footer */
}

// FILE UPLOAD CUSTOM DESIGN
// --------------------------------------------
.file-upload {
    position: relative;
    overflow: hidden;
    // margin: 10px;
  }
.file-upload input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

// REST STYLES
// --------------------------------------------
header {
  padding-top: 12px;
  &.home {
    padding-top: 0px !important;
    margin-top: -8px;
  }
  .logo-container {
    .logo {
      width: 200px;
      height: 37px;
      background: url(/assets/logo-header.png) no-repeat;
      background-size: contain;
      margin-top: 8px;
    }
  }
  &.landing-header {
    background-color: rgba(255,255,255,0.4) !important;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    .signup-container {
      padding-top: 7px;
      #request-invitation-button-header {
        margin-left: 5px;
      }
    }
  }
  .main-menu-container {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 20px;
    color: #CCC;
    a {
      font-weight: bold;
      color: $font-main-color;
      padding: 0 8px;
      text-decoration: none;
      &.active {
        color: $light-blue;
      }
    }
  }
  .search-container {
    margin-top: -7px;
    text-align: left;
    padding-left: 50px;
    #search-header_dropdown, #search-auctions-header_dropdown {
      width: 400px !important;
      text-align: left;
      margin-top: 34px;
    }
    .search-field-container {
      position: relative;
      width: 400px;
      // margin-left: 20px;
      margin-top: 20px;
      height: 49px;
      .search-field {
        width: 400px;
      }
      .search-icon {
        position: absolute;
        right: 7px;
        top: 7px;
        z-index: 2;
      }
      &.auctions {
        margin-top: 20px !important;
        .search-more, .auction-selected {
          display: none;
        }
        .angucomplete-image {
          -webkit-border-radius: 0 !important;
             -moz-border-radius: 0 !important;
                  border-radius: 0 !important;
        }
      }
    }
    .close {
      position: absolute;
      top: 6px;
      right: 27px;
      color: red;
      font-size: 12px;
      opacity: 0.4;
    }
  }
  .options-container {
    text-align: right;
    .search-button {
      margin-top: 7px;
      padding: 9px;
    }
    &.hide-options {
      display: none;
    }
    .option {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      position: relative;
    }
    a.add {
      margin-right: 5px;
      margin-top: 7px !important;
      text-transform: uppercase;
      font-size: 13px;
    }
    .message {
      background-color: #d6d6d6;
      img {
        margin-top: 16px;
      }
      .number {
        position: absolute;
        right: -2px;
        top: -2px;
        width: 20px;
        height: 20px;
        background-color: #2f9e37;
        border-radius: 10px;
        text-align: center;
        color: #FFF;
        font-size: 12px;
        padding-top: 2px;
      }
    }

    .user-avatar {
      cursor: pointer;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      border: 0;
      outline: none;
    }
    .user-top-menu-container {
      // padding: 10px 10px 0 10px;
      max-width: 480px !important;
      width: 200px;
      min-height: 100px !important;
      border-radius: 2px !important;
      h4 {
        font-size: 14px;
        margin-top: 5px;
        text-transform: uppercase;
        background-color: #afb8d6;
        padding: 10px;
      }
      a {
        color: #545454;
        display: block;
        text-transform: uppercase;
        font-size: 12px;
        &:hover {
          text-decoration: none;
        }
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style-type: none;
          padding: 10px;
          &:hover {
            background-color: #EEE;
          }
          &.active {
            background-color: #EEE;
          }
        }
      }
      .right-column {
        // background-color: #CCC;
        display: inline-block;
        width: 200px;
        vertical-align: top;
        // border-left: 1px solid #CCC;
        // padding-left: 10px;
      }
    }
  }
  .signup-container {
    text-align: right;
    text-transform: uppercase;
    padding-top: 15px;
    &.hide-options {
      display: none;
    }
    a {
      color: #252525;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

footer {
  &.footer-gray {
    .footer-container {
      background-color: #F2F2F2;
      color: #666;
      .logo-container {
        .logo {
          background-image: url(/assets/logo-footer-gray.png);
        }
      }
      a {
        color: #428BCA;
      }
      .partnership-logos-container {
        .a2im {
          background-image: url(/assets/partnerships/a2im-b&w-gray.png);
        }
      }
    }
  }
  &.footer-dark-gray {
    .footer-container {
      background-color: #333;
      color: #666;
    }
  }
  .footer-container {
    // background-color: #333;
    background-color: rgba(77, 203, 86, 1);
    margin: 0px;
    margin-top: 50px;
    color: #FFF;
    padding-top: 10px;
    padding-bottom: 20px;
    .logo-container {
      .logo {
        width: 176px;
        height: 29px;
        // background-color: #CCC;
        background-image: url(/assets/logo-footer.png);
        background-size: contain;
      }
    }
    .logo-slogan {
      font-size: 11px;
    }
    .partnership-logos-container {
      margin-top: 15px;
      text-align: left;
      height: 50px;
      .aim {
        width: 94px;
        height: 50px;
        background-image: url(/assets/partnerships/aim-b&w.png);
        display: inline-block;
        background-size: contain;
      }
      .a2im {
        width: 111px;
        height: 40px;
        background-image: url(/assets/partnerships/a2im-b&w.png);
        display: inline-block;
        background-size: contain;
        vertical-align: top;
        margin-top: 3px;
      }
    }
    h5 {
      text-transform: uppercase;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      &.connect {
        li {
          display: inline;
        }
      }

      li {

      }
    }
    a {
      color: #FFF;
      &:hover {
        color: #428BCA;
      }
    }

  }
}
