.messages {
  .title-container {
    display: inline-block;
  }
  .select-container {
    display: inline-block;
  }
  .messages-body {
    .nav {
      margin-bottom: 10px;
    }
  }
  .messages-container {
    .message {
      border-bottom: 1px solid #CCC;
      padding-bottom: 10px;
      padding-top: 10px;
      &:first-child {
        padding-top: 0;
        border-top: 2px solid #CCC;
      }
      &:last-child {
        padding-bottom: 0;
        border: none;
      }
      .avatar-container {
        display: inline-block;
        width: 60px;
        .avatar {
          -webkit-border-radius: 25px;
             -moz-border-radius: 25px;
                  border-radius: 25px;
          // background-color: #000;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: contain;
          // border: 5px solid #FFF;
          height: 50px;
          width: 50px;
        }
      }
      .message-container {
        display: inline-block;
        width: 90%;
        // background-color: #000;
        vertical-align: top;
        .sender {
          display: inline-block;
          width: 60%;
          // background-color: #CCC;
          vertical-align: top;
          h4 {
            font-size: 16px;
            margin: 0;
          }
          .name {
            font-size: 12px;
            line-height: 12px;
          }
          .body {
            font-size: 11px;
            line-height: 12px;
          }
        }
        .buttons-container {
          padding-top: 12px;
          display: inline-block;
          width: 39%;
          // background-color: #CCC;
          text-align: right;
          vertical-align: top;
        }
      }
    }
    .message-show {
      h3 {
        margin-top: 0;
      }
      textarea {
        width: 100%;
      }
      .buttons-container {
        text-align: right;
      }
    }
    .conversations-container {
      .conversation{
        ul {
          margin: 0;
          padding: 10px 0;
          li {
            list-style-type: none;
            .message-container {
              min-height: 60px;
              .user-avatar-container {
                text-align: center;
                display: inline-block;
                vertical-align: top;
                margin-top: 10px;
                &.left {
                  margin-right: 8px;
                }
                &.right {
                  margin-left: 8px;
                }
                .user-avatar {
                  width: 40px;
                  height: 40px;
                  background-size: cover;
                  margin: 0 auto;
                  -webkit-border-radius: 20px;
                     -moz-border-radius: 20px;
                          border-radius: 20px;
                }
                .minutes-ago {
                  color: #a0a0a0;
                  font-size: 10px;
                }
              }

              .arrow {
                display: inline-block;
                width: 0;
                height: 0;
                border-top: 7px solid transparent;
                border-bottom: 7px solid transparent;
                vertical-align: top;
                margin-top: 17px;
                &.left {
                  border-right: 7px solid #FFF;
                  // margin-right: -5px;
                }
                &.right {
                  border-left: 7px solid #FFF;
                  // margin-left: -5px;
                }
              }

              .bubble {
                margin-top: 10px;
                background-color: #FFF;
                display: inline-block;
                // float: left;
                padding: 10px;
                width: 92%;
                // min-width: 30%;
                .user-name {
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }
}
