.notifications-container {
  .notification {
    border-top: 1px solid #CCC;
    padding-bottom: 10px;
    padding-top: 10px;
    &:first-child {
      border: none;
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
    .avatar-container {
      display: inline-block;
      width: 60px;
      .avatar {
        -webkit-border-radius: 25px;
           -moz-border-radius: 25px;
                border-radius: 25px;
        // background-color: #000;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        // border: 5px solid #FFF;
        height: 50px;
        width: 50px;
      }
    }
    .notification-container {
      display: inline-block;
      width: 90%;
      // background-color: #000;
      vertical-align: top;
      .requester {
        display: inline-block;
        width: 60%;
        // background-color: #CCC;
        vertical-align: top;
        h4 {
          font-size: 16px;
          margin: 0;
          color: #333;
        }
        .message {
          font-size: 11px;
          line-height: 12px;
        }
        .date {
          font-size: 11px;
          line-height: 12px;
        }
      }
      .buttons-container {
        padding-top: 12px;
        display: inline-block;
        width: 39%;
        // background-color: #CCC;
        text-align: right;
        vertical-align: top;
      }
    }
  }
}

.notifications-bidder-container {
  .bidder {
    border-top: 1px solid #CCC;
    padding-bottom: 10px;
    padding-top: 10px;
    &:first-child {
      border: none;
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
    .bidder-container {
      display: inline-block;
      width: 98%;
      // background-color: #000;
      vertical-align: top;
      .requester {
        display: inline-block;
        width: 80%;
        // background-color: #CCC;
        vertical-align: top;
        a {
          font-weight: bold;
        }
        .message {
          font-size: 11px;
          line-height: 12px;
        }
        .date {
          font-size: 11px;
          line-height: 12px;
        }
      }
      .buttons-container {
        display: inline-block;
        width: 19%;
        // background-color: #CCC;
        text-align: right;
        vertical-align: top;
      }
    }
  }
}