@import "variables";

.profile {
  .index {
    margin-top: 30px;
    .main-list-container {
      margin-top: -30px;
      .profile-item {
        margin-top: 30px;
        .header-cover-container {
          height: 300px;
          width: 100%;
          position: relative;
          background-size: cover;
          background-position: center;
          background-repeat: none;
          .mini-profile-container {
            background-color: #FFF;
            margin: 0 auto;
            text-align: center;
            position: relative;
            width: 475px;
            #avatar {
              -webkit-border-radius: 10px;
                 -moz-border-radius: 100px;
                      border-radius: 100px;
              background-color: #EEE;
              background-position: 50% 50%;
              background-repeat: no-repeat;
              background-size: contain;
              border: 5px solid #FFF;
              height: 200px;
              left: 50%;
              margin-left: -105px;
              top: 20px;
              position: absolute;
              width: 200px;
              z-index: 1;
            }
            .name-container {
              color: #FFF;
              font-size: 18px;
              width: 470px;
              position: absolute;
              top: 230px;
              left: 50%;
              margin-left: -235px;
              line-height: 20px;
              z-index: 1;
              &.see_more {
                background-color: rgba(0,0,0,0.8);
                height: 300px;
                top: 0px;
                padding: 10px;
              }
              .links-container {
                font-size: 14px;
                a {
                  color: #FFF;
                  text-decoration: none;
                }
              }
              .name {
                color: #FFF;
                font-size: 20px;
                font-weight: bold;
              }
              .country, .genres {
                .not-collapsed {
                  display: none;
                }
              }
            }
          }
        }
        .cover-navbar {
          // width: 980px;
          border-bottom: 5px solid #e5e5e5;
          // height: 53px;
          padding-bottom: 10px;
          margin-top: 15px;
          .title {
            .name {
              font-size: 30px;
              font-weight: bold;
              line-height: 27px;
              display: inline-block;
              vertical-align: top;
            }
            .works-at {
              font-size: 14px;
              display: inline-block;
              vertical-align: top;
              margin-top: 7px;
              margin-left: 5px;
              .working-at-profile {
                display: inline-block;
              }
            }
          }
          .buttons {
            text-align: right;
          }
        }
      }
      .load-more-container {
        text-align: center;
        border: 1px solid #CCC;
        background-color: #F5F5F5;
        padding: 10px 0px;
        margin-top: 25px;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: bold;
        font-size: 11px;
      }
    }
  }
  .show {
    section.cover {
      // position: relative;
      margin-top: 20px;

      #cover-inner {

        #cover-header {
          height: 300px;
          width: 100%;
          position: relative;
          background-size: cover;
          background-position: center;
          background-repeat: none;
          &:hover {
            #upload-new-cover-button {
              display: inline-block;
            }
          }
          #upload-new-cover-button {
            display: none;
            position: absolute;
            right: 15px;
            top: 130px;
          }
          .mini-profile-container {
            background-color: #FFF;
            margin: 0 auto;
            text-align: center;
            position: relative;
            width: 475px;
            .followers-bar {
              -webkit-border-radius: 5px;
                 -moz-border-radius: 5px;
                      border-radius: 5px;
              background-color: #000;
              height: 64px;
              opacity: 0.6;
              position: absolute;
              top: 105px;
              width:100%;
              z-index: 0;
            }
            #avatar {
              -webkit-border-radius: 10px;
                 -moz-border-radius: 100px;
                      border-radius: 100px;
              background-color: #EEE;
              background-position: 50% 50%;
              background-repeat: no-repeat;
              background-size: contain;
              border: 5px solid #FFF;
              height: 200px;
              left: 50%;
              margin-left: -105px;
              top: 20px;
              position: absolute;
              width: 200px;
              z-index: 1;
              &:hover {
                #upload-new-avatar-button {
                  display: inline-block;
                }
              }
              #upload-new-avatar-button {
                bottom: -5px;
                display: none;
                left: 32px;
                position: absolute;
              }
            }
            .name-container {
              color: #FFF;
              font-size: 18px;
              width: 470px;
              position: absolute;
              top: 230px;
              left: 50%;
              margin-left: -235px;
              line-height: 20px;
              z-index: 1;
              // max-height: 50px;
              &.see_more {
                background-color: rgba(0,0,0,0.8);
                height: 300px;
                top: 0px;
                padding: 10px;
                // transition: top 0.2s, height 2s;
                // transform-origin: top;
                // transition: all 1s ease;
              }
              .SeeMoreProfileGenres {
                font-size: 13px;
                line-height: 0px;
                text-decoration: none;
              }
              .links-container {
                font-size: 14px;
                a {
                  color: #FFF;
                  text-decoration: none;
                }
              }
              .country, .genres {
                font-weight: bold;
                .not-collapsed {
                  display: none;
                }
              }
            }
          }
        }
        .cover-navbar {
          // width: 980px;
          border-bottom: 5px solid #e5e5e5;
          // height: 53px;
          padding-bottom: 10px;
          margin-top: 15px;
          .title {
            .name {
              font-size: 30px;
              font-weight: bold;
              line-height: 27px;
              display: inline-block;
              vertical-align: top;
            }
            .works-at {
              font-size: 14px;
              display: inline-block;
              vertical-align: top;
              margin-top: 7px;
              margin-left: 5px;
              .working-at-profile {
                display: inline-block;
              }
            }
          }
          .buttons {
            text-align: right;
          }
        }
      }
    }
    .panes-container {
      header {
        font-weight: bold;
        text-transform: uppercase;
        padding: 20px;
      }
      .content {
        background-color: #f1f1f1;
        padding: 20px;
        &.overview {
          .description-text {
            &.less {
              height: 210px;
              overflow: hidden;
            }
            &.more {
              height: auto;
            }
          }
        }
        &.interest {
          .interests-labels-container, .interest-countries-container {
            span {
              display: inline-block !important;
              margin-right: 3px;
              margin-bottom: 4px;
              padding: 0.5em 0.8em 0.5em;
              font-size: 12px;
            }
          }
          .interests-labels-container {
            margin-bottom: 15px;
          }
          .title {
            display: inline-block;
            width: 15%;
            // height: 60px;
            //
            vertical-align: top;
            // text-align: right;
            margin-right: 5px;
            text-transform: uppercase;
            font-size: 11px;
          }
          .items-selected {
            display: inline-block;
            width: 82.5%;
            vertical-align: top;
            // background-color: #CCC;
          }
        }
        &.people {
          padding-top: 0 !important;
          #search-people_value, #search-people {
            margin-top: 10px;
            display: inline-block;
            width: 250px;
          }
          #add-manually {
            display: inline-block;
          }
          a {
            color: #333;
            &:hover {
              text-decoration: none;
            }
          }
          a.btn {
            color: #FFF;
          }
          a.btn-default {
            color: #333;
            padding: 2px 5px 2px 5px;
          }
          .alert {
            margin-top: 20px;
            display: inline-block;
            width: 100%;
            margin-bottom: 0;
          }
          .list {
            .col-sm-3 {
              float: none;
              display: inline-table;
              &.new-member-container {
                width: 200px;
                vertical-align: top;
              }
            }
            .item {
              // background-color: #CCC;
              text-align: center;
              margin-top: 15px;
              .avatar {
                // -webkit-border-radius: 10px;
                -moz-border-radius: 70px;
                    border-radius: 70px;
                background-color: #F1F1F1;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;
                border: 5px solid #FFF;
                height: 140px;
                width: 140px;
                margin: 0 auto;
              }
              .name {
                font-weight: bold;
              }
              .description {
                line-height: 12px;
                font-size: 12px;
              }
            }
            &.less {
              height: 350px;
              overflow: hidden;
            }
            &.more {
              height: auto;
            }
          }
          .item-save {
            padding-top: 50px;
            input[type=text] {
              width: 100%;
              margin-top: 5px;
            }
            .actions {
              margin-top: 5px;
              text-align: right;
            }
          }
        }
        &.videos {
          input {
            display: inline-block;
            width: 50%;
          }
          a {
            display: inline-block;
          }
          .video-container {
            height: 337px;
          }
          .thumbnails-container {
            cursor: pointer;
            ul {
              margin:0;
              padding:0;
              li {
                list-style-type: none;
                .thumbnail {
                  background-color: #CCC;
                  height: 101px;
                }
              }
            }
          }
        }
        &.spotify-music {
          input {
            display: inline-block;
            width: 50%;
          }
          a {
            display: inline-block;
          }
        }
        &.discography {
          input#name {
            width: 40%;
            display: inline-block;
          }
          input#external-url {
            width: 40%;
            display: inline-block;
          }
          a {
            display: inline-block;
          }
        }
        &.widget-list {
          ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            li {

            }
          }
          .display_error {
            font-size: 11px;
            color: #C65742;
          }
        }
        .see-more, .see-less {
          width: 100%;
          text-align: center;
          margin-top: 10px;
          padding: 5px 0;
          border: 1px solid #CCC;
          cursor: pointer;
        }
      }
    }
    .edit-widget-button {
      text-transform: capitalize;
      margin-top: -4px;
      margin-left: 5px;
    }

    .sidebar {
      .suggested-profiles-container {
        ul {
          margin: 0;
          padding: 0;
          height: 510px;
          margin-bottom: 10px;
          li {
            list-style-type: none;
            .cover-header {
              margin-bottom: 10px;
              height: 120px;
              width: 100%;
              position: relative;
              background-size: cover;
              background-position: center;
              background-repeat: none;
              .mini-profile-container {
                background-color: #FFF;
                margin: 0 auto;
                text-align: center;
                position: relative;
                width: 100px;
                #avatar {
                  -webkit-border-radius: 50px;
                     -moz-border-radius: 50px;
                          border-radius: 50px;
                  background-color: #EEE;
                  background-position: 50% 50%;
                  background-repeat: no-repeat;
                  background-size: contain;
                  border: 5px solid #FFF;
                  height: 100px;
                  left: 50%;
                  margin-left: -50px;
                  top: 10px;
                  position: absolute;
                  width: 100px;
                  z-index: 1;
                  &.see-all {
                    border: 0;
                    background-color: transparent;
                  }
                }
              }
              .cover-lol {
                // display: none;
                visibility:hidden;
                opacity:0;
                transition:visibility 0s linear 0.3s,opacity 0.3s linear;
                background-color: rgba(0, 0, 0, 0.6);;
                height: 100%;
                color: #FFF;
                font-size: 18px;
                z-index: 9000;
                width: 100%;
                text-align: center;
                padding-top: 40px;
                position: absolute;
                .genres {
                  font-size: 14px;
                }
              }
              &:hover .cover-lol {
                // display: block;
                visibility:visible;
                opacity:1;
                transition-delay:0s;
              }
            }
          }
        }
      }
      .suggested-auctions-container {
        ul {
          margin: 0 0 12px 0;
          padding: 0;
          height: 320px;
          li {
            list-style-type: none;
            .cover {
              width: 105px;
              height: 105px;
              display: inline-block;
              position: relative;
              .mini-auction-container {
                position: relative;
                .auction {
                  width: 105px;
                  height: 105px;
                  display: inline-block;
                  background-size: contain;
                  position: absolute;
                }
              }
              .cover-lol {
                // display: none;
                visibility:hidden;
                opacity:0;
                transition:visibility 0s linear 0.3s,opacity 0.3s linear;
                background-color: rgba(0, 0, 0, 0.6);;
                height: 100%;
                color: #FFF;
                font-size: 12px;
                z-index: 9000;
                width: 100%;
                text-align: center;
                padding-top: 10px;
                position: absolute;
                .genres {
                  font-size: 14px;
                }
              }
              &:hover .cover-lol {
                // display: block;
                visibility:visible;
                opacity:1;
                transition-delay:0s;
              }
              &:nth-child(odd) {
                margin-right: 10px;
              }
            }
          }
        }
      }
      .load-more {
        width: 100%;
        text-align: center;
        border: 1px solid #CCC;
        background-color: #FFF;
        padding: 10px 0px;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: bold;
        font-size: 11px;
      }
    }
  }
  .create {
    .profile-configuration-container {
      text-align: center;
      margin: 0 auto;
      width: 80%;
      margin-top: 30px;
      .industry-role-parent-box {
        border: 5px solid #CCC;
        display: inline-block;
        height: 278px;
        overflow: hidden;
        position: relative;
        width: 278px;
        margin-right: 5px;
        margin-top: 5px;
        // cursor: pointer;
        .facade {
          background-color: #eeeeee;
          height: 262px;
          left: 3px;
          position: absolute;
          top: 3px;
          width: 262px;
          z-index: 1;
          cursor: pointer;
          -webkit-transition: top 0.5s, bottom 0.5s;
          transition: top 0.5s, bottom 0.5s;
          .large-icon {
            padding-top: 40px;
            img {
              width: 150px;
              height: 150px;
            }
          }
          .text {
            font-weight: bold;
            margin-top: 10px;
          }
        }
        .form-container {
          background-color: #FFF;
          height: 262px;
          left: 3px;
          padding: 0px 5px 5px 5px;
          position: absolute;
          top: 270px;
          text-align: left;
          width: 262px;
          z-index: -1;
          -webkit-transition: top 0.5s, bottom 0.5s;
          transition: top 0.5s, bottom 0.5s;
          input, select {
            margin-bottom: 5px;
          }
        }
      }
      .step-tutorial-container {
        .steps-list-container {
          height: 34px;
          margin-bottom: 15px;
          ol {
            list-style: none;
            margin: 0;
            padding: 0;
            li.step {
              display: inline;
              list-style-type: none;
              .part {
                height: 34px;
                float: left;
              }
              &.active {
                .back {
                  background-position: -18px -156px;
                }
                .middle {
                  background-color: #00B3F3;
                  .content {
                    color: #FFF;
                  }
                }
                .point {
                  background-position: 0 -316px !important;
                }
                &:last-child {
                  .point {
                    background-position: 0 -280px !important;
                  }
                }
              }

              .back {
                background-image: url(/assets/sprites/steps.png);
                background-repeat: no-repeat;
                background-size: auto;
              }
              .middle {
                background-color: #FFF;
                border-top: 1px solid #00B3F3;
                border-bottom: 1px solid #00B3F3;
                .content {
                  min-width: 120px;
                  margin: 7px 8px 0;
                  // color: #FFF;
                  font-weight: bold;

                }
              }
              .point {
                background-image: url(/assets/sprites/steps.png);
                background-repeat: no-repeat;
                background-size: auto;
                background-position: 0 -352px;
                width: 14px;
                &.continue {
                  background-position: 0 -244px;
                }
              }
              &:first-child {
                .back {
                  border-left: 1px solid #00B3F3;
                }
              }
              &:last-child {
                .point {
                  background-position: 0 -208px;
                }
              }
            }
          }
        }
        .steps-form {
          text-align: left;
          label {
            font-weight: normal;
          }
          #overview, #web-page, select {
            width: 100%;
          }
          .characteres-counter {
            text-align: right;
            font-size: 12px;
          }
          .profile-avatar {
            -webkit-border-radius: 10px;
             -moz-border-radius: 100px;
                  border-radius: 100px;
            background-color: #EEE;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;
            border: 5px solid #FFF;
            height: 200px;
            width: 200px;
          }
          .upload-image-container {
            margin-top: 50px;
            #upload-progress {
              margin-top: 10px;
              // display: none;
            }
          }
        }
      }
    }

  }
  .overview-directive {
    .description-text {
      width: 100%;
    }
    .characteres-counter {
      text-align: right;
      font-size: 12px;
    }
    #description {
      width: 100%;
    }
  }
}

.connections-list {
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
    }
  }
}

.modal.change-profile-cover {
  .default-cover-option-container {
    width: 556px;
    height: 146px;
    // background-color: #CCC;
    background-image: url('/assets/default-cover.jpg');
    text-align: center;
    .return-default-cover-button {
      margin-top: 62px;
    }
  }
  #upload-progress {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .upload-cover-option-container {
    width: 556px;
    height: 146px;
    margin-top: 10px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    &.empty {
      border: 3px dashed #00B3F3;
    }
    .buttons-container {
      padding-top: 60px;
    }
  }
}

.addthis-toolbox-container {
  position: fixed;
  top: 88px;
  left: 0;
  display: none;
  .left-side-button {
    padding: 5px 5px 5px 10px !important;
    &.facebook {
      background-color: #305891 !important;
    }
    &.twitter {
      background-color: #2CA8D2 !important;
    }
    &.google {
      background-color: #333333 !important;
      .aticon-google_plusone_share {
        background-color: #333333 !important;
      }
    }
    &.email {
      background-color: #738A8D !important;
    }
    &.linkedin {
      background-color: #4498C8 !important;
    }
    &.addthis {
      background-color: #c2c2c2 !important;
      .aticon-addthis {
        background-color: #c2c2c2 !important;
      }
    }
  }
}

// Applies for auctions index page and profiles index page
#top-index-filter {
  position: relative;
  height: 55px;
  background: none repeat scroll 0% 0% #FFF;
  margin-bottom: 6px;
  box-shadow: 0px 1px 3px rgba(128, 128, 128, 0.2);
  margin-bottom: 60px;
  .divided {
    margin-top: 10px;
    padding: 8px 0px;
    height: 35px;
    border-right: 1px solid #E6E6E6;
    cursor: pointer;
    position: relative;
    &:after {
      content:"";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 6px 0 6px;
      border-color: #C5C5C5 transparent transparent transparent;
      position: absolute;
      top: 16px;
      margin-left: 15px;
    }
    &:hover {
      &:after {
        border-color: #333 transparent transparent transparent;
      }
    }
    &.first {
      padding-left: 25px;
    }
    &.last {
      // border-right: 0;
    }
    .filter-badge {
      border-radius: 50%;
      box-shadow: 0px 1px 3px rgba(128, 128, 128, 0.2);
      transition: all 0.1s ease 0s;
      color: #FFF;
      font-size: 12px;
      font-weight: 700;
      text-align: center;
      position: absolute;
      top: -20px;
      right: 42px;
      width: 22px;
      height: 22px;
      padding-top: 3px;
      background: none repeat scroll 0% 0% $green;
    }
  }
  .filter-content {
    border: 1px solid #E6E6E6;
    position: absolute;
    width: 300px;
    left: -16px;
    top: 57px;
    z-index: 9999;
    background-color: #FFF;
    box-shadow: 0px 1px 3px rgba(128, 128, 128, 0.2);
    transition: all 0.1s ease 0s;
    padding: 15px;
    &.first {
      left: 14px;
    }
    .bottom-bar {
      text-align: right;
      border-top: 1px solid $light-gray;
      margin-top: 15px;
      padding-top: 15px;
    }
    .long-list {
      height: 190px !important;
      overflow: scroll;
      ul {
        margin: 0 !important;
        padding: 0 0 0 20px !important;
        list-style-type: none;
      }
    }
  }
  .search {
    padding-left: 0 !important;
  }
  .search-input-container {
    padding-left: 0 !important;
    margin-top: 10px;
    .search-icon {
      display: inline-block;
    }
    input {
      width: 85%;
      display: inline-block;
      border: 0;
      box-shadow: none !important;
    }
  }
  #btn-filter {
    background-color: $light-blue;
    height: 55px;
    color: #FFF;
    font-size: 20px;
    text-align: center;
    padding-top: 4px;
    width: 100%;
    -webkit-border-radius: 0 !important;
       -moz-border-radius: 0 !important;
            border-radius: 0 !important;
  }
  #clear-filters-container {
    text-align: right;
    margin-top: 10px;
  }
}
