@import "variables";

@media (max-width: 1150px) {

}

@media (min-width: 768px) and (max-width: 1023px) {

}

@media (max-width: 767px) {

}

@media (max-width: 479px) {
  .profile {
    .index {
      .main-list-container {
        .profile-item {
          .header-cover-container {
            .mini-profile-container {
              width: 100% !important;
              .name-container {
                width: 100%;
                margin-left: -50%;
              }
            }
          }
        }
      }
    }
    .show {
      section.cover {
        #cover-inner #cover-header {
          .mini-profile-container {
            width: 100%;
            .name-container {
              width: 100%;
              margin-left: -50%;
            }
          }
        }
      }
      .panes-container {
        .content.interest {
          .title {
            width: 100%;
          }
        }
      }
    }
  }
  .auctions {
    .index {
      .left-pane {
        .auctions-list-container {
          .action-item {
            width: 100%;
            height: 350px;
            margin-top: 15px;
          }
        }
      }
      .right-pane {
        .last-bids-this-week-container {
          margin-top: 50px;
        }
      }
    }
    .show {
      .sections-container {
        .details {
          .songs-container {
            .song {
              .controls-container {
                width: inherit;
              }
              .details-container {
                margin-left: 8px;
                width: 80%;
                .seek-container {
                  .progress-container {
                    width: 69%;
                  }
                  .time-container {
                    width: 29%;
                  }
                }
              }
            }
          }
        }
      }
      .left-pane {
        .bids-info {
          background-color: #FFF;
          z-index: 1000;
          padding-bottom: 20px;
          .place-bid-container {
            .request-invitation-container {
              .button-container {
                width: 86% !important;
              }
            }
          }
        }
      }
      .right-pane {
        margin-top: 40px !important;
      }
      .explore-more-auctions-container {
        .list-container {
          .action-item {
            width: 100%;
            height: 350px;
            margin-bottom: 10px !important;
            &:last-child {
              margin-bottom: 0 !important;
            }
          }
        }
      }
    }
    .new {
      .profile-configuration-container {
        width: 100%;
        .step-tutorial-container {
          .steps-list-container {
            display: inline-table;
            margin-bottom: 25px;
            ol {
              li {
                &.step {
                  .back {
                    display: none;
                  }
                  .middle {
                    width: 100%;
                    border-right: 1px solid #00B3F3;
                    border-left: 1px solid #00B3F3;
                  }
                  .point {
                    display: none;
                  }
                }
              }
            }
          }
          .steps-form {
            .auction-type-radio-container {
              .radio-container {
                width: 49%;
                margin-bottom: 5px;
                img {
                  width: 120px;
                }
              }
            }
            .competitive-term-radio-container {
              .radio-container {
                width: 100%;
                margin-bottom: 5px;
              }
            }
          }
        }
      }
    }
  }
  header {
    .logo-container {
      .logo {
        width: 33px;
        height: 37px;
        background: url(/assets/logo-header-mobile.png) no-repeat;
        background-size: cover;
      }
    }
    .main-menu-container {
      margin-top: 18px;
    }
    .search-container {
      padding-left: 0;
      margin-top: 20px;
      .search-field-container {
        width: 100%;
        .search-field {
          width: 100%;
        }
      }
    }
  }

  .login {
    .login-container, .signup-container, .get-started-container {
      width: 100% !important;
    }
  }

  #top-index-filter {
    box-shadow: none;
    height: auto;
    margin-bottom: 40px;
    .divided {
      border-right: 0;
      border-bottom: 1px solid #E6E6E6;
      padding-left: 20px;
      &::after {
        right: 20px;
      }
      &.first {
        margin-top: -5px;
        padding-left: 20px;
      }
      .filter-badge {
        top: 0;
      }
    }
    .filter-content {
      top: 35px;
      left: auto;
      width: 94%;
    }
    .search-input-container {
      border-bottom: 1px solid #e6e6e6;
      margin-left: 13px;
      padding-left: 16px !important;
      .search-icon {
        display: none;
      }
    }
  }
}
@media (max-width: 320px) {
  .auctions {
    .index {
      .left-pane {
        .auctions-list-container {
          .action-item {
            width: 100%;
            height: 290px;
            margin-top: 15px;
          }
        }
      }
    }
    .show {
      .sections-container {
        .details {
          .songs-container {
            .song {
              .controls-container {
                width: inherit;
              }
              .details-container {
                margin-left: 8px;
                width: 75%;
                .seek-container {
                  .progress-container {
                    width: 64%;
                  }
                  .time-container {
                    width: 33%;
                  }
                }
              }
            }
          }
        }
      }
      .left-pane {
        .illustration-container {
          height: inherit;
          .illustration {
            height: 290px;
          }
        }
        .bids-info {
          background-color: #FFF;
          z-index: 1000;
          padding-bottom: 20px;
          .place-bid-container {
            .request-invitation-container {
              .button-container {
                width: 82% !important;
              }
            }
            .is-not-owner {
              .button-container {
                width: 290px !important;
              }
            }
          }
        }
      }
      .right-pane {
        margin-top: 40px !important;
      }
      .explore-more-auctions-container {
        .list-container {
          .action-item {
            width: 100%;
            height: 290px;
            margin-bottom: 10px !important;
            &:last-child {
              margin-bottom: 0 !important;
            }
          }
        }
      }
    }

  }
}
