.searches-container {
  .search {
    border-top: 1px solid #CCC;
    padding-bottom: 10px;
    padding-top: 10px;
    &:first-child {
      border: none;
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
    a {
      color: #333;
    }
    .avatar-container {
      display: inline-block;
      width: 60px;
      .avatar {
        -webkit-border-radius: 25px;
           -moz-border-radius: 25px;
                border-radius: 25px;
        // background-color: #000;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        // border: 5px solid #FFF;
        height: 50px;
        width: 50px;
      }
    }
    .search-container {
      display: inline-block;
      width: 90%;
      // background-color: #000;
      vertical-align: top;
      .sender {
        display: inline-block;
        width: 60%;
        // background-color: #CCC;
        vertical-align: top;
        h4 {
          font-size: 16px;
          margin: 0;
        }
        .body {
          font-size: 11px;
          line-height: 12px;
        }
      }
      .buttons-container {
        padding-top: 12px;
        display: inline-block;
        width: 39%;
        // background-color: #CCC;
        text-align: right;
        vertical-align: top;
      }
    }
  }
  .load-more-container {
    text-align: center;
    border: 1px solid #CCC;
    background-color: #FFF;
    padding: 10px 0;
    margin-top: 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 11px;
  }
  .loading {
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
  }
}

.home {
  #search-home_dropdown {
    width: 600px;
  }
  .advanced-search-container {
    .advanced-search-options {
      text-align: left;
      margin-top: 15px;
      input[type="checkbox"] {
        width: auto !important;
      }
      input[type="select"] {
        height: 0 !important;
      }
      .chosen-container, select {
        width: 100%;
      }
      .genre-select-container, .country-select-container {
        margin-bottom: 15px;
      }
      .industry-role-select-container {
        margin-bottom: 10px;
      }
      .button-container {
        text-align: right;
      }
    }
  }
}

header {
  .advanced-search-container {
    text-align: right;
    font-size: 11px;
    margin-top: -5px;
    .advanced-search-options {
      text-align: left;
      background-color: #D6D6D6;
      // background: rgba(0, 0, 0, .2);
      border-radius: 2px;
      position: absolute;
      top: 35px;
      width: 100%;
      z-index: 1001;
      padding: 5px 5px 0 5px;
    }
  }
}