.login {
  .login-container, .signup-container, .get-started-container {
    .title {
      margin-bottom: 40px;
      text-align: center;
    }
    input[type="text"], input[type="email"], input[type="password"]   {
      width: 100%;
    }
    margin: 0 auto;
    width: 400px;
    padding: 15px;
    margin-top: 60px;
    .buttons-container {
      text-align: right;
      .left {
        padding-top: 6px;
        float: left;
      }
      .right {
        float: right;
      }
    }
    .get-started {
      text-align: center;
    }
  }
}