.static-pages {
  .title-container {
    text-align: center;
  }
  ol.double-separation {
    li {
      margin-bottom: 20px;
    }
  }
  &.privacy-policy {
    h3 {
      font-size: 20px;
    }
    p.indent-medium {
      padding-left: 45px;
    }
  }
  h3 {
    a {
      color: #333;
    }
  }
  &.about-us {
    .video-container {
      text-align: center;
    }
  }
}