%div
  %header
    {{ title }}
    %a.btn.btn-primary.btn-xs.edit-widget-button{href: "#", "ng-click" => "isEditing = true", "ng-hide" => "isEditing || !showEditOption", title: "{{helpText.main}}"} {{ editButtonText() }}
  .content.discography.widget-list
    %div{"ng-hide" => "isEditing"}
      %ul{"ng-repeat" => "discography in discographies"}
        %li
          %a{href: "{{discography.external_url }}", target: "_blank", "ng-cloak" => ""} {{ discography.name }}
    %div{"ng-show" => "isEditing"}
      .alert.alert-danger{"ng-show" => "discographies.errors"} {{discographies.errors[0]}}
      %a.btn.btn-default.btn-sm{href: "#", "ng-click" => "add()"} {{options.add_new_text}}
      %br
      %br
      %ul.lolas{"ng-repeat" => "discography in discographies"}
        %li
          %input#name.form-control{"ng-cloak" => "", "ng-blur" => "update(discography)", "ng-model" => "discography.name", type: "text", placeholder: "{{options.title_placeholder}}"}
          %input#external-url.form-control{"ng-blur" => "update(discography)", "ng-model" => "discography.external_url", type: "text", placeholder: "{{options.url_placeholder}}"}
          %a.btn.btn-danger.btn-xs{href: "#", "ng-click" => "remove($index)"} Remove
      %br
      %button.btn.btn-primary{"ng-click" => "finish()"} Ok
