.interest-directive
  %header
    {{ title }}
    %a.edit-widget-button.btn.btn-primary.btn-xs#edit-overview-button{href: "#", "ng-click" => "isEditing = true", "ng-hide" => "isEditing || !showEditOption", title: "{{helpText.main}}"} Edit
  .content.interest
    %div{"ng-hide" => "isEditing"}
      .interests-labels-container{"ng-show" => "interests.interest_names.length"}
        .title
          Deal types
        .items-selected
          %span.label.label-default{"ng-repeat" => "interest in interests.interest_names"}
            {{interest}}
      .interest-countries-container{"ng-show" => "interests.country_names.length"}
        .title
          countries
        .items-selected
          %span.label.label-default{"ng-repeat" => "country in interests.country_names"}
            {{country}}
    %div{"ng-show" => "isEditing"}
      %form{name: "interestForm"}
        These deal types:
        %br
        .deal-types-select-container
          %select.form-control{chosen: "", multiple: "", "ng-model" => "interests.interests", "ng-options" => "item.id as item.alias for item in interestsList", "data-placeholder" => "Choose your interests"}
        %br
        In these countries:
        %br
        .country-select-container
          %select.form-control{chosen: "", multiple: "", "ng-model" => "interests.countries", "ng-options" => "item.id as item.name for item in countriesList", "data-placeholder" => "Choose your countries"}
        %br
        %button.btn.btn-primary{"ng-click" => "update(interests)", "ng-disabled" => "interestForm.$invalid"} Ok
