%div
  %header
    {{ title }}
    %a.btn.btn-primary.btn-xs.edit-widget-button{href: "#", "ng-click" => "isEditing = true; links.errors={}", "ng-hide" => "isEditing || !showEditOption", title: "{{helpText.main}}"} {{ editButtonText() }}
  .content.people
    {{membersCount}}
    %div{"ng-hide" => "isEditing"}
      .row.list{"ng-class" => "membersListHight"}
        .col-sm-3{"ng-repeat" => "people in members"}
          .item
            %a{href: "{{people.profile_permalink ? '/' + people.profile_permalink : '#'}}", "ng-style" => "{'cursor': '{{people.profile_permalink ? 'pointer' : 'default'}}'}"}
              .avatar{"ng-style" => "{'background-image': 'url({{(people.added_manually ? (people.avatar.small.url ? people.avatar.small.url : '/assets/icons/' + options.defaultPhoto + '.png') : people.avatar_url_copy)}})', 'background-size': '{{(people.added_manually ? (people.avatar.small.url ? people.avatar.small.url : '78%') : 'contain')}}'}"}
              .name
                {{people.name}}
              .description{"ng-if" => "options.showRoleField"}
                {{people.role}}
      .see-more{"ng-click" => "membersListHight = 'more'", "ng-show" => "membersListHight == 'less'"}
        See More
      .see-less{"ng-click" => "membersListHight = 'less'", "ng-show" => "membersListHight == 'more'"}
        See Less
    %div{"ng-show" => "isEditing"}
      .alert.alert-danger{"ng-show" => "newMemberManual.errors"} {{newMemberManual.errors[0]}}
      .alert.alert-danger{"ng-show" => "editMember.errors"} {{editMember.errors[0]}}
      %angucomplete-alt#search-people{"input-class" => "form-control form-control-small", minlength: "1", pause: "100", "placeholder" => "Search for more users to add...", "search-fields" => "_source.name", "description-field"=>"_source.industry_role_profile.name", "image-field"=>"_source.default_avatar.small", "selected-object" => "selectedMember", "title-field" => "_source.name", "match-class" => "search-highlight", "clear-selected" => true, "remote-url"=>"/api/v1/profiles/search?type=simple&q=", "remote-url-data-field"=>"results"}
      or
      %a.btn.btn-default#add-manually{href: "#", "ng-click" => "showAddManually()"} Add manually
      %br
      %br
      .profile_id_selected{"ng-style"=>"{'display':'none'}"}
        {{profileIdSelected = selectedMember.originalObject._id}}
      .row.list
        .col-sm-3{"ng-repeat" => "people in members"}
          .item{"ng-hide" => "editMember._id == people._id"}
            .avatar{"ng-style" => "{'background-image': 'url({{(people.added_manually ? (people.avatar.small.url ? people.avatar.small.url : '/assets/icons/' + options.defaultPhoto + '.png') : people.avatar_url_copy)}})', 'background-size': '{{(people.added_manually ? (people.avatar.small.url ? people.avatar.small.url : '78%') : 'contain')}}'}"}
            .name
              {{people.name}}
            .description{"ng-if" => "options.showRoleField"}
              {{people.role}}
            .actions
              %a.btn.btn-default.btn-xs{href: "#", "ng-click" => "edit($index)", "ng-show" => "people.added_manually"} Edit
              %a.btn.btn-danger.btn-xs{href: "#", "ng-really-message" =>"Are you sure?", "ng-really-click" => "remove($index)"} Remove
          .uploading{"ng-show" => "uploadProgress > 0 && editMember._id == people._id"}
            .progress.progress-striped.active#upload-people-manually-progress
              .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "{{uploadProgress}}", role: "progressbar", style: "width: {{uploadProgress}}%"}
                {{ uploadProgress < 98 ? 'Uploading ' + uploadProgress + '%' : 'Processing image, please wait'}}
          .item-update{"ng-show" => "editMember._id == people._id && uploadProgress == 0"}
            .avatar-input-container
              / Avatar (.jpg or .png):
              .file-upload.btn.btn-default.btn-xs
                Change avatar file
                %input{"ng-file-select" => "onFileSelect($files)", type: "file"}
            .name
              %input{type: "text", placeholder: "Name (required)", "ng-model" => "editMember.name"}
              %input{type: "text", placeholder: "Role ({{ options.requiredRole ? 'required' : 'optional' }})", "ng-model" => "editMember.role", "ng-if" => "options.showRoleField"}
            .actions
              %a.btn.btn-default.btn-xs{href: "#", "ng-really-message" =>"Do you want to cancel your changes?", "ng-really-click" => "cancelEditing()"} Cancel
              %a.btn.btn-primary.btn-xs{href: "#", "ng-click" => "update($index)"} Update
        .col-sm-3.new-member-container{"ng-show" => "addingManually"}
          .uploading{"ng-show" => "uploadProgress > 0"}
            .progress.progress-striped.active#upload-people-manually-progress
              .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "{{uploadProgress}}", role: "progressbar", style: "width: {{uploadProgress}}%"}
                {{ uploadProgress < 98 ? 'Uploading ' + uploadProgress + '%' : 'Processing image, please wait'}}
          .item-save{"ng-hide" => "uploadProgress > 0"}
            .avatar-input-container
              / Avatar (.jpg or .png):
              .file-upload.btn.btn-default.btn-xs
                Select avatar file
                %input{"ng-file-select" => "onFileSelect($files)", type: "file"}
            .name
              %input{type: "text", placeholder: "Name (required)", "ng-model" => "newMemberManual.name"}
              %input{type: "text", placeholder: "Role ({{ options.requiredRole ? 'required' : 'optional' }})", "ng-model" => "newMemberManual.role", "ng-if" => "options.showRoleField"}
            .actions
              %a.btn.btn-default.btn-xs{href: "#", "ng-really-message" =>"Do you want to cancel your changes?", "ng-really-click" => "addingManually = false; newMemberManual.errors = null"} Cancel
              %a.btn.btn-primary.btn-xs{href: "#", "ng-click" => "addManually()"} Save

      %br
      %button.btn.btn-primary{"ng-click" => "finish()"} Ok
