.overview-directive
  %header
    {{ title }}
    %a.edit-widget-button.btn.btn-primary.btn-xs#edit-overview-button{href: "#", "ng-click" => "isEditing = true", "ng-hide" => "isEditing || !showEditOption", title: "{{helpText.main}}"} Edit
  .content.overview
    %div{"ng-hide" => "isEditing"}
      .description-text{"ng-cloak" => "", "ng-class" => "descriptionTextHight"}
        %div{"ng-bind-html" => "overview.description | unsafe"}
      .see-more{"ng-click" => "descriptionTextHight = 'more'", "ng-show" => "descriptionTextHight == 'less'"}
        See More
      .see-less{"ng-click" => "descriptionTextHight = 'less'", "ng-show" => "descriptionTextHight == 'more'"}
        See Less
    %div{"ng-show" => "isEditing"}
      %form{name: "overviewForm"}
        / {{customMenu}}
        %wysiwyg{"enable-bootstrap-title" => "false", "ng-model" => "overview.description", "textarea-class" => "form-control", "textarea-height" => "180px", "textarea-id" => "description2", "textarea-menu" => "{{[['bold', 'italic', 'underline', 'strikethrough']]}}", "textarea-name" => "description2", "textarea-required" => ""}
        .characteres-counter
          / {{2000 - overview.description.length}} characters left
        %button.btn.btn-primary{"ng-click" => "update(overview)", "ng-disabled" => "overviewForm.$invalid"} Ok
