%div
  %header
    {{ title }}
    %a.btn.btn-primary.btn-xs.edit-widget-button{href: "#", "ng-click" => "isEditing = true", "ng-hide" => "isEditing || !showEditOption", title: "{{helpText.main}}"} {{ editButtonText() }}
  .content.spotify-music.widget-list
    %div{"ng-hide" => "isEditing", "ng-repeat" => "link in links"}
      %iframe{"ng-if" => "link.url.indexOf('spotify') > -1", allowtransparency: "false", frameborder: "0", height: "80", "ng-src" => "{{trustSrc('https://embed.spotify.com/?uri=' + link.url)}}", width: "100%"}
      %iframe{"ng-if" => "link.url.indexOf('soundcloud') > -1", frameborder: "no", height: "115", scrolling: "no", src: "{{trustSrc('https://w.soundcloud.com/player/?url=' + link.url + '&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&visual=false')}}", width: "100%"}
    %div{"ng-show" => "isEditing"}
      .alert.alert-danger{"ng-show" => "links.errors"} {{links.errors[0]}}
      %a.btn.btn-default.btn-sm{href: "#", "ng-click" => "add()"} Add music
      / %a{href: "/assets/gifs/add-music.gif", target: "_blank"}
      /   %img{src: "/assets/icons/help.png"}
      %br
      %br
      %ul.lolas{"ng-repeat" => "link in links"}
        %li
          %input.form-control{"ng-blur" => "update(link)", "ng-model" => "link.url", type: "text", placeholder: "Enter Spotify URI or Soundcloud http link"}
          %a.btn.btn-danger.btn-xs{href: "#", "ng-click" => "remove($index)"} Remove
      %br
      %button.btn.btn-primary{"ng-click" => "save()"} Ok
