%div
  %header
    {{ title }}
    %a.btn.btn-primary.btn-xs.edit-widget-button{href: "#", "ng-click" => "isEditing = true", "ng-hide" => "isEditing || !showEditOption", title: "{{helpText.main}}"} {{ editButtonText() }}
  .content.videos.widget-list
    .list-container{"ng-hide" => "isEditing"}
      .row
        .col-sm-9
          .video-container{"ng-show" => "youtubeVideos[0].youtube_id"}
            %iframe#video-playing{allowfullscreen: "", frameborder: "0", height: "100%" , "ng-src" => "{{ trustSrc ( 'https://www.youtube.com/embed/' + youtubeVideos[0].youtube_id)}}", width: "100%"}
        .col-sm-3
          .thumbnails-container
            %ul
              %li{"ng-hide" => "$index == 0", "ng-repeat" => "video in youtubeVideos", "ng-if" => "youtubeVideos"}
                .thumbnail{"ng-click" => "swapVideo(video, $index)", "ng-attr-cx" => "{{video.youtube_id}}", style: "background-image: url(https://img.youtube.com/vi/{{ video.youtube_id}}/1.jpg)"}
    .editor-container{"ng-show" => "isEditing"}
      .alert.alert-danger{"ng-show" => "youtubeVideos.errors"} {{youtubeVideos.errors[0]}}
      %a.btn.btn-default.btn-sm{href: "#", "ng-click" => "add()"} Add video
      %br
      %br
        %ul{"ng-repeat" => "video in youtubeVideos", "ng-if" => "youtubeVideos"}
          %li
            %form{name: "videoForm"}
              %input.form-control{"ng-blur" => "update(video)", "ng-model" => "video.url", type: "text", placeholder: "Example: https://www.youtube.com/watch?v=Mr_uHJPUlO8", "ng-pattern" => '/^http:\/\/(?:www\.)?youtube.com\/watch\?(?=[^?]*v=\w+)(?:[^\s?]+)?$|^https:\/\/(?:www\.)?youtube.com\/watch\?(?=[^?]*v=\w+)(?:[^\s?]+)?$/', name: "video", required: ""}
              / %input.form-control{"ng-blur" => "update(video)", "ng-model" => "video.url", type: "text", placeholder: "Example: https://www.youtube.com/watch?v=Mr_uHJPUlO8", name: "video"}
              %a.btn.btn-danger.btn-xs{href: "#", "ng-click" => "remove($index)"} Remove
              %br
              %span.display_error{"ng-show"=>"videoForm.video.$error.pattern"} Not a valid youtube video url!. Please use the format https://www.youtube.com/watch?v=Mr_uHJPUlO8
      %br
      %button.btn.btn-primary{"ng-click" => "save()"} Ok