.login
  .container
    .login-container
      .title
        %h1 Forgot password
      %form#login-form{name: "loginForm", "ng-submit" => "recoverPasswordRequest()"}
        %p.error-message{"ng-cloak" => "", "ng-show" => "showMessage()"} {{message}}
        .form-group{"ng-class" => "{'has-error': recoverPassword.errors.email}"}
          %label{for: "email-address"} Email address
          %input#email-address.form-control{autofocus: "", "ng-model" => "recoverPassword.email", required: "", placeholder: "Email", type: "email"}
          %span.help-block{"ng-show" => "recoverPassword.errors.email"} {{ recoverPassword.errors.email }}
        .buttons-container
          .right
            %button.btn.btn-primary{"ng-disabled" => "loginForm.$invalid", type: "submit"} Recover my password