.login
  .container
    .login-container
      .title
        %h1 Log in
      %form#login-form{name: "loginForm", "ng-submit" => "submit()"}
        %p.error-message{"ng-cloak" => "", "ng-show" => "showMessage()"} {{message}}
        .form-group{"ng-class" => "{'has-error': user.errors.email}"}
          %label{for: "email-address"} Email address
          %input#email-address.form-control{autofocus: "", "ng-model" => "user.email", required: "", placeholder: "Email", type: "email"}
          %span.help-block{"ng-show" => "user.errors.email"} {{ user.errors.email }}
        .form-group{"ng-class" => "{'has-error': user.errors.password}"}
          %label{for: "password"} Password
          %input#password.form-control{"ng-model" => "user.password", required: "", placeholder: "Password", type: "password"}
          %span.help-block{"ng-show" => "user.errors.password"} {{ user.errors.password }}
        .buttons-container
          .left
            %a{href: "/forgot-password", } Forgot your password?
          .right
            %button.btn.btn-primary{"ng-disabled" => "loginForm.$invalid", type: "submit"} Login