.login
  .container
    .login-container
      .title
        %h1 Reset password
      %form#login-form{name: "resetPasswordForm", "ng-submit" => "resetPasswordRequest()"}
        %p.error-message{"ng-cloak" => "", "ng-show" => "showMessage()"} {{message}}
        .form-group.required{"ng-class" => "{'has-error': resetPassword.errors.new_password}"}
          %label.control-label.required{for: "new-password"} New Password
          %input#new-password.form-control{placeholder: "", "ng-model" => "resetPassword.newPassword", type: "password", required: ""}
          %span.help-block{"ng-show" => "resetPassword.errors.newPassword"} {{ recoverPassword.errors.newPassword }}
        .form-group.required{"ng-class" => "{'has-error': resetPassword.errors.confirmNewPassword}"}
          %label.control-label.required{for: "confirm-new-password"} Confirm New Password
          %input#confirm-new-password.form-control{placeholder: "", "ng-model" => "resetPassword.confirmNewPassword", type: "password", required: ""}
          %span.help-block{"ng-show" => "resetPassword.errors.confirmNewPassword"} {{ resetPassword.errors.confirmNewPassword }}
        .buttons-container
          .right
            %button.btn.btn-primary{"ng-disabled" => "resetPasswordForm.$invalid", type: "submit"} Reset my password