.login
  .container
    .signup-container
      .title
        %h1 Sign up
      %form#login-form{name: "signupForm", "ng-submit" => "submit()"}
        .form-group{"ng-class" => "{'has-error': newUser.errors.email}"}
          %label{for: "email-address"} Email address
          %input#email-address.form-control{autofocus: "", "ng-model" => "newUser.email", required: "", placeholder: "Email", type: "email", disabled: true}
          %span.help-block{"ng-show" => "newUser.errors.email"} {{ newUser.errors.email[0] }}
        .form-group
          %label{for: "password"} Password
          %input#password.form-control{"ng-model" => "newUser.password", name: "password", required: "", "ng-minlength" => "6", placeholder: "Password", type: "password"}
          %span.help-block{"ng-show" => "signupForm.password.$error.minlength"} Minimum length, 6 characteres
        .form-group{"ng-class" => "{'has-error': newUser.errors.token}", "ng-show" => "newUser.invitationToken"}
          %label{for: "invitation-token"} Invitation Token
          %input#invitation-token.form-control{autofocus: "", "ng-model" => "newUser.invitationToken", "ng-if" => "newUser.invitationToken", required: "", placeholder: "Invitation Token", type: "text"}
          %span.help-block{"ng-show" => "newUser.errors.token"} {{ newUser.errors.token }}
        .form-group{"ng-class" => "{'has-error': signupForm.errors.notification_mailing[0]}"}
          %label.checkbox-inline
            %input{name: "terms", type: "checkbox", required: ""} I accept the tuneteams
            %a{href: "/terms-of-use-agreement", target: "_blank"} Terms of Use Agreement
        .buttons-container
          %input.btn.btn-primary{type: "submit", "ng-disabled" => "signupForm.$invalid", value: "Create my account"}