.profile
  .create
    .container
      .title
        %h2 Configure your profile
      .profile-configuration-container
        .step-tutorial-container.panel.panel-default
          .panel-body
            .steps-list-container
              %ol
                %li.step{"ng-class" => "{active: slide == 'information'}"}
                  .part.back
                  .part.middle
                    .content
                      %span.title
                        %span.number 1
                      Information
                  .part.point{"ng-class" => "{continue: slide == 'interests'}"}
                %li.step{"ng-class" => "{active: slide == 'interests'}"}
                  .part.back
                  .part.middle
                    .content
                      %span.title
                        %span.number 2
                      Interests
                  .part.point{"ng-class" => "{continue: slide == 'profile_picture'}"}
                %li.step{"ng-class" => "{active: slide == 'profile_picture'}"}
                  .part.back
                  .part.middle
                    .content
                      %span.title
                        %span.number 3
                      Profile picture
                  .part.point
            .steps-form{"ng-show" => "slide == 'information'"}
              %form{role: "form", name: "newProfileInformation"}
                .form-group.required{"ng-class" => "{'has-error': newProfileInformation.overview.$error.required && showErrorFields}"}
                  %label.control-label{for: "overview"} Overview
                  %textarea#overview.form-control{placeholder: "What do you want people to know about you or your company? (100 characters minimum)", "ng-model" => "newProfile.overview", "ng-trim" => "false", name: "overview"}
                  %span.help-block{"ng-show" => "newProfileInformation.overview.$error.required && showErrorFields"} Overview field is required
                .form-group{"ng-class" => "{'has-error': newProfileInformation.web_page.$error.url && showErrorFields}"}
                  %label{for: "web-page"} Web page
                  %input#web-page.form-control{placeholder: "Url", "ng-model" => "newProfile.web_page", type: "url", name: "web_page"}
                  %span.help-block{"ng-show" => "!!newProfileInformation.web_page.$error.url"} Enter a valid url: http://example.com
                .form-group{"ng-class" => "{'has-error': newProfileInformation.genres.$error.required && showErrorFields}"}
                  %label.control-label.required{for: "genres"} Genres
                  %select.form-control{chosen: "", multiple: "", "ng-model" => "newProfile.genres_ids", "ng-options" => "item.id as item.name for item in genres", "data-placeholder" => "Please select the genres you work with from the pull-down menu.", required: "", name: "genres"}
                  %span.help-block{"ng-show" => "newProfileInformation.genres.$error.required && showErrorFields"} Genres field is required
                .admin-options{"data-access-level" => "{{accessLevels.admin}}"}
                  .form-group
                    %label.control-label{for: "genres"} Has owner
                    %input{type:"checkbox", "ng-checked" => "newProfile.has_owner", "ng-model" => "newProfile.has_owner"}
                  .form-group{"ng-show" => "!newProfile.has_owner"}
                    %label.control-label{for: "owner-contact"} Owner contact
                    %input#owner-contact.form-control{placeholder: "Owner contact email", "ng-model" => "newProfile.owner_contact_email", type: "email"}
                / .form-group.required
                /   %label.control-label.required{}
                /   Required fields

            .steps-form{"ng-show" => "slide == 'interests'"}
              %form{role: "form", name: "interestsForm"}
                .interests-container
                  These deal types:
                  %br
                  .interests-select-container
                    %select.form-control{chosen: "", multiple: "", "ng-model" => "newProfile.interests", "ng-options" => "item.id as item.alias for item in industryRoleProfileInterests", "data-placeholder" => "Choose your interests"}
                  %br
                  In these countries:
                  %br
                  .country-select-container
                    %select.form-control{chosen: "", multiple: "", "ng-model" => "newProfile.interestedCountries", "ng-options" => "item.id as item.name for item in countriesList", "data-placeholder" => "Choose your countries"}

            .steps-form{"ng-show" => "slide == 'profile_picture'"}
              .row
                .col-md-3
                  .profile-avatar{:style => "background-image: url({{newProfile.avatar.avatar.medium.url}}); background-size: {{newProfile.avatar.is_default ? '79%' : 'contain'}}", "ng-cloak" => ""}
                .col-md-5
                  .upload-image-container
                    %p Upload your profile picture (.jpg or .png)
                    %input{"ng-file-select" => "onFileSelect($files)", type: "file"}
                    .progress.progress-striped.active#upload-progress{"ng-show" => "uploadProgress > 0"}
                      .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "{{uploadProgress}}", role: "progressbar", style: "width: {{uploadProgress}}%"}
                        {{ uploadProgress < 98 ? 'Uploading ' + uploadProgress + '%' : 'Processing image, please wait'}}

          .panel-footer{style: "text-align:right"}
            / %button.btn.btn-primary{"ng-click" => "submit()", "ng-show" => "slide == 'information'", "ng-disabled" => "newProfileInformation.$invalid"} Next
            %button.btn.btn-primary{"ng-click" => "submit(newProfileInformation)", "ng-show" => "slide == 'information'"} Next
            %button.btn.btn-primary{"ng-click" => "updateProfileInterests()", "ng-show" => "slide == 'interests'", "ng-disabled" => "interestsForm.$invalid"} Next
            %button.btn{"ng-click" => "goToEditProfilePage()", "ng-show" => "slide == 'profile_picture'", "ng-class" => "has_avatar ? 'btn-primary' : 'btn-default'"} {{has_avatar ? 'Go to my profile' : 'Skip'}}
