.messages
  .inbox
    .container
      / %h2 Settings
      .main-tabs-container{style: "position: absolute; left: 50%; z-index: 1000; margin-top: 4px;"}
        %div{style: "position: relative; left: -50%;"}
          .btn-group{"bs-radio-group" => "", "ng-model" => "activeTopTab"}
            %label.btn.btn-default
              %input.btn.btn-default{:type => "radio", :value => "1", "ng-click" => "goToProfile()"} Profile
            %label.btn.btn-default
              %input.btn.btn-default{:type => "radio", :value => "2"} Settings
      .row{style: "margin-top: 55px;"}
        .col-md-3
          .list-group
            %a.list-group-item{"ng-click"=>"activeTab = 'connections'", "ng-class" => "{active: activeTab == 'connections'}", "ng-href" => "#"}
              Connections
            %a.list-group-item{"ng-click"=>"activeTab = 'profile'", "ng-class" => "{active: activeTab == 'profile'}", "ng-href" => "#"}
              Advanced Options
        .col-md-9
          .well{"ui-view" => ""}
            .connections-tab-content{"ng-show" => "activeTab == 'connections'"}
              Show my connections list
              %toggle-switch.switch-small{"model" => "profile.show_connections_list", "on-label" => "Yes", "off-label" => "No", "on-change" => "updateShowConnectionsList()"}
              %br
              %br
              .who-can-see-container{"ng-show" => "profile.show_connections_list"}
                Who can see my connections list
                %select{"ng-model" => "profile.who_can_see_connection_list", "ng-change" => "updateWhoCanSeeConnectionList()"}
                  %option{value: "all"} All
                  %option{value: "friends"} My Connections
            .profile-tab-content{"ng-show" => "activeTab == 'profile'"}
              %button.btn.btn-danger{"ng-really-message" =>"Are you sure? This action will delete this profile, and it will be gone forever!", "ng-really-click" => "deleteProfile()"} Delete profile
