.profile
  .create
    .container
      .title
        %h2 Configure your profile
      .profile-configuration-container
        .industry-role-parent-box
          .facade
            .large-icon
              %img{src: "/assets/icons/guitar.png"}
            .text
              Artists & Engineers
          .form-container
            %h5
              Artists & Engineers
            %form{"ng-submit" => "submit()", name: "artistsForm"}
              .form-group{"ng-class" => "{'has-error': newProfile.errors.name[0]}"}
                %input.form-control{placeholder: "Artist, Band or Company Name", "ng-model" => "newProfile.name", required: ""}
                %span.help-block{"ng-show" => "{{newProfile.errors.name[0] != ''}}"} {{ newProfile.errors.name[0] }}
              .form-group{"ng-class" => "{'has-error': newProfile.errors.country_id[0]}"}
                %select.form-control{"ng-model" => "newProfile.country_id", required: "", "ng-options" => "item.id as item.name for item in countries"}
                  %option{:value => ""} Country
              .form-group{"ng-class" => "{'has-error': newProfile.errors.industry_role_profile_id[0]}"}
                %select.form-control{"ng-model" => "newProfile.industry_role_profile_id", required: "", "ng-options" => "item.id as item.name for item in industry_role_profiles | filter:{industry_role_id:'535c92956365739f1d010000'}"}
                  %option{:value => ""} Type of Artist
              %button.btn.btn-primary{type: "submit", "ng-disabled" => "artistsForm.$invalid"} Start

        .industry-role-parent-box
          .facade
            .large-icon
              %img{src: "/assets/icons/crowd.png"}
            .text
              Concerts
          .form-container
            %h5
              Concerts
            %form{"ng-submit" => "submit()", name: "concertsForm"}
              .form-group{"ng-class" => "{'has-error': newProfile.errors.name[0]}"}
                %input.form-control{placeholder: "Person or Company Name", "ng-model" => "newProfile.name", required: ""}
                %span.help-block{"ng-show" => "{{newProfile.errors.name[0] != ''}}"} {{ newProfile.errors.name[0] }}
              .form-group{"ng-class" => "{'has-error': newProfile.errors.country_id[0]}"}
                %select.form-control{"ng-model" => "newProfile.country_id", required: "", "ng-options" => "item.id as item.name for item in countries"}
                  %option{:value => ""} Country
              .form-group{"ng-class" => "{'has-error': newProfile.errors.industry_role_profile_id[0]}"}
                %select.form-control{"ng-model" => "newProfile.industry_role_profile_id", required: "", "ng-options" => "item.id as item.name for item in industry_role_profiles | filter:{industry_role_id:'535c93996365739f1d020000'}"}
                  %option{:value => ""} Role in Concert Production
              %button.btn.btn-primary{type: "submit", "ng-disabled" => "concertsForm.$invalid"} Start
        .industry-role-parent-box
          .facade
            .large-icon
              %img{src: "/assets/icons/vinyl-record.png"}
            .text
              Labels & Publishing
          .form-container
            %h5
              Labels & Publishing
            %form{"ng-submit" => "submit()", name: "labelsForm"}
              .form-group{"ng-class" => "{'has-error': newProfile.errors.name[0]}"}
                %input.form-control{placeholder: "Person or Company Name", "ng-model" => "newProfile.name", required: ""}
                %span.help-block{"ng-show" => "{{newProfile.errors.name[0] != ''}}"} {{ newProfile.errors.name[0] }}
              .form-group{"ng-class" => "{'has-error': newProfile.errors.country_id[0]}"}
                %select.form-control{"ng-model" => "newProfile.country_id", required: "", "ng-options" => "item.id as item.name for item in countries"}
                  %option{:value => ""} Country
              .form-group{"ng-class" => "{'has-error': newProfile.errors.industry_role_profile_id[0]}"}
                %select.form-control{"ng-model" => "newProfile.industry_role_profile_id", required: "", "ng-options" => "item.id as item.name for item in industry_role_profiles | filter:{industry_role_id:'535c93a86365739f1d030000'}"}
                  %option{:value => ""} Label or Publishing Role
              %button.btn.btn-primary{type: "submit", "ng-disabled" => "labelsForm.$invalid"} Start
        .industry-role-parent-box
          .facade
            .large-icon
              %img{src: "/assets/icons/blowhorn.png"}
            .text
              Management & Marketing
          .form-container
            %h5
              Management & Marketing
            %form{"ng-submit" => "submit()", name: "managementForm"}
              .form-group{"ng-class" => "{'has-error': newProfile.errors.name[0]}"}
                %input.form-control{placeholder: "Person or Company Name", "ng-model" => "newProfile.name", required: ""}
                %span.help-block{"ng-show" => "{{newProfile.errors.name[0] != ''}}"} {{ newProfile.errors.name[0] }}
              .form-group{"ng-class" => "{'has-error': newProfile.errors.country_id[0]}"}
                %select.form-control{"ng-model" => "newProfile.country_id", required: "", "ng-options" => "item.id as item.name for item in countries"}
                  %option{:value => ""} Country
              .form-group{"ng-class" => "{'has-error': newProfile.errors.industry_role_profile_id[0]}"}
                %select.form-control{"ng-model" => "newProfile.industry_role_profile_id", required: "", "ng-options" => "item.id as item.name for item in industry_role_profiles | filter:{industry_role_id:'535c93c96365739f1d070000'}"}
                  %option{:value => ""} Professional Services Role
              %button.btn.btn-primary{type: "submit", "ng-disabled" => "managementForm.$invalid"} Start
        .industry-role-parent-box
          .facade
            .large-icon
              %img{src: "/assets/icons/t-shirt.png"}
            .text
              Merchandising
          .form-container
            %h5
              Merchandising
            %form{"ng-submit" => "submit()", name: "merchandisingForm"}
              .form-group{"ng-class" => "{'has-error': newProfile.errors.name[0]}"}
                %input.form-control{placeholder: "Person or Company Name", "ng-model" => "newProfile.name", required: ""}
                %span.help-block{"ng-show" => "{{newProfile.errors.name[0] != ''}}"} {{ newProfile.errors.name[0] }}
              .form-group{"ng-class" => "{'has-error': newProfile.errors.country_id[0]}"}
                %select.form-control{"ng-model" => "newProfile.country_id", required: "", "ng-options" => "item.id as item.name for item in countries"}
                  %option{:value => ""} Country
              .form-group{"ng-class" => "{'has-error': newProfile.errors.industry_role_profile_id[0]}"}
                %select.form-control{"ng-model" => "newProfile.industry_role_profile_id", required: "", "ng-options" => "item.id as item.name for item in industry_role_profiles | filter:{industry_role_id:'535c94006365739f1d0e0000'}"}
                  %option{:value => ""} Role in Music Merchandising Industry
              %button.btn.btn-primary{type: "submit", "ng-disabled" => "merchandisingForm.$invalid"} Start
        .industry-role-parent-box
          .facade
            .large-icon
              %img{src: "/assets/icons/headphones.png"}
            .text
              Digital
          .form-container
            %h5
              Digital
            %form{"ng-submit" => "submit()", name: "publishingForm"}
              .form-group{"ng-class" => "{'has-error': newProfile.errors.name[0]}"}
                %input.form-control{placeholder: "Person or Company Name", "ng-model" => "newProfile.name", required: ""}
                %span.help-block{"ng-show" => "{{newProfile.errors.name[0] != ''}}"} {{ newProfile.errors.name[0] }}
              .form-group{"ng-class" => "{'has-error': newProfile.errors.country_id[0]}"}
                %select.form-control{"ng-model" => "newProfile.country_id", required: "", "ng-options" => "item.id as item.name for item in countries"}
                  %option{:value => ""} Country
              .form-group{"ng-class" => "{'has-error': newProfile.errors.industry_role_profile_id[0]}"}
                %select.form-control{"ng-model" => "newProfile.industry_role_profile_id", required: "", "ng-options" => "item.id as item.name for item in industry_role_profiles | filter:{industry_role_id:'535c93fa6365739f1d0d0000'}"}
                  %option{:value => ""} Role in Digital Music Industry
              %button.btn.btn-primary{type: "submit", "ng-disabled" => "merchandisingForm.$invalid"} Start
