.profile
  .index
    .container
      #top-index-filter
        .row
          .col-md-2
            .divided.country.first{"ng-click" => "showDropdownFilter('country')"}
              .filter-badge{"ng-show" => "filter.country_ids.length > 0"}
                {{filter.country_ids.length}}
              Country
            .filter-content.first{"ng-show" => "showCountryFilter == true"}
              %select.form-control{chosen: "", multiple: "", "ng-model" => "filter.country_ids", "ng-options" => "item.id as item.name for item in countriesList", "data-placeholder" => "Select the countries you want to filter.", name: "countries"}
              .bottom-bar
                %a{"ng-href" => "#", "ng-click" => "showCountryFilter = false"} close
                &nbsp;
                %button.btn.btn-primary{"ng-click" => "showCountryFilter = false; getResults(false)"} OK
          .col-md-2
            .divided.genre{"ng-click" => "showDropdownFilter('genre')"}
              .filter-badge{"ng-show" => "filter.genre_ids.length > 0"}
                {{filter.genre_ids.length}}
              Genre
            .filter-content{"ng-show" => "showGenreFilter == true"}
              %select.form-control{chosen: "", multiple: "", "ng-model" => "filter.genre_ids", "ng-options" => "item.id as item.name for item in genresList", "data-placeholder" => "Select the genres you want to filter.", name: "genres"}
              .bottom-bar
                %a{"ng-href" => "#", "ng-click" => "showGenreFilter = false"} close
                &nbsp;
                %button.btn.btn-primary{"ng-click" => "showGenreFilter = false; getResults(false)"} OK
          .col-md-2
            .divided.type.last{"ng-click" => "showDropdownFilter('industry_role')"}
              .filter-badge{"ng-show" => "filter.industryRoleProfileId"}
                1
              Industry Role
            .filter-content{"ng-show" => "showIndustryRoleFilter == true"}
              .form-group.long-list{"ng-class" => ""}
                .list-container{"ng-repeat" => "item in industryRoleProfiles | groupBy:'industry_role.name' | toArray:true | orderBy:'$key'"}
                  %strong {{item[0].industry_role.name}}
                  %ul
                    %li{"ng-repeat" => "i in item"}
                      .radio
                        %label
                          %input#optionsRadios1{"ng-checked" => "filter.industryRoleProfileId == i.id", name: "industryRoleProfiles", type: "radio", "ng-model" => "filter.industryRoleProfileId", value: "{{i.id}}"}
                          {{i.name}}
              .bottom-bar
                %a{"ng-href" => "#", "ng-click" => "showIndustryRoleFilter = false"} close
                &nbsp;
                %button.btn.btn-primary{"ng-click" => "showIndustryRoleFilter = false; getResults(false)"} OK
          .col-md-2
            .divided.type.last{"ng-click" => "showDropdownFilter('deal_type')"}
              .filter-badge{"ng-show" => "filter.dealType.length > 0"}
                {{filter.dealType.length}}
              Deal Type
            .filter-content{"ng-show" => "showDealTypeFilter == true"}
              .form-group{"ng-class" => ""}
                %div{"ng-hide" => "filter.industryRoleProfileId"} You have to select an Industry Role in order to filter by Deal Type
                %div{"ng-repeat" => "dealType in filter.industryRoleProfileDealTypes", "ng-show" => "filter.industryRoleProfileId"}
                  %label.checkbox-inline
                    %input{name: "auctionType", "checklist-model" => "filter.dealType", "checklist-value" => "dealType.id", type: "checkbox"} {{dealType.alias}}
                  %br
              .bottom-bar
                %a{"ng-href" => "#", "ng-click" => "showDealTypeFilter = false"} close
                &nbsp;
                %button.btn.btn-primary{"ng-click" => "showDealTypeFilter = false; getResults(false)", "ng-show" => "filter.industryRoleProfileId"} OK
          .col-md-4.search
            .search-input-container
              %img.search-icon{:alt => "Search", :src => "/assets/icons/search.png"}
              %input.form-control{type: "text", placeholder: "Name...", "ng-model" => "filter.name"}
        #clear-filters-container
          %a{"ng-click" => "clearFilters()", "ng-href" => "#"} Clear filters

    .container
      .main-list-container
        .row
          .col-md-6{"ng-repeat" => "profile in searchResults"}
            %a{"ng-href" => "/{{profile._source.permalink}}"}
              .profile-item
                .header-cover-container{"ng-style" => "{'background-image': 'url(' + profile._source.default_cover.medium + ')'}"}
                  .mini-profile-container
                    #avatar{"ng-style" => "{'background-image': 'url(' + profile._source.default_avatar.medium + ')', 'background-size': 'contain'}"}
                    .name-container
                      %span.name
                        {{profile._source.name}}
                      .links-container
                        {{profile._source.country.name}}
                        \|
                        %span.genres.ng-scope{"ng-repeat" => "genre in profile._source.genres"}
                          %span.collapsed{"ng-if" => "$index <= 2"} {{ genre.name }}{{ $last ? '' : ($index >= 2 ? '' : ', ') }}
                        \...
        .load-more-container{"ng-click" => "getResults(true)", "ng-class" => "nextPageDisabledClass()"}
          More ({{ total - (itemsPerPage*(currentPage+1))}})
