%loading-character{text:"Loading", size: "medium", "ng-show" => "isLoading"}
.profile{"ng-if" => "profile.name", "ng-hide" => "isLoading"}
  .show{"ng-intro-options" => "IntroOptions", "ng-intro-autostart" => "true", "ng-intro-method" => "CallMe", "ng-intro-onexit" => "introOnExit", "ng-intro-oncomplete" => "introOnExit"}
    .container
      .main-tabs-container{style: "position: absolute; left: 50%; z-index: 1000; margin-top: 4px;", "ng-show" => "profile.is_owner"}
        %div{style: "position: relative; left: -50%;"}
          .btn-group{"bs-radio-group" => "", "ng-model" => "activeTab"}
            %label.btn.btn-default
              %input.btn.btn-default{:type => "radio", :value => "1"} Profile
            %label.btn.btn-default
              %input.btn.btn-default{:type => "radio", :value => "2", "ng-click" => "goToSettings()"} Settings

      %section.cover
        .progress.progress-striped.active#upload-progress{"ng-show" => "uploadProgress > 0"}
          .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "{{uploadProgress}}", role: "progressbar", style: "width: {{uploadProgress}}%"}
            {{ uploadProgress < 98 ? 'Uploading ' + uploadProgress + '%' : 'Processing image, please wait'}}
        #cover-inner
          #cover-header{"ng-style" => "{'background-image': getCoverPicture()}"}
            %a.btn.btn-primary.btn-sm#upload-new-cover-button{"ng-show" => "profile.is_owner", href: "#", "ng-click" => "showChangeCoverImageModal()"} Change cover
            .mini-profile-container
              / .followers-bar
              #avatar{"ng-style" => "{'background-image': 'url(' + profile.avatar.avatar.medium.url + ')', 'background-size': '{{profile.avatar.is_default ? '79%' : 'contain'}}'}"}
                .file-upload.btn.btn-primary.btn-xs#upload-new-avatar-button{"ng-show" => "profile.is_owner"}
                  Update profile picture
                  %input{"ng-file-select" => "onChangeAvatarSelect($files)", type: "file"}
              .name-container
                %span.country
                  {{ profile.country.name + ' |' }}
                %span.genres{"ng-repeat"=>"genre in profile.genres"}
                  %span.collapsed{"ng-if" => "$index <= 2"} {{ genre.name }}{{ $last ? '' : ($index >= 2 ? '' : ', ') }}
                  %span.not-collapsed {{ genre.name }}{{ $last ? '' : ', ' }}
                %a.SeeMoreProfileGenres{href: "#", data: {"is-collapsed" => "true" }, "ng-show" => "profile.genres.length > 3" } See more
                .links-container
                  %a{href: "{{ profile.web_page }}", target: "_blank"}{{ profile.web_page }}
                %a.btn.btn-primary.btn-xs{href: "#", "ng-click" => "showEditProfileDetailsHeaderModal()", "ng-show" => "profile.is_owner"} Edit

          .cover-navbar
            .row
              .col-md-9.title
                .name
                  %div{"ng-hide" => "profile.isEditingProfileName == true", "ng-bind" => "profile.name"}
                  %div{"ng-show" => "profile.isEditingProfileName == true"}
                    %input{type: "text", "ng-model" => "profile.name"}
                    %a.btn.btn-primary.btn-xs{href: "#", "ng-click" => "updateName()"} Save
                    %a.btn.btn-default.btn-xs{href: "#", "ng-click" => "profile.isEditingProfileName = false"} Cancel
                %a.btn.btn-primary.btn-xs{href: "#", "ng-click" => "profile.isEditingProfileName = true", "ng-show" => "profile.is_owner && profile.isEditingProfileName != true"} Edit
                .works-at{"ng-show" => "showWorksAt()"}
                  works @:
                  .working-at-profile
                    %span{"ng-hide" => "profile.profile_working_at.added_manually"}
                      %a{"ng-href" => "{{profile.profile_working_at.profile_permalink}}"} {{profile.profile_working_at.name}}
                    %span{"ng-show" => "profile.profile_working_at.added_manually"}
                      {{profile.profile_working_at.name}}
                    %a.btn.btn-primary.btn-xs{"ng-click" => "showWorksAtModalModal()", "ng-show" => "profile.is_owner"} Edit
              .col-md-3.buttons
                %a.connections-count-container{"ng-click" => "showProfileConnectionsModal()", "ng-href" => "#", "ng-show" => "profile.is_owner || profile.show_connections_list", style: "display: inline-block; vertical-align: bottom; text-align: center; text-transform: uppercase; color: #333; font-size: 10px; margin: 0 5px;"}
                  .count{style: "font-size: 20px; line-height: 17px;"}
                    {{profile.connections_count}}
                  Connections
                %a.btn.btn-primary{"ng-href" => "#", "ng-click" => "showModal()", "ng-hide" => "profile.is_owner == true || profile.are_friends || profile.frienship_status == 'pending' || profile.frienship_status == 'ignored' || !!has_owner || profile.is_blocked", "bs-tooltip" => "connectTooltip", "data-placement"=>"left"} Connect
                %button.btn.btn-default{"ng-show" => "(profile.frienship_status == 'pending' || profile.frienship_status == 'ignored') && profile.is_owner == false"} Pending
                %a#show-send-message-button-top.btn.btn-primary{"ng-href" => "#", "ng-click" => "showSendMessageModal()", "ng-show" => "profile.are_friends && !profile.is_blocked"} Send Message
      .alert.alert-warning{"ng-hide" => "profile.has_owner"}
        This profile contains public information and has not been claimed by this company. If this is your company's profile, click
        %a#claim-profile-link{"ng-href" => "#", "ng-click" => "showClaimProfileModal()"} here
        to claim it.

    %section.container.panes-container
      .row
        %section.col-md-9.main.pane#left-pane
          %div{"ng-repeat" => "section in profile.sections"}
            %div{"ng-repeat" => "widget in section.widgets"}
              %div{"ng-if" => "section.content_type == 'overview'"}
                %overview{overview: "widget.widget_overview", "widget-id" => "{{widget._id}}", "title" => "{{ section.title }}", "show-edit-option" => "profile.is_owner", "help-text" => "section.help_text"}
              %div{"ng-if" => "section.content_type == 'interest'"}
                %interest{interests: "widget.widget_interest", "widget-id" => "{{widget._id}}", "title" => "{{ section.title }}", "industry-role-profile-id" => "{{profile.industry_role_profile_id}}" , "show-edit-option" => "profile.is_owner", options: "section.options", "help-text" => "section.help_text"}
              %div{"ng-if" => "section.content_type == 'people'", "ng-show" => "widget.widget_peoples.length > 0 || profile.is_owner"}
                %member-people{members: "widget.widget_peoples", "widget-id" => "{{widget._id}}", "title" => "{{ section.title }}", "show-edit-option" => "profile.is_owner", options: "section.options", "help-text" => "section.help_text"}
              %div{"ng-if" => "section.content_type == 'spotify_music'", "ng-show" => "widget.widget_spotifies.length > 0 || profile.is_owner"}
                %spotify-music{links: "widget.widget_spotifies", "widget-id" => "{{widget._id}}", "title" => "{{ section.title }}", "show-edit-option" => "profile.is_owner", "help-text" => "section.help_text"}
              %div{"ng-if" => "section.content_type == 'youtube_video'", "ng-show" => "widget.widget_youtubes.length > 0 || profile.is_owner"}
                %youtube-videos{"youtube-videos" => "widget.widget_youtubes", "widget-id" => "{{widget._id}}", "title" => "{{ section.title }}", "show-edit-option" => "profile.is_owner", "help-text" => "section.help_text", "api-controller" => "widgets_content"}
              %div.people{"ng-if" => "section.content_type == 'discography'", "ng-show" => "widget.widget_discographies.length > 0 || profile.is_owner"}
                %discography{discographies: "widget.widget_discographies", "widget-id" => "{{widget._id}}", "title" => "{{ section.title }}", "show-edit-option" => "profile.is_owner", options: "section.options", "help-text" => "section.help_text"}


        .col-md-3.sidebar.pane
          / .addthis_sharing_toolbox
          .addthis-toolbox-container{style: "width: 32px"}
            .addthis_toolbox.addthis_default_style.addthis_32x32_style{"data-addthis-toolbox" => "", "data-url" => "{{currentUrl}}", "data-title" => "{{profile.name}} on @tuneteams", :id => "bp-1"}
              %a.addthis_button_facebook.left-side-button.facebook
              %a.addthis_button_twitter.left-side-button.twitter
              %a.addthis_button_google_plusone_share.left-side-button.google
              %a.addthis_button_linkedin.left-side-button.linkedin
              %a.addthis_button_email.left-side-button.email
              %a.addthis_button_addthis.left-side-button.addthis
          %div{"ng-show" => "recommendedAuctions.length > 0"}
            %header
              Recommended auctions
            .content
              .suggested-auctions-container
                %ul{"rn-carousel" => "vertical", "rn-carousel-buffered" => "", "rn-carousel-index" => "recommendedAuctionsCarouselIndex"}
                  %li{"ng-repeat" => "auctionBlock in recommendedAuctions | partition:6"}
                    -# {{auction.permalink == "" ? '/auctions' : '/auctions/' + auction.permalink}}
                    .cover{"ng-repeat" => "auction in auctionBlock"}
                      .mini-auction-container
                        .auction{"ng-style" => "{'background-image': 'url(' + auction.default_illustration.small + ')'}"}
                      %a.cover-lol{"ng-href" => "/auctions{{{true: '', false: '/'+auction.permalink}[auction.permalink == '']}}"}
                        {{auction.auction_type_name}} Rights
                        %br
                        %span.genres.ng-scope{"ng-repeat" => "country in auction.countries"}
                          %span.collapsed{"ng-if" => "$index <= 1"} {{ country.name }}{{ $last ? '' : ($index >= 1 ? '' : ', ...') }}
                          \...
                .load-more{"ng-href" => "#", "ng-click" => "recommendedAuctionsCarouselIndex = recommendedAuctionsCarouselIndex+1"} More
          %div{"ng-show" => "recommendedProfiles.length > 0"}
            %header
              Recommended profiles
            .content
              .suggested-profiles-container
                %ul{"rn-carousel" => "vertical", "rn-carousel-buffered" => "", "rn-carousel-index" => "recommendedProfilesCarouselIndex"}
                  %li{"ng-repeat" => "block in recommendedProfiles | partition:4"}
                    .cover-header{"ng-repeat" => "profile in block", "ng-style" => "{'background-image': 'url(' + profile.default_cover.small + ')'}"}
                      .mini-profile-container
                        %a#avatar{"ng-href" => "/{{profile.permalink}}", "ng-style" => "{'background-image': 'url(' + profile.default_avatar.small + ')', 'background-size': 'contain'}", "ng-class" => "{'see-all' : profile.permalink == 'profiles'}"}
                      %a.cover-lol{"ng-href" => "/{{profile.permalink}}"}
                        {{profile.name}}
                        %br
                        %span.genres.ng-scope{"ng-repeat" => "genre in profile.genres"}
                          %span.collapsed{"ng-if" => "$index <= 2"} {{ genre.name }}{{ $last ? '' : ($index >= 2 ? '' : ', ') }}
                        \...
                .load-more{"ng-href" => "#", "ng-click" => "recommendedProfilesCarouselIndex = recommendedProfilesCarouselIndex+1"} More
