.home
  / Start Hero
  %section.hero-slider-area
    .container
      .hero-slider
        .navi.row
          .col-xs-6
            .logo
              %a{:href => "#"}
                %img{:src => "/assets/landing/tt_logo.png"}
          %header.col-xs-6.home
            .options-container{"ng-show" => "authorized()"}
              %button.user-avatar.option.message{"ng-style"=>"{'background-image': 'url(' + userInfo.avatar.small + ')'}","data-placement"=>"bottom-right", title: "", "data-content"=>"", "data-trigger"=>"focus", "data-delay" => "100", "bs-popover"=> "", "data-template"=>"/assets/modals/userTopMenu.html"}
                .number{"ng-show" => "userInfo.messages_count > 0 || userInfo.connections_count > 0 || userInfo.bidders_count > 0"}
                  {{ userInfo.messages_count + userInfo.connections_count + userInfo.bidders_count}}
            .menu.text-right{"ng-hide" => "authorized()"}
              %a{"ng-href" => "/login"} Login
              / %a{:href => "#"} Sign Up
        .text-center
          .cta
            %h1 We help music companies build international businesses.
            %p Global distribution today is easy. Getting your music heard around the world is not. You need local partners.
            .button{"ng-hide" => "authorized()"}
              %request-invitation{size: "btn-lg", id: "request-invitation-button-top"}
          .scroll
            %a{"ng-click" => "showHomeVideoModal()", "ng-href" => "#"}
              %img{:src => "/assets/landing/video.png"}
            %p Watch our video and scroll down
            %span.fa.fa-chevron-down{"aria-hidden" => "true"}
  / End Hero

  / Start auction list title
  %section.callto-section.auctions
    .container
      .col-callto.text-center
        %h2 Auction recording and publishing rights licenses.
        %p Many of the world’s best labels and publishers license and sub-publish their music to local partners around the world to get it promoted.
  / End auction list title

  -# .left-pane
  -#   .auctions-no-results{"ng-show" => "auctions.length == 0"}
  -#     -# There are no results related with your options selected or query.
  -#   %section.profiles-area.auctions-list-container{"ng-show" => "auctions.length > 0"}
  -#     %a.profiles.action-item{"ng-repeat" => "auction in auctions", href: "/auctions/{{auction.permalink}}", "ng-style" => "{'background-image': 'url(' + auction.default_illustration.medium + ')'}"}
  -#       .box.details-container
  -#         .name
  -#           {{auction._source.name}}
  -#         .countries.truncate
  -#           %span{"ng-repeat" => "country in auction.countries"} {{country.name}}{{$last ? '' : ' · '}}
  -#         .genres.truncate
  -#           %span{"ng-repeat" => "genre in auction.genres"} {{genre.name}}{{$last ? '' : ' | '}}

  / Start Auctions list
  %section.profiles-area
    .profiles
      %a.box{"ng-href" => "/auctions/{{auction.permalink}}", "ng-repeat" => "auction in auctions track by $index", href: "/auctions/{{auction.permalink}}", "ng-style" => "{'background-image': 'url(' + auction.default_illustration.medium + ')'}", "ng-class" => "{'hidden-xs' : $index > 4, 'hidden-sm' : $index == 8}"}
        %img{:alt => "", :src => "{{auction.default_illustration.medium}}"}
        .desc
          .name
            {{auction.name}}
          .countries.truncate
            %span{"ng-repeat" => "country in auction.countries"} {{country.name}}{{$last ? '' : ' · '}}
          .genres.truncate
            %span{"ng-repeat" => "genre in auction.genres"} {{genre.name}}{{$last ? '' : ' | '}}
      .box-last
        .desc
          %a{"ng-href" => "/auctions"} See More
  / End Auctions list

  / Start profiles title
  %section.callto-section.two
    .container
      .col-callto.text-center
        %h2 Network with music professionals around the world.
        %p If you’re a music industry professional, set up a free profile and search for international partners by country, industry role, musical genre and the types of deals they are looking for.

  / Begin Profiles list
  .profile-carousel-container
    %ul.profile-container{"rn-carousel" => "", "rn-carousel-index" => "carouselIndex", "rn-carousel-auto-slide" => 5}
      %li{"ng-repeat" => "profile in profiles"}
        #cover-header{"ng-style" => "{'background-image': 'url(' + profile.default_cover.large + ')'}"}
          .mini-profile-container
            / .followers-bar
            %a#avatar{"ng-href" => "/{{profile.permalink}}", "ng-style" => "{'background-image': 'url(' + profile.default_avatar.large + ')', 'background-size': 'contain'}"}
            .name-container
              %span.name
                {{ profile.name }}
              %br
              %span.country
                {{ profile.industry_role + ' | ' + profile.country.name + ' |' }}
              %span.genres.ng-scope{"ng-repeat" => "genre in profile.genres"}
                %span.collapsed{"ng-if" => "$index <= 2"} {{ genre.name }}{{ $last ? '' : ($index >= 2 ? '' : ', ') }}
              .links-container
                %a{href: "{{ profile.web_page }}", target: "_blank"}{{ profile.web_page }}
    .indicator-container
      .indicator{"ng-if" => "profiles.length > 1", "rn-carousel-index" => "carouselIndex", "rn-carousel-indicators" => "", :slides => "profiles"}
  / End pProfiles list


  / Start auction list title
  %section.callto-section.how-it-works
    .container
      .col-callto.text-center
        %h2 How does it work?
        -# %p This is a simple explanation or extract of how and why tuneteams.
  / End auction list title

  / Start steps
  %section.details-area
    .container
      .detaiss.row.text-center
        .col-sm-3
          .single-dt
            %img{src: "/assets/landing/how-it-works-1.png"}
            %p Set up a free tuneteams profile.
            %p.arrow &#8594;
        .col-sm-3
          .single-dt
            %img{src: "/assets/landing/how-it-works-2.png"}
            %p Create a free auction for your song or album.
            %p.arrow &#8594;
        .col-sm-3
          .single-dt
            %img{src: "/assets/landing/how-it-works-3.png"}
            %p Get bids from international labels and publishers.
            %p.arrow &#8594;
        .col-sm-3
          .single-dt
            %img{src: "/assets/landing/how-it-works-4.png"}
            %p Get your music promoted in another country(s).
  / End Steps

  / Begin quotes
  %section.persion-det
    .container
      .persion
        .col-sm-4
          .single-per.text-center
            %img{:src => "/assets/landing/dan-davidson-quote.png"}
            %p
              “Doing licensing over the internet can be scary. tuneteams' support has been great and has really helped us feel comfortable and confident as we continue to look for licensing partners around the world. The tuneteams team obviously have years of industry experience.”
              %br
              %br
              %span - Dan Davidson - Owner/Producer - Hands Up! Music
        .col-sm-4
          .single-per.text-center
            %img{:src => "/assets/landing/rich-bengloff-quote.png"}
            %p
              “Almost 70% of music revenues come from sales and other use outside of the United States. Licensing your music for sale and performance overseas is key to having a viable economic business plan for a record label.”
              %br
              %br
              %span - Rich Bengloff, Former President, A2IM (American Association of Independent Music)
        .col-sm-4
          .single-per.text-center
            %img{:src => "/assets/landing/pascal-brunko-quote.png"}
            %p
              “tuneteams is eBay for music licensing meets LinkedIn for the music industry.”
              %br
              %br
              %span - Pascal Brunko, Damp Music, Switzerland
  / End quotes




  / %section.module.parallax.parallax-1
  /   .container
  /     .login-container
  /       %a{"ng-href" => "/login"} LOGIN
  /     .logo-container{"in-view"=>"logoView($event, $inview)"}
  /       %img{src: "/assets/logo-header.png"}
  /       / %h1
  /       /   BUILD A GLOBAL MUSIC BUSINESS
  /       / .tagline
  /       /   tuneteams is the best way to create new music partnerships around the world.
  /     .search-container
  /       %angucomplete-alt#search-home{"input-class" => "form-control form-control-small input-lg", minlength: "1", pause: "100", "placeholder" => "Search by Name, Genre, Country and Industry Job Roles", "search-fields" => "_source.name", "description-field"=>"_source.industry_role_profile.name", "image-field"=>"_source.default_avatar.small", "selected-object" => "selectedMember", "title-field" => "_source.name", "match-class" => "search-highlight", "clear-selected" => true, "remote-url"=>"/api/v1/profiles/search?type=simple&q=", "remote-url-data-field"=>"results"}
  /       %img.search-icon{alt: "Search", src: "/assets/icons/search.png"}
  /       .profile_id_selected{style: "display:none"}
  /         {{searchProfilePermalinkSelected = selectedMember.originalObject._source.permalink}}
  /       .advanced-search-container
  /         %a.advanced-search{"ng-href" => "#", "ng-click" => "goToSearch()", "ng-hide" => "formSearch.show == true"} Advanced search
  /         .advanced-search-options{"ng-show" => "formSearch.show == true"}

  /     .request-invitation-container
  /       %request-invitation{size: "btn-lg", "ng-hide" => "authorized()", id: "request-invitation-button-top"}
  /     .play-video-container
  /       %a{"ng-click" => "showHomeVideoModal()", "ng-href" => "#"}
  /         .play-button
  /           %img{src: "/assets/play-button-300x300.png"}
  /       .watch-the-video
  /         Watch the video
  / %section.module.content
  /   .container
  /     .intro-text
  /       %h3
  /         In a digital world, music companies need
  /         %strong local promotion partners
  /         more than ever. tuneteams is the new way to create music partnerships
  /         %strong around the world.
  /   .container
  /     %h2 Auctions
  /     .row
  /       .col-md-12
  /         .auctions-list-container
  /           %a.action-item{"ng-repeat" => "auction in auctions", href: "/auctions/{{auction._source.permalink}}", "ng-style" => "{'background-image': 'url(' + auction._source.default_illustration.medium + ')'}"}
  /             .details-container
  /               .name
  /                 {{auction._source.name}}
  /               / .current-bid
  /               /   .currency
  /               /     US$
  /               /   .amount
  /               /     {{auction.higher_bid | number:0}}
  /               /   .bids
  /               /     with {{auction.bids_count}} bids
  /               .countries.truncate
  /                 %span{"ng-repeat" => "country in auction._source.countries"} {{country.name}}{{$last ? '' : ' · '}}
  /               .genres.truncate
  /                 %span{"ng-repeat" => "genre in auction._source.genres"} {{genre.name}}{{$last ? '' : ' | '}}
  /         .load-more-container{"ng-click" => "getResults(true)", "ng-class" => "nextPageDisabledClass()"}
  /           More
  / %section.module.parallax.parallax-2
  /   .container
  /     / %h1 Rise
  / %section.module.content
  /   .container
  /     .row
  /       .col-md-6
  /         .image-feature-container
  /           %img#image-feature-2{src: "/assets/landing/feature-2.png"}
  /       .col-md-6
  /         %h2 Match with Potential Partners
  /         %p Labels license music to overseas labels to get local promotion. Artists find concerts through local booking agents. Tell the world what types of companies and deals you are looking for.
  / %section.module.parallax.parallax-3
  /   .container
  /     / %h1 Calm
  / %section.module.content
  /   .container
  /     .row
  /       .col-md-6
  /         %h2 Find Your Global Music Community
  /         %p Search for companies and executives by country, job type, the music genres they work with, and by the types of deals they are looking for.
  /       .col-md-6
  /         .image-feature-container
  /           %img#image-feature-3{src: "/assets/landing/feature-3.png"}
  / %section.module.parallax.parallax-4
  /   .container
  /     %p If you are a music industry professional; request an invite, create your profile and start finding partners around the world.
  /     .request-invitation-container
  /       %request-invitation{size: "btn-lg", "ng-hide" => "authorized()", id: "request-invitation-button-bottom"}
