:css
  body {
    overflow-x: hidden;
  }

.landing
  .contact-container
    %a{:href => "mailto:hi@tuneteams.com"} Contact
  .subscriber-form-container
    .logo-container
      %img{src: "/assets/logo.png"}
    .subscriber-form
      %form{"ng-submit" => "addSubscriber()", "ng-hide" => "token"}
        .principal-message
          <strong>Hi</strong>. We’re creating an <strong>online professional network </strong>for the <strong>music industry</strong>. If you would like an invite </strong> to the beta, leave your<strong> email </strong> and <strong> profession </strong>
        %input{"ng-model" => "newSubscriber.email", placeholder: "Email", type: "email"}
        .styled-select
          %select{"ng-model" => "newSubscriber.industry_role_profile_id", "ng-options" => "item.id as item.name group by item.industry_role.name for item in industry_role_profiles", :required => ""}
            %option{:value => ""} I'm a
        %input{type: "submit", value: "Invite me"}
      .subscriber-response{"ng-show" => "token"}
        Thanks for requesting an invite. Tuneteams will be launching in 2014.
  .speaker-container
    %img{src: "/assets/speaker.png"}
