!!!
%html{"ng-app" => "tuneTeams", "ng-controller" => "MainController"}
  %head
    %title{"ng-bind" => "Page.title()"} tuneteams
    %meta{name:"fragment", content:"!"}
    %meta{content: "user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi;", name: "viewport"}
    %meta{content: "IE=9", "http-equiv" => "X-UA-Compatible"}
    :css
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    %link{:href => "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :rel => "stylesheet"}
    %link{:href => "/apple-touch-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}
    %link{:href => "/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
    %link{:href => "/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "/apple-touch-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}
    %link{:href => "/apple-touch-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}
    %link{:href => "/apple-touch-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}
    %link{:href => "/apple-touch-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}
    %link{:href => "/apple-touch-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}
    %link{:href => "/apple-touch-icon-180x180.png", :rel => "apple-touch-icon", :sizes => "180x180"}
    %link{:href => "/favicon-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}
    %link{:href => "/favicon-160x160.png", :rel => "icon", :sizes => "160x160", :type => "image/png"}
    %link{:href => "/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}
    %meta{:content => "#da532c", :name => "msapplication-TileColor"}
    %meta{:content => "/mstile-144x144.png", :name => "msapplication-TileImage"}
    %meta{property: "og:title", content: "{{Page.title()}}"}
    %meta{property: "og:description", content: "{{Page.description()}}"}
    %meta{property: "og:image", content: "{{Page.image()}}"}
    %meta{property: "og:url", content: "{{Page.url()}}"}
    %link#page_favicon{href: "/favicon.ico", rel: "icon", type: "image/x-icon"}
    %script{:async => "async", :src => "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54d5198968e91af6", :type => "text/javascript"}
    %script{type: "text/javascript", src:"https://js.stripe.com/v2/"}
    = javascript_include_tag "#{ENV['FAYE_URL']}/faye/faye.js"
    %script
      var _kmk = _kmk || '#{ENV["KISSMETRICS_KEY"]}';
      function _kms(u){ setTimeout(function(){ var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = u; f.parentNode.insertBefore(s, f); }, 1); }
      _kms('//i.kissmetrics.com/i.js');
      _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
  %body
    .wrapper
      .main-view{"ng-class" => "{}[viewState.current]"}
        %header.landing-header{"ng-controller" => "HeaderController", "ng-class" => "{ 'hidden': viewState.current == 'events-landing' || viewState.current == 'home'}"}
          .container
            .row
              .col-md-3.col-xs-2
                %a.logo-container{"ng-href" => "/{{userInfo.current_profile.permalink}}"}
                  .logo
              .col-md-3.col-xs-10.col-md-push-6
                .options-container{"ng-class" => "{'hide-options':!authorized()}"}
                  %a.btn.btn-default.search-button{"ng-click" => "showHeaderSearch = true", "ng-hide" => "showHeaderSearch"}
                    %img{src: "/assets/icons/search.png"}
                  %a.btn.btn-primary.btn-lg.add{"ng-href" => "/profile/create", "ng-hide" => "userInfo.profiles.length"} Add Profile
                  %a.btn.btn-primary.btn-lg.add{"ng-href" => "/auctions/new", "ng-show" => "userInfo.profiles.length"} Add Auction
                  %button.user-avatar.option.message{"ng-style"=>"{'background-image': 'url(' + userInfo.avatar.small + ')'}","data-placement"=>"bottom-right", title: "", "data-content"=>"", "data-trigger"=>"focus", "data-delay" => "100", "bs-popover"=> "", "data-template"=>"/assets/modals/userTopMenu.html"}
                    .number{"ng-show" => "userInfo.messages_count > 0 || userInfo.connections_count > 0 || userInfo.bidders_count > 0"}
                      {{ userInfo.messages_count + userInfo.connections_count + userInfo.bidders_count}}
                .signup-container{"ng-class" => "{'hide-options':authorized()}"}
                  / = link_to "Signup"
                  / |
                  = link_to "Login", "/login"
                  %request-invitation{id: "request-invitation-button-header"}
              .col-md-6.col-xs-12.col-md-pull-3
                .main-menu-container{"ng-hide" => "showHeaderSearch"}
                  %a{"ng-href" => "/profiles", "ng-class" => "{active: $state.current.name == 'profiles'}"} Profiles
                  \|
                  %a{"ng-href" => "/auctions", "ng-class" => "{active: $state.current.name == 'auctions-index'}"} Auctions
                  \|
                  %a{"ng-href" => "http://support.tuneteams.com/hc/en-us"} Help
                .search-container{"ng-hide" => "viewState.current == 'home' || !showHeaderSearch"}
                  .input-group
                    .input-group-btn
                      %button.btn.btn-default#button1{"aria-expanded" => "false", "ng-options" => "icon.value as icon.label for icon in icons", "bs-select" => "", "data-html" => "1", "ng-model" => "selectedTopSearchOption", :type => "button", tabindex: 0}
                        Action
                        %span.caret
                    .search-field-container{"ng-show" => "selectedTopSearchOption == 'profiles'"}
                      %angucomplete-alt#search-header{"input-class" => "form-control form-control-small search-field", minlength: "1", pause: "100", "placeholder" => "Search by Name, Genre, Country or Industry Job Roles", "search-fields" => "_source.name", "description-field"=>"_source.industry_role_profile.name", "image-field"=>"_source.default_avatar.small", "selected-object" => "selectedMember", "title-field" => "_source.name", "match-class" => "search-highlight", "clear-selected" => true, "remote-url"=>"/api/v1/profiles/search?type=simple&q=", "remote-url-data-field"=>"results"}
                      = image_tag "/assets/icons/search.png", :class => "search-icon"
                      .profile-id-selected{style: "display:none"}
                        {{searchProfilePermalinkSelected = selectedMember.originalObject._source.permalink}}
                      .advanced-search-container
                        %a.advanced-search{"ng-href" => "#", "ng-click" => "goToSearch()", "ng-hide" => "viewState.current == 'search'"} Advanced profiles search
                    .search-field-container.auctions{"ng-show" => "selectedTopSearchOption == 'auctions'"}
                      %angucomplete-alt#search-auctions-header{"input-class" => "form-control form-control-small search-field", minlength: "1", pause: "100", "placeholder" => "Search for auctions", "search-fields" => "_source.name", "description-field"=>"_source.permalink", "image-field"=>"_source.default_illustration.small", "selected-object" => "selectedAuction", "title-field" => "_source.name", "match-class" => "search-highlight", "clear-selected" => true, "remote-url"=>"/api/v1/auctions/search?type=simple&q=", "remote-url-data-field"=>"results"}
                      = image_tag "/assets/icons/search.png", :class => "search-icon"
                      .auction-id-selected{style: "display:none"}
                        {{searchAuctionPermalinkSelected = selectedAuction.originalObject._source.permalink}}
                      .advanced-search-container
                        %a.advanced-search{"ng-href" => "#", "ng-click" => "goToAuctionsSearch()", "ng-hide" => "$state.current.name == 'auctions-index'"} Advanced auctions search
                  .close{"ng-click" => "showHeaderSearch = false"} x
        .main-view-wrapper{"ng-class" => "{}[viewState.current]"}
          .main-view-container{"ui-view" => ""}
    %footer.footer-area
      .container
        .footera
          .bty.text-center{"ng-hide" => "authorized()"}
            %h1 Create your free profile and start finding partners around the world today.
            .button{"ng-hide" => "authorized()"}
              %request-invitation{size: "btn-lg", "ng-hide" => "authorized()", id: "request-invitation-button-bottom"}
          .footer-area.clearfix
            .col-sms-5
              .single-menu
                %h1 TuneTeams
                %ul.list-unstyled
                  %li
                    %a{"ng-href" => "http://support.tuneteams.com/hc/en-us/categories/200322318-About-Us", target: "_self"} About Us
                  %li
                    %a{"ng-href" => "http://tuneteams.com/blog", target: "_self"} Blog
                  %li
                    %a{href: "mailto:hi@tuneteams.com"} Contact Us
            .col-sms-5
              .single-menu
                %h1 Help
                %ul.list-unstyled
                  %li
                    %a{"ng-href" => "http://support.tuneteams.com/hc/en-us/articles/206250667-Terms-of-Use-Agreement", target: "_self"} Terms
                  %li
                    %a{"ng-href" => "http://support.tuneteams.com/hc/en-us/categories/200386288-Privacy-Policy", target: "_self"} Privacy Policy
                  %li
                    %a{"ng-href" => "http://support.tuneteams.com/hc/en-us/categories/200321108-FAQs", target: "_self"} FAQs
                  %li
                    %a{"ng-href" => "http://support.tuneteams.com/hc/en-us", target: "_self"} Support
            .col-sms-5
              .single-menu
                %h1 Follow Us
                %ul.list-unstyled
                  %li
                    %a{href: "https://twitter.com/tuneteams", target: "_blank"} Twitter
                  %li
                    %a{href: "https://www.facebook.com/pages/tuneteamscom/620249401394600", target: "_blank"} Facebook
                  %li
                    %a{href: "http://instagram.com/tuneteams", target: "_blank"} Instagram
            .col-sms-5
              .single-menu
                %h1 We are members of:
                %img.img-responsive{:src => "/assets/landing/aim2.png"}
            .col-sms-5
              .single-menu
                %img.img-responsive{:src => "/assets/landing/aim.png"}
          .copyright.col-xs-12
            %p Made in NYC. &#169; 2016 tuneteams

- is_production = if ENV["CURRENT_ENV"] == 'production' then true else false end
- current_domain = ENV["HOST_NAME"]
- publishable_key = ENV["STRIPE_PUBLISHABLE_KEY"]

- if ENV["CURRENT_ENV"] == 'development'
  :javascript
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=100"></' + 'script>')

= subscribe_to "/bids"

:javascript
  Stripe.setPublishableKey("#{publishable_key}");
  var currentDomain = "#{current_domain}";
  var isProduction = #{is_production};
  if (isProduction) {
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-54236601-1', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  }
