!!!
%html{"ng-app" => "tuneTeams"}
  %head
    %title tuneteams
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    / = yield
    .main-view{"ng-class" => "{}[viewState.current]", "ng-controller" => "MainController"}
      .main-view-wrapper{"ng-class" => "{}[viewState.current]"}
        .main-view-container{"ng-view" => ""}
