!!! Strict
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width", name: "viewport"}/
  %body
    %table{align: "center", bgcolor: "#fff", height: "90", style: "border-bottom: 5px solid #e1e1e1;", width: "600"}
      %tr{align: "left", valign: "top"}
        %td{style: "color: #ffffff; font-size:25px; font-family:'Helvetica Neue',helvetica,arial,sans-serif; padding-left: 25px;"}
          %a{href: "#"}
            %img{src: "#{ENV['HOST_NAME']}/assets/logo-email-top.png", style: "margin-top: 25px;"}
        %td{align: "right", style: "padding:22px 20px;"}
    / BEGIN CONTENT
    %table{align: "center", cellpadding: "30", cellspacing: "0", width: "600"}
      %tr
        %td{bgcolor: "ffffff", style: "border-left: 1px solid #e1e1e1; border-right: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1;"}
          / WRITTEN MESSAGE
          %table{width: "100%"}
            %tr
              %td{style: "padding-right:15px;", valign: "top", width: "400"}
                = yield
                / Signature
                %p{style: "color:#888888;font-size:17px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;padding: 10px 0 0 0;line-height:140%;"}
                  All The Best,
                  %br
                  The tuneteams team
          / END CONTENT
    / FOOTER
    %table{align: "center", width: "600"}
      %tr
        %td{height: "5"}
      %tr
        %td{align: "left", style: "color:#717171;font-size:13px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;", valign: "top"}
          / %a{href: "#", style: "color:#717171;text-decoration:none"} Unsubscribe
        %td{align: "right", style: "color:#717171;font-size:13px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',helvetica,arial,sans-serif;", valign: "top"}
          / tuneteams, 500 7th Av, Floor 17, New York City NY 11212
          Do you need help? Write us:
          %a{href: "mailto:help@tuneteams.com"} help@tuneteams.com
          %br/
          %br/
          %p{style: "margin-top:-5px;display:inline-block"} Follow our latest updates!
          %a{href: "https://www.facebook.com/pages/tuneteamscom/620249401394600", style: "padding: 0 4px 0 10px; text-decoration: none"}
            %img{src: "#{ENV['HOST_NAME']}/assets/email-fb.png"}
          %a{href: "https://twitter.com/tuneteams", style: "text-decoration: none"}
            %img{src: "#{ENV['HOST_NAME']}/assets/email-twitter.png"}
          %a{href: "http://instagram.com/tuneteams", style: "text-decoration: none; margin-left: 2px;"}
            %img{src: "#{ENV['HOST_NAME']}/assets/email-instagram.png"}
    %img{alt: "", height: "1px", src: "", width: "1px"}
