!!!
%html
  %head
    %title tuneteams
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script
      var _kmk = _kmk || '#{ENV["KISSMETRICS_KEY"]}';
      function _kms(u){ setTimeout(function(){ var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = u; f.parentNode.insertBefore(s, f); }, 1); }
      _kms('//i.kissmetrics.com/i.js');
      _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
  %body
    = yield

:css
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .auctions {
    margin: 0;
    padding: 0;
    height: 100%;
  }
