!!!
%html
  %head
    %title{} tuneteams license
    / - if params[:debug].present?
    /   = stylesheet_link_tag "application", media: "all"
    / - else
    = wicked_pdf_stylesheet_link_tag "application", media: "all"
  %body
    .container
      / This is the PDF header
      = yield